@section SampleHeading{ <span class="sampleName">FileExplorer-Custom Tool-ASP.NET MVC-SYNCFUSION</span>}


@section ControlsSection{
    @{List<String> toolsList = new List<string>() 
                  { "creation", "navigation", "addressBar", "editing", "copyPaste", "getProperties", "customTool", "searchBar" }; }
    @(Html.EJ().FileExplorer("fileExplorer").Path("~/FileExplorerContent/").Width("100%").MinWidth("150px").IsResponsive(true)
               .AjaxAction(@Url.Content("FileActionCustomTool")).Layout(LayoutType.Tile).ToolsList(toolsList)
               .Tools(tool => tool.CustomTool(custom =>custom.Name("Help").Tooltip("Help").Css("e-fileExplorer-toolbar-icon Help")
               .Action("dialogOpen").Add()
    )))

    @{Html.EJ().Dialog("helpDialog").Title("FileExplorer Help").EnableResize(false).EnableModal(true).ShowOnInit(false).Width(350)
                .ContentTemplate(@<div class="text-content">
                    <div class="header-content">Need assistance?</div>
                    <div class="header-content">Our help document assists you to know more about FileExplorer control.</div>
                    <div class="header-content">Please refer -> <a href="//help.syncfusion.com/aspnetmvc/fileexplorer/overview" 
                                                                 target="_blank">Help Document</a></div>
                    </div>).CssClass("e-fe-dialog").Render();}
}
@section ScriptSection{
    <script>
        function dialogOpen() {
            $('#helpDialog').ejDialog('open')
        }
    </script>
}

@section StyleSection{
    <style class="cssStyles">
        .e-fileExplorer-toolbar-icon {
            height: 22px;
            width: 22px;
            font-family: 'ej-webfont';
            font-size: 18px;
            margin-top: 2px;
            text-align: center;
        }

        .e-fileExplorer-toolbar-icon.Help:before {
            content: "\e72b";
        }

        .e-dialog .header-content:not(:last-child) {
            margin-bottom: .5em;
        }

        .e-dialog > .e-titlebar {
            padding: .25em .25em .25em 1em;
        }

        .e-dialog.e-dialog-wrap {
            border: none;
        }

        .e-dialog .e-dialog-icon {
            right: 0;
        }
    </style>
}


