@section SampleHeading{ <span class="sampleName">FileExplorer-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}
@section ActionDescription{
    <div class="action-description">
    <p>
        This sample demonstrates rendering FileExplorer Component which is an interface for managing the file system through any web application.
        It allows the user to perform the most common file operations such as browse files, open, create, rename, copy, paste or move, delete and file searching.
    </p>
    </div>
}
@section ControlsSection{
    @(Html.EJ().FileExplorer("fileExplorer").FileTypes("*.png, *.gif, *.jpg, *.jpeg, *.docx").Layout(LayoutType.Tile)
               .Path("~/FileExplorerContent/").AjaxAction(@Url.Content("FileActionDefault")).Width("100%").IsResponsive(true)
               .MinWidth("150px"))
}





