@section SampleHeading{ <span class="sampleName">FileExplorer / Thumbnail Compress</span>}

@section ControlsSection{
    @(Html.EJ().FileExplorer("fileExplorer")
        .Layout(LayoutType.Tile)
        .Path("~/FileExplorerContent/")
        .AjaxAction(@Url.Content("FileActionThumbnailCompress"))
        .Width("100%")
        .IsResponsive(true)
        .MinWidth("150px")
        .EnableThumbnailCompress(true))
}




