@section MetaTags{
   <meta name="description" content="This example demonstrates how to achieve the virtual scrolling(loads content dynamically) in ASP.NET MVC File Explorer." >
}

@section SampleHeading{ <span class="sampleName">FileExplorer-Virtual Scrolling-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{
    @(Html.EJ().FileExplorer("fileExplorer").FileTypes("*.png, *.gif, *.jpg, *.jpeg, *.docx, *.xml, *.html, *.txt, *.doc").Layout(LayoutType.Tile)
.Path("~/FileBrowser1/").AjaxAction(@Url.Content("FileActionVirtualScrolling")).Width("100%").VirtualItemCount(20).IsResponsive(true)
.MinWidth("150px"))
}





