@section SampleHeading{ <span class="sampleName">FileExplorer / Virtual Scrolling</span>}

@section ControlsSection{
    @(Html.EJ().FileExplorer("fileExplorer").FileTypes("*.png, *.gif, *.jpg, *.jpeg, *.docx, *.xml, *.html, *.txt, *.doc").Layout(LayoutType.Tile)
.Path("~/FileBrowser1/").AjaxAction(@Url.Content("FileActionVirtualScrolling")).Width("100%").VirtualItemCount(20).IsResponsive(true)
.MinWidth("150px"))
}




