@section SampleHeading{ <span class="sampleName">Tab / KeyboardNavigation</span>}

@section ControlsSection{

   <div class="controlframe">
    @{Html.EJ().Tab("tabSample").Items(data =>
           {
               data.Add().ID("ASP").Text("ASP.NET").ContentTemplate(@<div>Microsoft ASP.NET is a set of technologies in the Microsoft .NET Framework for building Web applications and XML Web services. ASP.NET pages execute on the server and generate markup such as HTML, WML, or XML that is sent to a desktop or mobile browser. ASP.NET pages use a compiled, event-driven programming model that improves performance and enables the separation of application logic and user interface.</div>);
               data.Add().ID("MVC").Text("ASP.NET MVC").ContentTemplate(@<div>
            The Model-View-Controller (MVC) architectural pattern separates an application into three main components: the model, the view, and the controller. The ASP.NET MVC framework provides an alternative to the ASP.NET Web Forms pattern for creating Web applications. The ASP.NET MVC framework is a lightweight, highly testable presentation framework that (as with Web Forms-based applications) is integrated with existing ASP.NET features, such as master pages and membership-based authentication.
        </div>);
               data.Add().ID("Mobile").Text("Javascript").ContentTemplate(@<div>
            JavaScript (JS) is an interpreted computer programming language.
            It was originally implemented as part of web browsers so that client-side scripts could interact with the user, control the browser,
            communicate asynchronously, and alter the document content that was displayed.[5] More recently, however,
            it has become common in both game development and the creation of desktop applications.
        </div>);
           }).Render();}
</div>

}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
      Alt + j
        </div>
        <div class="col-md-3">
            Focuses the control.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
      Up / Left
        </div>
        <div class="col-md-3">
            Selected previous item.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
      Down / Right
        </div>
        <div class="col-md-3">
            Selected next item.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
      Home
        </div>
        <div class="col-md-3">
            Selected first item.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
      End
        </div>
        <div class="col-md-3">
            Selected last item.
        </div>
    </div>
}
@section ScriptSection{
    <script>
        $(document).on("keydown", function (e) {
            if (e.altKey && e.keyCode === 74) { // j- key code.
                $("#tabSample ul a").focus();
            }
        });
        $(document).ready(function () { $("#sampleProperties").ejPropertiesPanel(); });
    </script>
}

