<div id="ej2popup" class="e-ej2popup">
    <div class="e-popup-close">
        <button id="popupclose" class="float-right ejbutton" type="button"></button>
    </div>
    <table class="e-popup-table">
        <tr>
            <td class="e-popup-td e-content-td1">
                  <div class="e-popup-first">Take a sneak peek at our next generation</div>
            </td>
            <td class="e-popup-td e-content-td2">
                 <div class="e-popup-second">JavaScript Library</div>
            </td>
            <td class="e-popup-td">
                <div class="e-popup-more">
                        <button id="learnmore" onclick="ej2Switch(event)" class="float-right ejbutton" title="Essential JS 2" type="button">LEARN MORE</button>
                </div>
            </td>
        </tr>
    </table>
</div>        

<div class="header">
            <div class="sbheader">
                <div class="title">
                    <a href=@Url.Content("~/")Introduction/Index class="anchorclass site-title">
                        <div title="Essential Studio for ASP.NET MVC HTML5" class="jslogo"></div>
                    </a>
                </div>
                 @*<div class="product-naviation hideIt">				
				<div class="selectedproduct"><span class="desktop_pro"></span>Desktop</div>      
				<div class="not-selected"><span class="mobile_pro"></span>Mobile</div></div>
				<div id="Res-prodnav" class="productlogo desktoplogo"></div>*@	
                <div class="themeswitch" style="float: right">
                    <div class="ejthemestudio">
                        <button id="ej2Samples" class="float-right ejbutton" title="Essential JS 2" type="button">ESSENTIAL JS 2</button>
                    </div>
                    <div class="ejthemestudio">
                        <button id="mobileSamples" class="float-right ejbutton" title="Mobile Samples" type="button">MOBILE SAMPLES</button>
                    </div>
					<div class="ejthemestudio">                        
                        <button id="themestudio" class="float-right ejbutton" title="Essential Theme Studio" type="button">THEME STUDIO</button>                        
                    </div>
                    <div class="wrapper-demo">                       
                            <button id="buybutton" class="float-right ejbutton downbutton" title="Download" type="button"></button>                       
                    </div>
                    <div class="themegallery">
                        <ul id="themebutton"></ul>
                        <div id="sbtooltipbox">
                            <div class="sbtooltip"></div>
                        </div>                         
                    </div>
                </div>
            </div>
        </div>