@{ var iisvalue = @Url.Content("~/");}
<div class="accordion-panel cols-fixed-sidebar accordion-animation">
    <div class="search">
        @Html.EJ().Autocomplete("auto").WatermarkText("Search here").ShowPopupButton(false).FilterType(FilterOperatorType.Contains).Template("<a href= " + iisvalue + "${id} class='anchorclass'><div class='control_name'>${control}</div> <div class='control_samplename'>${text}</div></a>").ClientSideEvents(cs => cs.Select("onSelectSearchItem")).Width("210px")
        <span class='search-icon'></span>
    </div>
    <div id="dashboardheader">
    <a href=@Url.Content("~/")introduction/index >
            <div id="sbdashboard" class="dashboardhead">
                <span class="anchor">SHOWCASE SAMPLES</span>
            </div>
    </a>
        </div>
    <div id="scrollcontainer">
        <div>

            <div class="accordion" id="accordion2">
            </div>

            <script id="accordionGroupTmpl" type="text/x-jsrender">
			<div class="SB-groupIt downArrow"><span>{{:#view.data}}</span><span class="SB-Arrow"></span></div>
			<div class="SB-group {{RemoveWhiteSpace:#view.data}}"></div>
            </script>
            <script id="accordionTmpl" type="text/x-jsrender">
                <div class="anchorclass mainlevel {{if isResponsive == 'false'}} responsive-viewable {{/if}} {{ensureURL:id}}_nav" hashbang="/{{>controller}}/{{ensureURL:action}}">
                    <a href=@Url.Content("~/"){{ensureURL:controller}}/{{ensureURL:action}}>
                        <div class="dashboard">
                            <span class="anchor">{{>name}}</span>
                            {{if type}} <span class="samplestatus {{>type}}"></span>{{/if}}
                        </div>
                    </a>
                </div>
            </script>
            <div class="accordion samplesCollection" id="samplesDiv"></div>
            <script type="text/x-jsrender" id="accordionTmplchild">
                <div class="samples {{ensureURL:id}}_nav">
                    <div id="{{ensureURL:id}}_nav_back" class="firstlevelback dashboardhead">
                        <span class="arrowback"></span>
                        <span class="anchor sbheading">ALL CONTROLS</span>
                    </div>
                    <div id="{{ensureURL:id}}_nav_header" class="dashboardhead">
                        <span class="anchor sbheading">{{:name}}</span>
                    </div>
                    {{for samples ~pId=id}}
                    {{if (childcount>0)}}
                    <div class="subsample-1">
                        <div class="SB-groupIt downArrow">
                            <span>{{Upperstring:name}}</span>
                            <span class="SB-Arrow"></span>
                        </div>
                        <div id="{{>pId}}" width="200px">
                            {{for samples ~rId=~pId ~sId=name}}
                            <div hashbang="/{{>~sId}}/{{>action}}" class="secondlevelload SB-group SB-hashcollection {{if isResponsive == 'false'}} responsive-viewable {{/if}} {{ensureURL:id}}_nav" childcount="{{>childcount}}" controller="{{>controller}}" action="{{>action}}">
                                <a href=@Url.Content("~/"){{ensureURL:controller}}/{{ensureURL:action}}>
                                    <div class="dashboard">
                                        <span class="anchor">{{>name}}</span>
                                        {{if type}} <span class="samplestatus {{>type}}"></span>{{/if}}
                                    </div>
                                </a>
                            </div>
                            {{/for}}
                        </div>
                    </div>
                    {{else}}
                    <div class="firstlevelload SB-hashcollection {{if isResponsive == 'false'}} responsive-viewable {{/if}} {{ensureURL:id}}" childcount="{{>childcount}}" controller="{{>~pId}}" action="{{>action}}">
                        <a href=@Url.Content("~/"){{ensureURL:controller}}/{{ensureURL:action}}>
                            <div class="dashboard">
                                <span class="anchor">{{>name}}</span>
                                {{if type}} <span class="samplestatus {{>type}}"></span>{{/if}}
                            </div>
                        </a>
                    </div>
                    {{/if}}
                                    {{/for}}
                </div>
            </script>
            <div id="subsamplesDiv" style="display: none">
            </div>
        </div>
    </div>
</div>
