@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ

@section SampleHeading{ <span class="sampleName">ReportViewer/DataBindingRemote</span>}

@section StyleSection{
    <style>
        #reportviewer {
            min-height: 650px;
            min-width: 100%;
        }
    </style>
}

@section ControlsSection{

    

        <div style="width:100%">

        @(
            Html.EJ().ReportViewer("reportviewer")
              .ProcessingMode(Syncfusion.JavaScript.ReportViewerEnums.ProcessingMode.Local).ReportPath("~/App_Data/Reports/DatabindingRemote.rdlc")
              .ReportServiceUrl(VirtualPathUtility.ToAbsolute("~/api/RDLCReport")).ReportLoaded("onreportloaded")
        )
    </div>
}

@section ScriptSection{
    <script type="text/javascript">
        function onreportloaded(senderObj) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '../wcf/Reportservice.svc/GetOrderDetails',
                dataType: "json",
                processData: false,
                crossDomain: true,
                async: false,
                timeout: 5000,
                success: function (result) {
                    reportdata = result.d;
                    var dataManger = ej.DataManager(reportdata);
                    var query = ej.Query().select("OrderID", "CustomerID", "EmployeeID", "Freight", "ShipCity", "ShipCountry");
                    reportResult = dataManger.executeLocal(query);
                    var reportModel = $("#reportviewer").data('ejReportViewer');
                    reportModel.model.dataSources = [{ value: reportResult, name: "remote" }];
                },
                error: function (result) {
                    alert(result);
                }
            });
        }
		</script>
    }