@section SampleHeading{ <span class="sampleName">ReportViewer/SalesAnalysis</span>}

@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ


@section StyleSection{
    <style>
        #reportviewer {
            min-height: 650px;
            min-width: 100%;
        }
    </style>
}
@section ScriptReferenceSection{
}

@section ControlsSection{
   <div style="width:100%">
        @(
            Html.EJ().ReportViewer("reportviewer")
              .ProcessingMode(Syncfusion.JavaScript.ReportViewerEnums.ProcessingMode.Remote).ReportPath("~/App_Data/Reports/SalesAnalysis.rdl")
              .ReportServiceUrl(VirtualPathUtility.ToAbsolute("~/api/RDLReport"))
        )
    </div>
}