@section SampleHeading{ <span class="sampleName">ReportViewer-Product List-ASP.NET MVC-SYNCFUSION</span>}

@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ

@section StyleSection{
    <style>
        #reportviewer {
            min-height: 650px;
            min-width: 100%;
        }
    </style>
}
@section ScriptReferenceSection{
}

@section ControlsSection{
   <div style="width:100%">     

        @(
            Html.EJ().ReportViewer("reportviewer").ProcessingMode(Syncfusion.JavaScript.ReportViewerEnums.ProcessingMode.Local).ReportPath("~/App_Data/Reports/Product List.rdlc")
              .ReportServiceUrl(VirtualPathUtility.ToAbsolute("~/api/RDLCReport")).DataSources(ds => ds.Name("list").Value(ViewData["reportDsource"]).Add())
        )
    </div>
}

