@section SampleHeading{
    <span class="sampleName">BulletGraph-Label & Tick Positioning-ASP.NET MVC-SYNCFUSION</span>
}
@section ControlsSection{
    
      @(Html.EJ().BulletGraph("BulletGraph1")
            .QualitativeRangeSize(50)
            .Value(8)
            .ComparativeMeasureValue(5)
            .Width(650)
            .Height(650)            
            .QuantitativeScaleSettings(qs =>
            {
                qs.Location(l => l.x(108).y(150))
                    .MajorTickSettings(mat => mat.Size(13).Width(1).Stroke(System.Drawing.Color.Gray))
                    .MinorTickSettings(mit => mit.Size(5).Width(1).Stroke(System.Drawing.Color.Gray))
                    .LabelSettings(la => { la.Position(Syncfusion.JavaScript.DataVisualization.LabelPosition.Below).LabelPrefix("$")
                    .LabelSuffix(" K").Offset(14).Size(10); })
                    .TickPosition(Syncfusion.JavaScript.DataVisualization.TickPosition.Far)
                    .FeaturedMeasureSettings(fm => fm.Width(6))
                    .ComparativeMeasureSettings(cm => cm.Width(5));
            })
            .CaptionSettings(cs => cs.TextAngle(0).Text("Revenue YTD").Location(ls => ls.x(17).y(168))
            .Font(f => f.FontFamily("Sagoe UI").FontStyle(BulletFontStyle.Normal.ToString()).FontSize("12px")
            .FontWeight("Normal").Opacity(1))
            .SubTitle(so => so.TextAngle(0).Text("$ in Thousands").Location(l => l.x(10).y(182))
            .Font(f => f.FontFamily("Segoe UI").FontStyle(BulletFontStyle.Italic.ToString()).FontSize("12px")
            .FontWeight("Normal").Opacity(1))))
            )
}
@section PropertiesSection{
    <div class="row">
                        <div class="col-md-3">
                            Direction
                        </div>
                        <div class="col-md-3 aligntop">
                            <select autocomplete="off" onchange="BulletFlow(this)">
                                <option value="forward">Forward</option>
                                <option value="backward">Backward</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            Orientation
                        </div>
                        <div class="col-md-3 aligntop">
                            <select autocomplete="off" onchange="BulletOrientation(this)">                                
                                <option value="horizontal">Horizontal</option>
                                <option value="vertical">Vertical</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            Tick Position
                        </div>
                        <div class="col-md-3 aligntop">
                            <select autocomplete="off" onchange="BulletTickPos(this)">
                                <option value="far">Far</option>
                                <option value="center">Center</option>
                                <option value="near">Near</option>
                            </select>
                        </div>                       
                        <div class="col-md-3">
                            Tick Placement
                        </div>
                        <div class="col-md-3 aligntop">
                            <select autocomplete="off" onchange="BulletTickPlacement(this)">
                                <option value="outside">Outside</option>
                                <option value="inside">Inside</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Label Position
                        </div>
                        <div class="col-md-3 aligntop">
                            <select autocomplete="off" onchange="BulletLabelPosition(this)">
                                <option value="below">Below</option>
                                <option value="above">Above</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            Label Placement
                        </div>
                        <div class="col-md-3 aligntop">
                           <select autocomplete="off" onchange="BulletLabelPlacement(this)">
                                <option value="outside">Outside</option>
                                <option value="inside">Inside</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Label Offset
                        </div>
                        <div class="col-md-3 aligntop">
                           @Html.EJ().Slider("featureMeasureValue").SliderType(SlideType.MinRange).Value("10").Height("10").Width("120").MinValue(-85).MaxValue(25).ClientSideEvents(events => { events.Change("BulletLabelOffset"); })
                        </div>
                    </div>
}
@section StyleSection{
    <style>
        .aligntop .e-ddl .e-input {
            line-height:20px;
        }
    </style>
}

@section ScriptSection{
   <script type="text/javascript">

       function BulletTickPos(sender) {
           $("#BulletGraph1").ejBulletGraph(
               'option', 'quantitativeScaleSettings.tickPosition', sender.value
           );
       }

       function BulletLabelPlacement(sender) {
           $("#BulletGraph1").ejBulletGraph(
               'option', 'quantitativeScaleSettings.labelSettings.labelPlacement', sender.value
           );
       }

       function BulletTickPlacement(sender) {
           $("#BulletGraph1").ejBulletGraph(
               'option', 'quantitativeScaleSettings.tickPlacement', sender.value
           );
       }

       function BulletLabelPosition(sender) {
           $("#BulletGraph1").ejBulletGraph(
               'option', 'quantitativeScaleSettings.labelSettings.position', sender.value
           );
       }

       function BulletLabelOffset(sender) {
           $("#BulletGraph1").ejBulletGraph(
               'option', 'quantitativeScaleSettings.labelSettings.offset', parseFloat(sender.value)
           );
       }

       function BulletFlow(sender) {
           $("#BulletGraph1").ejBulletGraph(
               'option', 'flowDirection', sender.value
           );
       }

       function BulletOrientation(sender) {
           $("#BulletGraph1").ejBulletGraph(
               'option', 'orientation', sender.value
           );
       }

       $(function () {
           $("#sampleProperties").ejPropertiesPanel();
       });
</script>
}
@section MetaTags{
   <meta name="description" content="This sample demonstrates label and tick positioning in the Syncfusion ASP.NET Web Forms Bullet graph control.">
}

