@section SampleHeading{
	<span class="sampleName">BulletGraph-Data Binding-local data-ASP.NET MVC-SYNCFUSION</span>
	}

@section ControlsSection{

        <center>
  @(Html.EJ().BulletGraph("Bullet5").Height(540).EnableAnimation(true).Orientation(Orientation.Horizontal)
        .QualitativeRangeSize(320).QuantitativeScaleLength(475).TooltipSettings(t=>t.Visible(true))
        .FlowDirection(Syncfusion.JavaScript.DataVisualization.FlowDirection.Forward)
        .Fields(fie =>
            {
                 fie.Datasource((IEnumerable<MVCSampleBrowser.Models.BulletLocalDataBind>)ViewBag.datasource).Category("category")
                    .ComparativeMeasure("comparitiveMeasureValue").FeatureMeasure("value");
            })
            .QuantitativeScaleSettings(qs =>
            {
                qs.Location(l => l.x(110).y(10))
                    .Minimum(0)
                    .Maximum(10)
                    .Interval(1)
                    .MajorTickSettings(mat => mat.Size(13).Width(1).Stroke(System.Drawing.Color.Gray))
                    .MinorTickSettings(mit => mit.Size(5).Width(1).Stroke(System.Drawing.Color.Gray))
                    .LabelSettings(ls => ls.Size(10).Offset(14))
                    .MinorTicksPerInterval(4);
            })
            .EnableAnimation(true)
            .QualitativeRanges(qr =>
            {
                qr.RangeEnd(4.3).Add();
                qr.RangeEnd(7.3).Add();
                qr.RangeEnd(10).Add();
            })
                .CaptionSettings(cs => cs.TextAngle(-90)
                .Text("Sales Review")
                .Location(ls => ls.x(60).y(210))
                .Font(f => f.FontFamily("Revenue YTD").FontStyle(BulletFontStyle.Oblique.ToString())
                .FontSize("12px").FontWeight("Normal").Opacity(1))
                .SubTitle(so => so.TextAngle(-90).Text("$ in Thousands").Location(l => l.x(75).y(210))
                .Font(f => f.FontFamily("Segoe UI").FontStyle(BulletFontStyle.Italic.ToString()).FontSize("12px")
                .FontWeight("Normal").Opacity(1))))
            )
            </center>
     }
@section MetaTags{
   <meta name="description" content="This sample demonstrates the sale review based on thousand people in the Syncfusion ASP.NET Web Forms Bullet graph control.">
}

