@section SampleHeading{
    <span class="sampleName">API</span>
}
@section ControlsSection{

      @(Html.EJ().BulletGraph("BulletGraph1").Height(400).Width(650).QualitativeRangeSize(32)
            .QuantitativeScaleLength(475).TooltipSettings(t => t.Visible(true)).Orientation(Orientation.Horizontal)
            .FlowDirection(Syncfusion.JavaScript.DataVisualization.FlowDirection.Forward)
            .QuantitativeScaleSettings(qs =>
            {
                qs.Location(l => l.x(100).y(150))
                    .Minimum(0)
                    .Maximum(10)
                    .Interval(1)
                    .MinorTicksPerInterval(4)
                    .MajorTickSettings(mat => mat.Size(13).Width(1).Stroke(System.Drawing.Color.Gray))
                    .MinorTickSettings(mit => mit.Size(5).Width(1).Stroke(System.Drawing.Color.Gray))
                    .LabelSettings(la => { la.Position(Syncfusion.JavaScript.DataVisualization.LabelPosition.Below)
                    .Offset(14).Size(10); })
                    .TickPosition(Syncfusion.JavaScript.DataVisualization.TickPosition.Far)
                    .FeaturedMeasureSettings(fm => fm.Width(6))
                    .ComparativeMeasureSettings(cm => cm.Width(5))
                    .FeatureMeasure(fm => { fm.ComparativeMeasureValue(6.7).Value(8).Category("").Add(); });

            })
            .QualitativeRanges(qr =>
            {
                qr.RangeEnd(3).RangeStroke(System.Drawing.Color.OliveDrab).Add();
                qr.RangeEnd(7).RangeStroke(System.Drawing.Color.Yellow).Add();
                qr.RangeEnd(10).RangeStroke(System.Drawing.Color.Crimson).Add();
            })
            .CaptionSettings(cs => cs.TextAngle(0).TextPosition(BulletTextPosition.Right).Text("Sales Review")
            .Location(ls => ls.x(17).y(120)).Font(f => f.FontFamily("Sagoe UI")
            .FontStyle(BulletFontStyle.Normal.ToString()).FontSize("12px").FontWeight("Normal").Opacity(1))
            .SubTitle(so => so.TextAngle(0).TextPosition(BulletTextPosition.Right).Text("$ in Thousands")
            .Location(l => l.x(10).y(135)).Font(f => f.FontFamily("Segoe UI")
            .FontStyle(BulletFontStyle.Italic.ToString()).FontSize("12px").FontWeight("Normal").Opacity(1))))
            )
    <div id="Tooltip" style="display: none; width: 125px; padding-top: 10px; padding-bottom: 10px">
        <div align="center" style="font-weight: bold">
            Sales
        </div>
        <table>
            <tr>
                <td>Current
                </td>
                <td>: {{:currentValue}}
                </td>
            </tr>
            <tr>
                <td>Target
                </td>
                <td>: {{:targetValue}}
                </td>
            </tr>
        </table>
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Caption Position 
        </div>
        <div class="col-md-3">
            <select onchange="BulletCapPosition(this)">
                <option>Top</option>
                <option>Left</option>
                <option selected="selected">Right</option>
                <option>Bottom</option>
                <option>Float</option>
            </select>
        </div>
        <div class="col-md-3">
            Caption Alignment 
        </div>
        <div class="col-md-3">
            <select onchange="BulletCapAlignment(this)">
                <option>Near</option>
                <option>Far</option>
                <option>Center</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            Subtitle Position
        </div>
        <div class="col-md-3">
            <select onchange="BulletSubtitlePosition(this)">
                <option>Top</option>
                <option>Left</option>
                <option selected="selected">Right</option>
                <option>Bottom</option>
                <option>Float</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Subtitle Alignment
        </div>
        <div class="col-md-3">
            <select onchange="BulletSubtitleAlignment(this)">
                <option>Near</option>
                <option>Far</option>
                <option>Center</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3" style="width: auto;">
            <input type="checkbox" checked="checked" onchange="BulletTrim(this)" />
        </div>
        <div class="col-md-3">
            Enable Trim
        </div>
    </div>
}
@section StyleSection{
    <style>
        .aligntop .e-ddl .e-input {
            line-height: 20px;
        }
    </style>
}
@section ScriptSection{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        function BulletTrim(sender) {
            $("#BulletGraph1").ejBulletGraph('option', 'captionSettings.enableTrim', sender.checked);
        }

        function BulletCapAlignment(sender) {
            $("#BulletGraph1").ejBulletGraph('option', 'captionSettings.textAlignment', sender.value);
        }

        function BulletCapPosition(sender) {
            $("#BulletGraph1").ejBulletGraph('option', 'captionSettings.textPosition', sender.value);
        }

        function BulletSubtitleAlignment(sender) {
            $("#BulletGraph1").ejBulletGraph('option', 'captionSettings.subTitle.textAlignment', sender.value);
        }

        function BulletSubtitlePosition(sender) {
            $("#BulletGraph1").ejBulletGraph('option', 'captionSettings.subTitle.textPosition', sender.value);
        }
    </script>
}




