@section SampleHeading{<span class="sampleName">SpellCheck-Context Menu-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{
    <div id="TextArea" contenteditable="true">
    It is a concept vehicle with Liuid Silver body colour, 20-inch wheels, fabric foding roof, electrically-controlled hood,
    4-cylinder 2.0 TDI engine rated 204 PS (150 kW; 201 hp) and 400 (295.02 lbf ft), diesel particulate filter and Bluetec emission control system,
    quattro permanent four-wheel drve system, Audi S tronic dual-clutch gearbox, McPherson-strut front axle and a four-link rear axle, Audi drive select system with 3 modes (dynamic, sport, efficiency),
    MMI control panel with touch pad and dual-view technology, sound system with the proinent extending tweeters.
</div><br />

    @Html.EJ().SpellCheck("SpellCheckContextMenu").EnableValidateOnType(true).ControlsToValidate("#TextArea").DictionarySettings(dic => dic.CustomDictionaryUrl("../api/SpellCheck/AddToDictionary").DictionaryUrl("../api/SpellCheck/CheckWords")).ContextMenuSettings(contxt => contxt.Enable(true))


    @Html.EJ().Button("SpellCheck").Text("Spell check using context menu").ClientSideEvents(evet => evet.Click("showContextMenu"))
}

@section ScriptSection{

    <script type="text/javascript">
        function showContextMenu() {
            var spellObj = $("#SpellCheckContextMenu").data("ejSpellCheck");
            spellObj.validate();
        }
    </script>
}






