@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/excanvas.min.js")"></script>
    }
@section SampleHeading{
	<span class="sampleName">Range</span>
	}



@section ControlsSection{
 <div align="center">
 @(Html.EJ().CircularGauge("circularGaugeExport")
      .IsResponsive(true)
                    .ClientSideEvents(cli=>cli.Load("loadGaugeTheme"))
                .BackgroundColor("transparent")
                .Scales(sc =>
                {
                    sc.Radius(130)
                    .PointerCap(cap=>cap.Radius(10))
                    .Minimum(0)
                    .Maximum(120)
                    .MajorIntervalValue(20)
                    .MinorIntervalValue(10)
                    .ShowScaleBar(true)
                    .Size(1)
                    .ShowRanges(true)
                    .Ranges(ran =>
                    {
                        ran.Size(5).DistanceFromScale(-30).StartValue(0).EndValue(70).Add();
                        ran.Size(5).DistanceFromScale(-30).StartValue(70).EndValue(110).BackgroundColor(ConsoleColor.Red.ToString()).Border(bor=>bor.Color(ConsoleColor.Red.ToString())).Add();
                        ran.Size(5).DistanceFromScale(-30).StartValue(110).EndValue(120).BackgroundColor(ConsoleColor.Yellow.ToString()).Border(bor=>bor.Color(ConsoleColor.Yellow.ToString())).Add();
                    })
                    .Pointers(po =>
                    {
                        po.Value(60)
                        .Length(90)
                        .Width(8)
                        .ShowBackNeedle(true)
                        .BackNeedleLength(15).Add();
                    }).Add();
                })
                .Radius(140)
                .Height(360)
                .Width(500)
                )
</div>
}



@section PropertiesSection{

                <div class="row">
                        <div class="col-md-3">
                            File Name
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="txtFileName" class="ejinputtext" style="width:100px"/>
                        </div>
                        <div class="col-md-3">
                            File Type
                        </div>
                        <div class="col-md-3 aligntop">
                            @(Html.EJ().DropDownList("ddlFileType").Datasource((IEnumerable<MVCSampleBrowser.Models.CircularGauge.FileFormat>)ViewBag.datasource).DropDownListFields(df => df.ID("fileType").Text("fileType").Value("fileType")).SelectedItemIndex(1).Width("100"))
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <input type="submit" value="Export Image" id="btnExportImage" />
                        </div>
                        </div>
}


@section StyleSection{

    <style>
        .col-md-3 .e-ddl .e-input {
            line-height:20px;
        }
    </style>
}


@section ScriptSection{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        $(function () {
            $("#btnExportImage").ejButton({ width: "100px", click: "buttonclickevent", });
        });
        function buttonclickevent() {
            var hit = false;
            var fileName = $("#txtFileName").val().trim() == "" ? "CircularGauge" : $("#txtFileName").val();
            var specialChars = '<>:"/\|?*';
            for (i = 0; i < specialChars.length; i++) {
                if (fileName.indexOf(specialChars[i]) > -1) {
                    hit = true;
                }
            }
            if (!hit) {
                var fileFormat = $("#ddlFileType").ejDropDownList("option", "value");
                var flag = $("#circularGaugeExport").ejCircularGauge("exportImage", fileName, fileFormat);
                if (!flag)
                    alert("Sorry for the inconvenience. Export is currently not supported in Internet Explorer 9 and below version");
            }
            else
                alert("Your file name contains illegal characters");
        }
        
    </script>
}



