@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/excanvas.min.js")"></script>
    }
@section SampleHeading{
	<span class="sampleName">Digital Clock</span>
	}


@section ControlsSection{
 <div align="center">
     @(Html.EJ().DigitalGauge("DigitalClock")
             .IsResponsive(true)
                    .ClientSideEvents(cli=>cli.Load("loadGaugeTheme")).Width(600).Height(455).Items(
    items =>
    {
        items.Position(
    loc =>
    {
        loc.X(32).Y(32);
    })
    .SegmentSettings(seg => seg.Spacing(0).Width(2))
    .Value(" ").Add();
    }))
</div>
}

 <script>
        $(document).ready(function () {
            window.setInterval("setClock()", 1);
        });

        function setClock() {

            var currentTime = new Date();
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            var orighour = hours;
            hours = ((hours + 11) % 12 + 1);
            var v = hours + ":" + minutes + ":" + seconds + " ";
            if (orighour > 11) {
                v += "PM";
            } else {
                v += "AM";
            }

            var digiclock = $("#DigitalClock").data("ejDigitalGauge");
            if (digiclock != undefined) {
                digiclock.setValue(0, v);
            }
        }
         </script>
