@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/excanvas.min.js")"></script>
    }
@section SampleHeading{
	<span class="sampleName">DigitalGauge-Export Image-ASP.NET MVC-SYNCFUSION</span>
	}



@section ControlsSection{
 <div align="center">
 @(Html.EJ().DigitalGauge("digitalGaugeExport")
      .IsResponsive(true)
                    .ClientSideEvents(cli=>cli.Load("loadGaugeTheme")).Width(600).Height(455).Items(
                items =>
                {
                    items.Position(
                loc =>
                {
                    loc.X(32).Y(32);
                })
                .SegmentSettings(seg => seg.Spacing(0).Width(2))
                .CharacterSettings(chr=>chr.Opacity(1))
                .Value("Syncfusion").Add();
                }))
</div>
}

@section MetaTags{
   <meta name="description" content="This sample illustrates the export functionality in the Syncfusion ASP.NET Web Forms Digital Gauge control.">
}



@section PropertiesSection{

                <div class="row">
                        <div class="col-md-3">
                            File Name
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="txtFileName" class="ejinputtext" style="width:100px"/>
                        </div>
                        <div class="col-md-3">
                            File Type
                        </div>
                        <div class="col-md-3 aligntop">
                            @(Html.EJ().DropDownList("ddlFileType").Datasource((IEnumerable<MVCSampleBrowser.Models.CircularGauge.FileFormat>)ViewBag.datasource).DropDownListFields(df => df.ID("fileType").Text("fileType").Value("fileType")).SelectedItemIndex(1).Width("100"))
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <input type="submit" value="Export Image" id="btnExportImage" />
                        </div>
                        </div>
}


@section StyleSection{

    <style>
        .col-md-3 .e-ddl .e-input {
            line-height:20px;
        }
    </style>
}


@section ScriptSection{

    <script>
        $(document).ready(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        $(function () {
            $("#btnExportImage").ejButton({ width: "100px", click: "buttonclickevent", });
        });
        function buttonclickevent() {
            var hit = false;
            var fileName = $("#txtFileName").val().trim() == "" ? "DigitalGauge" : $("#txtFileName").val();
            var specialChars = '<>:"/\|?*';
            for (i = 0; i < specialChars.length; i++) {
                if (fileName.indexOf(specialChars[i]) > -1) {
                    hit = true;
                }
            }
            if (!hit) {
                var fileFormat = $("#ddlFileType").ejDropDownList("option", "value");
                var flag = $("#digitalGaugeExport").ejDigitalGauge("exportImage", fileName, fileFormat);
                if (!flag)
                    alert("Sorry for the inconvenience. Export is currently not supported in Internet Explorer 9 and below version");
            }
            else
                alert("Your file name contains illegal characters");
        }
        
    </script>
}




