@section MetaTags{
   <meta name="description" content="This example demonstrates how to specify the custom palatte in a ASP.NET MVC ColorPicker">
}

@section SampleHeading{<span class="sampleName">ColorPicker-Custom Palette-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    @{List<String> colors = new List<string>() { "ffffff", "ffccff", "ff99ff", "ff66ff", "ff33ff", "ff00ff", "ccffff", "ccccff",
                         "cc99ff", "cc66ff", "cc33ff", "cc00ff", "99ffff", "99ccff", "9999ff", "9966ff",
                         "9933ff", "9900ff", "ffffcc", "ffcccc" };}
    <div class="frame">
        <div class="control">
            <div class="element">
                Choose a Color 
            @Html.EJ().ColorPicker("custom").Value("#9999ff").Palette(PaletteType.CustomPalette).ModelType(ModelType.Palette).Custom(colors)
            </div>
        </div>
    </div>
}
@section StyleSection{
    <style>
        .frame .control {
            margin-left: 40%;
        }
    </style>
}

