@section SampleHeading{<span class="sampleName">ColorPicker / Events </span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <div class="element"> Choose a color
                @Html.EJ().ColorPicker("colorPicker").Value("#278787").ClientSideEvents(events => events.Create("onCreate").Change("onChange").Open("onOpen").Close("onClose").Select("onSelect"))
            </div>
        </div>
    </div>
}
<div id="target">
    <ul>
        <li>open</li>
        <li>close</li>
        <li>change</li>
        <li>select</li>
    </ul>
</div>
@section EventsDropdown{
    @Html.EJ().DropDownList("selectControls_input").TargetID("target").CssClass("metroblue").ShowCheckbox(true).CheckAll(true).ClientSideEvents(s => s.Change("evtpropscheckedevent"))
}
@section ScriptSection{
    <script type="text/javascript">
        function evtpropscheckedevent(args) {
            var pickerObj = $("#colorPicker").data("ejColorPicker");
            if (args.isChecked) {
                switch (args.selectedText) {
                    case "change": pickerObj.option(args.selectedText, "onChange"); break;
                    case "open": pickerObj.option(args.selectedText, "onOpen"); break;
                    case "close": pickerObj.option(args.selectedText, "onClose"); break;
                    case "select": pickerObj.option(args.selectedText, "onSelect"); break;
                }
            }
            else pickerObj.option(args.selectedText, null);
        }
        // Client side Events
        function onCreate(args) {
            jQuery.addEventLog("ColorPicker has been <span class='eventTitle'> created</span>.");
        }
        function onChange(args) {
            jQuery.addEventLog("ColorPicker value has been <span class='eventTitle'> changed</span> to " + args.value + ".</br>");
        }
        function onSelect(args) {
            jQuery.addEventLog(args.value + " was <span class='eventTitle'>selected.</span>");
        }
        function onOpen(args) {
            jQuery.addEventLog("ColorPicker Popup has been <span class='eventTitle'> Opened</span>");
        }
        function onClose(args) {
            jQuery.addEventLog("ColorPicker Popup has been <span class='eventTitle'> Closed</span>");
        }
        function onClear() {
            jQuery.clearEventLog();
        }
    </script>
}
@section StyleSection{
    <style>
        .frame .control {
            margin-left: 40%;
        }

        .row .cols-sample-area {
            width: 64%;
        }

        .cols-sample-area .frame {
            margin-left: 59px;
            padding: 50px 60px 65px;
            width: 206px;
        }

        .row .cols-content-fluid {
            width: 77%;
        }

        .row .cols-prop-area {
            width: 33%;
        }
    </style>
}