@section SampleHeading{ <span class="sampleName">PivotChart-WebAPI-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo for Syncfusion Essential JS1 for ASP.NET MVC pivot chart control describes how to bind the OLAP cube data from SSAS (XML/A) through Web API service.">
}
@using Syncfusion.JavaScript;

@section StyleSection{
    <style>
       #PivotChart1 {
            min-height: 275px; 
            min-width: 525px; 
            height: 460px; 
            width: 100%;
            float:left;
        }
         .row .cols-sample-area {
             width: 100%;
         }
         #CodeViewTab ul > li:first-child + li{
            display:none;
        }
    </style>
}
@section ScriptReferenceSection{
<script src="@Url.Content("~/Scripts/ej.web.all.min.js")" type="text/javascript"></script>
}
@section ControlsSection{
    @Html.EJ().Pivot().PivotChart("PivotChart1").Url(Url.Content("~/api/OlapChart")).CommonSeriesOptions(comm => { comm.Type(SeriesType.Column).Tooltip(tool => { tool.Visible(true); }).EnableAnimation(true); }).Size(size => size.Height("460px").Width("100%")).PrimaryXAxis(primaryXAxis => primaryXAxis.Title(title => title.Text("Date - Fiscal")).LabelRotation(0)).PrimaryYAxis(primaryYAxis => primaryYAxis.Title(title => title.Text("Customer Count"))).Legend(legend => legend.Visible(true).RowCount(2)).ClientSideEvents(
                  oEve => { oEve.Load("loadTheme"); }).IsResponsive(true).Zooming(zoom => { zoom.EnableScrollbar(true); })
}

