@section SampleHeading{ <span class="sampleName">Slider / Rtl</span>}

@section ControlsSection{

    <div class="frame">
        <div class="txt">Range</div>
        @(Html.EJ().Slider("slider2rtl").SliderType(SlideType.Range).Values("30, 70").EnableRTL(true))
        <br />
        <br />
        <div class="txt">Min-Range</div>
        @(Html.EJ().Slider("slider1rtl").SliderType(SlideType.MinRange).Value("60").EnableRTL(true))
    </div>

}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .frame {
            width: 50%;
        }

        .txt {
            direction: rtl;
            font-size: 15px;
            margin-bottom: 13px;
            text-align: right;
        }
    </style>
}