<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Core" version="1.1.0.0" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.1.0.0" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="1.1.0.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="6.0.4" />
  <package id="Modernizr" version="2.6.2" />
  <package id="Owin" version="1.0.0.0" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.0" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0"/>
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" />
  <package id="WebGrease" version="1.5.2" />
  <package id="Syncfusion.Chart.WPF" version="17.2.0.46" />
  <package id="Syncfusion.Compression.Base" version="17.2.0.46" />
  <package id="Syncfusion.DocIO.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.DocToPdfConverter.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.Web.Base45" version="17.2.0.46" />
  <package id="Syncfusion.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.AspNet.Mvc5.PdfViewer" version="17.2.0.46" />
  <package id="Syncfusion.AspNet.Mvc5.Pivot" version="17.2.0.46" />
  <package id="Syncfusion.AspNet.Mvc5.ReportViewer" version="17.2.0.46" />
  <package id="Syncfusion.ReportDesigner.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.ExcelChartToImageConverter.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.ExcelToPDFConverter.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.HTMLToPDFConverter.IE.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.Linq.Base" version="17.2.0.46" />
  <package id="Syncfusion.OfficeChart.Base" version="17.2.0.46" />
  <package id="Syncfusion.OfficeChartToImageConverter.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.Olap.Base" version="17.2.0.46" />
  <package id="Syncfusion.Pdf.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.PivotAnalysis.Base" version="17.2.0.46" />
  <package id="Syncfusion.PMML.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.Presentation.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.PresentationToPdfConverter.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.SfChart.WPF" version="17.2.0.46" />
  <package id="Syncfusion.SfMaps.WPF" version="17.2.0.46" />
  <package id="Syncfusion.Gauge.WPF" version="17.2.0.46" />
  <package id="Syncfusion.RichtextBoxAdv.WPF" version="17.2.0.46" />
  <package id="Syncfusion.Shared.Base" version="17.2.0.46" />
  <package id="Syncfusion.Shared.WPF" version="17.2.0.46" />
  <package id="Syncfusion.SpellChecker.Base" version="17.2.0.46" />
  <package id="Syncfusion.XlsIO.AspNet.Mvc5" version="17.2.0.46" />
  <package id="Syncfusion.Licensing" version="17.2.0.46" />
</packages>