@section SampleHeading{<span class="sampleName"> Schedule/Adaptive</span>}
@section ControlsSection{
    <div class="emulatordesk">
        <div class="sample-container" >
            <iframe id="sample"  frameborder="0" tabindex="1" style="height: 493px;width: 320px" src = '@Url.Action("AdaptiveSchedule", "Schedule")'  ></iframe>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        window.loadScheduleFrameTheme = function () {
            var iframe = document.getElementById('sample');
            iframe.contentWindow.postMessage("theme_"+window.theme,iframe.src);
        }
    </script>
}

