@section MetaTags{
    <meta name="description" content="This example shows how to block specific time intervals in the ASP.NET MVC Scheduler.">
}
@section SampleHeading{<span class="sampleName">Schedule-Block Intervals-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div>
        @(Html.EJ().Schedule("Schedule1")
        .Width("100%")
        .Height("525px")
        .CurrentDate(new DateTime(2017, 6, 5))
        .CurrentView(CurrentView.Day)
        .TimeZone("UTC +00:00")
        .BlockoutSettings(f => f.Enable(true).TemplateId("#blocktemplate")
            .Datasource((IEnumerable)ViewBag.blockDataSource)
            .Id("Id")
            .Subject("Subject")
            .StartTime("StartTime")
            .EndTime("EndTime")
            .IsBlockAppointment("BlockAppointment")
            .ResourceId("ResourceId")
            .IsAllDay("FullDay"))
        .Resources(res =>
        {
            res.Field("OwnerId").Title("Owner").Name("Owners").AllowMultiple(true)
            .ResourceSettings(flds => flds.Datasource((IEnumerable)ViewBag.Owners).Text("text").Id("id").Color("color")).Add();
        })
        .Group(gr =>
        {
            gr.Resources(ViewBag.Resources);
        })
        .AppointmentSettings(fields => fields.Datasource((IEnumerable)ViewBag.datasource)
            .Id("Id")
            .Subject("Subject")
            .StartTime("StartTime")
            .EndTime("EndTime")
            .Description("Description")
            .AllDay("AllDay")
            .Recurrence("Recurrence")
            .RecurrenceRule("RecurrenceRule")
            .ResourceFields("OwnerId"))
        )
    </div>
}
@section ScriptSection{
    <script id="blocktemplate" type="text/x-jsrender">
        <span class="blocksubject">{{:Subject}}</span>
        <div style='float:right; padding:5px;'>{{:~format(Subject)}}</div>
    </script>
    <script type="text/javascript">
        function _getImages(Subject) {
            switch (Subject) {
                case "BAD MONSOON":
                    return "<img src='../images/schedule/badmonsoon.png'/>";
                case "MAINTENANCE":
                    return "<img src='../images/schedule/maintenance_01.png'/>";
                case "SERVICE":
                    return "<img src='../images/schedule/service.png'/>";
                default:
                    return null;
            }
        }
        $.views.helpers({ format: _getImages });
    </script>
}
@section StyleSection{
    <style>
        .e-blocktimeappointment img
        {
            width: 36px;
        }

        .blocksubject
        {
            font-size: 14px;
            font-weight: 600;
            color: rgba(0, 0, 0, 1);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0px 5px;
        }
    </style>
}

