@section MetaTags{
    <meta name="description" content="This example shows how the ASP.NET MVC Scheduler displays context menus on cells and appointments.">
}
@section SampleHeading{<span class="sampleName">Schedule-Context Menu-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
<div>
        @{List<string> view = new List<string>() { "Day", "Week", "WorkWeek", "Month" };}
        @(Html.EJ().Schedule("Schedule1")
        .Width("100%")
        .Height("525px")
        .CurrentDate(new DateTime(2017,6,5))
        .Views(view)
        .CategorizeSettings(fields=>fields.Datasource((IEnumerable)ViewBag.categorize).Enable(true).AllowMultiple(false).Id("id").Text("text").Color("color").FontColor("fontColor"))
        .ContextMenuSettings(menu=>menu.Enable(true).MenuItems(item=>item.Cells(ViewBag.cell).Appointment(ViewBag.app)))
        .AppointmentSettings(fields => fields.Datasource((IEnumerable)ViewBag.datasource)
            .Id("Id")
            .Subject("Subject")
            .StartTime("StartTime")
            .EndTime("EndTime")
            .Description("Description")
            .AllDay("AllDay")
            .Recurrence("Recurrence")
            .RecurrenceRule("RecurrenceRule")
            .Categorize("Categorize"))
        )
</div>
}

