@section SampleHeading{
    <span class="sampleName">Schedule / CustomDates</span>}
@section ControlsSection{
    @{ List<string> scheduleViews = new List<string>() { "CustomView" }; }
    @(Html.EJ().Schedule("Schedule1")
        .Width("100%")
        .Height("525px")
        .Views(scheduleViews)
        .CurrentView(CurrentView.CustomView)
        .RenderDates((List<Object>)ViewBag.customDates)
        .AppointmentSettings(fields => fields.Datasource((IEnumerable)ViewBag.datasource)
            .Id("Id")
            .Subject("Subject")
            .StartTime("StartTime")
            .EndTime("EndTime")
            .Description("Description")
            .AllDay("AllDay")
            .Recurrence("Recurrence")
            .RecurrenceRule("RecurrenceRule"))
    )
}
