@section SampleHeading{<span class="sampleName"> Schedule /ExternalDragAndDrop</span>}
@section ControlsSection{
    @{
        List<string> views = new List<string>() { "Day,Week,WorkWeek,Month" };
    }
    <div class="row">
        <div class="col-md-2">
            <span class=""><b>Tutorials </b> </span>
            @Html.EJ().TreeView("drag").Items(items =>
               {
                   items.Add().Text("HTML").Id("HTML").Expanded(true).Children(child =>
                   {
                       child.Add().Text("Introduction");
                       child.Add().Text("Editors");
                       child.Add().Text("Styles");
                       child.Add().Text("Formatting");
                       child.Add().Text("Tables");

                   });
                   items.Add().Text("CSS").Id("CSS").Children(child =>
                   {
                       child.Add().Text("Introduction");
                       child.Add().Text("Statements");
                       child.Add().Text("Tables");
                       child.Add().Text("Box Model");
                       child.Add().Text("Position");

                   });
                   items.Add().Text("JAVA SCRIPT").Id("Javascript").Children(child =>
                   {
                       child.Add().Text("Introduction");
                       child.Add().Text("Variables");
                       child.Add().Text("Statements");
                       child.Add().Text("Data Types");
                       child.Add().Text("Functions");
                       child.Add().Text("Objects");

                   });
                   items.Add().Text("SQL").Id("SQL").Children(child =>
                   {
                       child.Add().Text("Introduction");
                       child.Add().Text("Distinct");
                       child.Add().Text("Oreder By");
                       child.Add().Text("Injection");
                       child.Add().Text("Primarykey");

                   });
                   items.Add().Text("PHP").Id("PHP").Children(child =>
                   {
                       child.Add().Text("Introduction");
                       child.Add().Text("Constants");
                       child.Add().Text("Operators");
                       child.Add().Text("Arrays");
                       child.Add().Text("Operators");
                   });
                   items.Add().Text("BOOTSTRAP").Id("Bootstrap").Children(child =>
                   {
                       child.Add().Text("Getting Started");
                       child.Add().Text("Grid Basic");
                       child.Add().Text("Typography");
                       child.Add().Text("Images");
                       child.Add().Text("Jumbotron");
                   });
               }).AllowDragAndDrop(true).AllowDropChild(false).AllowDropSibling(false).AllowDragAndDropAcrossControl(true).Width("auto").ClientSideEvents(s => s.NodeDropped("onDropped").NodeDragStart("onNodeDrag"))
        </div>
        <div class="col-md-9">
            <span class=""><b> Training Scheduler Panel</b> </br></span>
            <i>Note</i>: To Schedule classes, drag the topics from <b>Tutorials</b> and drop it over <b>Training Scheduler Panel</b>
            @(Html.EJ().Schedule("Schedule1")
                .Width("100%")
                .Height("525px")
                .CellWidth("40px")
                .Views(views)
                .Orientation(Orientation.Horizontal)
                .ShowCurrentTimeIndicator(false)
                .CurrentDate(new DateTime(2017, 6, 5))
                .Resources(res => { res.Field("OwnerId").Title("Owner").Name("Owners").AllowMultiple(true).ResourceSettings(flds => flds.Datasource((IEnumerable)ViewBag.Owners).Text("text").Id("id").Color("color")).Add(); })
                .Group(gr => { gr.Resources(ViewBag.Resources); })
                .AppointmentSettings(fields => fields.Datasource((IEnumerable)ViewBag.datasource)
                    .Id("Id")
                    .Subject("Subject")
                    .StartTime("StartTime")
                    .EndTime("EndTime")
                    .Description("Description")
                    .AllDay("AllDay")
                    .Recurrence("Recurrence")
                    .RecurrenceRule("RecurrenceRule")
                    .ResourceFields("OwnerId"))
            )
        </div>
    </div>

    <div id="customWindow" style="display: none">
        <form id="custom">
            <table width="100%" cellpadding="5">
                <tbody>
                    <tr>
                        <td>Subject:</td>
                        <td colspan="2">
                            <input id="subject" type="text" value="" name="Subject" style="width: 100%" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td colspan="2">
                            <textarea id="customdescription" name="Description" rows="3" cols="50" style="width: 100%; resize: vertical"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>StartTime:</td>
                        <td>
                            @Html.EJ().DateTimePicker("StartTime").Width("150px")
                        </td>
                    </tr>
                    <tr>
                        <td>EndTime:</td>
                        <td>
                            @Html.EJ().DateTimePicker("EndTime").Width("150px")
                        </td>
                    </tr>
                    <tr>
                        <td>Resource:</td>
                        <td colspan="2">
                            <input id="resource" type="text" value="" name="Resource" style="width: 100%" readonly />
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td>ownerId:</td>
                        <td colspan="2">
                            <input id="ownerId" type="text" name="OwnerId" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div>
            <button type="submit" onclick="cancel()" id="btncancel" style="float:right;margin-right:20px;margin-bottom:10px;">Cancel</button>
            <button type="submit" onclick="save()" id="btnsubmit" style="float:right;margin-right:20px;margin-bottom:10px;">Save</button>
        </div>
    </div>
}
<script>
    $(function () {
        $("#customWindow").ejDialog({
            width: 600,
            height: "auto",
            showOnInit: false,
            enableModal: true,
            title: "Create Appointment",
            enableResize: false,
            allowKeyboardNavigation: false,
            close: "clearFields"
        });
        $("#btnsubmit,#btncancel").ejButton({ width: '85px' });
    });

    function onNodeDrag(e) {
        if (e.targetElementData.parentId == "") return false;
    }

    function onDropped(e) {
        if ($(e.target).parents(".e-schedule").length != 0) {
            var scheduleObj = $("#Schedule1").data("ejSchedule");
            var result = scheduleObj.getSlotByElement($(e.target));
            // set value to custom appointmnt window fields
            $("#subject").val(e.droppedElementData.text);
            $("#customdescription").val(e.droppedElementData.text);
            $("#StartTime").ejDateTimePicker({ value: new Date(result.startTime) });
            $("#EndTime").ejDateTimePicker({ value: new Date(result.endTime) });
            $("#resource").val(result.resources.text);
            $("#ownerId").val(result.resources.id);
            $("#customWindow").ejDialog("open");
        }
    }

    function save() {
        var obj = {};
        var formelement = $("#customWindow").find("#custom").get(0);
        for (var index = 0; index < formelement.length; index++) {
            var columnName = formelement[index].name, $element = $(formelement[index]);
            if (columnName != undefined) {
                if (columnName == "Subject")
                    var value = formelement[index].value;
                if (columnName == "Desctiption")
                    value = formelement[index].value;
                if (columnName == "StartTime")
                    value = new Date(formelement[index].value);
                if (columnName == "EndTime")
                    value = new Date(formelement[index].value);
                if (columnName == "OwnerId")
                    value = formelement[index].value;
                if (columnName != "Resource")
                    obj[columnName] = value;
            }
        }
        $("#customWindow").ejDialog("close");
        var object = $("#Schedule1").data("ejSchedule");
        object.saveAppointment(obj);
    }

    function cancel() {
        $("#customWindow").ejDialog("close");
    }
</script>

<style>
    #custom table td {
        padding: 5px;
    }

    .e-icon.e-minus:before {
        content: "\e676";
    }
</style>
