@section SampleHeading{<span class="sampleName"> Schedule / Grouped Appointments</span>}
@section ControlsSection{
    <div>
        @(Html.EJ().Schedule("Schedule1")
        .Width("100%")
        .Height("525px")
        .CurrentDate(new DateTime(2017, 5, 5))
        .Resources(res =>
        {
            res.Field("OwnerId").Title("Owner").Name("Owners").AllowMultiple(true)
            .ResourceSettings(flds => flds.Datasource((IEnumerable)ViewBag.Owners).Text("text").Id("id").Color("color")).Add();
        })
        .Group(gr =>
        {
            gr.Resources(ViewBag.Resources);
            gr.AllowGroupEditing(true);
            //.AllowGroupEditing(true);


        })
        .AppointmentSettings(fields => fields.Datasource((IEnumerable)ViewBag.datasource)
            .Id("Id")
            .Subject("Subject")
            .StartTime("StartTime")
            .EndTime("EndTime")
            .Description("Description")
            .AllDay("AllDay")
            .Recurrence("Recurrence")
            .RecurrenceRule("RecurrenceRule")
            .ResourceFields("OwnerId"))

        )
    </div>
}
<div id="orientation">
    <ul>
        <li>Vertical</li>
        <li>Horizontal</li>
    </ul>
</div>
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Orientation
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("scheduleview").TargetID("orientation").Width("120px").SelectedItemIndex(0).ClientSideEvents(evt => evt.Change("onOrientation"))
        </div>
    </div>
}
<script>
    var obj;
    $(document).ready(function () {
        $("#sampleProperties").ejPropertiesPanel();
        obj = $("#Schedule1").data("ejSchedule");
    });
    function onOrientation(args) {
        if (args.value == "Horizontal") {
            $("#Schedule1").ejSchedule({ orientation: args.value.toLowerCase(), cellWidth: "40px" });
        }
        else {
            $("#Schedule1").ejSchedule({ orientation: args.value.toLowerCase(), cellWidth: "40px" });
        }
    }
</script>