@section SampleHeading{<span class="sampleName"> Schedule/Default</span>}
@section ControlsSection{
    @{List<string> view = new List<string>() { "Day", "Week", "WorkWeek", "Month" };}
    @(Html.EJ().Schedule("Schedule1")
        .Width("100%")
        .Height("525px")
        .Views(view)
        .AllowKeyboardNavigation(true)
        .CurrentDate(new DateTime(2017,6,5))
        .AppointmentSettings(fields => fields.Datasource((IEnumerable)ViewBag.datasource)
            .Id("Id")
            .Subject("Subject")
            .StartTime("StartTime")
            .EndTime("EndTime")
            .Description("Description")
            .AllDay("AllDay")
            .Recurrence("Recurrence")
            .RecurrenceRule("RecurrenceRule"))
        )
        
}

@section PropertiesSection{
     <div id="sampleProperties">
                <div class="prop-grid keyboard">
                    <div class="row">
                        <div class="col-md-3">
                            <b>Alt + j</b>
                        </div>
                        <div class="col-md-3">
                            Focuses the control
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <b>UP</b>
                        </div>
                        <div class="col-md-3">
                            Upward cell navigation
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <b>Down</b>
                        </div>
                        <div class="col-md-3">
                            Downward cell navigation
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <b>Left</b>
                        </div>
                        <div class="col-md-3">
                            Left cell navigation
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <b>Right</b>
                        </div>
                        <div class="col-md-3">
                            Right cell navigation
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <b>Tab</b>
                        </div>
                        <div class="col-md-3">
                            Appointment forward navigation
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <br />
                            <b>Shift + Tab</b>
                        </div>
                        <div class="col-md-3">
                            <br />
                            Appointment backward navigation
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <br />
                            <br />
                            <b>Alt + "+"</b>    
                        </div>
                        <div class="col-md-3">
                            <br />
                            <br />
                            Toolbar item forward navigation
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-md-3">
                            <b>Alt + N</b>
                        </div>
                        <div class="col-md-3">
                            Opens new appointment window
                        </div>
                        <div class="col-md-3">
                            <br />
                            <b>Alt + "-"</b>
                        </div>
                        <div class="col-md-3">
                            <br />
                            Toolbar item backward navigation
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <br />
                            <br />
                            <b>Ctrl + E</b>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <br />
                            Edit appointment window
                            <br />
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-3">
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-md-3">
                            <br />
                            <br />
                            <b>Alt + C</b>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <br />
                            Opens the Calendar
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-3">
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-md-3">
                            <br />
                            <b>Esc</b>
                        </div>
                        <div class="col-md-3">
                            <br />
                            Closes the appointment window
                        </div>
                    </div>
                </div>
          
}

@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();

            //Control focus key
            $(document).on("keydown", function (e) {
                if (e.altKey && e.keyCode === 74) {
                    // j- key code.
                    $("#Schedule1").find(".e-workcells").hasClass("e-selectedCell") && $("#Schedule1").find(".e-workcells").removeClass("e-selectedCell") || $("#Schedule1").find(".e-monthcells").hasClass("e-selectedCell") && $("#Schedule1").find(".e-monthcells").removeClass("e-selectedCell");
                    $("#Schedule1").find(".e-workcells").length != 0 ? $($("#Schedule1").find(".e-workcells")[0]).addClass("e-selectedCell").attr("tabIndex", "0").focus() : $($("#Schedule1").find(".e-monthcells")[0]).addClass("e-selectedCell").attr("tabIndex", "0").focus();
                    $("#Schedule1").find(".e-scrolltimecells").css("top", (-$("#Schedule1").find('.e-draggableworkarea').scrollTop()) + "px");
                    $("#Schedule1_scroller").ejScroller({ scrollTop: 0 });
                }
            });
        });
    </script>
}
