@section SampleHeading{
    <span class="sampleName">Schedule / Print Option</span>}
@section ControlsSection{
    @(Html.EJ().Schedule("Schedule1")
        .Width("100%")
        .Height("525px").ContextMenuSettings(cms => cms.Enable(true).MenuItems(item => item.Appointment(ViewBag.app)))
        .CurrentDate(new DateTime(2017, 6, 5))
        .TimeMode(Syncfusion.JavaScript.TimeMode.Hour24)
        .AppointmentSettings(fields => fields.Datasource((IEnumerable)ViewBag.datasource)
            .Id("Id")
            .Subject("Subject")
            .StartTime("StartTime")
            .EndTime("EndTime")
            .Description("Description")
            .AllDay("AllDay")
            .Recurrence("Recurrence")
            .RecurrenceRule("RecurrenceRule"))
    )
}

@section PropertiesSection{
    <div class="row">
        <div class="col-md-12">
            <p>To print the Schedule, click the below icon.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="reminder">
                <a class="pull-left" href="#" style="margin-top: 9px; outline: medium none;">
                    <div class="reminder-icon e-btn e-select"></div>
                </a>
            </div>
        </div>
    </div>
}

@section StyleSection{
    <style type="text/css">
        #reminder {
            width: 50px;
            height: 40px;
            margin-top: 1px;
        }

        .reminder-icon {
            background-image: url("../images/schedule/print.png") !important;
            background-repeat: no-repeat !important;
            background-position: 3px 3px !important;
            border: 1px solid #BBBCBB !important;
            height: 28px;
            width: 28px;
        }

            .reminder-icon:hover {
                background-image: url("../images/schedule/print-hover.png") !important;
            }
    </style>
}

@section ScriptSection{
    <script>
        $(document).ready(function () {
            $("#sampleProperties").ejPropertiesPanel();
            $('.reminder-icon').bind("click", function () {
                var obj = $("#Schedule1").data("ejSchedule");
                obj.print();
            });
        });
    </script>
}
