@section MetaTags{
    <meta name="description" content="This example shows how to work with SignalR in the ASP.NET MVC Scheduler.">
}
@section SampleHeading{<span class="sampleName">Schedule-SignalR-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{
    <div>
        @(Html.EJ().Schedule("Schedule1")
                .Width("100%")
                .Height("525px")
                .CurrentDate(new DateTime(2017, 6, 5))
                .ScheduleClientSideEvents(d => { d.BeforeAppointmentCreate("actionComplete"); d.ResizeStop("actionComplete"); d.DragStop("actionComplete"); d.Navigation("actionComplete"); d.BeforeAppointmentRemove("actionComplete"); d.BeforeAppointmentChange("actionComplete"); })
                .AppointmentSettings(fields => fields.Datasource((IEnumerable)ViewBag.datasource)
                    .Id("Id")
                    .Subject("Subject")
                    .StartTime("StartTime")
                    .EndTime("EndTime")
                    .Description("Description")
                    .AllDay("AllDay")
                    .Recurrence("Recurrence")
                    .RecurrenceRule("RecurrenceRule"))
        )

    </div>
}
<script src="@Url.Content("~/Scripts/jquery.signalR-1.1.4.min.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>

@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            window.signal = $.connection.scheduleHub;
            window.signal.client.modify = function (action, data) {
                $("#Schedule1").ejSchedule('instance').notifyChanges(action, data);
            };
            $.connection.hub.start().done(function () {
                window.actionComplete = function (args) {
                    if (args.methodType != "public" && (args.type == "beforeAppointmentCreate" || args.type == "resizeStop" || args.type == "dragStop" || args.type == "beforeAppointmentChange" || args.type == "beforeAppointmentRemove")) {
                        window.signal.server.modify(args.type, args.appointment);
                    }
                };
            });
        });
    </script>
}

