@section SampleHeading{
    <span class="sampleName">Autocomplete-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This example demonstrates how to create a Syncfusion ASP.NET MVC Autocomplete component and display a suggestion list when text is entered.">
}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @{
                Html.EJ()
                    .Autocomplete("selectCar")
                    .Width("100%")
                    .Datasource((IEnumerable<CarsList>)ViewBag.datasource)
                    .WatermarkText("Select a car")
                    .Render();
            }
        </div>
    </div>
}

