@section SampleHeading{
    <span class="sampleName">Autocomplete-Grouping-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This example demonstrates grouping items in the Syncfusion ASP.NET MVC Autocomplete and providing a header for each set of groups in the suggestion list.">
}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @{
                Html.EJ()
                    .Autocomplete("groupingCountry")
                    .Datasource((IEnumerable<Countries>)ViewBag.datasource)
                    .ItemsCount(7)
                    .Width("100%")
                    .FilterType(FilterOperatorType.Contains)
                    .AutocompleteFields(fields => fields.GroupBy("category"))
                    .HighlightSearch(true)
                    .WatermarkText("Select a country")
                    .Render();
            }
        </div>
    </div>
}

