@section SampleHeading{
    <span class="sampleName">Autocomplete / Methods</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @{
                Html.EJ()
                    .Autocomplete("selectCountry")
                    .Datasource((IEnumerable<Flags>)ViewBag.datasource)
                    .AutocompleteFields(f => f.Key("key"))
                    .Width("100%")
                    .WatermarkText("Select a country")
                    .Render();
            }
        </div>
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-12">
            @{
                Html.EJ()
                    .ToggleButton("check21")
                    .Width("105px")
                    .DefaultText("Disable")
                    .ActiveText("Enable")
                    .ClientSideEvents(e => e.Click("changeState"))
                    .Render();
            }
        </div>
        <div class="col-md-12">
            @{
                Html.EJ()
                    .Button("GetValue")
                    .Width("105px")
                    .Text("Get value")
                    .ClientSideEvents(e => e.Click("btnClick"))
                    .Render();
            }
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript" class="jsScript">
        var autocomplete;
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
            autocomplete = $('#selectCountry').data("ejAutocomplete");
        });
        function changeState(args) {
            autocomplete = $('#selectCountry').data("ejAutocomplete");
            if (args.isChecked) autocomplete.disable();
            else autocomplete.enable();
        }
        function btnClick() {
            alert("Current value is : " + autocomplete.getValue());
        }
    </script>
}
