
@section SampleHeading{ <span class="sampleName">Diagram /HTMLDataBinding Chart</span>}
<script id="htmlbinding" type="text/template">
    <table style="display: none">
        <thead>
            <tr>
                <th>Id
                </th>
                <th>Role
                </th>
                <th>ReportingPerson
                </th>
                <th>Color
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>parent</td>
                <td>Plant Manager</td>
                <td>null</td>
                <td>#0B4268</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Production Manager</td>
                <td>parent</td>
                <td>#D34A4A</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Administrative Officer</td>
                <td>parent</td>
                <td>#D34A4A</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Maintenance manager</td>
                <td>parent</td>
                <td>#D34A4A</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Control Room</td>
                <td>11</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Plant Operator</td>
                <td>11</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Foreman</td>
                <td>3</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Craft Personnel</td>
                <td>5</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Craft Personnel</td>
                <td>5</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Foreman</td>
                <td>4</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Craft Personnel</td>
                <td>8</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Electrical Supervisor</td>
                <td>2</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>111</td>
                <td>Mechanical Supervisor</td>
                <td>2</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Craft Personnel</td>
                <td>10</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Craft Personnel</td>
                <td>10</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Craft Personnel</td>
                <td>111</td>
                <td>#108D8D</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Craft Personnel</td>
                <td>111</td>
                <td>#108D8D</td>
            </tr>
        </tbody>
    </table>
</script>

@section ControlsSection{ @Html.EJ().Diagram("HtmlDatabinding").Width("100%").Height("590px").NodeTemplate("nodeTemplate").Layout(s => s.Type(Syncfusion.JavaScript.DataVisualization.DiagramEnums.LayoutTypes.HierarchicalTree).HorizontalSpacing(30).VerticalSpacing(40).MarginY(50)).SnapSettings(s => s.SnapConstraints(Syncfusion.JavaScript.DataVisualization.DiagramEnums.SnapConstraints.None)).DataSourceSettings(s => s.DataSource(ds => ds.Table("#htmlbinding")).Id("Id").Parent("ReportingPerson")).Layout(s => s.Type(Syncfusion.JavaScript.DataVisualization.DiagramEnums.LayoutTypes.HierarchicalTree).HorizontalSpacing(30).VerticalSpacing(30).MarginY(30)).DefaultSettings(s => s.Node(new Syncfusion.JavaScript.DataVisualization.Models.Diagram.Node() { Width = 70, Height = 40, FillColor = "darkcyan", BorderColor = "transparent", Constraints = (Syncfusion.JavaScript.DataVisualization.DiagramEnums.NodeConstraints.Default ^ Syncfusion.JavaScript.DataVisualization.DiagramEnums.NodeConstraints.Select | Syncfusion.JavaScript.DataVisualization.DiagramEnums.NodeConstraints.AllowPan), Labels = new Syncfusion.JavaScript.DataVisualization.Models.Collections.Collection() { new Syncfusion.JavaScript.DataVisualization.Models.Diagram.Label() { Name = "label1", FontColor = "white", Margin = new Syncfusion.JavaScript.DataVisualization.Models.Diagram.LabelMargin(0, 5, 5, 0) } } }).Connector(new Syncfusion.JavaScript.DataVisualization.Models.Diagram.Connector() { TargetDecorator = new Syncfusion.JavaScript.DataVisualization.Models.Diagram.Decorator() { Shape = Syncfusion.JavaScript.DataVisualization.DiagramEnums.DecoratorShapes.Arrow, BorderColor = "#4F4F4F", FillColor = "#4F4F4F" }, Segments = new Syncfusion.JavaScript.DataVisualization.Models.Collections.Collection() { new Syncfusion.JavaScript.DataVisualization.Models.Diagram.Segment(Syncfusion.JavaScript.DataVisualization.DiagramEnums.Segments.Orthogonal) } })).Tool(Syncfusion.JavaScript.DataVisualization.DiagramEnums.Tool.ZoomPan).EnableContextMenu(false)
          }

<script type="text/javascript">
    function nodeTemplate(diagram, node) {
        node.labels[0].text = node.Role;
        node.fillColor = node.Color;
        node.width = 120;
        node.height = 40;
    }

</script>
<script src="@Url.Content("~/Scripts/DiagramScripts/DiagramCommon.js")"></script>


<style>
    .svg-rotate-ie:hover
    {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }

    .svg-rotate
    {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }
</style>
