
@section SampleHeading{ <span class="sampleName">Diagram-Localization-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This sample demonstrates localization feature in the ASP.NET MVC diagram control.">
}
@section ControlsSection{
    <div>
        @Html.EJ().Diagram("DiagramContent", ViewData["diagramModel"] as Syncfusion.JavaScript.DataVisualization.Models.DiagramProperties)
    </div>
}
@section PropertiesSection{
    <div id="ddl">
        <ul>
            <li>English</li>
            <li>Deutsch</li>
            <li>Español</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-3" style="margin-top:8px">
            Selection Culture
        </div>
        <div class="col-md-3">
            @(Html.EJ().DropDownList("language")
                .TargetID("ddl")
                .SelectedItemIndex(0)
                .ClientSideEvents(eve => eve.Change("onChange"))
                .Width("120px")
                .EnableFilterSearch(true)
                )
        </div>
    </div>
}

@section ScriptSection{
    <script src="@Url.Content("~/Scripts/DiagramScripts/DiagramCommon.js")"></script>
    <script type="text/javascript">
        ej.datavisualization.Diagram.Locale["es-ES"] = {
            cut: "Corte",
            copy: "Copia",
            paste: "Pasta",
            undo: "Deshacer",
            redo: "Rehacer",
            selectAll: "Seleccionar todo",
            grouping: "Agrupación",
            group: "Grupo",
            ungroup: "Desagrupar",
            order: "Fin",
            bringToFront: "Traer a delante",
            moveForward: "Movimiento adelante",
            sendToBack: "Enviar a espalda",
            sendBackward: "Enviar hacia atrás"

        };
        ej.datavisualization.Diagram.Locale["de-DE"] = {
            cut: "Schnitt",
            copy: "Kopie",
            paste: "Klebstoff",
            undo: "Rückgängig ",
            redo: "Rehacer",
            selectAll: "Wählen alle",
            grouping: "Gruppierung",
            group: "Gruppe",
            ungroup: "Aufheben",
            order: "Bestellen",
            bringToFront: "Bringen zu Front",
            moveForward: "Umzug vorwärts",
            sendToBack: "Senden zu zurück",
            sendBackward: "Senden rückwärts"

        };
        var Labels = [];
        this.Labels["en-US"] = [
            { nodeName: "NewIdea", label: "Start Terminator" },
            { nodeName: "Meeting", label: "Progress" },
            { nodeName: "BoardDecision", label: "Decision" },
            { nodeName: "Data", label: "Data" },
            { nodeName: "End", label: "End Terminator" },
            { nodeName: "Document", label: "Document" },
            { nodeName: "connector3", label: "Yes" },
            { nodeName: "connector6", label: "No" }
        ]
        this.Labels["de-DE"] = [
            { nodeName: "NewIdea", label: "Start Terminator" },
            { nodeName: "Meeting", label: "Fortschritt" },
            { nodeName: "BoardDecision", label: "Entscheidung" },
            { nodeName: "Data", label: "Daten" },
            { nodeName: "End", label: "Ende Terminator" },
            { nodeName: "Document", label: "Dokument" },
            { nodeName: "connector3", label: "Ja" },
            { nodeName: "connector6", label: "Keine" }
        ]
        this.Labels["es-ES"] = [
            { nodeName: "NewIdea", label: "Comienzo Terminator" },
            { nodeName: "Meeting", label: "Progreso" },
            { nodeName: "BoardDecision", label: "Decisión" },
            { nodeName: "Data", label: "Datos" },
            { nodeName: "End", label: "Fin  Terminator" },
            { nodeName: "Document", label: "Documento" },
            { nodeName: "connector3", label: "Sí" },
            { nodeName: "connector6", label: "No" }
        ]

        function onChange(args) {
            if (!(ej.browserInfo().name === "msie" && Number(ej.browserInfo().version) < 9)) {
                var locale = "en-US";
                if (args.itemId == 1)
                    locale = "de-DE";
                else if (args.itemId == 2)
                    locale = "es-ES";
                $("#DiagramContent").ejDiagram("model.locale", locale);
                var diagram = $("#DiagramContent").ejDiagram("instance");
                var currentCulture = Labels[locale];
                for (var i = 0; i < currentCulture.length; i++) {
                    var node = diagram.nameTable[currentCulture[i].nodeName];
                    if (node)
                        diagram.updateLabel(node.name, node.labels[0], { text: currentCulture[i].label });
                }
            }
        }

        $(window).on("load", function () {
            $("#sampleProperties").ejPropertiesPanel();
        });

    </script>
    <script src="@Url.Content("~/Scripts/DiagramScripts/DiagramCommon.js")"></script>
}


<style>
    .svg-rotate-ie:hover
    {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }

    .svg-rotate
    {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }
</style>

