@section SampleHeading{ <span class="sampleName">Diagram / Organizational Chart</span>}
@section MetaTags{
    <meta name="description" content="This sample illustrates visualizing a simple organizational chart with an external data source and ASP.NET MVC diagram’s organizational chart algorithm.">
}
@section ControlsSection{
    <div id="main">
        @Html.EJ().Diagram("OrgChart", ViewData["diagramModel"] as Syncfusion.JavaScript.DataVisualization.Models.DiagramProperties)
    </div>

    <script type="text/javascript"> 
        function nodeTemplate(diagram, node) {
            node.labels[0].text = node.Function;
            node.fillColor = node.Color;
           
        }
    </script>
    <script src="@Url.Content("~/Scripts/DiagramScripts/DiagramCommon.js")"></script>
}


<style>
    .svg-rotate-ie:hover
    {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }

    .svg-rotate
    {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }
</style>
