@section SampleHeading{ <span class="sampleName">Diagram / UML Diagram</span>}
@section ControlsSection{
    <div>
        @Html.EJ().Diagram("UMLDiagram", ViewData["diagramModel"] as Syncfusion.JavaScript.DataVisualization.Models.DiagramProperties)
    </div>

}
@section ScriptSection{

    <script type="text/javascript">
        function nodeTemplate(diagram, node) {
            if (node.className) {
                node.type = "umlclassifier";
                node.classifier = "class";
                node.class = { name: node.className };
                node.minWidth = 0;
                node.minHeight = 0;
                if (node.properties && node.properties.length > 0)
                    node.class.attributes = node.properties;
                if (node.methods && node.methods.length > 0)
                    node.class.methods = node.methods;
                node.labels = [{ fontColor: "white" }, { fontColor: "white" }];
            }
        }
    </script>
    <script src="@Url.Content("~/Scripts/DiagramScripts/DiagramCommon.js")"></script>
}


<style>
    .svg-rotate-ie:hover
    {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }

    .svg-rotate
    {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }
</style>
