@section SampleHeading{ <span class="sampleName">Diagram / University OrgChart</span>}
@section ControlsSection{
    <div id="main">
        @Html.EJ().Diagram("OrgChart", ViewData["diagramModel"] as Syncfusion.JavaScript.DataVisualization.Models.DiagramProperties)
    </div>

    <script type="text/javascript"> 
        function nodeTemplate(diagram, node) {
            node.labels[0].text = node.Role;
            node.fillColor = node.Color;
        }
        function getLayoutInfo(diagram, node, options) {
            if (node.labels[0].text == "University President") {
                options.assistants.push(options.children[0]);
                options.children.splice(0, 1);
            }

            if (!options.hasSubTree) {
                if (node.ChartType) {
                    options.type = node.ChartType
                }
            }
        }
    </script>
    <script src="@Url.Content("~/Scripts/DiagramScripts/DiagramCommon.js")"></script>
}


<style>
    .svg-rotate-ie:hover
    {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }

    .svg-rotate
    {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }
</style>
