@section SampleHeading{<span class="sampleName">Rotator-Keyboard Navigation-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to access the Syncfusion ASP.NET MVC Rotator component functionalities using keyboard interactions.">
}
@section ControlsSection{
    <div class="frame">
        @Html.EJ().Rotator("sliderContent").Datasource((IEnumerable<localdata>)ViewBag.datasource).RotatorFields(t => t.Text("text").Url("url")).SlideWidth("100%").SlideHeight("350px").ShowPager(false).AllowKeyboardNavigation(true).ShowPlayButton(true).ShowThumbnail(true).IsResponsive(true)
    </div>
}

@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
           Alt + j
        </div>
        <div class="col-md-3">
            Focuses the control
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
           Up / Right
        </div>
        <div class="col-md-3">
            Move to next slide
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
           Down / Left
        </div>
        <div class="col-md-3">
            Move to previous slide
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
           Space 
        </div>
        <div class="col-md-3">
            Play/Pause slide
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
           Alt+Right
        </div>
        <div class="col-md-3">
            Move thumbnail item to left and select item
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
           Alt+left
        </div>
        <div class="col-md-3">
            Move thumbnail item to right and select item
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
           Enter
        </div>
        <div class="col-md-3">
            Move to selected thumbnail item 
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {

            //Control focus key
            $(document).on("keydown", function (e) {
                if (e.altKey && e.keyCode === 74) { // j- key code.
                    $("#sliderContent")[0].focus();
                }
            });
            $("#sampleProperties").ejPropertiesPanel();
        });
    </script>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .frame {
            width: 100%;
            box-sizing: border-box;
        }
        #sliderContent > li img {
            width: 100%;
            height: 350px;
        }      
    </style>

}

