@section SampleHeading{<span class="sampleName">Rotator / LocalData </span>}
@section ControlsSection{
    <div class="frame">
        @Html.EJ().Rotator("rot").Datasource((IEnumerable<localdata>)ViewBag.datasource).RotatorFields(t => t.Text("text").Url("url")).SlideWidth("100%").SlideHeight("350px").IsResponsive(true)

    </div>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .frame {
            width: 100%;
            box-sizing : border-box;
        }
        #rot > li img {
            width: 100%;
            height: 350px;
        }
    </style>
}
