@section SampleHeading{<span class="sampleName">Rotator-Thumbnail-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates creating thumbnails using the Syncfusion ASP.NET MVC Rotator component, which are used to view or access any rotator slides instantly.">
}
@section ControlsSection{
    <div class="frame">
        @Html.EJ().Rotator("sliderContent").Datasource((IEnumerable<localdata>)ViewBag.datasource).RotatorFields(t => t.Text("text").Url("url")).SlideWidth("100%").SlideHeight("300px").ShowPlayButton(false).AllowKeyboardNavigation(true).ShowPlayButton(true).ShowThumbnail(true).IsResponsive(true)
    </div>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .frame {
            width: 100%;
            box-sizing : border-box;
        }

        #sliderContent > li > img {
            width: 100%;
            height: 300px;
        }
    </style>
}


