@section SampleHeading{ <span class="sampleName">Barcode-Codabar-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{

    <div>
        <div>
            @Html.EJ().Barcode("CodaBarcode").Text("01234567").SymbologyType(BarcodeSymbolType.Codabar).DisplayText(true).QuietZone(qz=> {qz.All(30);})
        </div>
    </div>
    <script>
    
    </script>
}
@section StyleSection{

}
@section MetaTags{
   <meta name="description" content="Essential Studio Javascript Codabar barcode">
}

