@section SampleHeading{ <span class="sampleName">Barcode-Code 39 Extended-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{

    <div>
        <div>
            @Html.EJ().Barcode("39ExtBarcode").Text("SYNCFUSION").SymbologyType(BarcodeSymbolType.Code39Extended).DisplayText(true).QuietZone(qz=> {qz.All(30);})
        </div>
    </div>
    <script>
    
    </script>
}
@section StyleSection{

}
@section MetaTags{
   <meta name="description" content="Essential Studio Javascript Code39Extended barcode">
}

