@section SampleHeading{ <span class="sampleName">Barcode / QR Barcode</span>}

@section ControlsSection{

    <div>
        <div>
            @Html.EJ().Barcode("DataMatrixBarcode").Text("SYNCFUSION").SymbologyType(BarcodeSymbolType.DataMatrix).XDimension(8)
        </div>
    </div>
    <script>
    
    </script>
}
@section StyleSection{

}

