@section SampleHeading{ <span class="sampleName">Barcode / QR Barcode</span>}

@section ControlsSection{

    <div>
        <div>
            @Html.EJ().Barcode("DefaultBarcode").Text("//www.syncfusion.com").XDimension(8)
        </div>
    </div>
    <script>
    
    </script>
}
@section StyleSection{

}

