@section SampleHeading{
    <span class="sampleName">KanbanBoard-Column Constraints-ASP.NET MVC-SYNCFUSION</span>}
}
@section MetaTags{
    <meta name="description" content="This example demonstrates how to set limits for Syncfusion ASP.NET MVC Kanban columns and how to hold a maximum or minimum number of cards in a single column.">
}
@using Syncfusion.JavaScript.Models;
@section ControlsSection{
    @(Html.EJ().Kanban("Kanban")

                   .DataSource((IEnumerable<object>)ViewBag.datasource)
                   .Columns(col =>
                   {
                       col.HeaderText("Backlog").Key("Open").Add();
                       col.HeaderText("In Progress").Key("InProgress").Constraints(con => { con.Max(2).Type(KanbanType.Column); }).Add();
                       col.HeaderText("Done").Key("Close").Add();
                   })
                  .AllowTitle(true)
                  .EnableTotalCount(true)
                  .AllowSelection(false)
                  .EnableTouch(true)
                  .KeyField("Status")
                  .Fields(field =>
                  {
                      field.Color("Type")
                           .Content("Summary")
                           .ImageUrl("ImgUrl")
                           .PrimaryKey("Id")
                           .SwimlaneKey("Assignee");
                  })
    )

}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Constraint Type
        </div>
            <div id="constraint">
                <ul>
                    <li value="column">Column</li>
                    <li value="swimlane">Swimlane</li>
                </ul>
            </div>
        <div class="col-md-3">
            @(Html.EJ().DropDownList("typeselec")
                .Width("120px")
                .TargetID("constraint")
                .SelectedItemIndex(0)
                .ClientSideEvents(eve => { eve.Change("onConstraintTypeChange"); })
            )
        </div>
    </div>

}
@section ScriptSection{

    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        function onConstraintTypeChange(args) {
            var kanbanObj = $("#Kanban").data("ejKanban");
            var type = args.selectedValue;
            var cols = kanbanObj.model.columns;
            for (var i = 0; i < cols.length; i++) {
                if (!ej.isNullOrUndefined(cols[i].constraints))
                    cols[i].constraints.type = type;
            }
            kanbanObj.refreshColumnConstraints();
        }
    </script>
}

