@section SampleHeading{
    <span class="sampleName">KanbanBoard-Customization & Tooltip-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to display tooltips and customize the kanban card content and tooltip contents in the Syncfusion ASP.NET MVC Kanban component.">
}
@using Syncfusion.JavaScript.Models;
@section ControlsSection{
    @(Html.EJ().Kanban("Kanban")
                   .DataSource((IEnumerable<object>)ViewBag.datasource)
                   .Columns(col =>
                   {
                       col.HeaderText("Backlog").Key("Open").Add();
                       col.HeaderText("In Progress").Key("InProgress").Add();
                       col.HeaderText("Testing").Key("Testing").Add();
                       col.HeaderText("Done").Key("Close").Add();
                   })
                           .CardSettings(colorMap => 
                           {
                               colorMap.ColorMapping(
                                   col=>{
                                       col.Add("#ee4e75", "Bug,Story");
                                       col.Add("#57b94c", "Improvement");
                                       col.Add("#edba3c", "Epic");
                                        }); 
                           })
                  .AllowTitle(true)
                  .AllowSelection(false)
                  .ClientSideEvents(eve =>
                  {
                      eve.QueryCellInfo("queryCellInfo");
                  })
                  
                  .TooltipSettings(tooltip => { tooltip.Enable(true); })
                  .KeyField("Status")
                  .Fields(field =>
                  {
                      field.Color("Type")
                           .Content("Summary")
                           .ImageUrl("ImgUrl")
                           .Tag("Tags")
                           .Priority("RankId")
                           .PrimaryKey("Id");

                  })
    )

}

@section PropertiesSection{
   <div class="row">
    <div class="col-md-3">
        Enable Tooltip
    </div>
    <div class="col-md-3">
        @Html.EJ().CheckBox("enableToolTip").Checked(true).ClientSideEvents(eve => { eve.Change("onTooltipChange"); })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        Enable Tooltip Template
    </div>
    <div class="col-md-3">
        @Html.EJ().CheckBox("enableToolTipTemp").Checked(false).ClientSideEvents(eve => { eve.Change("onTooltipTemp"); })
    </div>
</div>
            
}
@section ScriptSection{
    <script id="tooltipTemp" type="text/x-jsrender">
        <div class='e-kanbantooltiptemp'>
            <table>
                <tr>
                    <td class="photo">
                        <img src="{{:ImgUrl}}">
                    </td>
                    <td class="details">
                        <table>
                            <colgroup>
                                <col width="30%">
                                <col width="70%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td class="CardHeader">Assignee:</td>
                                    <td>{{:Assignee}}</td>
                                </tr>
                                <tr>
                                    <td class="CardHeader">Type:</td>
                                    <td>{{:Type}}</td>
                                </tr>
                                <tr>
                                    <td class="CardHeader">Estimate:</td>
                                    <td>{{:Estimate}}</td>
                                </tr>
                                <tr>
                                    <td class="CardHeader">Summary:</td>
                                    <td>{{:Summary}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </script>
    <script type="text/javascript">
        
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
            
        });
        function queryCellInfo(args) {
            $($(args.card).find(".e-primarykey")).html("<a href='#'>" + args.data.Id + "</a>");
        }
        function onTooltipChange(args) {
            $("#Kanban").ejKanban("option", "tooltipSettings.enable", args.isChecked);
        }
        function onTooltipTemp(args) {
            $("#Kanban").ejKanban("option", "tooltipSettings.template", args.isChecked == true ? "#tooltipTemp" : null);
        }
    </script>
}

@section StyleSection{
    <style type="text/css" class="cssStyles">
        .details > table {
            width: 100%;
            margin-left: 2px;
            border-collapse: separate;
            border-spacing: 1px;
        }

        .e-kanbantooltiptemp {
            width: 250px;
            padding: 3px;
        }

            .e-kanbantooltiptemp > table {
                width: 100%;
            }

            .e-kanbantooltiptemp td {
                vertical-align: top;
            }

        td.details {
            padding-left: 10px;
        }

        .CardHeader {
            font-weight: bolder;
        }
    </style>
}

