@section SampleHeading{
    <span class="sampleName">KanbanBoard-Scrolling-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to customize the width and height in the Syncfusion ASP.NET MVC Kanban component.">
}
@using Syncfusion.JavaScript.Models;
    @section ControlsSection{
    @(Html.EJ().Kanban("Kanban")
                   .DataSource((IEnumerable<object>)ViewBag.datasource)
                   .Columns(col =>
                   {
                       col.HeaderText("Backlog").Key("Open").Width(250).Add();
                       col.HeaderText("In Progress").Key("InProgress").Width(220).Add();
                       col.HeaderText("Testing").Key("Testing").Width(220).Add();
                       col.HeaderText("Done").Key("Close").Width(250).Add();
                   })
                  .AllowScrolling(true)
                  .ScrollSettings(sSettings => { sSettings.Width(700).Height(800); })         
                  .AllowTitle(true)
                  .AllowSelection(false)
                  .KeyField("Status")
                  .Fields(field =>
                  {
                      field.Color("Type")
                           .Content("Summary")
                           .ImageUrl("ImgUrl")
                           .PrimaryKey("Id")
                           .SwimlaneKey("Assignee");
                  })
    )

}
@section ScriptSection{
   <script type="text/javascript">
       $(function() {
           $("#sampleProperties").ejPropertiesPanel();
       });
       function onFreezeSwimlane(args) {           
			   $("#Kanban").ejKanban("option", { "scrollSettings": { "allowFreezeSwimlane": args.isChecked } });
       }
       </script>
       }
@section PropertiesSection{
<div class="row">
    <div class="col-md-3">
        Allow Freeze Swimlane
    </div>
    <div class="col-md-3">
        @Html.EJ().CheckBox("freezeSwimlaneCheck").ClientSideEvents(eve => { eve.Change("onFreezeSwimlane"); })
    </div>
</div>
}

