@section SampleHeading{
    <span class="sampleName">KanbanBoard-Selection & Hover-ASP.NET MVC-SYNCFUSION</span>}
}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to select single or multiple cards and the hover behavior of cards in the Syncfusion ASP.NET MVC Kanban component.">
}
@using Syncfusion.JavaScript.Models;
    @section ControlsSection{
    @(Html.EJ().Kanban("Kanban")
                   .DataSource((IEnumerable<object>)ViewBag.datasource)
                   .Columns(col =>
                   {
                       col.HeaderText("Backlog").Key("Open").Add();
                       col.HeaderText("In Progress").Key("InProgress").Add();
                       col.HeaderText("Testing").Key("Testing").Add();
                       col.HeaderText("Done").Key("Close").Add();
                   })
                  .AllowTitle(true)
                  .SelectionType(SelectionType.Single)
                  .KeyField("Status")
                  .Fields(field =>
                  {
                      field.Color("Type")
                           .Content("Summary")
                           .PrimaryKey("Id")
                           .ImageUrl("ImgUrl");
                  })

    )

}



@section PropertiesSection{




<div class="row">
    <div class="col-md-3">
        Allow Hover
    </div>
    <div class="col-md-3">
        @(Html.EJ().CheckBox("rowhoverCheck").Checked(true)
        .ClientSideEvents(eve => { eve.Change("onHover"); })
        )
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        Allow Selection
    </div>
    <div class="col-md-3">
        @(Html.EJ().CheckBox("selectionCheck").Checked(true)
        .ClientSideEvents(eve => { eve.Change("onSelection"); })
        )
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        Selection Type
    </div>
    <div id="ddl1">
        <ul>
            <li value="single">Single</li>
            <li value="multiple">Multiple</li>
        </ul>
    </div>
    <div class="col-md-3">
        @(Html.EJ().DropDownList("selection")
                .Width("120px")
                        .TargetID("ddl1")
                .SelectedItemIndex(0)
                        .ClientSideEvents(eve => { eve.Change("onSelectionTypeChange"); })
        )
    </div>
</div>
}



@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        function onSelectionTypeChange(args) {
            var kanbanObj = $("#Kanban").data("ejKanban");

            var columnName = $("#selection").data("ejDropDownList")._selectedValue;
            kanbanObj.KanbanSelection.clear();
            $("#Kanban").ejKanban({ selectionType: columnName });
        }
        function onHover(args) {
            var kanbanObj = $("#Kanban").data("ejKanban");
            if (args.isChecked)
                kanbanObj.model.allowHover = true;
            else
                kanbanObj.model.allowHover = false;
        }
        function onSelection(args) {
            var kanbanObj = $("#Kanban").data("ejKanban");
            if (args.isChecked)
                kanbanObj.model.allowSelection = true;
            else {
                kanbanObj.KanbanSelection.clear();
                kanbanObj.model.allowSelection = false;
            }
        }
        
        
    </script>
}

