@section SampleHeading{
    <span class="sampleName">KanbanBoard-Toggle Column-ASP.NET MVC-SYNCFUSION</span>}
}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to collapse or expand a particular column in the Syncfusion ASP.NET MVC Kanban component.">
}
@using Syncfusion.JavaScript.Models;
    @section ControlsSection{
    @(Html.EJ().Kanban("Kanban")
                   .DataSource((IEnumerable<object>)ViewBag.datasource)
                   .Columns(col =>
                   {
                       col.HeaderText("Backlog").Key("Open").Add();
                       col.HeaderText("In Progress").Key("InProgress").Add();
                       col.HeaderText("Testing").Key("Testing").Add();
                       col.HeaderText("Done").Key("Close").Add();
                   })
                  .AllowTitle(true)
                  .AllowSelection(false)
                  .AllowToggleColumn(true)
                  .KeyField("Status")
                  .Fields(field =>
                  {
                      field.Color("Type")
                           .Content("Summary")
                           .PrimaryKey("Id")
                           .ImageUrl("ImgUrl");
                  })
    )

}

