@section SampleHeading{
    <span class="sampleName">Toolbar / Data Binding - Remote Data</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().Toolbar("toolbarOdata").Datasource(ds => ds.URL("//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc/").CrossDomain(true)).Query("ej.Query().from('Orders').take(6)").ToolbarFields(f => f.Text("CustomerID")).Orientation(Orientation.Horizontal).Width("100%")
        </div>
    </div>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
		.material .frame{
			width: 495px;
		}
		.frame {
            width:35%;
        }

        .control {
            color: black;
            font-size: medium;
        }
		.material .frame{
		width: 495px;
	}

    </style>
}
