@section SampleHeading{
    <span class="sampleName">Toolbar / Default Functionalities</span>}
@section ControlsSection{

    <div class="frame">
        <div class="control">
            <div class="ctrllabel">
                Toolbar
            </div>
            @Html.EJ().Toolbar("editingToolbar").Items(s =>
                          {
                              s.Add().SpriteCssClass("LeftAlign_tool").TooltipText("Left");
                              s.Add().SpriteCssClass("CenterAlign_tool").TooltipText("Center");
                              s.Add().SpriteCssClass("RightAlign_tool").TooltipText("Right");
                              s.Add().SpriteCssClass("Justify_tool").TooltipText("Justify");
                          }).Items(s1 =>
                              {
                                  s1.Add().SpriteCssClass("Bold_tool").TooltipText("Bold");
                                  s1.Add().SpriteCssClass("Italic_tool").TooltipText("Italic");
                                  s1.Add().SpriteCssClass("StrikeThrough_tool").TooltipText("StrikeThrough");
                                  s1.Add().SpriteCssClass("Underline_tool").TooltipText("UnderLine");
                              }).Width("100%")
        </div>
    </div>
	<style>
	.material .frame{
		width: 497px;
	}
	</style>
}
@section StyleSection{
    <link href="@Url.Content("~/Content/Samples/ToolbarDefault.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Samples/ToolbarDefaultLabel.css")" rel="stylesheet" />
}
