@section SampleHeading{
    <span class="sampleName">Toolbar / Inline Toolbar</span>}
@section ControlsSection{

    <div class="frame" style="width:300px">
        <div class="control">

            @Html.EJ().Toolbar("inlinetoolbar").Items(s =>
       {
           s.Add().SpriteCssClass("e-icon e-cut_01").TooltipText("Cut");
           s.Add().SpriteCssClass("e-icon e-copy_02").TooltipText("Copy");
           s.Add().SpriteCssClass("e-icon e-paste_01").TooltipText("Paste");
           s.Add().SpriteCssClass("e-icon e-edit").TooltipText("Edit");
           s.Add().SpriteCssClass("e-icon e-save").TooltipText("Save");
       }).Items(s1 =>
       {
           s1.Add().SpriteCssClass("e-icon e-bold_01").TooltipText("Bold");
           s1.Add().SpriteCssClass("e-icon e-underline_01").TooltipText("Underline");
           s1.Add().SpriteCssClass("e-icon e-strikethrough_01").TooltipText("StrikeThrough");

       }).Items(s2 =>
       {
           s2.Add().SpriteCssClass("e-icon e-align-left_01").TooltipText("Left");
           s2.Add().SpriteCssClass("e-icon e-align-center_01").TooltipText("Center");
           s2.Add().SpriteCssClass("e-icon e-align-right_01").TooltipText("Right");
           s2.Add().SpriteCssClass("e-icon e-align-justify_01").TooltipText("Justify");

       }).Items(s3 =>
       {
           s3.Add().SpriteCssClass("e-icon e-reload").TooltipText("Reload");
           s3.Add().SpriteCssClass("e-icon  e-delete").TooltipText("Delete");
           s3.Add().SpriteCssClass("e-icon e-print_02").TooltipText("Print");
           s3.Add().SpriteCssClass("e-icon e-excel-export ").TooltipText("Export");
       }).Width("320px").IsResponsive(true).ResponsiveType(ResponsiveType.Inline).EnableSeparator(true)
        </div>
    </div>
    <style>
        .material .frame {
            width: 497px;
        }

        .e-toolbar > .e-horizontal.e-ul > li {
            margin-top: 4px;
        }
    </style>
}
