@section SampleHeading{
    <span class="sampleName">Toolbar-Keyboard Navigation-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().Toolbar("toolbarKeySupport").Items(s =>
                          {
                              s.Add().SpriteCssClass("Stop").TooltipText("Stop");
                              s.Add().SpriteCssClass("Back").TooltipText("Previous");
                              s.Add().SpriteCssClass("FastForward").TooltipText("Preview");
                              s.Add().SpriteCssClass("Play").TooltipText("Play");
                              s.Add().SpriteCssClass("FastForward1").TooltipText("Review");
                              s.Add().SpriteCssClass("Back1").TooltipText("Next");
                              s.Add().SpriteCssClass("End").TooltipText("Load/Ejaect");
                              s.Add().SpriteCssClass("PlayOnce").TooltipText("PlayOnce");
                              s.Add().SpriteCssClass("RepeatAll").TooltipText("RepeatAll");
                              s.Add().SpriteCssClass("playerSkew").TooltipText("Skew");
                          }).Width("100%")
        </div>
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Alt + j
        </div>
        <div class="col-md-3">
            Focuses the control
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Up
        </div>
        <div class="col-md-3">
            Navigates up and right.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Down
        </div>
        <div class="col-md-3">
            Navigates down and left.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Left
        </div>
        <div class="col-md-3">
            Navigates down and left.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Right
        </div>
        <div class="col-md-3">
            Navigates up and right.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Home
        </div>
        <div class="col-md-3">
            Navigates to the starting item.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            End
        </div>
        <div class="col-md-3">
            Navigates to the ending item.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Enter
        </div>
        <div class="col-md-3">
            Selects the focused item
        </div>
    </div>
	<style>
	.material .frame{
			width: 678px;
			padding:50px 5px 65px
		}
	</style>
}
@section StyleSection{
    <link href="@Url.Content("~/Content/Samples/ToolKeyboard.css")" rel="stylesheet" />
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            //Control focus key
            $(document).on("keydown", function (e) {
                if (e.altKey && e.keyCode === 74) { // j- key code.
                    $("#toolbarKeySupport").focus();
                }
            });

            $("#sampleProperties").ejPropertiesPanel();
        });
    </script>
}

