@section SampleHeading{
    <span class="sampleName">Toolbar-Orientation-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <div class="toolhor">
                @Html.EJ().Toolbar("edittoolsh").Datasource((IEnumerable<ToolbarOrientation>)ViewBag.datasource).ToolbarFields(f => f.ID("edid").SpriteCssClass("spriteCss")).Orientation(Orientation.Horizontal).Width("100%")
            </div>
            <br />
            <div class="toolver">
                @Html.EJ().Toolbar("edittoolsv").Width("48").Datasource((IEnumerable<ToolbarOrientation>)ViewBag.datasource).ToolbarFields(f => f.ID("edid").SpriteCssClass("spriteCss")).Orientation(Orientation.Vertical)
            </div>
        </div>
    </div>
}
@section StyleSection{
    <link href="@Url.Content("~/Content/Samples/ToolOrient.css")" rel="stylesheet" />
	<style>
		.material .frame{
					width: 618px;
		}
    </style>
}

