@section SampleHeading{
    <span class="sampleName">Toolbar / Template</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <div id="toolbarTemplate">
                <ul>
                    <li>
                        <div class="ctrlradio">
                            <input type="radio" name="small" id="Radio1" />
                        </div>
                        option </li>
                    <li id="Dropdown" title="Dropdown Control">
                        @Html.EJ().DropDownList("selectcar").Height("23").Width("100").TargetID("cars").SelectedItemIndex(0)
                        <div id="cars">
                            <ul>
                                <li>Audi A4</li>
                                <li>Audi A5</li>
                                <li>Audi A6</li>
                                <li>Audi A7</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            // declaration
            $("#Radio1").ejRadioButton({ checked: false });
            $("#toolbarTemplate").ejToolbar({ width: "100%" });
        });
    </script>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .ctrlradio {
            padding-top: 4px;
            padding-right: 5px;
            float: left;
        }
		.material .frame{
			width: 460px;
		}
        .frame {
            width: 35%;
        }

        .control {
            color: black;
            font-family: 'Segoe UI';
            font-size: medium;
        }

        #selectcar {
            line-height: 20px;
        }
    </style>
}
