@section SampleHeading{
    <span class="sampleName">ListBox-Grouping-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to group items and providing a header for each group in the Syncfusion ASP.NET MVC ListBox component.">
}
@section ControlsSection{
    <div class="control frame">
        <div class="ctrllabel">
            Select a country
        </div>
        @Html.EJ().ListBox("grup").Datasource((IEnumerable<Countries>)ViewBag.datasource).ListBoxFields(df => df.Text("text").GroupBy("category")).ClientSideEvents(evt => evt.Create("setheight"))
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
    function setheight(){
         if (document.body.firstElementChild.className =="htmljssamplebrowser material" ||"htmljssamplebrowser office-365"){
             setTimeout(function () {
                 var obj = $("#grup").ejListBox("instance");
                obj._refreshScroller(); }, 500);
                 }
    }
    </script>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .ctrllabel {
            padding: 0px 0px 12px 3px;
            font-weight: 600;
        }

        .e-ddl-popup {
            margin: 0 auto;
        }

    </style>
}

