@section SampleHeading{
    <span class="sampleName">ListBox / Icons</span>}
@section ControlsSection{
    <div class="control frame">
        <div class="ctrllabel">
            Select an item
        </div>
        @Html.EJ().ListBox("selectmailtools").TargetID("mailtoolslist").Height("220px").ClientSideEvents(evt => evt.Create("setheight"))
        <div>
            <ul id="mailtoolslist">
                <li>
                    <img src="../Content/images/listbox/Categorize.png" alt="Categorize" />
                    Categorize and Move</li>
                <li>
                    <img src="../Content/images/listbox/Done.png" alt="Done" />
                    Done</li>
                <li>
                    <img src="../Content/images/listbox/Flag.png" alt="Flag" />
                    Flag & Move</li>
                <li>
                    <img src="../Content/images/listbox/Forward.png" alt="Forward" />
                    Forward</li>
                <li>
                    <img src="../Content/images/listbox/Move.png" alt="Move" />
                    Move to Folder</li>
                <li>
                    <img src="../Content/images/listbox/Email.png" alt="E-mail" />
                    New E-mail</li>
                <li>
                    <img src="../Content/images/listbox/Meeting.png" alt="Meeting" />
                    New Meeting</li>
                <li>
                    <img src="../Content/images/listbox/Reply.png" alt="Reply" />
                    Reply & Delete</li>
            </ul>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
    function setheight(){
         if (document.body.firstElementChild.className =="htmljssamplebrowser material" ||"htmljssamplebrowser office-365"){
             setTimeout(function () {
                 var obj = $("#selectmailtools").ejListBox("instance");
                obj._refreshScroller(); }, 500);
                 }
    }
    </script>
}
@section StyleSection{
    <style type="text/css">

        .ctrllabel {
            padding: 0px 0px 12px 3px;
            font-weight: 600;
        }

        .e-ddl-popup {
            margin: 0 auto;
        }

        img {
            padding-right: 10px;
            padding-top: 3px;
            width: 18px;
            height: 15px;
        }
    </style>
}
