@section SampleHeading{
    <span class="sampleName">ListBox / Keyboard Interaction</span>}
@section ControlsSection{
        <div class="control frame">
            <div class="ctrllabel">
                Select a font style</div>
            @Html.EJ().ListBox("fontnames").Datasource((IEnumerable<Fonts>)ViewBag.datasource).ListBoxFields(df => df.Text("font").Value("font")).ClientSideEvents(evt => evt.Create("setheight"))
        </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
         Alt + J
        </div>
        <div class="col-md-3">
            Focuses the control
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
         Up
        </div>
        <div class="col-md-3">
            Navigates upwards
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
         Down
        </div>
        <div class="col-md-3">
            Navigates downwards
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
         Left
        </div>
        <div class="col-md-3">
            Navigates upwards
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
         Right
        </div>
        <div class="col-md-3">
            Navigates downwards
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
         Home
        </div>
        <div class="col-md-3">
            Navigates to the starting item
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
         End
        </div>
        <div class="col-md-3">
            Navigates to the ending item
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
         Enter
        </div>
        <div class="col-md-3">
            Selects the focused item
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        var target;
        $(function () {
            //Control focus key
            $(document).on("keydown", function (e) {
                if (e.altKey && e.keyCode === 74) { // j- key code.
                    var target = $('#fontnames').data("ejListBox");
                    target.selectItemByIndex(0);
                    $("#fontnames_container").focus();
                }
            });
            $("#sampleProperties").ejPropertiesPanel();
        });
        function setheight() {
            if (document.body.firstElementChild.className == "htmljssamplebrowser material" || "htmljssamplebrowser office-365") {
                setTimeout(function () {
                    var obj = $("#fontnames").ejListBox("instance");
                    obj._refreshScroller();
                }, 500);
            }
        }
    </script>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .ctrllabel {
            padding: 5px 0px 12px 3px;
            font-weight: 600;
        }

        .e-ddl-popup {
            margin: 0 auto;
        }

    </style>
}
