@section SampleHeading{
    <span class="sampleName">ListBox / Multi-Select</span>}
@section ControlsSection{
    <div class="control frame">
        <div class="ctrllabel">
            Select your skills
        </div>
        @Html.EJ().ListBox("skillsets").Datasource((IEnumerable<Languages>)ViewBag.datasource).ListBoxFields(f => f.Text("skill")).AllowMultiSelection(true).Width("200").ClientSideEvents(evt => evt.Create("setheight"))
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        var target;
        $(function () {
            target = $('#skillsets').data("ejListBox");
        });
        function setheight() {
            if (document.body.firstElementChild.className == "htmljssamplebrowser material" || "htmljssamplebrowser office-365") {
                setTimeout(function () {
                    var obj = $("#skillsets").ejListBox("instance");
                    obj._refreshScroller();
                }, 500);
            }
        }
    </script>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .ctrllabel {
            padding: 0px 0px 12px 3px;
            font-weight: 600;
        }

        .e-ddl-popup {
            margin: 0 auto;
        }

    </style>
}
