@section SampleHeading{
    <span class="sampleName">ListBox-Databinding - Remote Data-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to bind the remote data source key value mapping in the Syncfusion ASP.NET MVC ListBox component.">
}
@section ControlsSection{
    <div class="control frame">
        <div class="ctrllabel">
            Select a customer
        </div>
        @Html.EJ().ListBox("customerList").Datasource(ds => ds.URL("//js.syncfusion.com/ejServices/wcf/NorthWind.svc/").CrossDomain(true)).Query("ej.Query().from('Customers').take(10)").ListBoxFields(f => f.Text("CustomerID"))
    </div>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .ctrllabel {
            padding: 0px 0px 12px 3px;
            font-weight: 600;
        }

        .e-ddl-popup {
            margin: 0 auto;
        }

    </style>
}

