.audithead {
  
    background-color: #20B2AA;
    color: #FFFFFF;
    font: 26px Segoe UI;  
    width: 100%;
    height:50px;
    line-height:50px;
    float:left;
}
input{line-height:20px ! important;}
body{min-width:1366px;background-color: rgb(235, 235, 235)! important;}
.container{width:100%;float:left;}
.leftcontainer{width:45%;float:left;box-sizing:border-box;padding-left:0px;}
.rightcontainer{width:55%;float:left;box-sizing:border-box;}
.titleDesc{width:100%;float:left;padding:15px 20px;font: 14px segoe ui;clear:both;box-sizing:border-box;margin-top:25px;padding-left:60px;color:#515151;}
.LeftField{width:50%;float:left;box-sizing:border-box;font: 16px segoe ui;padding:15px;margin-bottom:20px;}
.RightField{width:50%;float:left;box-sizing:border-box;padding:15px;margin-bottom:20px;font: 16px segoe ui;}
.LabelDiv{width:100%;float:left;clear:both;padding-left:50px;padding-top:12px;padding-bottom:7px;font:12px segoe ui;font-weight:600;color:#6b6b6b;}
.InputDiv{width:100%;float:left;clear:both;padding-left:50px;}
.Logo{margin-left:10px;margin-top:8px;float:left;}
.titleAudit{float:left;margin-left:10px;font:22px segoe ui;line-height:50px;font-weight:500;}
.outputresult {
    width: 96%;
    float: left;
    background-color: white;
    box-sizing:border-box;
    margin-top:40px;
    padding-bottom:60px;
    color:#6d6d6d;
}
.hr{padding-left:8%;width:100%;box-sizing:border-box;padding-right:8%;float:left;}
.outputDesc{text-align:center;width:100%;float:left;padding:10px 5px;font:18px segoe ui;padding-bottom:5px;}
.imageDiv{width:100%;height:120px;float:left;text-align:center;padding-top:80px;padding-bottom:30px;}
.YesorNo{width:100%;height:50px;line-height:50px;text-align:center;float:left;font:30px segoe ui;font-weight:bold;}
.taxDesc{width:100%;text-align:center;float:left;font:18px segoe ui;height:60px;}

html, body
{
    width: 100%;
    margin: 0;
}

.button
{
    position: fixed;
    top: 500px;
    left: 30px;
}



.labelstyle
{
    font-weight:normal;
    width:460px;
    position: fixed;
  
    left: 55px;
    font-family: Arial Unicode MS;
    /*font-weight: bold;*/
    font-size: 14px;
}

.main
{
    font-size: 18px !important;
    font-family: 'Segoe UI';
    font-weight: bold;
    position: fixed;
    top: 10px;
    left: 20px;
}
.formSubmit{
    font-family: Calibri;
    font-size:16px;
    font-weight:lighter;
  
    background-color:#CC3333;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    width: 510px;
    margin-top: 15px;
    margin-left:65px;
   
    border: 5px solid #A82321;
    border-width:1px 1px 5px 1px;
    padding: 10px 15px 11px !important;
    height:40px;
  
}



.label_text {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 12px;
   
}
@media (min-width:771px)and (max-width:995px)
{
body{min-width:968px;background-col	or: rgb(235, 235, 235)! important;}
.titleDesc{width:508px;float:left;padding:15px 20px;font: 14px segoe ui;clear:both;box-sizing:border-box;margin-top:25px;padding-left:60px;color:#515151;}
.LeftField{width:45%;float:left;box-sizing:border-box;font: 16px segoe ui;margin-bottom:20px;}
.RightField{width:55%;float:left;box-sizing:border-box;margin-bottom:20px;font: 16px segoe ui;}
.rightcontainer{width:45%;float:right;margin-bottom:40px;box-sizing:border-box;}
.leftcontainer{width:50%;float:left;height:480px;box-sizing:border-box;padding-left:0px;}
.outputresult {
    width: 96%;
    float: left;
    background-color: white;
    box-sizing:border-box;
	height:480px;
    margin-top:40px;
    padding-bottom:60px;
    color:#6d6d6d;
}
.formSubmit{
    font-family: Calibri;
    font-size:16px;
    font-weight:lighter;
    background-color:#CC3333;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    width: 420px;
    margin-top: 15px;
    margin-left:65px;
   
    border: 5px solid #A82321;
    border-width:1px 1px 5px 1px;
    padding: 10px 15px 11px !important;
    height:40px;
  
}
}
@media (min-width:551px) and (max-width:770px)
{
body{min-width:700px;background-color: rgb(235, 235, 235)! important;}
.LeftField{width:40%;box-sizing:border-box;float:left;border-box;font: 16px segoe ui;}
.RightField{width:40%;box-sizing:border-box;float:left;font: 16px segoe ui;}
.titleDesc{width:590px;float:left;padding:15px 20px;font: 14px segoe ui;clear:both;box-sizing:border-box;margin-top:25px;padding-left:60px;color:#515151;}
.RightField{width:10%;float:right;box-sizing:border-box;font: 16px segoe ui;}
.rightcontainer{width:81%;padding-left:65px;margin-bottom:40px;float:left;box-sizing:border-box;}
.formSubmit{
    font-family: Calibri;
    font-size:16px;
    font-weight:lighter;
	float:down;
    background-color:#CC3333;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    width: 153%	;	
    margin-top: 15px;
    margin-left:65px;
	
    border: 5px solid #A82321;
    border-width:1px 1px 5px 1px;
    padding: 10px 15px 11px !important;
    height:40px;
  
}
}
@media(max-width:550px)
{
body{min-width:500px;background-color: rgb(235, 235, 235)! important;}
.LeftField{width:100%;float:none;padding-left: initial;font: 16px segoe ui;}
.RightField{width:100%;padding-left: initial;font: 16px segoe ui;}
.titleDesc{width:300px;float:left;padding:15px 20px;font: 14px segoe ui;clear:both;box-sizing:border-box;margin-top:25px;padding-left:50px;color:#515151;}
.rightcontainer{width:52%;float:none;margin-bottom:40px;padding-left:50px;}
.outputresult {
    width: 96%;
    float: left;
	height: 350px;
    background-color: white;
    box-sizing:border-box;
    margin-top:40px;
	margin-bottom:25px;
    padding-bottom:60px;
    color:#6d6d6d;
}
.imageDiv{width:100%;height:120px;float:left;text-align:center;padding-top:25px;padding-bottom:30px;}
.YesorNo{width:100%;height:50px;line-height:50px;text-align:center;float:left;font:24px segoe ui;font-weight:bold;}
.taxDesc{width:100%;text-align:center;float:left;font:16px segoe ui;height:60px;}
.formSubmit{
    font-family: Calibri;
    font-size:16px;
    font-weight:lighter;
	float:down;
    background-color:#CC3333;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    width: initial;
    margin-top: 15px;
    margin-left:50px;
   
    border: 5px solid #A82321;
    border-width:1px 1px 5px 1px;
    padding: 10px 15px 11px !important;
    height:40px;
  
}
}
