@section SampleHeading{
    <span class="sampleName">Upload-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}
@section ActionDescription{
    <div class="action-description">
    <p>
        This sample demonstrates rendering Upload control which control supports uploading files into the designated server, regardless of the file format and size. 
        The UploadBox control helps you with the selection of files to upload to the server. 
    </p>
    </div>
}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <div class="posupload">Select a file to upload</div>
            @Html.EJ().Uploadbox("UploadDefault").SaveUrl(@Url.Action("SaveDefault")).RemoveUrl(@Url.Action("RemoveDefault"))
        </div>
    </div>
}
@section StyleSection{
    <style class="cssStyles">
        .posupload {
            padding:10px;
            text-align:center;
        }
        #UploadDefault {
            margin: 0 auto;
        }
    </style>
}

