@section MetaTags{
   <meta name="description" content="This example demonstrates how to enable the rtl property in a ASP.NET MVC UploadBox control." >
}

@section SampleHeading{
    <span class="sampleName">Upload / Rtl</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <div class="e-rtl">
                Select a file to upload</div>
            <div class="posupload">
                @Html.EJ().Uploadbox("UploadRtl").SaveUrl(@Url.Action("SaveRtl")).RemoveUrl(@Url.Action("RemoveRtl")).EnableRTL(true)
            </div>
        </div>
    </div>
}
@section StyleSection{
    <style class="cssStyles">
        .frame
        {
            width: 215px;
        }
        
        .posupload
        {
            margin-left: 20px;
            margin-top: 20px;
        }
        
        .frame
        {
            margin-top: 10%;
        }
        
        .control
        {
            margin-left: 10%;
        }
    </style>
}
