@section MetaTags{
   <meta name="description" content="This example demonstrates as simple form validation using ASP.NET MVC Captcha.">
}

@section SampleHeading{
    <span class="sampleName">Captcha-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}
@section ActionDescription{
    <div class="action-description">
    <p>
        This sample demonstrates rendering Captcha Component which is used to prevent computer programs from sending automated requests and is used for meta-searching search engines, performing dictionary attacks in login pages, or sending spam using mail servers.
        Captcha is validated at the time of form submission.
    </p>
    </div>
}
@section ControlsSection{
    @using (Html.BeginForm("SuccessMessage", "Captcha", FormMethod.Post))
    {
        <div class="frame">
            <div class="control">
                <table>
                    <tr>
                        <td>
                            <div class="captcha">
                                @Html.EJ().Captcha("captcha").EnableAutoValidation(true).ShowAudioButton(true).ShowRefreshButton(true).RequestMapper(Url.Action("Refresh")).MinimumLength(5).CustomErrorMessage("Invalid Captcha Please Try Again").TargetButton("submit")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.EJ().Button("submit").Size(ButtonSize.Large).Text("Submit").Type(ButtonType.Submit)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}
@section StyleSection{

    <style>
        .frame {
            margin:0 auto;
        }
    </style>
}


