@section SampleHeading{
    <span class="sampleName">Captcha  </span>}
@section ControlsSection{
<div class="frame" style="width: 450px">
    <div class="control">
        <table>
            <tr>
                <td>
                    <h2>Thank you for registering.</h2>
                    <br>
                </td>
            </tr>
        </table>

    </div>
</div>
    }