@section SampleHeading{ <span class="sampleName">Rating / Events</span>}

@section ControlsSection{
    <div class="frame">
        @Html.EJ().Rating("eventRating").ClientSideEvents(evt => evt.Create("onCreate").Click("onClientClick").Mouseout("onClientOut").Mouseover("onClientOver").Change("onClientChange"))
    </div>
}
<div id="ratingTarget">
    <ul>
        <li>click</li>
        <li>mouseover</li>
        <li>mouseout</li>
        <li>change</li>
    </ul>
</div>
@section EventsDropdown{
    @Html.EJ().DropDownList("selectControls_input").TargetID("ratingTarget").ShowCheckbox(true).CheckAll(true).ClientSideEvents(evt => evt.Change("evtpropcheckevent").PopupShown("adjustpopupposition"))
}
@section ScriptSection{
    <script>
        function evtpropcheckevent(args) {
            ratingObj = $("#eventRating").data("ejRating");
            if (args.isChecked) {
                switch (args.selectedValue) {
                    case "create": ratingObj.option(args.selectedValue, "onCreate"); break;
                    case "click": ratingObj.option(args.selectedValue, "onClientClick"); break;
                    case "mouseover": ratingObj.option(args.selectedValue, "onClientOver"); break;
                    case "mouseout": ratingObj.option(args.selectedValue, "onClientOut"); break;
                    case "change": ratingObj.option(args.selectedValue, "onClientChange"); break;
                }
            }
            else ratingObj.option(args.selectedValue, null);
        }

        function onCreate(args) {
            jQuery.addEventLog("Rating control has been <span class='eventTitle'>created</span>.");
        }
        function onClientClick(args) {
            jQuery.addEventLog("Rating control has been <span class='eventTitle'>clicked</span>.</br>");
        }
        function onClientOver(args) {
            jQuery.addEventLog("Rating control has been <span class='eventTitle'>hovered-in</span>.</br>");
        }
        function onClientOut(args) {
            jQuery.addEventLog("Rating control has been <span class='eventTitle'>hovered-out</span>.</br>");
        }
        function onClientChange(args) {
            jQuery.addEventLog("Rating value has been <span class='eventTitle'>changed</span> to " + args.value + " out of 5.</br>");
        }
        function onClear() {
            jQuery.clearEventLog();
        }
    </script>
}