@section SampleHeading{ <span class="sampleName">Rating-Orientation-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{

    <div class="frame">
        @Html.EJ().Rating("orientRating")
    </div>
}

<div id="ratingTarget">
    <ul>
        <li>Horizontal</li>
        <li>Vertical</li>
    </ul>
</div>
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Orientation :
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("optSetValue").TargetID("ratingTarget").SelectedItemIndex(0).Width("110px").ClientSideEvents(evt => evt.Change("onChanged"))
        </div>
    </div>
}
@section ScriptSection{
    <script>
        function onChanged(args) {
            $("#orientRating").ejRating("setModel", { orientation: args.selectedText });
        }
        $(document).ready(function () { $("#sampleProperties").ejPropertiesPanel(); });
    </script>
}

