@section SampleHeading{ <span class="sampleName">Rating / Precision</span>}

@section ControlsSection{
    <div class="frame">
        <table>
            <tr>
                <td valign="top">Full Precision :
                </td>
                <td>
                    @Html.EJ().Rating("fullRating").Value(4)
                </td>
            </tr>
            <tr>
                <td valign="top">Half Precision :
                </td>
                <td>
                    @Html.EJ().Rating("halfRating").Value(3).Precision(Precision.Half)
                </td>
            </tr>
            <tr>
                <td valign="top">Exact Precision :
                </td>
                <td>
                    @Html.EJ().Rating("exactRating").Value(4).Precision(Precision.Exact)
                </td>
            </tr>
        </table>
    </div>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .frame {
            width: 277px;
        }
    </style>
}
