.mailtools {
    display: block;
    background-image: url('../../Images/dropdownlist/iconsapps.png');
    height: 25px;
    width: 25px;
    background-position: center center;
    background-repeat: no-repeat;
}

    .mailtools.done {
        background-position: 0 0;
    }

    .mailtools.movetofolder {
        background-position: 0 -22px;
    }

    .mailtools.categorize {
        background-position: 0 -46px;
    }

    .mailtools.flag {
        background-position: 0 -70px;
    }

    .mailtools.forward {
        background-position: 0 -94px;
    }

    .mailtools.newmail {
        background-position: 0 -116px;
    }

    .mailtools.reply {
        background-position: 0 -140px;
    }

    .mailtools.meeting {
        background-position: 0 -164px;
    }

.control {
    margin-left: 20px;
}

.ctrllabel {
    padding-bottom: 3px;
}
/**/
