.frame {
    width: 50%;
}

.loan, .interest, .tenure {
    margin-top: 5px;
    font-weight: 400;
}

.value, #loantext, #interesttext, #tenuretext {
    float: right;
    position: relative;
    width: auto;
    padding-left: 3px;
}

#loantext, #interesttext, #tenuretext {
    width: auto;
}

#result {
    margin-top: 25px;
    text-align: center;
    font-weight: 600;
}

.e-slider-wrap {
    display: block;
    margin-top: 11%;
}

.ColumnLeft {
    width: 35%;
    float: left;
    font-weight: 400;
    margin-top: 10px;
}

.ColumnRight {
    width: 65%;
    float: right;
    font-weight: 600;
    margin-top: 14px;
}

#loanheading {
    font-size: larger;
    padding-bottom: 15px;
}
