.darktheme .cols-sample-area .e-tooltxt > div {
    background-image: url('../../Images/toolbar/maild.png');
}

.cols-sample-area .e-tooltxt > div {
    display: block;
    background-image: url('../../Images/toolbar/maill.png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.e-tooltxt:hover .e-spriteimg, .darktheme .cols-sample-area .e-tooltxt:hover .e-spriteimg {
    background-image: url('../../Images/toolbar/mailh.png');
}

.done {
    background-position: -11px -140px;
}

.movetofolder {
    background-position: -12px -40px;
}

.categorize {
    background-position: -14px -248px;
}

.flag {
    background-position: -13px -282px;
}

.forward {
    background-position: -14px -314px;
}

.newmail {
    background-position: -14px -348px;
}

.reply {
    background-position: -14px -388px;
}


.frame {
    width: 50%;
}
#toolbarEvents
{
	width:215px;
}

