
.darktheme .cols-sample-area .e-tooltxt .e-spriteimg {
    background-image: url('../../Images/toolbar/editToolbar.png');
}

.cols-sample-area .e-tooltxt .e-spriteimg {
    display: block;
    background-image: url('../../Images/toolbar/editToolbarl.png');
    height: 26px;
    width: 26px;
    background-repeat: no-repeat;
}

.e-tooltxt:hover .e-spriteimg, .darktheme .cols-sample-area .e-tooltxt:hover .e-spriteimg {
    background-image: url('../../Images/toolbar/editToolbarh.png');
}

.cursor {
    background-position: -0px -0px;
}

.select {
    background-position: -0px -36px;
}

.move {
    background-position: -0px -72px;
}

.rectselect {
    background-position: -0px -108px;
}

.roundselect {
    background-position: -0px -144px;
}

.brush {
    background-position: -0px -180px;
}

.pen {
    background-position: -0px -216px;
}

.gradient {
    background-position: -0px -252px;
}

.crop {
    background-position: -0px -288px;
}

.symbols {
    background-position: -0px -324px;
}

.frame {
    width: 100%;
    box-sizing: border-box;
}
