        #target {
            height: 320px;
        }

        .block {
            height: 76px;
        }

        .logo {
            background-image: url("../../Images/waitingpopup/js_logo.png");
            background-repeat: no-repeat;
            float: left;
            height: 100%;
            width: 77px;
            margin-right: 15px;
        }

        .txt {
            float: left;
            font-size: 17px;
            height: 100%;
            text-align: left;
        }

            .txt p {
                margin: 0;
            }

        .loader {
            background: url("../../Images/waitingpopup/load_light.gif") no-repeat scroll -5px 18px transparent;
            height: 40px;
        }

        .darktheme .loader {
            background-image: url("../../Images/waitingpopup/load_dark.gif");
        }

#content {
    cursor: default;
    height: 112px;
    top: 104px;
    margin: 0 auto;
    width: 300px;
    left:0px !important;
}
        #target_WaitingPopup
        {
            z-index:5 !important;
        }

        @media (min-width:0px) and (max-width:450px){
            #content{
                width:200px !important;
            }

            .logo {
                margin-right: 0px;
                background-size: 88% 88%;
                margin-top: 8px;
                width: 67px;
            }

            .txt {
                font-size: 14px;
                width: 130px;
            }
        }