@section ScriptReferenceSection{
<script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
<script src="~/Scripts/CodeMirror/codemirror.js"></script>
<script src="~/Scripts/CodeMirror/css.js"></script>
<script src="~/Scripts/CodeMirror/htmlmixed.js"></script>
<script src="~/Scripts/CodeMirror/javascript.js"></script>
<script src="~/Scripts/CodeMirror/xml.js"></script>
<link href="~/Scripts/CodeMirror/codemirror.min.css" rel="stylesheet" />

}



@section SampleHeading{ <span class="sampleName">RTE / CustomTool</span>}
@section ControlsSection{
    @{List<String> toolsList = new List<string>() { "customTools" }; }


    <div style="height: 440px">
       @{Html.EJ().RTE("rteSample").ContentTemplate(@<div>
            <p><b>Description:</b></p>
        <p>The Rich Text Editor (RTE) control is an easy to render in
        client side. Customer easy to edit the contents and get the HTML content for
        the displayed content. A rich text editor control provides users with a toolbar
        that helps them to apply rich text formats to the text entered in the text
        area. </p>
       <p><b>Functional
        Specifications/Requirements:</b></p>
        <ol><li><p>Provide
        the tool bar support, it’s also customizable.</p></li><li><p>Options
        to get the HTML elements with styles.</p></li><li><p>Support
        to insert image from a defined path.</p></li><li><p>Footer
        elements and styles(tag / Element information , Action button (Upload, Cancel))</p></li><li><p>Re-size
        the editor support.</p></li><li><p>Provide
        efficient public methods and client side events.</p></li><li><p>Keyboard
        navigation support.</p></li></ol>
        </div>).MinWidth("100px").Width("100%").ToolsList(toolsList).Tools(tool => tool.CustomTools(custom =>
                             custom.Name("codeInsert").Tooltip("Insert Code Snippets").Text("InsertCode").Css("codeInsert").Action("showDialog").Add())).Render();}

        <div id="rteTarget">
            <ul>
                <li>Java Script</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>
        <div id="customSourceCode" title="Paste you code and inset to RTE">
            @{Html.EJ().Dialog("customSourceCode").Title("Paste you code and inset to RTE").EnableResize(true).EnableModal(true).ShowOnInit(false).Width("600px").ContentTemplate(@<div>
                <table>
                    <tr>
                        <td id="dropselect" style="width: 100px">
                            Select type :
                        </td>
                        <td>
                            <div>
                                @{Html.EJ().DropDownList("languageList").TargetID("rteTarget").SelectedItemIndex(0).ClientSideEvents(evt => evt.Change("onchange")).Render();}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea id="srcCode" style="width: 550px;">
                                
                            </textarea>

                        </td>
                    </tr>
                    <tr>
                        <td id="samplebtn" colspan="2">
                            <div class="e-rte-button e-fieldseparate">
                                @{Html.EJ().Button("src_insert").Text("Insert").ClientSideEvents(evt => evt.Click("customBtnClick")).Render();}
                                @{Html.EJ().Button("src_cancel").Text("Cancel").ClientSideEvents(evt => evt.Click("customBtnClick")).Render();}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>).Render();}

        </div>
    </div>

}
@section ScriptSection{
    <script type="text/javascript">

    $(function () {
        $("div.codeInsert").html("Insert code");
        $("#rteSample_Iframe").contents().find("head").append($("<link href='../Scripts/CodeMirror/codemirror.min.css' rel='stylesheet'></link>"))
        rteObj = $("#rteSample").data("ejRTE");
    });
    function customBtnClick(args) {
        var rteObj;
        rteObj = $("#rteSample").data("ejRTE");
        if (this._id == "src_insert") {
            var scrLang, lang = $("#languageList").val();
            if (lang == "Java Script")
                scrLang = "javascript";
            else if (lang == "HTML")
                scrLang = "text/html";
            else
                scrLang = "css";
            var htmlEditor = CodeMirror.fromTextArea($("#srcCode")[0], {
                lineNumbers: false,
                mode: scrLang
            });
            var codeTags = $("#customSourceCode").find(".CodeMirror");
            rteObj.executeCommand("inserthtml", codeTags[0].outerHTML);
            $(rteObj.getDocument()).find(".CodeMirror div.CodeMirror-cursor").css({ "display": "none" })
            codeTags.remove();
        }
        $("#customSourceCode").ejDialog("close");
    }

    function showDialog() {

        $('#srcCode').val('').show();
        $("#customSourceCode").ejDialog("open");
        $('#srcCode').focus();
    }

         </script>
         }
     
       
         @section StyleSection{

    <style>
        .codeInsert {
            height: 22px;
            width: 100px;
            display: block;
            text-align: center;
            font-weight: bold;
        }
	#srcCode{
		height: 250px;
	}
	.material .e-ddl{
		width: 285px !important;
	}
	.material #samplebtn{
		padding: 14px 0px 0px 0px;
	}
	.material #dropselect{
		padding: 4px 80px 24px 0px;
	}
	.material #srcCode{
		width: 550px; 
		height: 100px; 
		border-width: 0px 0px 1px 0px; 
		border-color: rgba(0,0,0,.12);
	}
	.material textarea:focus {
		outline: none;
	}
    </style>

}