@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}
@section SampleHeading{
    <span class="sampleName">RTE-Keyboard Navigation-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    @{Html.EJ().RTE("rteKey").Width("100%").Height("567").ContentTemplate(@<div>
        <p><b>Description:</b></p>
        <p>The Rich Text Editor (RTE) control is an easy to render in
        client side. Customer easy to edit the contents and get the HTML content for
        the displayed content. A rich text editor control provides users with a toolbar
        that helps them to apply rich text formats to the text entered in the text
        area. </p>
       <p><b>Functional
        Specifications/Requirements:</b></p>
        <ol><li><p>Provide
        the tool bar support, it’s also customizable.</p></li><li><p>Options
        to get the HTML elements with styles.</p></li><li><p>Support
        to insert image from a defined path.</p></li><li><p>Footer
        elements and styles(tag / Element information , Action button (Upload, Cancel))</p></li><li><p>Re-size
        the editor support.</p></li><li><p>Provide
        efficient public methods and client side events.</p></li><li><p>Keyboard
        navigation support.</p></li></ol>
    </div>).MinWidth("200px").Render();}
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Alt + j
        </div>
        <div class="col-md-3">
            Focuses the control.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Alt + Ctrl + t
        </div>
        <div class="col-md-3">
            Focuses the toolbar.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Right
        </div>
        <div class="col-md-3">
            Selected next item.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Left
        </div>
        <div class="col-md-3">
            Selected previous item.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Ctrl + b
        </div>
        <div class="col-md-3">
            Bold selected text.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Ctrl + i
        </div>
        <div class="col-md-3">
            Italic selected text.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Ctrl + u
        </div>
        <div class="col-md-3">
            Underline selected text.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Ctrl + l
        </div>
        <div class="col-md-3">
            Text align left.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Ctrl + e
        </div>
        <div class="col-md-3">
            Text align center.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Ctrl + r
        </div>
        <div class="col-md-3">
            Text align right.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Ctrl + j
        </div>
        <div class="col-md-3">
            Text align justify.
        </div>
    </div>
}
@section ScriptSection{
    <script>
        //Control focus key
        $(document).on("keydown", function (e) {
            if (e.altKey && e.keyCode === 74) { // j- key code.
                var rte = $("#rteKey").data("ejRTE");
                rte.focus();
            }
            else if (e.altKey && e.ctrlKey && e.keyCode === 84) { // Alt + T
                e.preventDefault();
                $("#rteKey_toolbar").focus();
            }
        });
        $(document).ready(function () {
            $("#sampleProperties").ejPropertiesPanel();
            $("#rteKey_Iframe").contents().keydown(function (e) {
                if (e.altKey && e.ctrlKey && e.keyCode === 84) { // Alt + T
                    e.preventDefault();
                    $("#rteKey_toolbar").focus();
                }
            });
        });

    </script>
}

