@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}

@section SampleHeading{<span class="sampleName">TimePicker / Default </span>}

@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().TimePicker("TimePick").Width("100%")
        </div>
    </div>
}


