@section MetaTags{
   <meta name="description" content="This example demonstrates a simple, mobile-friendly and responsive ASP.NET MVC TimepIcker to select a time.">
}

@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}

@section SampleHeading{<span class="sampleName">TimePicker-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}

@section ActionDescription{
    <div class="action-description">
    <p>
        This sample demonstrates rendering TimePicker control allows users to select a time value. The available times can be restricted to a range by setting minimum and maximum time values. 
        The TimePicker sets the time as a mask to prevent users from entering invalid values.
    </p>
    </div>
}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().TimePicker("TimePick").Width("100%")
        </div>
    </div>
}



