@section MetaTags{
   <meta name="description" content="This example demonstrates the various events like create, change, focusIn and focusout in a ASP.NET MVC TimePicker">
}

@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}

@section SampleHeading{<span class="sampleName">TimePicker-Events-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().TimePicker("TimePick").ClientSideEvents(s => s.Change("timeValChange").FocusIn("onFocusIn").FocusOut("onFocusOut").Create("oncreate")).Width("100%")
        </div>
    </div>
}
<div id="target">
    <ul>
        <li>focusIn</li>
        <li>focusOut</li>
        <li>change</li>
    </ul>
</div>
@section EventsDropdown{
    @Html.EJ().DropDownList("selectControls_input").TargetID("target").CssClass("metroblue").ShowCheckbox(true).CheckAll(true).ClientSideEvents(s => s.Change("evtpropscheckedevent"))

}
@section ScriptSection{
    <script type="text/javascript">
        function evtpropscheckedevent(args) {
            var timeObj = $("#TimePick").data("ejTimePicker");
            if (args.isChecked) {
                switch (args.selectedText) {
                    case "change": timeObj.option(args.selectedText, "timeValChange"); break;
                    case "focusIn": timeObj.option(args.selectedText, "onFocusIn"); break;
                    case "focusOut": timeObj.option(args.selectedText, "onFocusOut"); break;
                }
            }
            else timeObj.option(args.selectedText, null);
        }
        // Client side Events
        function oncreate(args) {
            jQuery.addEventLog("TimePicker has been <span class='eventTitle'>created</span>.");
        }
        function timeValChange(args) {
            jQuery.addEventLog("TimePicker value has been <span class='eventTitle'>changed</span> to " + args.value + ".</br>");
        }
        function onFocusIn(args) {
            jQuery.addEventLog("TimePicker is in <span class='eventTitle'>Focus</span>");
        }
        function onFocusOut(args) {
            jQuery.addEventLog("TimePicker is out of <span class='eventTitle'>Focus</span>");
        }
        function onClear() {
            jQuery.clearEventLog();
        }
    </script>
}

