@section MetaTags{
   <meta name="description" content="This example demonstrates how to enable the rtl property in a ASP.NET MVC TimePicker">
}

@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}

@section SampleHeading{<span class="sampleName">TimePicker-RTL-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().TimePicker("TimePick").EnableRTL(true).Width("100%")

        </div>
    </div>
}

