@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{ <span class="sampleName">Presentation-Cloning Slide-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{
    @{Html.BeginForm("CloningSlides", "Presentation", FormMethod.Post);
    {
        <div class="Common">
            <div class="tablediv">
                <div class="rowdiv">
                <p>Essential Presentation library has support for cloning individual slides in a PowerPoint presentation.</p>
                <p>This sample demonstrates cloning an individual slide from a PowerPoint presentation and merge it to another PowerPoint presentation with source and destination paste options.</p>
                    <br />
                    <b>Features:</b>
                    <br />                    
                 <ul>
                        <li>Copy an individual PowerPoint slide and paste it to the same or different presentation.</li>
                        <li>Slide elements like text, shapes, charts, tables, SmartArt diagrams and images etc., can be copied and moved between PowerPoint presentations.</li>
                        <li>Copy the slides in a section and paste those to another section or PowerPoint presentation.</li>                        
                 </ul>				 
                </div>
                <br />
                <div class="rowdiv">
                    <div class="celldiv">
                        <input type="radio" id="Radio3" name="Group1" value="DestinationTheme" checked="checked" />
                        <label for="Radio3">
                            Use Destination Theme
                        </label>
                        <input type="radio" id="Radio4" name="Group1" style="margin-left: 7px" value="SourceFormatting" />
                        <label for="Radio4">
                            Keep Source Formatting
                        </label>
                    </div>
                </div>
                <br />
                <div class="rowdiv">
                    <div class="celldiv">
                        <input class="buttonStyle" type="submit" value="Generate Document" style="width:200px;" />
                    </div>
                    <br />
                </div>
            </div>
        </div>
        Html.EndForm();
    }}
}
@section StyleSection
{

}


