@section SampleHeading{
    <span class="sampleName">Splitter-Integration-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates the integration of other Syncfusion ASP.NET MVC components with the Syncfusion ASP.NET MVC Splitter component.">
}
@section ControlsSection{

    @{Html.EJ().Splitter("outterSplitter").EnableAutoResize(true).PaneProperties(p =>
    {
        p.Add().ContentTemplate(
        @<div class="cont">
            <h3 class="h3">French cities</h3>
            <ul id="treeView" class="visibleHide">
                <li>PARIS
                                        <ul>
                                            <li id="tools" class="_child">Speciality</li>
                                        </ul>
                </li>
                <li>CAMEMBERT
                                            <ul>
                                                <li id="chart" class="_child">Speciality </li>
                                            </ul>
                </li>
                <li>GRENOBLE
                                            <ul>
                                                <li id="grid" class="_child">Speciality</li>
                                            </ul>
                </li>
            </ul>
        </div>).PaneSize("200");
        p.Add().ContentTemplate(
        @<div class="cont">
            <div class="_content">
               Select any city from the tree to show the description.
            </div>
            <div class="tools des">
                <h3>PARIS</h3>
                      Paris, the city of lights and love - this short guide is full of ideas for how to make the most of the romanticism...
            </div>
            <div class="chart des">
               <h3>CAMEMBERT</h3>
                       The village in the Orne département of Normandy where the famous French cheese is originated from.
            </div>
            <div class="grid des">
               <h3>GRENOBLE</h3>
                         The capital city of the French Alps and a major scientific center surrounded by many ski resorts, host of the Winter Olympics in 1968. 
            </div>
        </div>).PaneSize("200");
    }).Height("400").Width("100%").Render();}

}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#treeView").ejTreeView({ nodeSelect: "treeClicked" });
        });
        function treeClicked(sender, args) {
            if (sender.currentElement.hasClass('_child')) {
                var content = $('.' + sender.currentElement[0].id).html();
                $('._content').html(content);
            }
        }
    </script>
}
@section StyleSection{
    <style type="text/css">
        .cont #treeView_Container {
            margin-bottom: 0;
            border: none;
        }

        .h3, ._content, p {
            font-size: 14px;
            margin-top: 10px;
            text-indent: 10px;
        }

        .des {
            display: none;
        }
    </style>
}

