@section SampleHeading{
    <span class="sampleName">Splitter-RTL-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to display content from right to left in the Syncfusion ASP.NET MVC Splitter component.">
}
@section ControlsSection{

    @{Html.EJ().Splitter("outterSplitter").EnableAutoResize(true).PaneProperties(p =>
    {
        p.Add().ContentTemplate(
            
        @<div>
            <div class="content" style="padding: 5px 15px;">
                <h3 class="h3">لغات البرمجة
                </h3>
            </div>
        </div>).PaneSize("60").MinSize("30");

        p.Add().ContentTemplate(
            
        @<div style="height: 100%">
            @innerSplitter()
        </div>).MinSize("30");

    }).Width("100%").Height("280").EnableRTL(true).Orientation(Orientation.Vertical).Render();}



    @helper innerSplitter()
{
  
        @Html.EJ().Splitter("innerSplitter").Width("100%").EnableAutoResize(true).PaneProperties(p1 =>
               {
                   p1.Add().ContentTemplate(
                       @<div>
                           <div class="content">
                               <h3 class="h3">سكريبت
                               </h3>
                               جافا سكريبت (JS) هو تفسير لغة برمجة الكمبيوتر. بالفعل تم تنفيذها كجزء من متصفحات
                                الويب بحيث البرامج النصية من جانب العميل يمكن أن تتفاعل مع المستخدم
                           </div>
                       </div>).PaneSize("210").MinSize("30");
                   p1.Add().ContentTemplate(
                       @<div>
                           <div class="content">
                               <h3 class="h3">C شارب
                               </h3>
                               والمقصود أن تكون بسيطة وحديثة، للأغراض العامة لغة البرمجة وجوه المنحى C #. أحدث
                                إصدار هو C # 5.0، والذي صدر في 15 أغسطس 2012.
                           </div>
                       </div>).PaneSize("200").MinSize("30");
                   p1.Add().ContentTemplate(
                       @<div>
                           <div class="content">
                               <h3 class="h3">البصرية الأساسية</h3>
                               NET Framework لواحد سطر الأوامر مترجم VB.NET. أحدث إصدار هو VB 2012، والذي صدر في
                               15 أغسطس 2012.
                           </div>
                       </div>).MinSize("30");
               })
    }

}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        h3 {
            font-size: 18px;
            margin: 0;
        }s

        #innerSplitter {
            border: 0 none;
        }

        .content {
            padding: 15px;
        }
    </style>
}

