@section SampleHeading{<span class="sampleName">Spreadsheet-Cell Data Binding-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
   <meta name="description" content="This demo shows how to bind the values, formulas, comments, hyperlinks, cell formats, and number formats using Syncfusion ASP.NET MVC Spreadsheet cells.">
}

<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{    
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .ShowRibbon(false)
    .AllowFormulaBar(false)    
    .ScrollSettings(scroll =>
    {
        scroll.Height(450);
    })
    .Sheets(sheet =>
    {
        sheet.Rows(rows =>
        {
            rows.Height(30).Cells(cells =>
            {
                cells.Value("Item Name").Style(style =>
                {
                    style.FontWeight("bold").Color("#FFFFFF").BackgroundColor("#428bca");
                }).Add();
                cells.Value("Quantity").Style(style =>
                {
                    style.FontWeight("bold").Color("#FFFFFF").BackgroundColor("#428bca");
                }).Add();
                cells.Value("Price").Style(style =>
                {
                    style.FontWeight("bold").Color("#FFFFFF").BackgroundColor("#428bca");
                }).Add();
                cells.Value("Amount").Style(style =>
                {
                    style.FontWeight("bold").Color("#FFFFFF").BackgroundColor("#428bca");
                }).Add();
                cells.Value("Stock Details").Style(style =>
                {
                    style.FontWeight("bold").Color("#FFFFFF").BackgroundColor("#428bca");
                }).Add();
                cells.Value("Website").Style(style =>
                {
                    style.FontWeight("bold").Color("#FFFFFF").BackgroundColor("#428bca");
                }).Add();
            }).Add();
            rows.Cells(cells =>
            {
                cells.Value("Casual Shoes").Comment(comment =>
                {
                    comment.Value("Casual Footwears with wide variety of colors.");
                }).Add();
                cells.Value("10").Add();
                cells.Value("20").Format(format =>
                {
                    format.Type("currency");
                }).Add();
                cells.Value("=B2*C2").Add();
                cells.Value("OUT OF STOCK").Add();
                cells.Value("Amazon").Hyperlink(hyperlink =>
                {
                    hyperlink.WebAddr("www.amazon.com");
                }).Add();
            }).Add();
            rows.Cells(cells =>
            {
                cells.Value("Sports Shoes").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("20").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("30").Format(format =>
                {
                    format.Type("currency");
                }).Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("=B3*C3").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("IN STOCK").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("AliExpress").Hyperlink(hyperlink =>
                {
                    hyperlink.WebAddr("www.aliexpress.com");
                }).Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
            }).Add();
            rows.Cells(cells =>
            {
                cells.Value("Formal Shoes").Comment(comment =>
                {
                    comment.Value("Formal Footwears with wide range of sizes.");
                }).Add();
                cells.Value("20").Add();
                cells.Value("15").Format(format =>
                {
                    format.Type("currency");
                }).Add();
                cells.Value("=B4*C4").Add();
                cells.Value("IN STOCK").Add();
                cells.Value("Amazon").Hyperlink(hyperlink =>
                {
                    hyperlink.WebAddr("www.amazon.com");
                }).Add();
            }).Add();
            rows.Cells(cells =>
            {
                cells.Value("Sandals & Floaters").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("15").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("20").Format(format =>
                {
                    format.Type("currency");
                }).Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("=B5*C5").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("OUT OF STOCK").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("Alibaba").Hyperlink(hyperlink =>
                {
                    hyperlink.WebAddr("www.alibaba.com");
                }).Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
            }).Add();
            rows.Cells(cells =>
            {
                cells.Value("Flip-Flops & Slippers").Add();
                cells.Value("30").Add();
                cells.Value("10").Format(format =>
                {
                    format.Type("currency");
                }).Add();
                cells.Value("=B6*C6").Add();
                cells.Value("IN STOCK").Add();
                cells.Value("Ebay").Hyperlink(hyperlink =>
                {
                    hyperlink.WebAddr("www.ebay.com");
                }).Add();
            }).Add();
            rows.Cells(cells =>
            {
                cells.Value("Sneakers").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Comment(comment =>
                {
                    comment.Value("Sneakers with recent designs.");
                }).Add();
                cells.Value("40").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("20").Format(format =>
                {
                    format.Type("currency");
                }).Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("=B7*C7").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("OUT OF STOCK").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("Amazon").Hyperlink(hyperlink =>
                {
                    hyperlink.WebAddr("www.amazon.com");
                }).Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
            }).Add();
            rows.Cells(cells =>
            {
                cells.Value("Running Shoes").Add();
                cells.Value("20").Add();
                cells.Value("10").Format(format =>
                {
                    format.Type("currency");
                }).Add();
                cells.Value("=B8*C8").Add();
                cells.Value("IN STOCK").Add();
                cells.Value("AliExpress").Hyperlink(hyperlink =>
                {
                    hyperlink.WebAddr("www.aliexpress.com");
                }).Add();
            }).Add();
            rows.Cells(cells =>
            {
                cells.Value("Loafers").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("31").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("10").Format(format =>
                {
                    format.Type("currency");
                }).Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("=B9*C9").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("OUT OF STOCK").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("Alibaba").Hyperlink(hyperlink =>
                {
                    hyperlink.WebAddr("www.alibaba.com");
                }).Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
            }).Add();
            rows.Cells(cells =>
            {
                cells.Value("Cricket Shoes").Add();
                cells.Value("41").Add();
                cells.Value("30").Format(format =>
                {
                    format.Type("currency");
                }).Add();
                cells.Value("=B10*C10").Add();
                cells.Value("IN STOCK").Add();
                cells.Value("Ebay").Hyperlink(hyperlink =>
                {
                    hyperlink.WebAddr("www.ebay.com");
                }).Add();
            }).Add();
            rows.Cells(cells =>
            {
                cells.Value("T-Shirts").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("50").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("10").Format(format =>
                {
                    format.Type("currency");
                }).Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("=B11*C11").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("OUT OF STOCK").Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
                cells.Value("Amazon").Hyperlink(hyperlink =>
                {
                    hyperlink.WebAddr("www.amazon.com");
                }).Style(style =>
                {
                    style.BackgroundColor("#E5F3FF");
                }).Add();
            }).Add();
            rows.Height(30).Cells(cells =>
            {
                cells.Style(style =>
                {
                    style.BackgroundColor("#428bca");
                }).Add();
                cells.Style(style =>
                {
                    style.BackgroundColor("#428bca");
                }).Add();
                cells.Value("Total Amount").Index(2).Style(style =>
                {
                    style.FontWeight("bold").Color("#FFFFFF").BackgroundColor("#428bca");
                }).Add();
                cells.Value("=Sum(D2:D11)").Style(style =>
                {
                    style.FontWeight("bold").Color("#FFFFFF").BackgroundColor("#428bca");
                }).Add();
                cells.Style(style =>
                {
                    style.BackgroundColor("#428bca");
                }).Add();
                cells.Style(style =>
                {
                    style.BackgroundColor("#428bca");
                }).Add();
            }).Add();
        }).Add();
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete"))
)}

@section ScriptSection{
    <script type="text/javascript">

        function loadComplete(args) {
            this.setWidthToColumns([140, 100, 100, 110, 140, 100, 110]);
        }
    </script>
}

