@section SampleHeading{<span class="sampleName"> Spreadsheet / Context Menu</span>}
<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .AllowFormulaBar(false)
    .ScrollSettings(scroll =>
    {
        scroll.Height(540);
    })
    .ImportSettings(import =>
    {
        import.ImportMapper("Import");
    })
    .ExportSettings(export =>
    {
        export.ExcelUrl("ExcelExport");
        export.CsvUrl("CsvExport");
        export.PdfUrl("PdfExport");
    })
    .Sheets(sheet =>
    {
        sheet.RangeSettings(range =>
        {
            range.Datasource((IEnumerable<object>)ViewBag.Datasource).Add();
        }).SheetName("Context Menu").Add();
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete").OpenFailure("openFailure"))
    )
}
@section ScriptSection{
    <script type="text/javascript">

        function loadComplete(args) {
			if (!this.isImport) {
				this.setWidthToColumns([80, 62, 63]);
				this.XLFormat.format({ "style": { "font-weight": "bold" } }, "A1:C1");
				this.XLChart.createChart("A1:B8", { type: "line", enable3D: false, marker: { visible: true }, top: 60, left: 300 });
			}
        }

        function openfailure(args) {
            var xlObj = $("#Spreadsheet").data("ejSpreadsheet");
            xlObj.alert(args.statusText);
        }

    </script>
}