@section SampleHeading{<span class="sampleName"> Spreadsheet / Default Functionalities</span>}
<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .ScrollSettings(scroll => 
    { 
        scroll.Height(510); 
    })
    .ImportSettings(import =>
    {
        import.ImportMapper("Import");
    })
    .ExportSettings(export =>
    {
        export.ExcelUrl("ExcelExport");
        export.CsvUrl("CsvExport");
        export.PdfUrl("PdfExport");     
    })
    .Sheets(sheet =>
    {
        sheet.RangeSettings(range =>
        {
            range.Datasource((IEnumerable<object>)ViewBag.Datasource).Add();
        }).Add();
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete").OpenFailure("openfailure"))
    )
}

@section ScriptSection{
    <script type="text/javascript">
        function loadComplete(args) {
            var xlFormat = this.XLFormat;
			if (!this.isImport) {
				this.setWidthToColumns([ 142, 132, 110, 105, 102, 112, 122, 122, 102 ]);
				xlFormat.format({ "style": { "font-weight": "bold" } }, "A1:H1");
                xlFormat.format({ "type": "shortdate" }, "B2:B11");
				xlFormat.format({ "type": "time" }, "C2:C11"); 
				xlFormat.format({ "type": "currency" }, "E2:H11");       
				this.XLRibbon.updateRibbonIcons();
			}
        }
        function openfailure(args) {
            var xlObj = $("#Spreadsheet").data("ejSpreadsheet");
            xlObj.alert(args.statusText);
        }
    </script>
}