@section SampleHeading{<span class="sampleName"> Spreadsheet / Freeze Pane</span>}
<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .AllowFormulaBar(false)
    .ShowRibbon(false)
    .EnableContextMenu(false)
    .ScrollSettings(scroll =>
    {
        scroll.Height(450);
    })
    .Sheets(sheet =>
    {
        sheet.RangeSettings(range =>
        {
            range.Datasource((IEnumerable<object>)ViewBag.Datasource).Add();
        })
        .SheetName("Freeze Pane").Add();
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete"))
    )
}
@section ScriptSection{
    <script type="text/javascript">
        function loadComplete(args) {
            this.setWidthToColumns([ 125, 204, 153, 224, 106, 133 ]);
            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "A1:G1");
            this.XLFormat.format({ "style": { "text-align": "left" } }, "F2:F30");
            this.XLFreeze.freezePanes("C6");
        }
    </script>
}