@section SampleHeading{<span class="sampleName"> Spreadsheet / Merge Cell</span>}
<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .AllowFormulaBar(false)
    .ShowRibbon(false)
    .EnableContextMenu(false)
    .ScrollSettings(scroll =>
    {
        scroll.Height(450);
    })
    .Sheets(sheet =>
    {
        sheet.RangeSettings(range =>
        {
            range.Datasource((IEnumerable<object>)ViewBag.Datasource).ShowHeader(false).Add();
        }).Add();
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete"))
    )
}
@section ScriptSection{
    <script type="text/javascript">

        function loadComplete(args) {
            var xlFormat = this.XLFormat;
            this.sheetRename("Merge Cells");
            this.setWidthToColumns([ 214, 160, 152, 132, 134, 153 ]);
            this.mergeCells("B1:B2", true);
            this.mergeCells("E1:E2", true);
            this.mergeCells("F1:F2", true);
            this.mergeAcrossCells("C1:D1", true);
            this.mergeCells("B5:B7", true);
            this.mergeCells("B10:B11", true);
            this.mergeCells("F3:F4", true);
            this.mergeCells("F8:F9", true);
            this.mergeCells("A1:A2", true);
            xlFormat.format({ "type": "currency" }, "C3:D13");
            xlFormat.format({ "style": { "font-weight": "bold", "text-align": "center", "vertical-align": "middle" } }, "A1:F2");
            xlFormat.format({ "style": { "font-weight": "bold", "vertical-align": "middle" } }, "A13:E13");
            xlFormat.format({ "type": "percentage" }, "E3:E13");
        }

    </script>
}