@section SampleHeading{<span class="sampleName">Spreadsheet-Movie List-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
   <meta name="description" content="This demo shows how to set the picture and filter using Syncfusion ASP.NET MVC Spreadsheet control">
}

<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .ShowRibbon(false)
    .AllowFormulaBar(false)
    .EnableContextMenu(false)
    .ScrollSettings(scroll =>
    {
        scroll.Height(540);
    })
    .Sheets(sheet =>
    {
        sheet.RangeSettings(range => {
            range.Datasource((IEnumerable<object>)ViewBag.Datasource).StartCell("B3").ShowHeader(false).Add();
        }).ShowGridlines(false).Add();
    })
    .ImportSettings(import =>
    {
        import.ImportMapper("Import");
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete"))
    )
}
@section ScriptSection{
    <script type="text/javascript">

        function loadComplete(args) {
            var xlFormat = this.XLFormat;
            this.setWidthToColumns([ 32, 57, 63, 120, 80, 215, 90, 98, 80, 85, 323 ]);
            xlFormat.format({ "style": { "background-color": "#000000", "color": "#FFFFFF", "font-size": "8pt" } }, "A1:V40");
            xlFormat.format({ "style": { "background-color": "#ffcb0d" } }, "A1:K1");
            xlFormat.format({ "style": { "background-color": "#ffcb0d", "font-size": "9pt", color: "#000000", "font-weight": "bold" } }, "B3:K3");
            this.XLShape.setPicture('A1', "../images/spreadsheet/mv.png", 1275, 160);
            this.setHeightToRows([162, 25, 25, 35, 35, 35, 35]);
            this.XLFilter.filter("B3:K7");
            xlFormat.format({ "style": { "background-color": "#262626" } }, "B5:K5");
            xlFormat.format({ "style": { "background-color": "#262626" } }, "B7:K7");
            xlFormat.format({ "style": { "text-align": "left" } }, "B4:C7");
            xlFormat.format({ "style": { "vertical-align": "middle" } }, "B4:K7");
            $("#Spreadsheet_picture1").css("background-color", "transparent");
        }

    </script>
}

