@section SampleHeading{<span class="sampleName"> Spreadsheet / Formatting / Number Formatting</span>}
<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .AllowFormulaBar(false)
    .ShowRibbon(false)
    .EnableContextMenu(false)
    .ScrollSettings(scroll => 
    { 
        scroll.Height(450); 
    })
    .Sheets(sheet => 
    {
        sheet.RangeSettings(range => {
            range.Datasource((IEnumerable<object>)ViewBag.Datasource).ShowHeader(false).Add();
        }).Add();        
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete"))
    )
}
@section ScriptSection{
    <script type="text/javascript">

        function loadComplete(args) {
            var xlFormat = this.XLFormat;
            this.sheetRename("Number Formatting");
            this.setWidthToColumns([ 147, 43, 175, 43, 147, 43, 152, 43, 152 ]);
            xlFormat.format({ "type": "general" }, "I2:I5");
            xlFormat.format({ "type": "number" }, "C2:C5");
            xlFormat.format({ "type": "currency" }, "E2:E5");
            xlFormat.format({ "type": "accounting" }, "G2:G5");
            xlFormat.format({ "type": "percentage" }, "A2:A5");
            xlFormat.format({ "type": "shortdate" }, "A9:A12");
            xlFormat.format({ "type": "longdate" }, "C9:C12");
            xlFormat.format({ "type": "time" }, "E9:E12");
            xlFormat.format({ "type": "scientific" }, "G9:G12");
            xlFormat.format({ "type": "fraction" }, "I9:I12");
            xlFormat.format({ "type": "text" }, "E16:E19");
            xlFormat.format({ "style": { "font-weight": "bold", "vertical-align": "middle", "text-align": "center" } }, "A1:K1");
            xlFormat.format({ "style": { "font-weight": "bold", "vertical-align": "middle", "text-align": "center" } }, "A8:K8");
            xlFormat.format({ "style": { "font-weight": "bold", "vertical-align": "middle", "text-align": "center" } }, "E15");
            xlFormat.format({ "style": { "color": "#FF414f", "font-weight": "bold" } }, "D2:D9");
            xlFormat.format({ "style": { "color": "#F341ff", "font-weight": "bold" } }, "H2:H9");
            this.performSelection("A1");
        }

    </script>
}