@section SampleHeading{<span class="sampleName"> Spreadsheet / Picture</span>}
<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .AllowFormulaBar(false)
    .ShowRibbon(false)
    .ScrollSettings(scroll =>
    {
        scroll.Height(450);
    })
    .ImportSettings(import =>
    {
        import.ImportMapper("Import");
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete"))
    )
}
@section ScriptSection{
    <script type="text/javascript">

        function loadComplete(args) {
            this.XLShape.setPicture('D4', "../images/spreadsheet/ladybug.png", 538, 319);
        }

    </script>
}