@section SampleHeading{<span class="sampleName">Spreadsheet-PivotTable-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
   <meta name="description" content="This demo shows how to summarize and analyze large amounts of data using Syncfusion ASP.NET MVC Spreadsheet control.">
}

<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .AllowFormulaBar(false)  
    .ScrollSettings(scroll =>
    {
        scroll.Height(560);
    })
    .ImportSettings(import =>
    {
        import.ImportMapper("Import");
    })
    .ExportSettings(export =>
    {
        export.ExcelUrl("ExcelExport");
        export.CsvUrl("CsvExport");
        export.PdfUrl("PdfExport");
    })
    .EnablePivotTable(true)
    .Sheets(sheet =>
    {
        sheet.RangeSettings(range =>
        {
            range.Datasource((IEnumerable<object>)ViewBag.Datasource).Add();
        }).Add();
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete").OpenFailure("openfailure"))
    )
}
@section ScriptSection{
    <script type="text/javascript">

        function loadComplete(args) {
            if (!this.model.isImport) {
                var settings = {
                    rows: [
                                  {
                                      fieldName: "Country",
                                  },
                                  {
                                      fieldName: "State",
                                  }
                    ],
                    columns: [
                        {
                            fieldName: "Product",
                        }
                    ],
                    values: [
                        {
                            fieldName: "Amount",
                        },
                        {
                            fieldName: "Quantity",
                        }
                    ],
                    filters: [
                        {
                            fieldName: "Date",
                        }
                    ]
                };
                this.XLPivot.createPivotTable("Sheet1!$A$1:$F$25", null, null, settings);
            }
        }

        function openfailure(args) {
            var xlObj = $("#Spreadsheet").data("ejSpreadsheet");
            xlObj.alert(args.statusText);
        }

    </script>
}

