@section SampleHeading{<span class="sampleName">Spreadsheet-Show or Hide-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
   <meta name="description" content="This demo shows how to show or hide the rows and columns using Syncfusion ASP.NET MVC Spreadsheet control">
}

<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .AllowFormulaBar(false)
    .ShowRibbon(false)
    .ScrollSettings(scroll =>
    {
        scroll.Height(450);
    })
    .Sheets(sheet =>
    {
        sheet.RangeSettings(range =>
        {
            range.Datasource((IEnumerable<object>)ViewBag.Datasource).Add();
        }).SheetName("Show Hide Row Column").Add();
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete"))
    )
}
@section ScriptSection{
    <script type="text/javascript">
        function loadComplete(args) {    
            this.setWidthToColumns([ 105, 119, 159, 219, 154, 154, 154 ]);
            this.XLFormat.format({ "style": { "font-weight": "bold" } }, "A1:G1");
            this.XLFormat.format({ "style": { "text-align": "right" } }, "F2:F30");
            this.hideRow(5, 8);
            this.hideRow(10, 15);
            this.hideColumn(2, 2);
            this.performSelection("A1");
        }
    </script>
}

