@section SampleHeading{<span class="sampleName"> Spreadsheet / Sorting and Filtering</span>}
<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .AllowFormulaBar(false)
    .ShowRibbon(false)
    .ScrollSettings(scroll =>
    {
        scroll.Height(450);
    })
    .Sheets(sheet =>
    {
        sheet.RangeSettings(range =>
        {
            range.Datasource((IEnumerable<object>)ViewBag.Datasource).Add();
        }).Add();
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete"))
    )
}
@section ScriptSection{
    <script type="text/javascript">

        function loadComplete(args) {
            var xlSort = this.XLSort;
            this.setWidthToColumns([ 104, 145, 135, 185, 190, 186 ]);
            this.sheetRename("Sorting and Filtering");
            this.XLFormat.format({ "style": { "font-weight": "bold", "vertical-align": "middle", "text-align": "center" } }, "A1:G1");
            xlSort.sortByRange("B2:B15", "B", "ascending");
            xlSort.sortByRange("E2:E15", "E", "descending");
            this.XLFilter.filter("A1:G15");
            this.performSelection("A2");
        }

    </script>
}