@section SampleHeading{<span class="sampleName">Spreadsheet-Table-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
   <meta name="description" content="This demo shows how to organizes the information into rows and columns using Syncfusion ASP.NET MVC Spreadsheet control">
}

<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .AllowClipboard(false)
    .AllowUndoRedo(false)
    .AllowConditionalFormats(false)
    .AllowHyperlink(false)
    .AllowFormulaBar(false)
    .AllowFormatPainter(false)
    .ScrollSettings(scroll =>
    {
        scroll.Height(540);
    })
    .Sheets(sheet =>
    {
        sheet.RangeSettings(range =>
        {
            range.Datasource((IEnumerable<object>)ViewBag.Datasource).ShowHeader(false).Add();
        }).Add();
    })
    .ExportSettings(export => export.AllowExporting(false))
    .ClientSideEvents(events => events.LoadComplete("loadComplete").OpenFailure("openfailure"))
    )
}
@section ScriptSection{
    <script type="text/javascript">

        function loadComplete(args) {
            var i, formatObj = [],formatName = ["TableStyleLight8", "TableStyleLight10", "TableStyleLight9", "TableStyleMedium8", "TableStyleDark3", "TableStyleDark2"], xlFormat = this.XLFormat;
            for (i = 0; i < formatName.length; i++)
                formatObj[i] = { "header": true, "name": "Table" + (i + 1), "formatName": formatName[i] };
            this.sheetRename("Format as Table");
            this.setWidthToColumns([ 103, 133, 112, 123, 123, 115, 112, 115 ]);
            xlFormat.createTable(formatObj[0], "A1:B4");
            xlFormat.createTable(formatObj[1], "D1:E4");
            xlFormat.createTable(formatObj[2], "G1:H4");
            xlFormat.createTable(formatObj[3], "A8:B11");
            xlFormat.createTable(formatObj[4], "D8:E11");
            xlFormat.createTable(formatObj[5], "G8:H11");
            this.performSelection("A2");
        }

        function openfailure(args) {
            var xlObj = $("#Spreadsheet").data("ejSpreadsheet");
            xlObj.alert(args.statusText);
        }

    </script>
}

