@section SampleHeading{<span class="sampleName">WaitingPopup / Default</span> }
@section ControlsSection{
<div class="controlframe" style="position:relative;">
    <div id="target"></div>
    @Html.EJ().WaitingPopup("target").ShowOnInit(true).AppendTo(".controlframe")
</div>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        #target {
            height: 320px;
        }
 
    </style>
}