@section MetaTags{
   <meta name="description" content="DateRangePicker for ASP.NET MVC with the strongly typed extension support. Value is set from the code behind by invoking DateRangePickerFor helper">
}

@section SampleHeading{
    <span class="sampleName">DateRangePicker-DateRangePickerFor-ASP.NET MVC-SYNCFUSION</span>}

@model MVCSampleBrowser.Models.daterangepicker
@section ControlsSection{
    <div class="frame">
        <div class="control">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                @Html.EJ().DateRangePickerFor(model => model.daterangepicker1, (Syncfusion.JavaScript.Models.DateRangePickerProperties)ViewData["date"]).Width("100%")
                @Html.ValidationMessageFor(model => model.daterangepicker1)

                @Html.EJ().Button("btn").Size(ButtonSize.Small).Text("Post").Type(ButtonType.Submit)
            }
        </div>
    </div>
}
@section StyleSection{
    <style>
        #btn {
            margin-left: 30px;
            margin-top: 20px;
        }
    </style>
}

