@section SampleHeading{<span class="sampleName">DateRangePicker / Ranges</span> }
@{List<Object> Special = new List<Object>() { "3/12/2018", "3/18/2018" };}
@{List<Object> Christmas = new List<Object>() { "12/25/2018", "1/1/2018" };}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DateRangePicker("DateRange").Value("05/28/2018-06/27/2018").Ranges(e => e.Add().Label("Special Week").Range(Special)).Ranges(p => p.Add().Label("Christmas Week").Range(Christmas)).Width("100%")
        </div>
    </div>
}
@section StyleSection{
    <style>
        .control {
            width: 100%;
        }

        .frame{
            width: 75%;
        }

        .control .e-daterangewidget {
            width: 225px;
            margin: auto;
        }
    </style>
}