@section MetaTags{
   <meta name="description" content="This sample demonstrates initializing the context menu over a target using ASP.NET MVC Menu control." >
}

@section SampleHeading{
    <span class="sampleName">Menu-Context Menu-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
<div class="controlframe">
    <div id="target" class="textarea">
        HTML is written in the form of HTML elements consisting of tags enclosed in angle
        brackets (like &lt;html&gt; ),within the web page content. HTML tags most commonly
        come in pairs like and ,although some tags, known as empty elements, are unpaired,
        for example &lt;img&gt;. The purpose of a web browser is to read HTML documents
        and compose them into visible or audible web pages. The browser does not display
        the HTML tags, but uses the tags to interpret the content of the page.
    </div>
    @Html.EJ().Menu("docfile").Items(items =>
                   {
                       items.Add().Url("").Text("Cut");
                       items.Add().Url("").Text("Copy");
                       items.Add().Url("").Text("Paste");
                       items.Add().Url("").Text("Comments");
                       items.Add().Url("").Text("Links");
                       items.Add().Url("").Text("Clear Formatting");
                   }).MenuType(MenuType.ContextMenu).OpenOnClick(true).ContextMenuTarget("#target")
    </div>
}
@section StyleSection{
    <style type="text/css">
        .textarea {
            border: 1px solid;
            padding: 10px;
            position: relative;
            text-align: justify;
            color: gray;
        }
    </style>
}

