@section MetaTags{
   <meta name="description" content="This example demonstrates how to bind a remote data as database in the Syncfusion ASP.NET MVC Menu control." >
}

@section SampleHeading{
    <span class="sampleName">Menu-Remote Data-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
<div class="controlframe" style="width: 296px;">
    @Html.EJ().Menu("shipDetails").MenuFields(f => f.Datasource(d => d.URL("//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc/").CrossDomain(true)).Query("ej.Query().from('Categories').select('CategoryID,CategoryName').take(3)").Id("CategoryID").Text("CategoryName").Child(c => c.Datasource(cd => cd.URL("//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc/").CrossDomain(true)).TableName("Products").Id("ProductID").ParentId("CategoryID").Text("ProductName")))
    </div>
}

