@section SampleHeading{
    <span class="sampleName">Menu-Local Data-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
<div class="controlframe" style="width: 455px;">
    @Html.EJ().Menu("menujson").MenuFields(f => f.Datasource((IEnumerable<MenuJson>)ViewBag.datasource).Id("pid").Text("mtext").ParentId("parent").SpriteCssClass("sprite"))
    </div>
}
@section StyleSection{
    <style type="text/css">
        #menujson {
            margin-left: 50px;
        }

        .e-menu li > ul > li > a {
            padding: 3px 24px 3px 35px;
        }

        [class^="flag-"],
        [class*="flag-"] {
            background-image: url("../images/autocomplete/flags.png");
            height: 14px;
            left: 2px;
            top: 4px;
            width: 24px;
        }
    </style>
    <link href="@Url.Content("~/Content/Samples/MenuJson.css")" rel="stylesheet" />
}

