@section SampleHeading{
    <span class="sampleName">Menu / Events</span>}
@section ControlsSection{
<div class="controlframe" style="width: 294px;">
    @Html.EJ().Menu("menuEvents").Items(items =>
               {
                   items.Add().Url("").Text("File").Children(child =>
                       {
                           child.Add().Url("").Text("New");
                           child.Add().Url("").Text("Open");
                           child.Add().Url("").Text("Save");
                           child.Add().Url("").Text("PrintPreview");
                           child.Add().Url("").Text("Print");
                       });
                   items.Add().Url("").Text("Edit").Children(child =>
                   {
                       child.Add().Url("").Text("Undo");
                       child.Add().Url("").Text("Redo");
                       child.Add().Url("").Text("Mobile MVC");
                       child.Add().Url("").Text("Silverlight");
                   });
                   items.Add().Url("").Text("View").Children(child =>
                   {
                       child.Add().Url("").Text("Print Layout");
                       child.Add().Url("").Text("Show ruler");
                       child.Add().Url("").Text("Show spelling suggestion");
                       child.Add().Url("").Text("Compact controls");
                       child.Add().Url("").Text("Full screen");
                   });
                   items.Add().Url("").Text("Insert").Children(child =>
                   {
                       child.Add().Url("").Text("Image");
                       child.Add().Url("").Text("Link");
                       child.Add().Url("").Text("Comments");
                       child.Add().Url("").Text("Foot note");
                       child.Add().Url("").Text("Header");
                       child.Add().Url("").Text("Footer");
                   });
                   items.Add().Url("").Text("Help").Children(child =>
                   {
                       child.Add().Url("").Text("Docs Help");
                       child.Add().Url("").Text("User Forums");
                       child.Add().Url("").Text("Report an Issue");
                       child.Add().Url("").Text("Keyboard Shortcuts");
                   });
               }).ClientSideEvents(e => e.Create("onCreate").Mouseover("mouseOver").Mouseout("mouseOut").Click("menuClick").Keydown("keyDown"))
    </div>
}
@section EventsDropdown{
    @Html.EJ().DropDownList("selectControls_input").TargetID("evntname").ShowCheckbox(true).CheckAll(true).ClientSideEvents(e => e.Change("evtpropscheckedevent").PopupShown("adjustpopupposition"))
    <div id="evntname">
        <ul>
            <li>mouseover</li>
            <li>mouseout</li>
            <li>click</li>
            <li>keydown</li>
        </ul>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        var menuObj;
        function onCreate(args) {
            jQuery.addEventLog("Menu has been <span class='eventTitle'>created</span>.");
        }
        function mouseOver(sender) {
            jQuery.addEventLog("Menu item has been <span class='eventTitle'>hovered-in</span>.</br>");
        }
        function mouseOut(sender) {
            jQuery.addEventLog("Menu item has been <span class='eventTitle'>hovered-out</span>.</br>");
        }
        function menuClick(sender) {
            jQuery.addEventLog("Menu item is <span class='eventTitle'>clicked</span>.</br>");
        }
        function keyDown(sender) {
            jQuery.addEventLog("Menu item has been changed by <span class='eventTitle'>keys</span>.</br>");
        }
        function onClear() {
            jQuery.clearEventLog();
        }
        function evtpropscheckedevent(args) {
            menuObj = $("#menuEvents").data("ejMenu");
            if (args.isChecked) {
                switch (args.selectedText) {
                    case "click": menuObj.option(args.selectedText, "menuClick"); break;
                    case "mouseover": menuObj.option(args.selectedText, "mouseOver"); break;
                    case "mouseout": menuObj.option(args.selectedText, "mouseOut"); break;
                    case "keydown": menuObj.option(args.selectedText, "keyDown"); break;
                }
            }
            else menuObj.option(args.selectedText, null);
        }
    </script>
}
