@section MetaTags{
   <meta name="description" content="This example demonstrates how the to customize the menu opening direction in a ASP.NET MVC." >
}

@section SampleHeading{
    <span class="sampleName">Menu-Open Direction-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
<div class="controlframe" style="width: 508px;">
    @Html.EJ().Menu("syncfusionProducts").Items(items =>
               {
                   items.Add().Url("#").Id("Products").Text("Products").Children(child =>
                       {
                           child.Add().Url("").Text("ASP.NET");
                           child.Add().Url("").Text("ASP.NET MVC");
                           child.Add().Url("").Text("Mobile MVC");
                           child.Add().Url("").Text("Silverlight");
                           child.Add().Url("").Text("Windows Forms");
                           child.Add().Url("").Text("Windows Phone");
                           child.Add().Url("").Text("WinRT (XMAL)");
                           child.Add().Url("").Text("WPF");
                           child.Add().Url("").Text("Orubase Studio");
                           child.Add().Url("").Text("Metro Studio");
                           child.Add().Url("").Text("What's New").Children(child1 =>
                               {
                                   child1.Add().Url("").Text("ASP.NET");
                                   child1.Add().Url("").Text("WPF");
                                   child1.Add().Url("").Text("Silverlight");
                                   child1.Add().Url("").Text("Windows Forms");
                                   child1.Add().Url("").Text("Windows Phone");
                                   child1.Add().Url("").Text("ASP.NET MVC");
                                   child1.Add().Url("").Text("ASP.NET");
                               });
                       });
                   items.Add().Url("").Text("Support").Children(child =>
                       {
                           child.Add().Url("").Text("Direct-Trac Support");
                           child.Add().Url("").Text("Community Forums");
                           child.Add().Url("").Text("Knowledge Base");
                           child.Add().Url("").Text("Online Documentation");
                           child.Add().Url("").Text("Services").Children(child1 =>
                               {
                                   child1.Add().Url("").Text("Consulting");
                                   child1.Add().Url("").Text("Training");
                               });
                       });
                   items.Add().Url("").Id("Purchase").Text("Purchase");
                   items.Add().Url("").Id("Downloads").Text("Downloads").Children(child =>
                       {
                           child.Add().Url("").Text("Evaluation");
                           child.Add().Url("").Text("Free E-Books");
                           child.Add().Url("").Text("Metro Studio");
                           child.Add().Url("").Text("Latest Version");
                           child.Add().Url("").Text("Version History");
                       });
                   items.Add().Id("Resources").Url("").Text("Resources").Children(child =>
                      {
                          child.Add().Url("").Text("Technology Resource Portal").Children(child1 =>
                                      {
                                          child1.Add().Url("").Text("E-Books");
                                          child1.Add().Url("").Text("White Papers");
                                      });
                          child.Add().Url("").Text("Case Studies");
                          child.Add().Url("").Text("Bouchers & Datasheets");
                          child.Add().Url("").Text("FAQ");
                      });
                   items.Add().Url("").Id("Company").Text("Company").Children(child =>
                   {
                       child.Add().Url("").Text("About Us").Children(child1 =>
                           {
                               child1.Add().Url("").Text("More About Us");
                               child1.Add().Url("").Text("Management");
                               child1.Add().Url("").Text("News & Events");
                               child1.Add().Url("").Text("Customer Quotes");
                               child1.Add().Url("").Text("Customer Lists");
                               child1.Add().Url("").Text("Case Studies");
                               child1.Add().Url("").Text("Awards");
                               child1.Add().Url("").Text("Media Kit");
                           });
                       child.Add().Url("").Text("Company Blog");
                       child.Add().Url("").Text("Technical Blog");
                       child.Add().Url("").Text("Newsletter");
                       child.Add().Url("").Text("Partners").Children(child1 =>
                           {
                               child1.Add().Url("").Text("Technology Partners");
                               child1.Add().Url("").Text("Training Partners");
                               child1.Add().Url("").Text("Consulting Partners");
                           });
                       child.Add().Url("").Text("Locations").Children(child1 =>
                       {
                           child1.Add().Url("").Text("RDU");
                           child1.Add().Url("").Text("Chennai");
                       });
                       child.Add().Url("").Text("Contact Us");
                       child.Add().Url("").Text("Careers");
                   });

               }).SubMenuDirection(Direction.Left)
</div>
}

