@section SampleHeading{
    <span class="sampleName">Menu / Verical-Menu</span>}
@section ControlsSection{
<div class="controlframe" style="width: 150px;">
    @Html.EJ().Menu("vertical").Items(items =>
               {
                   items.Add().Url("").Text("Books").Children(child =>
                       {
                           child.Add().Url("").Text("New Releases");
                           child.Add().Url("").Text("New Releases audio books");
                           child.Add().Url("").Text("Bestsellers");
                           child.Add().Url("").Text("Upcoming");
                           child.Add().Url("").Text("Box Sets");
                       });
                   items.Add().Url("").Text("Gaming").Children(child =>
                   {
                       child.Add().Url("").Text("Upcoming");
                       child.Add().Url("").Text("PC");
                       child.Add().Url("").Text("PS Vista");
                       child.Add().Url("").Text("PS3");
                       child.Add().Url("").Text("XBox");
                       child.Add().Url("").Text("Consoles");
                   });
                   items.Add().Url("").Text("Mobiles").Children(child =>
                   {
                       child.Add().Url("").Text("New Arrivals");
                       child.Add().Url("").Text("Bestsellers");
                       child.Add().Url("").Text("Low Price");
                       child.Add().Url("").Text("Tablets");
                   });
                   items.Add().Url("").Text("Cameras").Children(child =>
                   {
                       child.Add().Url("").Text("Point & Shoots");
                       child.Add().Url("").Text("Digital SLR");
                       child.Add().Url("").Text("Camcorders");
                       child.Add().Url("").Text("Bestsellers");
                   });
                   items.Add().Url("").Text("Music's").Children(child =>
                   {
                       child.Add().Url("").Text("New Releases");
                       child.Add().Url("").Text("Bestsellers");
                       child.Add().Url("").Text("Rock Music");
                       child.Add().Url("").Text("Devotional & Spiritual");
                       child.Add().Url("").Text("Sufi & Ghazal");
                   });
               }).MenuType(MenuType.NormalMenu).Orientation(Orientation.Vertical)
    </div>
}
