@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{ <span class="sampleName">ReportWriter-Company Sales-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{

    @{ViewBag.Title = "Syncfusion Essential ReportWriter : SalesPerYear Demo";}
    @{Html.BeginForm("SalesPerYear", "ReportWriter", FormMethod.Post);
    {
        <div class="Common">
            <div class="tablediv">
                <div class="rowdiv">
                    <label id="design">
                            This sample shows the capability of exporting the RDLC report with matrix row and column groups, which is located in local path into various file formats using Report Writer.
						<br />
                        <br />	
                    </label>
                </div>

                <div class="rowdiv">
                    <div class="celldiv" style="padding:10px">
                        <label>
                            <strong>  Save As :</strong>
                        </label>
                        <input id="rbtnPDf" type="radio" name="writerFormat" value="PDF" checked="checked" style="margin-left: 15px" />
                        <label for="rbtnPDf" style="padding:0px 5px 0px 2px">
                            PDF
                        </label>
                        <input id="rbtnWord" type="radio" name="writerFormat" value="Word" style="margin-left: 15px" />
                        <label for="rbtnWord" style="padding:0px 5px 0px 2px">
                            Word
                        </label>
                        <input id="rbtnxls" type="radio" name="writerFormat" value="xls" style="margin-left: 15px" />
                        <label for="rbtnxls" style="padding:0px 5px 0px 2px">
                            Excel
                        </label>
                        <input id="rbtnHtml" type="radio" name="writerFormat" value="Html" style="margin-left: 15px" />
                        <label for="rbtnHtml" style="padding:0px 25px 0px 2px ">
                            Html
                        </label>
                        <input class="buttonStyle" type="submit" name="button" value="Generate" style="width:80px;" />
                    </div>
                </div>
            </div>
        </div>
        Html.EndForm();
    }}
}
@section StyleSection
{
    <style>
        #design {
            font: normal 16px Calibri !important;
        }
    </style>
}

