@section SampleHeading{
    <span class="sampleName">ListView / Data Binding Local</span>}
@section ControlsSection{
    @model List<ListData>
    @{
        @Html.EJ().ListView("locallistview").ShowHeader(false).Height(206).Width(400).DataSource(Model).FieldSettings(f => { f.Text("texts"); }).ClientSideEvents(evt =>evt.LoadComplete("setheight"));
    }
}
<script type="text/javascript">
        function setheight () {
            if (document.body.firstElementChild.className == "htmljssamplebrowser material"){
                var obj = $("#locallistview").ejListView("instance");
                obj.option("_refreshScroller", true);
                            }
                };
</script>