@section SampleHeading{
    <span class="sampleName">ListView / Virtual Scrolling</span>}
@section ControlsSection{
    <div class="control frame">
        <div class="ctrllabel">
            Select a customer
        </div>
         @Html.EJ().ListView("List1").Height(200).DataSource(ds => ds.URL("//js.syncfusion.com/ejServices/wcf/NorthWind.svc/").CrossDomain(true)).Query("ej.Query().from('Customers')").FieldSettings(f => f.Text("CustomerID")).TotalItemsCount(10).AllowVirtualScrolling(true).VirtualScrollMode(VirtualScrollMode.Normal)

    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">Select Mode</div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("dropdown").Width("120px").SelectedItemIndex(0).ClientSideEvents(evt => evt.Change("onValueChange")).TargetID("Targetid")

            <div id="Targetid">
                <ul>
                    <li value="Normal">Normal Mode</li>
                    <li value="Continuous">Continuous Mode</li>
                </ul>
            </div>
        </div>
    </div>
    }
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .ctrllabel {
            padding: 0px 0px 24px 38px;
            font-weight: 600;
        }

        .e-ddl-popup {
            margin: 0 auto;
        }
    </style>
}

@section ScriptSection{
    <script type="text/javascript">
        function onValueChange(args) {
            var target = $('#List1').data("ejListView");
            //target.destroy();
            var dataManger = ej.DataManager({
                url: "//js.syncfusion.com/ejServices/Wcf/Northwind.svc/", crossDomain: true
            });
            // Query creation
            var query = ej.Query()
                   .from("Customers");
            if (args.value == "Continuous") {
                $("#List1").ejListView({
                    height:200,
                    dataSource: dataManger,
                    fieldSettings: { text: "CustomerID" },
                    query: query, allowVirtualScrolling: true, virtualScrollMode: ej.VirtualScrollMode.Continuous

                });
            }
            if (args.value == "Normal") {
                $("#List1").ejListView({
                    height:200,
                    dataSource: dataManger,
                    fieldSettings: { text: "CustomerID" },
                    query: query, allowVirtualScrolling: true
                });
            }
        }
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
    </script>
}


