<div class="outputresult">
    <div class="outputDesc">Predicted Result</div>
    <div class="hr"><hr /></div>
    <div class="imageDiv"><img src="@ViewBag.Adjusted" style=" margin-right:13px;margin-bottom:13px;" /></div>
    <div class="YesorNo">@ViewBag.Result</div>
    <div class="taxDesc">@ViewBag.Text</div>
</div>
