@section SampleHeading{ <span class="sampleName">ProgressBar-Events-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{

    <div class="frame">
        <div class="control">
            @Html.EJ().ProgressBar("progressBar").Height("2px").Value(10).ClientSideEvents(evt => evt.Create("oncreate").Start("onstart").Change("onchange").Complete("oncompleted"))
        </div>
        <div class="startButton">
            @Html.EJ().ToggleButton("startButton").DefaultText("Start").ActiveText("Pause").Size(ButtonSize.Small).ClientSideEvents(evt => evt.Click("startProcess"))
        </div>
    </div>
}
<div id="progressTarget">
    <ul>
        <li>start</li>
        <li>complete</li>
        <li>change</li>
    </ul>
</div>
@section EventsDropdown{
    @Html.EJ().DropDownList("selectControls_input").TargetID("progressTarget").ShowCheckbox(true).CheckAll(true).ClientSideEvents(evt => evt.Change("evtpropscheckedevent"))
}
@section ScriptSection{
    <script>
        var progresObj;
        var showComplete = true;
        $(function () {
            progresObj = $("#progressBar").data("ejProgressBar");
            progresObj.setModel({ text: progresObj.getPercentage() + " %" });
            buttonObj = $("#startButton").data("ejToggleButton");
            $(progresObj.element).find("div.e-progress-txt").css("left", progresObj.getPercentage() - 1 + "%");
        });

        var k = 10, timer = window.clearInterval(timer);
        function evtpropscheckedevent(args) {
            progresObj = $("#progressBar").data("ejProgressBar");
            if (args.isChecked) {
                switch (args.selectedText) {
                    case "start": progresObj.option(args.selectedText, "onstart"); break;
                    case "change": progresObj.option(args.selectedText, "onchange"); break;
                    case "complete": showComplete = true; break;
                }
            }
            else if (args.selectedText == "complete") {
                showComplete = false;
            }
            else
                progresObj.option(args.selectedText, null);
        }
        function startProcess(args) {
            if (args.isChecked)
                timer = window.setInterval(draw, 100);
            else {
                buttonObj.setModel({ "defaultText": "Start" });
                timer = window.clearInterval(timer);
            }
        }
        function draw() {
            progresObj.option("text", ++k + " %");
            progresObj.option("percentage", k);
            if (progresObj.getPercentage() != 100)
                $(progresObj.element).find("div.e-progress-txt").css("left", progresObj.getPercentage() - 1 + "%");
        }
        function oncompleted(args) {
            progresObj.option("text", "100%");
            $(progresObj.element).find("div.e-progress").css("width", "101%");
            $(this.element.find("div.e-progress-txt")).css("left", "45%");
            timer = window.clearInterval(timer);
            k = 0;
            if (showComplete)
                oncomplete(args);
            buttonObj.setModel({ "toggleState": false, "defaultText": "Restart" });
        }

        function oncomplete(args) {
            jQuery.addEventLog("The process has been <span class='eventTitle'>completed</span> successfully.</br>");
        }
        function oncreate(args) {
            jQuery.addEventLog("Progressbar has been <span class='eventTitle'>created</span>.");
        }
        function onstart(args) {
            jQuery.addEventLog("Progressbar has been <span class='eventTitle'>started</span>.</br>");
        }
        function onchange(args) {
            jQuery.addEventLog("Progressbar value has been <span class='eventTitle'>changed</span> to " + args.percentage + "%.</br>");
        }
        function onClear() {
            $("#EventLog").html("");
        }
    </script>
}
@section StyleSection{
    <link href="@Url.Content("~/Content/Samples/ProgressEvents.css")" rel="stylesheet" />
}

