@section MetaTags{
   <meta name="description" content="This example demonstrates how to enable the rtl property in a ASP.NET MVC ProgressBar."  >
}

@section SampleHeading{ <span class="sampleName">ProgressBar-RTL-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{

    <div class="frame">
        <div class="control">
            @Html.EJ().ProgressBar("rtlBar").Value(35).Height("20px").EnableRTL(true)

        </div>
    </div>
}
@section ScriptSection{
    <script>
        var progress;
        $(document).ready(function () {
            progress = $("#rtlBar").data("ejProgressBar");
            progress.setModel({ text: progress.getPercentage() + " %" });
        });
    </script>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .frame {
            width: 350px;
        }
    </style>

}

