@section SampleHeading{ <span class="sampleName">Dialog / AjaxContent</span>}

@section ControlsSection{

    @Html.EJ().Button("btnOpen").Text("Click to open dialog").ClientSideEvents(evt => evt.Click("onclick"))
    <div class="control">
        @Html.EJ().Dialog("ajaxDialog").ContentType("ajax").Title("Twitter").Width(500).Containment(".control").ContentUrl(Url.Content("~/dialog/twitter").ToString()).ClientSideEvents(evt => evt.Close("onDialogClose")).IsResponsive(true)
    </div>
}
@section ScriptSection{
    <script>
        $("#btnOpen").hide();
        function onclick() {
            $("#ajaxDialog").ejDialog("open");
            $("#btnOpen").hide();
        }
        function onDialogClose(args) {
            $("#btnOpen").show();
        }
    </script>
}
@section StyleSection{
    <style class="cssStyles">
        .control {
            height: 600px;
            position: relative;
        }
       .htmljssamplebrowser.material .control {
            height:700px;
        }

        .htmljssamplebrowser:not(.material):(.office-365) #ajaxDialog {
            padding: 10px;
        }
    </style>
}
