@section SampleHeading{ <span class="sampleName">Dialog-Keyboard Navigation-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to access the Syncfusion ASP.NET MVC Dialog component functionalities using keyboard interactions.">
}
@section ControlsSection{

    @Html.EJ().Button("btnOpen").Text("Click to open dialog").ClientSideEvents(evt => evt.Click("onclick"))
    <div class="control">
        @{Html.EJ().Dialog("keyboardDialog").Title("WPF").ContentTemplate(@<div>
            Developed by Microsoft, the Windows Presentation Foundation (or WPF) is a computer-software graphical subsystem for rendering user interfaces in Windows-based applications.
            WPF, previously known as "Avalon", was initially released as part of .NET Framework 3.0. Rather than relying on the older GDI subsystem, WPF uses DirectX.
            WPF attempts to provide a consistent programming model for building applications and separates the user interface from business logic.
            It resembles similar XML-oriented object models, such as those implemented in XUL and SVG.
        </div>).Width(450).Containment(".control").ClientSideEvents(evt => evt.Close("onDialogClose")).IsResponsive(true).Render();}
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Alt + j
        </div>
        <div class="col-md-3">
            Focuses the control.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Up
        </div>
        <div class="col-md-3">
            Dialog move up.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Right
        </div>
        <div class="col-md-3">
            Dialog move right.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Down
        </div>
        <div class="col-md-3">
            Dialog move down.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Left
        </div>
        <div class="col-md-3">
            Dialog move left.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Ctrl + Right
        </div>
        <div class="col-md-3">
            Dialog resize to right direction.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Ctrl + Down
        </div>
        <div class="col-md-3">
            Dialog resize to bottom direction.
        </div>
    </div>
}
@section ScriptSection{
    <script>
        $("#btnOpen").hide();
        function onclick() {
            $("#keyboardDialog").ejDialog("open");
            $("#btnOpen").hide();
        }

        //Control focus key
        $(document).on("keydown", function (e) {
            if (e.altKey && e.keyCode === 74) { // j- key code.
                $("#keyboardDialog_wrapper").focus();
            }
        });
        function onDialogClose(args) {
            $("#btnOpen").show();
        }
        $(document).ready(function () { $("#sampleProperties").ejPropertiesPanel(); });
    </script>
}
@section StyleSection{
    <style class="cssStyles">
        .control {
            height: 500px;
            position: relative;
        }
        .htmljssamplebrowser.material .control {
            height:700px;
        }

        .cols-prop-area .content {
            height: 450px;
        }

        .row .cols-prop-area {
            height: 500px;
        }
        #keyboardDialog {
            text-align: justify;
        }
        .htmljssamplebrowser:not(.material):(.office-365) #keyboardDialog{
            padding: 10px;
        }
    </style>
}

