@section SampleHeading{ <span class="sampleName">Dialog / MultipleDialog</span>}

@section ControlsSection{

    <div class="control">
        @{Html.EJ().Dialog("Dialog1").Title("London").Target(".control").ContentTemplate(@<div>
            <p>
                London  one of the most popular tourist destinations in the world for a reason. A cultural and historical hub, London has an excellent public transportation system that allows visitors to see all the fantastic sights without spending a ton of money on a rental car.London contains four World Heritage Sites.
            </p>
        </div>).Position(p => p.XValue("-245").YValue("-80")).Target(".control").Render();}
        @{Html.EJ().Dialog("Dialog2").Title("Paris").ContentTemplate(@<div>
            <p>
               Paris, the city of lights and love - this short guide is full of ideas for how to make the most of the romanticism that oozes from every one of its beautiful corners.You couldn't possibly visit Paris without seeing the Eiffel Tower. Even if you do not want to visit this world famous structure, you will see its top from all over Paris.
            </p>
        </div>).Position(p => p.XValue("205").YValue("-80")).Target(".control").Render();}
        @{Html.EJ().Dialog("Dialog3").Title("Rome").ContentTemplate(@<div>
            <p>
               Rome is one of the world's most fascinating cities. The old adage that Rome was not built in a day — and that you won't see it in one or even in three — is true. For the intrepid traveler who can keep pace, here is a list of must-sees. But remember what the Romans say: Even a lifetime isn't enough to see Rome.
            </p>
        </div>).Position(p => p.XValue("0").YValue("140")).Target(".control").Render();}
    </div>
}
@section StyleSection{
    <style class="cssStyles">
        .control {
            height: 500px;
        }
          .htmljssamplebrowser.material .control {
            height:700px;
        }
        p {
            margin: 0px;
            text-align: justify;
        }

        .row .cols-sample-area{
            position: relative;
            overflow: auto;
        }

        .htmljssamplebrowser:not(.material):(.office-365) #Dialog1, .htmljssamplebrowser:not(.material):(.office-365) #Dialog2, .htmljssamplebrowser:not(.material):(.office-365) #Dialog3 {
            padding: 10px;
        }
        div#Dialog1_wrapper{
            left: 10px;
        }
        div#Dialog2_wrapper {
            z-index: 1000000009;
            width: 400px;
            min-width: 200px;
            height: auto;
            min-height: 120px;
            position: absolute;
            left: 510px;
            display: block;
        }
        div#Dialog3_wrapper {
            z-index: 1000000005;
            width: 400px;
            min-width: 200px;
            height: auto;
            min-height: 120px;
            position: absolute;
            top:240px;
            left: 260px;
            display: block;
        }
    </style>
}

