@section SampleHeading{ <span class="sampleName">Dialog / Rtl</span>}

@section ControlsSection{

    @Html.EJ().Button("btnOpen").Text("Click to open dialog").ClientSideEvents(evt => evt.Click("onclick"))
    <div class="control">
        @{Html.EJ().Dialog("rtlDialog").Title("أودي Q3 محرك").ContentTemplate(@<div>
            <h1>الاستماع Q3</h1>
            <div class="audi-q3">
                <img class="img" src="@Url.Content("~/Images/dialog/audiq3-1.png")" />
                <br />
                <img class="img" src="@Url.Content("~/Images/dialog/audiq3-2.png")" />
            </div>
            <div class="cnt">
                بل هو مفهوم السيارة مع السائل فضة لون الجسم، وعجلات 20 بوصة، سقف قابلة للطي النسيج، وغطاء محرك السيارة التي تسيطر عليها كهربائيا، 4 أسطوانات محرك 2.0 TDI تصنيف 204 حصانا (150 كيلوواط؛ 201 حصان)
                                 و 400 نيوتن متر (295.02 باوند · قدم)، الديزل جسيمات مرشح وبلوتك نظام التحكم في الانبعاثات، كواترو دائم نظام الدفع الرباعي مع HALDEX القابض،
                                 أودي S ترونيك علبة التروس ذات القابض المزدوج، ماكفرسون-تبختر المحور الأمامي والمحور الخلفي أربعة الارتباط، أودي محرك أقراص النظام SELECT مع 3 طرق (الديناميكية، والرياضة، والكفاءة)،
                                 MMI لوحة التحكم مع لوحة اللمس والرؤية المزدوجة والتكنولوجيا، ونظام الصوت مع مكبرات الصوت تمديد بارز.
            </div>
        </div>).EnableRTL(true).Width(550).MinWidth(325).IsResponsive(true).Target(".control").ClientSideEvents(evt => evt.Close("onDialogClose")).Render();}
    </div>
}
@section ScriptSection{
    <script>
        $("#btnOpen").hide();
        function onclick() {
            $("#rtlDialog").ejDialog("open");
            $("#btnOpen").hide();
        }
        function onDialogClose(args) {
            $("#btnOpen").show();
        }
    </script>
}
@section StyleSection{
    <style class="cssStyles">
        .audi-q3 {
            float: left;
            margin: 0px;
            height: 360px;
            width: 267px;
            margin-right: 17px;
        }

        .control {
            height: 550px;
        }
       .htmljssamplebrowser.material .control {
            height:700px;
        }
        .cnt {
            min-height: 356px;
        }

        .row .cols-sample-area{
            position: relative;
            overflow: auto;
        }

        .img {
            margin-bottom: 8px;
        }

        h1 {
            margin: 0 0 10px 0;
        }
        #rtlDialog {
            text-align: justify;
        }

        .htmljssamplebrowser:not(.material):(.office-365) #rtlDialog {
            padding: 15px;
        }
    </style>
}