@section SampleHeading{ <span class="sampleName">Accordion / Default Functionalities</span>}

@section ControlsSection{
<div class="controlframe">
    @{Html.EJ().Accordion("basicAccordion").Items(data =>
               {
                   data.Add().Text("Inbox").ContentTemplate(@<div>
            <div class="emp-list">
                <img src="../Content/Images/Employees/3.png" alt="employee" />
                <div class="time-panel">7:30</div>
                <b class="headername">Catriona</b><br />
                All WinRT controls are optimized for touch, supporting common gestures: zooming, panning, selecting, double-tapping, rotating, resizing.
            </div>
            <div class="emp-list">
                <img src="../Content/Images/Employees/6.png" alt="employee" />
                <div class="time-panel">5:33</div>
                <b class="headername">John Linden</b><br />
                All the components in the ASP.NET MVC have been built from the ground up with performance in mind and are extremely lightweight.
            </div>
            <div class="emp-list">
                <img src="../Content/Images/Employees/8.png" alt="employee" />
                <div class="time-panel">2:10</div>
                <b class="headername">Louis</b><br />
                Big data is a broad term for data sets so large or complex that traditional data processing applications are inadequate. Challenges include analysis, capture, data curation, search, sharing, storage, transfer, visualization, querying and information privacy.
            </div>
        </div>);
                   data.Add().Text("Sent").ContentTemplate(@<div>
            <div class="emp-list">
                <img src="../Content/Images/Employees/8.png" alt="employee" />
                <div class="time-panel">3:55</div>
                <b class="headername">Louis</b><br />
                Big data is a broad term for data sets so large or complex that traditional data processing applications are inadequate. Challenges include analysis, capture, data curation, search, sharing, storage, transfer, visualization, querying and information privacy.
            </div>
            <div class="emp-list">
                <img src="../Content/Images/Employees/6.png" alt="employee" />
                <div class="time-panel">6:47</div>
                <b class="headername">John Linden</b><br />
                Cloud computing, also known as 'on-demand computing', is a kind of Internet-based computing, where shared resources, data and information are provided to computers and other devices on-demand.
            </div>
        </div>);
                   data.Add().Text("Trash").ContentTemplate(@<div>
            <div class="emp-list">
                <img src="../Content/Images/Employees/3.png" alt="employee" />
                <div class="time-panel">8:30</div>
                <b class="headername">Catriona</b><br />
                With our sophisticated support system, built from the ground up to support all type of customers, you will have a streamlined experience working with our support team.
            </div>
        </div>);
               }).Render();}
    </div>
}
@section StyleSection{
    <link href="@Url.Content("~/Content/Samples/AccordDefault.css")" rel="stylesheet" />
}

