@section SampleHeading{ <span class="sampleName">ReportDesigner-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}

@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ

@section StyleSection{
    <style>
        #reportdesigner {
            min-height: 650px;
            min-width: 100%;
        }
    </style>
}

@section ControlsSection{
    <div style="width:100%">
            @(
               Html.EJ().ReportDesigner("reportdesigner").ServiceUrl(VirtualPathUtility.ToAbsolute("~/api/ReportDesigner")).Create("controlInitialized")
            )
    </div>
}

@section ScriptReferenceSection{
    <script src="~/Scripts/CodeMirror/codemirror.js"></script>
    <script src="~/Scripts/CodeMirror/show-hint.js"></script>
    <script src="~/Scripts/CodeMirror/sql-hint.js"></script>
    <script src="~/Scripts/CodeMirror/sql.js"></script>
    <link href="~/Scripts/CodeMirror/codemirror.min.css" rel="stylesheet" />
    <link href="~/Scripts/CodeMirror/show-hint.min.css" rel="stylesheet" />
<script type="text/javascript">
        var controlId = 'reportdesigner';
        @{ var isSupport = true; }

        function controlInitialized(args) {
            var designer = $('#' + controlId).data('ejReportDesigner');
            designer.openReport('/Catagory2/Invoice');
        }

        if ((ej.browserInfo().name === "msie" && Number(ej.browserInfo().version) < 9)) {
            alert("ReportDesigner will not be supported in IE Version < 9");
            @isSupport = false;
        }
</script>
}

