@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Annotations-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render annotation in chart using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div id= "watermark" style="font-size:100px; display:none">2014</div>

<div id= "hightemp" style="display:none" align="center">
<img style="width:50px;" src="../images/chart/sun_annotation.png">
<div>Highest<br/>Temperature</div>
</div>

<div id= "lowtemp" style="display:none;"align="center">
    <img style="width:50px;" src="../images/chart/rain_annotation.png" />
    <div>Lowest<br/>Temperature</div>
</div>

    <div>
       @(Html.EJ().Chart("container")
      .PrimaryXAxis(pr=>pr.Title(tl=>tl.Text("Month")))
      .PrimaryYAxis(pr=>pr.Range(ra=>ra.Max(120).Min(0).Interval(20)).Title(tl=>tl.Text("Temperature (Fahrenheit)")))
      .CommonSeriesOptions(cm=>cm.EnableAnimation(true).Type(SeriesType.Column).Tooltip(tl=>tl.Visible(false)))
      .Series(sr =>
          {
              sr.Points(pt =>
                  {
                      pt.X("Jan").Y(60).Add();
                      pt.X("Feb").Y(50).Add();
                      pt.X("Mar").Y(64).Add();
                      pt.X("Apr").Y(63).Add();
                      pt.X("May").Y(81).Add();
                      pt.X("Jun").Y(64).Add();
                      pt.X("Jul").Y(82).Add();
                      pt.X("Aug").Y(96).Add();
                      pt.X("Sep").Y(78).Add();
                      pt.X("Oct").Y(60).Add();
                      pt.X("Nov").Y(58).Add();
                      pt.X("Dec").Y(56).Add();
                  }).Name("Temperature").Fill("#55AAFF").Marker(mr => mr.DataLabel(db => db.Visible(true).TextPosition(TextPosition.Middle).EnableContrastColor(true).Font(fn=>fn.Size("14px")))).Add();
          })
      .Load("loadTheme")
      .IsResponsive(true)     
      .Annotations(an =>
          {
              an.Visible(true).Content("watermark").Opacity(0.2).Region(Syncfusion.JavaScript.DataVisualization.Region.Series).Add();
              an.Visible(true).Content("lowtemp").CoordinateUnit(CoordinateUnit.Points).VerticalAlignment(VerticalAlignment.Top).X(1).Y(51).Margin(mr=>mr.Bottom(5)).Add();
              an.Visible(true).Content("hightemp").CoordinateUnit(CoordinateUnit.Points).VerticalAlignment(VerticalAlignment.Top).X(7).Y(97).Margin(mr => mr.Bottom(5)).Add();
          })
      .Title(title=>title.Text("Temperature flow over months"))
      .Size(sz=>sz.Height("600"))
      .Legend(lg => { lg.Visible(false); }))
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}


