@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Area-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render and configure area series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
  @(Html.EJ().Chart("container").ChartArea(cr => cr.Border(ab => ab.Color("transparent")))
        .PrimaryXAxis(ax => ax.MajorGridLines(mr => mr.Visible(false)).MajorTickLines(mt => mt.Visible(false))
        .Title(tl => tl.Text("Year")).Range(ra => ra.Max(2000).Min(1900).Interval(10)))
        .PrimaryYAxis(pr => pr.AxisLine(ax => ax.Visible(false)).MajorTickLines(mt => mt.Visible(false))
        .Title(tl => tl.Text("Sales Amount in Millions")).Range(ra => ra.Max(5).Min(2).Interval(0.5)))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("1900").Y(4).Add();
                        pt.X("1920").Y(3.0).Add();
                        pt.X("1940").Y(3.8).Add();
                        pt.X("1960").Y(3.4).Add();
                        pt.X("1980").Y(3.2).Add();
                        pt.X("2000").Y(3.9).Add();
                    }).Name("Product A").Type(SeriesType.Area).EnableAnimation(true)
                      .Border(s1B => s1B.Color("transparent")).Opacity(0.5).Fill("#69D2E7").Add();

                sr.Points(pt =>
                {
                    pt.X("1900").Y(2.6).Add();
                    pt.X("1920").Y(2.8).Add();
                    pt.X("1940").Y(2.6).Add();
                    pt.X("1960").Y(3).Add();
                    pt.X("1980").Y(3.6).Add();
                    pt.X("2000").Y(3).Add();
                }).Name("Product B").Type(SeriesType.Area).EnableAnimation(true)
                  .Border(s2B => s2B.Color("transparent")).Opacity(0.5).Fill("#C4C24A").Add();

                sr.Points(pt =>
                {
                    pt.X("1900").Y(2.8).Add();
                    pt.X("1920").Y(2.5).Add();
                    pt.X("1940").Y(2.8).Add();
                    pt.X("1960").Y(3.2).Add();
                    pt.X("1980").Y(2.9).Add();
                    pt.X("2000").Y(2).Add();
                }).Name("Product C").Type(SeriesType.Area).EnableAnimation(true)
                  .Border(s3B => s3B.Color("transparent")).Opacity(0.5).Fill("#6A4B82").Add();
            })
        .IsResponsive(true)
        .Load("loadTheme")
        .Title(title => title.Text("Average Sales Comparison"))
        .Size(sz => sz.Height("600"))
        .Legend(lg => { lg.Visible(true); })
        )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}


