@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Axis Crossing-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to configure crossing in chart axis using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
  @(Html.EJ().Chart("container").Margin(m => m.Left(20))
        .PrimaryXAxis(pr => pr
            .CrossesAt(0)
            .Range(ra => ra.Max(2012).Min(1998).Interval(2)))
        .PrimaryYAxis(pr => pr
            .CrossesAt(2005).Title(tl => tl.Text("Profit / loss percentage"))
            .LabelFormat("p0").Name("primaryYAxis").Range(ra => ra.Max(1).Min(-1).Interval(0.25)))
        .CommonSeriesOptions(option=> option.Type(SeriesType.Bubble).Tooltip(t=>t.Visible(true)))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {					 
						pt.X("2000").Y(-.33).Size(5).Fill("#E94649").Add();
                        pt.X("2000.5").Y(.81).Size(4).Fill("#F6B53F").Add();
                        pt.X("2001.5").Y(-.48).Size(9).Fill("#6FAAB0").Add();
                        pt.X("2002").Y(-.19).Size(2).Fill("#C4C24A").Add();
                        pt.X("2002.5").Y(.30).Size(8).Fill("#FB954F").Add();
                        pt.X("2003").Y(.70).Size(11).Fill("#D9CEB2").Add();
                        pt.X("2006").Y(.62).Size(1).Fill("#FF8D8D").Add();
                        pt.X("2007").Y(.39).Size(9).Fill("#69D2E7").Add();
                        pt.X("2008").Y(.7).Size(6).Fill("#E27F2D").Add();
                        pt.X("2009").Y(.22).Size(7).Fill("#6A4B82").Add();
                        pt.X("2010").Y(.48).Size(7).Fill("#4B4B82").Add();
						pt.X("2006.5").Y(-.62).Size(1).Fill("#CF8D8D").Add();
                        pt.X("2007.5").Y(-.39).Size(9).Fill("#B9D2E7").Add();
                        pt.X("2008.5").Y(-.7).Size(6).Fill("#A27F2D").Add();
                        pt.X("2009.5").Y(-.22).Size(7).Fill("#CA4D82").Add();
                        pt.X("2010.5").Y(-.48).Size(7).Fill("#B64A82").Add();
                    }).Name("Sales").Type(SeriesType.Bubble).Opacity(0.7).Add();
            })
        .IsResponsive(true)
        .Load("loadTheme")
        .Title(title => title.Text("Sales Analysis").SubTitle(sub=>sub.Text("Profit till 2010").TextAlignment(Syncfusion.JavaScript.DataVisualization.TextAlignment.Center)))
        .Size(sz => sz.Height("600"))
		.ToolTipInitialize("ToolTipInitialize")
        .Legend(lg => { lg.Visible(false); })
        )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}

@section PropertiesSection
{
    <div class="prop-grid">
						<div class="row">
							<div class="col-md-3">
								<b>X-Axis</b>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								 Crosses At
							</div>
							<div class="col-md-3 aligntop">
							@Html.EJ().NumericTextbox("xCrossingValue").Value(0).Width("80px").MinValue(-100).MaxValue(100).IncrementStep(25).ClientSideEvents(s => s.Change("xCrossingValue"))
														</div>
						</div>						
						<div class="row">
						<div class="col-md-3" style="width:80px">
								  Show Next to Axis Line
							</div>
							<div class="col-md-3 aligntop">
								  <input type="checkbox" style="margin-left:25px" id="myCheck1" name="ShowNextToAxisLine" onchange="axisCrossing()" checked >
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-md-3">
								   <b>Y-Axis</b>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								   Crosses At
							</div>
							<div class="col-md-3 aligntop">
								@Html.EJ().NumericTextbox("yCrossingValue").GroupSeparator("").Value(2005).Width("80px").MinValue(1998).MaxValue(2012).ClientSideEvents(s => s.Change("yCrossingValue"))
							</div>
						</div>					
						<div class="row">
						<div class="col-md-3" style="width:80px">
								  Show Next to Axis Line
							</div>
							<div class="col-md-3 aligntop">
								  <input type="checkbox" style="margin-left:25px" id="myCheck2" name="ShowNextToAxisLine" onchange="axisCrossing()" checked >
							</div>
						</div>
						<br/>
					</div>
}

@section ScriptSection
{
<script type="text/javascript">
    function ToolTipInitialize(args) {
        var point = args.model.series[args.data.seriesIndex].points[args.data.pointIndex];
        args.data.currentText = 'Sales in year ' + point.x + '<br/>Cost: ' + point.size + ' million(s)<br/>' + (point.y < 0 ? -point.y * 100 + ' % loss' : point.y * 100 + ' % profit');
    }
            function xCrossingValue(sender) {
			
			    $("#container").ejChart("option", { primaryXAxis: { crossesAt :parseInt(sender.value)/100} });
            }

            function yCrossingValue(sender) {
    		    $("#container").ejChart("option", { primaryYAxis: { crossesAt : parseInt(sender.value)} });
            }
			function axisCrossing()
			{
				var chartobj = $("#container").ejChart("instance");
				var xCrossValue = document.getElementById('xCrossingValue');
				var yCrossValue = document.getElementById('yCrossingValue');	
				if ($("#myCheck1").is(":checked"))
					chartobj.model.primaryXAxis.showNextToAxisLine = true;
				else 
					chartobj.model.primaryXAxis.showNextToAxisLine = false;		 	
				if ($("#myCheck2").is(":checked"))
					chartobj.model.primaryYAxis.showNextToAxisLine = true;
				else 
					chartobj.model.primaryYAxis.showNextToAxisLine = false;	
				$("#container").ejChart("redraw");
			}
    $("#sampleProperties").ejPropertiesPanel();
</script>
}

