@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Bar-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render and configure bar series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
        @(Html.EJ().Chart("container")
        .PrimaryXAxis(pr => pr.Title(tl => tl.Text("Year")).Range(ra => ra.Min(2005).Max(2012).Interval(1)))
        .PrimaryYAxis(pr => pr.Range(ra => ra.Max(12).Min(3).Interval(1)).Title(tl => tl.Text("Percentage")).LabelFormat("{value}%"))
        .CommonSeriesOptions(cr => cr.Type(SeriesType.Bar).EnableAnimation(true).Tooltip(tt => tt.Visible(true).Format("#series.name# <br/> #point.x# : #point.y#")).Marker(mr => mr.DataLabel(dt => dt.Visible(true).EnableContrastColor(true).TextPosition(TextPosition.Top).HorizontalTextAlignment(Syncfusion.JavaScript.DataVisualization.TextAlignment.Near).Font(fn => fn.Size("13px").FontFamily("Segoe UI")))))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("2006").Y(7.8).Add();
                        pt.X("2007").Y(7.2).Add();
                        pt.X("2008").Y(6.8).Add();
                        pt.X("2009").Y(10.7).Add();
                        pt.X("2010").Y(10.8).Add();
                        pt.X("2011").Y(9.8).Add();
                    }).Name("India").Add();
                sr.Points(pt =>
                {
                    pt.X("2006").Y(4.8).Add();
                    pt.X("2007").Y(4.6).Add();
                    pt.X("2008").Y(7.2).Add();
                    pt.X("2009").Y(9.3).Add();
                    pt.X("2010").Y(9.7).Add();
                    pt.X("2011").Y(9).Add();
                }).Name("US").Add();
            })
        .Load("loadTheme")
        .DisplayTextRendering("OndataLabel")
        .IsResponsive(true)
        .Title(t => t.Text("Unemployment rate (%)"))
        .Size(sz => sz.Height("600"))
        .Legend(lg => { lg.Visible(true).Position(LegendPosition.Right).Alignment(Syncfusion.JavaScript.DataVisualization.TextAlignment.Near); })
        )
    </div>
}
@section ScriptSection{
    <script>
        function OndataLabel(sender) {
            sender.data.location.x = sender.data.location.x + 20;
        }
        $("#controlarea").css("visibility", "visible");
    </script>
}


