@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Bar-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render and configire 3D bar series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
        @(Html.EJ().Chart("container")
              .PrimaryXAxis(pr => pr.AxisLine(ax => ax.Visible(false)).MajorGridLines(mgl => mgl.Opacity(0.12).Visible(true).Color("#a9a9a9")))
              .PrimaryYAxis(pr => pr.Title(tl => tl.Text("% of Employees")).MajorGridLines(mgl => mgl.Visible(true).Color("#a9a9a9").Opacity(0.12)))
              .CommonSeriesOptions(cr => cr.Tooltip(tt => tt.Visible(true).Format("#series.name# <br/> #point.x# : #point.y#%")))
              .Series(sr =>
            {
                sr.Points(pt =>
                {
                    pt.X("All Plans").Y(36).Add();
                    pt.X("HMO").Y(18).Add();
                    pt.X("PPO").Y(59).Add();
                    pt.X("POS").Y(40).Add();
                    pt.X("HDHP").Y(34).Add();
                    pt.X("SO").Y(44).Add();
                }).Name("California").Type(SeriesType.Bar).Add();
                sr.Points(pt =>
                {
                    pt.X("All Plans").Y(61).Add();
                    pt.X("HMO").Y(31).Add();
                    pt.X("PPO").Y(70).Add();
                    pt.X("POS").Y(31).Add();
                    pt.X("HDHP").Y(60).Add();
                    pt.X("SO").Y(62).Add();
                }).Name("United States").Type(SeriesType.Bar).Add();
            })
        .Load("onchartload")
        .Title(t => t.Text("Employees In Self Insured Plans, 2013"))
        .Depth(100)
        .WallSize(2)
        .Tilt(0)
        .Rotation(34)
        .PerspectiveAngle(90)
        .SideBySideSeriesPlacement(true)
        .IsResponsive(true)
        .EnableRotation(true)
        .Enable3D(true)
        .Size(sz => sz.Height("600"))
        .Legend(lg => { lg.Visible(true); })
        )
    </div>
}
@section ScriptSection
{
    <script>
        function onchartload(sender) {
            loadTheme(sender);
            sender.model.primaryXAxis.majorGridLines.color = "#a9a9a9";
            sender.model.primaryXAxis.majorGridLines.opacity = 0.12;
            sender.model.primaryYAxis.majorGridLines.color = "#a9a9a9";
            sender.model.primaryYAxis.majorGridLines.opacity = 0.12;
        }
        $("#controlarea").css("visibility", "visible");
    </script>
}

