@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart / Box And Whisker Chart </span>}

@section ControlsSection{

    <div>
  @(Html.EJ().Chart("container")
        .PrimaryXAxis(pr => pr.Title(tl => tl.Text("Department")) .LabelIntersectAction(LabelIntersectAction.Trim))
        .PrimaryYAxis(pr => pr.Title(tl => tl.Text("Age")))
        .Series(sr =>
            {
               sr.DataSource((IEnumerable<object>)ViewBag.dataSource).XName("Xvalue").YName("YValue1")
.Type(SeriesType.BoxAndWhisker).BoxPlotMode(BoxPlotMode.Exclusive).Fill("#69D2E7") .Tooltip(tt =>tt.Visible(true)).Add();
                       })
        .Load("loadTheme")
        .IsResponsive(true)
        .Title(t => t.Text("Employees age group in various departments"))
        .Size(sz => sz.Height("600").Width("690"))
              .Legend(lg => { lg.Visible(false); })
        )
        
    </div>
    
}


@section PropertiesSection

{
    <div id="sampleProperties">
    <div class="prop-grid">
        <div class="row">
            <div class="col-md-3">
                BoxPlot Mode
            </div>
            <div class="col-md-3" style="margin: 0 -25px 0 -25px ">
                <div id="dropdown">
                    <select id="boxmode">
                        <option value="Exclusive">Exclusive</option>
                        <option value="Inclusive">Inclusive</option>
                        <option value="Normal">Normal</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Show Median
            </div>
            <div class="col-md-3" style="margin: 0 -25px 0 -25px ">
                <input type="checkbox" id="Median" name="median" checked>  <br />
            </div>
        </div>
    </div>
</div>	  
}

@section ScriptSection
{
    <script>
       
        $('#Median').click(function () {
            var chart = $("#container").ejChart("instance");
            if ($("#Median").is(":checked"))
                chart.model.series[0].showMedian = true;
            else
                chart.model.series[0].showMedian = false;
            chart.redraw();
        });
        $("#boxmode").ejDropDownList({ "change": "changeBoxmode",width: "100px", selectedItemIndex: 0 });


        function changeBoxmode(e) {
            $('#container').ejChart('option', { commonSeriesOptions: { boxPlotMode: e.value } });
        }

        $("#sampleProperties").ejPropertiesPanel();
        $("#controlarea").css("visibility", "visible");
    </script>
    }