@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-DateTime Category Axis-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render date time category axis using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    @(Html.EJ().Chart("container")
                 .PrimaryXAxis(xaxis => xaxis.ValueType(AxisValueType.DateTimeCategory).Title(tit => tit.Text("Business Days"))
         .IntervalType(ChartIntervalType.Days).LabelFormat("ddd, dd").Range(r => r.Interval(1)))
         .PrimaryYAxis(yaxis => yaxis.LabelFormat("{value}%").Title(tit => tit.Text("Sales Count in %")))
         .Series(sr =>
             {
                 sr.Points(pt =>
                     {
                         pt.X("2015/ 03/ 02").Y(30).Add();
                         pt.X("2015/ 03/ 03").Y(50).Add();
                         pt.X("2015/ 03/ 04").Y(45).Add();
                         pt.X("2015/ 03/ 05").Y(65).Add();
                         pt.X("2015/ 03/ 06").Y(90).Add();
                         pt.X("2015/ 03/ 09").Y(85).Add();
                         pt.X("2015/ 03/ 10").Y(30).Add();
                         pt.X("2015/ 03/ 11").Y(55).Add();
                         pt.X("2015/ 03/ 12").Y(25).Add();
                         pt.X("2015/ 03/ 13").Y(40).Add();
                         pt.X("2015/ 03/ 16").Y(75).Add();
                         pt.X("2015/ 03/ 17").Y(70).Add();
                         pt.X("2015/ 03/ 18").Y(60).Add();
                         pt.X("2015/ 03/ 19").Y(30).Add();
                         pt.X("2015/ 03/ 20").Y(20).Add();
                     }).Name("Sales").Fill("#ff9900")
                       .Type(SeriesType.Column).Tooltip(tooltip => tooltip.Visible(true).Format("Date : #point.x#  <br/> Sales : #point.y#")).Add();
             })
         .CommonSeriesOptions(cr => cr.EnableAnimation(true))
         .Load("loadTheme")
         .IsResponsive(true)
         .Title(title => title.Text("Sales Comparison of a Product"))
         .Size(sz => sz.Height("600"))
         .Legend(lg => lg.Visible(false))
    )
    <script>
        $("#controlarea").css("visibility", "visible");
    </script>
}

