@section SampleHeading{<span class="sampleName">Chart-Line-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render and configure line series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div id="Tooltip" style="display: none;">
        <div id="icon">
            <div id="eficon"></div>
        </div>
        <div id="value">
            <div>
                <label id="efpercentage">#point.y#</label><br />
                <label id="ef">Efficiency</label>
            </div>
        </div>
    </div>
    <div>
        @(Html.EJ().Chart("container")
              .PrimaryXAxis(pr => pr.ValueType(AxisValueType.Category).Range(ra => ra.Min(2005).Max(2011).Interval(1)).Title(tl => tl.Text("Year")))
              .PrimaryYAxis(pr => pr.Title(tl => tl.Text("Efficiency")).RangePadding(ChartRangePadding.None)
              .LabelFormat("{value}%").Range(ra => ra.Min(25).Max(50).Interval(5)))
              .CommonSeriesOptions(cr => cr.Type(SeriesType.Line).EnableAnimation(true)
              .Marker(mr => mr.Shape(ChartShape.Circle).Size(sz => sz.Height(10).Width(10)).Visible(true)).Border(st => st.Width(2)))
              .Series(sr =>
                  {
                      sr.Points(pt =>
                          {
                              pt.X("2005").Y(28).Add();
                              pt.X("2006").Y(25).Add();
                              pt.X("2007").Y(26).Add();
                              pt.X("2008").Y(27).Add();
                              pt.X("2009").Y(32).Add();
                              pt.X("2010").Y(35).Add();
                              pt.X("2011").Y(30).Add();
                          }).Name("India").Tooltip(sr1 => sr1.Visible(true).Template("Tooltip")).Add();

                      sr.Points(pt =>
                          {
                              pt.X("2005").Y(31).Add();
                              pt.X("2006").Y(28).Add();
                              pt.X("2007").Y(30).Add();
                              pt.X("2008").Y(36).Add();
                              pt.X("2009").Y(36).Add();
                              pt.X("2010").Y(39).Add();
                              pt.X("2011").Y(37).Add();
                          }).Name("Germany").Tooltip(sr2 => sr2.Visible(true).Template("Tooltip")).Add();
                      sr.Points(pt =>
                          {
                              pt.X("2005").Y(36).Add();
                              pt.X("2006").Y(32).Add();
                              pt.X("2007").Y(34).Add();
                              pt.X("2008").Y(41).Add();
                              pt.X("2009").Y(42).Add();
                              pt.X("2010").Y(42).Add();
                              pt.X("2011").Y(43).Add();
                          }).Name("England").Tooltip(sr3 => sr3.Visible(true).Template("Tooltip")).Add();
                      sr.Points(pt =>
                          {
                              pt.X("2005").Y(39).Add();
                              pt.X("2006").Y(36).Add();
                              pt.X("2007").Y(40).Add();
                              pt.X("2008").Y(44).Add();
                              pt.X("2009").Y(45).Add();
                              pt.X("2010").Y(48).Add();
                              pt.X("2011").Y(46).Add();
                          }).Name("France").Tooltip(sr4 => sr4.Visible(true).Template("Tooltip")).Add();
                  })
              .IsResponsive(true)
              .Load("loadTheme")
              .Title(title => title.Text("Efficiency of oil-fired power production"))
              .Size(sz => sz.Height("600"))
              .Legend(lg => { lg.Visible(true); })
              )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}
@section StyleSection
{
    <style class="cssStyles">
        .tooltipDivcontainer {
            background-color: #E94649;
            color: white;
            width: 130px;
        }
        #Tooltip > div:first-child {
            float: left;
        }
        #Tooltip #value {
            float: right;
            height: 50px;
            width: 63px;
        }
        #Tooltip #value > div {
                margin: 5px 5px 5px 5px;
            }
        #Tooltip #efpercentage {
            font-size: 20px;
            font-family: segoe ui;
        }
        #Tooltip #ef {
            font-size: 12px;
            font-family: segoe ui;
        }
        #eficon {
            background-image: url("../images/chart/eficon.png");
            height: 60px;
            width: 60px;
            background-repeat: no-repeat;
        }
    </style>
}

