@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Doughnut-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render and configure donut series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
     @(Html.EJ().Chart("container")
           .Series(sr =>
                    {
                        sr.Points(pt =>
                               {
                                   pt.X("Labour").Y(28).Text("28%").Add();
                                   pt.X("Legal").Y(10).Text("10%").Add();
                                   pt.X("Production").Y(20).Text("20%").Add();
                                   pt.X("License").Y(15).Text("15%").Add();
                                   pt.X("Facilities").Y(23).Text("23%").Add();
                                   pt.X("Taxes").Y(17).Text("17%").Add();
                                   pt.X("Insurance").Y(12).Text("12%").Add();
                               }).Marker(mr =>
                               {
                                   mr.DataLabel(db =>
                                   {
                                       db.Visible(true).EnableContrastColor(true)
                                           .Font(fn => { fn.Size("30px").FontWeight(ChartFontWeight.Lighter); });
                                   });
                               })
                                  .Name("Newyork").Type(SeriesType.Doughnut).Explode(true).LabelPosition(ChartLabelPosition.Inside)
                                  .Add();
                    })
             .Load("loadTheme")
             .CommonSeriesOptions(cr => cr.EnableAnimation(true))
             .IsResponsive(true)
             .Title(title => title.Text("Project Cost Breakdown"))
             .Size(sz => sz.Height("600"))
             .Legend(lg => { lg.Visible(true).Position(LegendPosition.Top); })
        )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}

