@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart / 3D Doughnut Chart</span>}

@section ControlsSection{
    <div>
    @(Html.EJ().Chart("container")
          .CommonSeriesOptions(cr => cr.LabelPosition(ChartLabelPosition.Outside)
          .Tooltip(tt => tt.Visible(true).Format("#point.x# : #point.y#%"))
          .Marker(mr => mr.DataLabel(dl => dl.Shape(ChartShape.None).Visible(true).TextPosition(TextPosition.Top)
          .Border(br => br.Width(1)).ConnectorLine(cl => cl.Height(30).Color("black")))))
          .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("Watching TV").Text("Watching TV").Y(56).Add();
                        pt.X("Socializing").Text("Socializing").Y(26).Add();
                        pt.X("Reading").Text("Reading").Y(3).Add();
                        pt.X("Sports").Text("Sports").Y(7).Add();
                        pt.X("Others").Text("Others").Y(8).Add();
                    }).Type(SeriesType.Doughnut).ExplodeIndex(4).Add();
            })
        .Load("onChartLoad")
        .Title(t => t.Text("People's Hobbies"))
        .Depth(30)
        .WallSize(10)
        .Tilt(-30)
        .Rotation(-30)
        .PerspectiveAngle(90)
        .SideBySideSeriesPlacement(false)
        .IsResponsive(true)
        .EnableRotation(true)
        .Enable3D(true)
        .Size(sz => sz.Height("600").Width("970"))
        .Legend(lg => { lg.Visible(false); })
        )
    </div>
}
@section ScriptSection
{
    <script>
        function onChartLoad(sender) {
            loadTheme(sender);
            if (sender.model.theme == "flatdark" || sender.model.theme == "gradientdark")
                sender.model.commonSeriesOptions.marker.dataLabel.connectorLine.stroke = "white";
        }
        $("#controlarea").css("visibility", "visible");
    </script>
}