@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Hilo-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render and configure hilo series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div id="Tooltip" style="display: none; width: 125px; padding-top: 10px; padding-bottom: 10px">
        <div align="center" style="font-weight: bold">
            #point.x#
        </div>
        <table>
            <tr>
                <td>High:
                </td>
                <td>#point.high#mm
                </td>
            </tr>
            <tr>
                <td>Low:
                </td>
                <td>#point.low#mm
                </td>
            </tr>
        </table>
    </div>
    <div>
  @(Html.EJ().Chart("container")
        .PrimaryXAxis(pr => pr.Title(tl => tl.Text("Country")).RangePadding(ChartRangePadding.Additional)
        .LabelRotation(90).MajorGridLines(mr => mr.Visible(false)))
        .PrimaryYAxis(pr => pr.RowIndex(0).Range(ra => ra.Max(300).Min(0).Interval(50)).Title(tl => tl.Text("Rainfall(mm)"))
        .LabelFormat("{value}mm").MajorGridLines(mr => mr.Visible(false)))
        .CommonSeriesOptions(cr => cr.Type(SeriesType.Hilo).Border(st => st.Width(2)).EnableAnimation(true))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("India").High(100).Low(70).Add();
                        pt.X("Japan").High(170).Low(90).Add();
                        pt.X("Argentina").High(240).Low(170).Add();
                        pt.X("Australia").High(290).Low(200).Add();
                        pt.X("Canada").High(200).Low(110).Add();
                        pt.X("Poland").High(160).Low(70).Add();
                        pt.X("Russia").High(200).Low(100).Add();
                        pt.X("Mexico").High(190).Low(80).Add();
                        pt.X("Turkey").High(150).Low(90).Add();
                        pt.X("Indonesia").High(180).Low(120).Add();
                        pt.X("Spain").High(220).Low(150).Add();
                        pt.X("France").High(210).Low(130).Add();
                        pt.X("Germany").High(110).Low(75).Add();
                    }).Name("Rainfall").Tooltip(tooltip => tooltip.Visible(true).Template("Tooltip")).Add();
            })
        .Load("loadTheme")
        .IsResponsive(true)
        .Title(title => title.Text("Highest and Lowest Rainfall across World"))
        .Size(sz => sz.Height("600"))
        .Legend(lg => { lg.Visible(false); })
        )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}
@section StyleSection
{
    <style class="cssStyles">
        .tooltipDivcontainer table, table th, table tr {
            border: 0px none;
            margin: 0 auto;
        }
        table td {
            border: 0px none;
            margin: 0 auto;
            display: inline;
        }
        .tooltipDivcontainer {
            border: 2px transparent;
            color: white;
        }
        #Tooltip td {
            color: white;
        }
    </style>
}


