@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Log Axis-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render logarithmic axis using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
  @(Html.EJ().Chart("container")
        .PrimaryXAxis(pr => pr.Title(tl => tl.Text("Years")).Range(ra => ra.Min(1990).Max(2000).Interval(1)))
        .PrimaryYAxis(pr => pr.ValueType(AxisValueType.Logarithmic).MinorTicksPerInterval(5)
        .Range(ra => ra.Min(10).Max(10000).Interval(1)).MajorGridLines(mr => mr.Width(1.5).Opacity(0.8))
        .MinorGridLines(mr => mr.Visible(true)).Title(tl => tl.Text("Profit")).LabelFormat("${value}"))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("1990").Y(80).Add();
                        pt.X("1991").Y(200).Add();
                        pt.X("1992").Y(400).Add();
                        pt.X("1993").Y(600).Add();
                        pt.X("1994").Y(900).Add();
                        pt.X("1995").Y(1400).Add();
                        pt.X("1996").Y(2000).Add();
                        pt.X("1997").Y(4000).Add();
                        pt.X("1998").Y(6000).Add();
                        pt.X("1999").Y(8000).Add();
                        pt.X("2000").Y(9000).Add();
                    }).Border(st => st.Width(3)).Tooltip(tt => tt.Visible(true)).Add();
            })
       .Load("loadTheme")
       .CommonSeriesOptions(cr => cr.Type(SeriesType.Line).EnableAnimation(true))
       .IsResponsive(true)
       .Title(tt => tt.Text("Business Growth from 1990 to 2000"))
       .Size(sz => sz.Height("600"))
       .Legend(lg => { lg.Visible(false); })
        )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}


