@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart / 3D Pie Chart</span>}

@section ControlsSection{
    <div>
   @(Html.EJ().Chart("container")
         .CommonSeriesOptions(cr => cr.LabelPosition(ChartLabelPosition.Outside)
         .Tooltip(tt => tt.Visible(true).Format("#point.x# : #point.y#%"))
         .Marker(mr => mr.DataLabel(dl => dl.Shape(ChartShape.None).Visible(true).TextPosition(TextPosition.Top)
         .Border(br => br.Width(1)).ConnectorLine(cl => cl.Height(70).Color("black")))))
         .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("Housing").Text("Housing").Y(31).Add();
                        pt.X("Food").Text("Food").Y(16).Add();
                        pt.X("Transportation").Text("Transportation").Y(14).Add();
                        pt.X("Clothing").Text("Clothing").Y(6).Add();
                        pt.X("Health care").Text("Health care").Y(8).Add();
                        pt.X("Education").Text("Education").Y(17).Add();
                        pt.X("Miscellaneous").Text("Miscellaneous").Y(8).Add();
                    }).Type(SeriesType.Pie).ExplodeIndex(0).PieCoefficient(0.7f).StartAngle(145).Border(br => br.Color("white").Width(2))
                      .Add();
            })
        .Load("onchartload")
        .Title(t => t.Text("Expenditure shares on a child from birth through age 17"))
        .Depth(30)
        .WallSize(10)
        .Tilt(-30)
        .Rotation(-30)
        .PerspectiveAngle(90)
        .SideBySideSeriesPlacement(false)
        .IsResponsive(true)
        .EnableRotation(true)
        .Enable3D(true)
        .Size(sz => sz.Height("600").Width("970"))
         .Legend(lg => { lg.Visible(false); })
        )
    </div>
}
@section ScriptSection
{
    <script>
        function onchartload(sender) {
            loadTheme(sender);
            if (sender.model.theme == "flatdark" || sender.model.theme == "gradientdark")
                sender.model.commonSeriesOptions.marker.dataLabel.connectorLine.stroke = "white";
        }
        $("#controlarea").css("visibility", "visible");
    </script>
}