@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart / Polar Chart</span>}

@section ControlsSection{
    <div>
        @(Html.EJ().Chart("container").PrimaryYAxis(pr => pr.Range(ra => ra.Min(15).Max(90).Interval(15)))
              .CommonSeriesOptions(cr => cr.Type(SeriesType.Polar).EnableAnimation(true).Tooltip(tl => tl.Visible(true)))
              .Series(se =>
                    {
                        se.Points(pt =>
                            {
                                pt.X("North").Y(42).Add();
                                pt.X("NorthEast").Y(28).Add();
                                pt.X("East").Y(40).Add();
                                pt.X("SouthEast").Y(45).Add();
                                pt.X("South").Y(20).Add();
                                pt.X("SouthWest").Y(40).Add();
                                pt.X("West").Y(25).Add();
                                pt.X("NorthWest").Y(40).Add();
                            }).ZOrder(2).Marker(mr => mr.Visible(true)).Name("Line").Add();
                        se.Points(pt =>
                            {
                                pt.X("North").Y(63).Add();
                                pt.X("NorthEast").Y(73).Add();
                                pt.X("East").Y(58).Add();
                                pt.X("SouthEast").Y(65).Add();
                                pt.X("South").Y(47).Add();
                                pt.X("SouthWest").Y(70).Add();
                                pt.X("West").Y(45).Add();
                                pt.X("NorthWest").Y(70).Add();
                            }).ZOrder(1).DrawType(DrawType.Column).Border(br => br.Color("white").Width(1)).Name("Column")
                              .Tooltip(tl => tl.Visible(true).Fill("white")
                              .Border(br => br.Width(1).Color("black")).Font(fn => fn.Color("black"))).Add();

                        se.Points(pt =>
                            {
                                pt.X("North").Y(80).Add();
                                pt.X("NorthEast").Y(88).Add();
                                pt.X("East").Y(79).Add();
                                pt.X("SouthEast").Y(83).Add();
                                pt.X("South").Y(78).Add();
                                pt.X("SouthWest").Y(90).Add();
                                pt.X("West").Y(78).Add();
                                pt.X("NorthWest").Y(85).Add();
                            }).ZOrder(0).DrawType(DrawType.Area).Name("Area").Marker(mr => mr.Visible(true)).Add();

                    })
               .IsResponsive(true)
               .Load("loadTheme")
               .Size(sz => sz.Height("600"))
               .Legend(lg => lg.Visible(true))
                )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}
