@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart / RangeColumn Chart </span>}

@section ControlsSection{
    <div>
  @(Html.EJ().Chart("container")
        .PrimaryXAxis(pr => pr.Title(tl => tl.Text("Month")).AxisLine(ax => ax.Visible(false))
        .MajorGridLines(mr => mr.Visible(false)).MajorTickLines(mt => mt.Visible(false)))
        .PrimaryYAxis(pr => pr.AxisLine(ax => ax.Visible(false))
        .MajorGridLines(mr => mr.Visible(true)).Title(tl => tl.Text("Temperature(Celsius)")))
        .CommonSeriesOptions(cr => cr.Type(SeriesType.RangeColumn).EnableAnimation(true))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("Jan").Low(0.7).High(6.1).Add();
                        pt.X("Feb").Low(1.3).High(6.3).Add();
                        pt.X("Mar").Low(1.9).High(8.5).Add();
                        pt.X("Apr").Low(3.1).High(10.8).Add();
                        pt.X("May").Low(5.7).High(14.4).Add();
                        pt.X("June").Low(8.4).High(16.9).Add();
                        pt.X("July").Low(10.6).High(19.2).Add();
                        pt.X("Aug").Low(10.5).High(18.9).Add();
                        pt.X("Sep").Low(8.5).High(16.1).Add();
                        pt.X("Oct").Low(6.0).High(12.5).Add();
                        pt.X("Nov").Low(1.5).High(6.9).Add();
                        pt.X("Dec").Low(5.1).High(12.1).Add();
                    }).Name("India").Add();
                sr.Points(pt =>
                {
                    pt.X("Jan").Low(1.7).High(7.1).Add();
                    pt.X("Feb").Low(1.9).High(7.7).Add();
                    pt.X("Mar").Low(1.2).High(7.5).Add();
                    pt.X("Apr").Low(2.5).High(9.8).Add();
                    pt.X("May").Low(4.7).High(11.4).Add();
                    pt.X("June").Low(6.4).High(14.4).Add();
                    pt.X("July").Low(9.6).High(17.2).Add();
                    pt.X("Aug").Low(10.7).High(17.9).Add();
                    pt.X("Sep").Low(7.5).High(15.1).Add();
                    pt.X("Oct").Low(3.0).High(10.5).Add();
                    pt.X("Nov").Low(1.2).High(7.9).Add();
                    pt.X("Dec").Low(4.1).High(9.1).Add();
                }).Name("Germany").Add();

            })
        .IsResponsive(true)
        .Load("loadTheme")
        .Title(title => title.Text("Maximum and Minimum Temperature - 2012"))
        .Size(sz => sz.Height("600"))
        .Legend(lg => { lg.Visible(true); })
        )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}
