@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart / Data Binding/ Remote Data</span>}

@section ControlsSection{
    <div>
    @(Html.EJ().Chart("container")
          .PrimaryXAxis(xaxis => xaxis.Title(tit => tit.Text("City")).RangePadding(ChartRangePadding.Additional)
          .LabelRotation(labelRotation: 45))
          .PrimaryYAxis(yaxis => yaxis.Title(tit => tit.Text("Population in Millions")))
          .CommonSeriesOptions(c => c.Type(SeriesType.Column)
             .Tooltip(t => t.Visible(true)))
          .Series(ser =>
                      {
                          ser.Name("Country");
                          ser.Fill("#69D2E7");
                          ser.Tooltip(tooltip => tooltip.Format("#point.x# : #point.y# Millions <br/>"));
                          ser.DataSource(service => service.URL("//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc").CrossDomain(true));
                          ser.XName("ShipCity");
                          ser.YName("Freight");
                          ser.Query("ej.Query().from('Orders').take(10)")
                          .EnableAnimation(true).Add();
                      })

         .IsResponsive(true)
         .Load("chartloaded")
         .Title(title => title.Text("Population Growth"))
         .Size(sz => sz.Height("600"))
         .Legend(lgd=>lgd.Visible(false))
          )
    </div>
}
@section ScriptSection
{
    <script>
        function chartloaded(sender) {
            loadTheme(sender);
            var dataManger = new ej.DataManager({
                url: "//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc", crossDomain: true
            });
            $("#controlarea").ejWaitingPopup({ showOnInit: false });
            $("#controlarea").ejWaitingPopup("show");
            // Query creation
            var query = ej.Query().from("Orders").take(10);
            dataManger.executeQuery(query) // executing query
                     .done(function (e) {
                         $("#controlarea").ejWaitingPopup("destroy");
                     });
        }
        $("#controlarea").css("visibility", "visible");
    </script>
}
@section StyleSection
{
    <style class="cssStyles">
        .e-waitpopup-pane {
            background-color: transparent;
        }
    </style>
}

