@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Spline-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render spline series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
  @(Html.EJ().Chart("container")
        .PrimaryXAxis(pr => pr.Title(tl => tl.Text("Month")).RangePadding(ChartRangePadding.Additional)
        .LabelFormat("yyyy"))
        .PrimaryYAxis(pr => pr.Range(ra => ra.Max(35).Min(-5).Interval(5))
        .Title(tl => tl.Text("Temperature in Celsius")).LabelFormat("{value}C"))
        .CommonSeriesOptions(cr => cr.Type(SeriesType.Spline).EnableAnimation(true).SplineType(SplineType.Natural)
        .Tooltip(tooltip => tooltip.Visible(true).Format("#point.x# <br/> #series.name# : #point.y#"))
        .Marker(mr => mr.Shape(ChartShape.Circle).Visible(true).Border(st => st.Width(2))))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("Jan").Y(-1).Add();
                        pt.X("Feb").Y(-1).Add();
                        pt.X("Mar").Y(2).Add();
                        pt.X("Apr").Y(8).Add();
                        pt.X("May").Y(13).Add();
                        pt.X("June").Y(18).Add();
                        pt.X("July").Y(21).Add();
                        pt.X("Aug").Y(20).Add();
                        pt.X("Sep").Y(16).Add();
                        pt.X("Oct").Y(10).Add();
                        pt.X("Nov").Y(4).Add();
                        pt.X("Dec").Y(1).Add();
                    }).Name("London").Add();
                sr.Points(pt =>
                    {
                        pt.X("Jan").Y(3).Add();
                        pt.X("Feb").Y(3.5).Add();
                        pt.X("Mar").Y(7).Add();
                        pt.X("Apr").Y(13.5).Add();
                        pt.X("May").Y(19).Add();
                        pt.X("June").Y(23.5).Add();
                        pt.X("July").Y(26).Add();
                        pt.X("Aug").Y(25).Add();
                        pt.X("Sep").Y(21).Add();
                        pt.X("Oct").Y(15).Add();
                        pt.X("Nov").Y(9).Add();
                        pt.X("Dec").Y(3.5).Add();
                    }).Name("Germany").Add();
                sr.Points(pt =>
                    {
                        pt.X("Jan").Y(7).Add();
                        pt.X("Feb").Y(8).Add();
                        pt.X("Mar").Y(12).Add();
                        pt.X("Apr").Y(19).Add();
                        pt.X("May").Y(25).Add();
                        pt.X("June").Y(29).Add();
                        pt.X("July").Y(31).Add();
                        pt.X("Aug").Y(30).Add();
                        pt.X("Sep").Y(26).Add();
                        pt.X("Oct").Y(20).Add();
                        pt.X("Nov").Y(14).Add();
                        pt.X("Dec").Y(8).Add();
                    }).Name("France").Add();
            })
        .Load("loadTheme")
        .IsResponsive(true)
        .Title(title => title.Text("Climate Graph-2012"))
        .Size(sz => sz.Height("600"))
        .Legend(lg => { lg.Visible(true); })
        )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}
@section PropertiesSection

{

    <div id="sampleProperties">
        <div class="prop-grid">
            <div class="row" style="margin: 10px 0;">
                <div class="col-md-3">
                    Spline Type
                </div>
                <div id="dropdown">
                    <select id="splinemode" style="width:80px;">
                        <option>Natural</option>
                        <option>Monotonic</option>
                        <option>Cardinal</option>
                        <option>Clamped</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin: 10px 0;">
                <div class="col-md-3">
                    Cardinal Spline
                    Tension
                </div>
                <div class="col-md-3">
                    <input type="text" id="tension" style="width:80px; height:22px;" value="0.5" />
                </div>
            </div>
        </div>
    </div>
}

@section ScriptSection
{
    <script>        
        $('#splinemode').change(function () {
            var chart = $("#container").ejChart("instance");
            var count = chart.model.series.length;
            var type = $("#splinemode option:selected").text();
            for (var i = 0; i < count; i++) {
                chart.model.series[i].splineType = type.toLowerCase();
                if (type == "Cardinal")
                    $("#tension").ejNumericTextbox("option", "enabled", true);
                else
                    $("#tension").ejNumericTextbox("option", "enabled", false);
            }
            chart.redraw();
        });
        $("#tension").ejNumericTextbox({
            value: 0.5, width: "70px", minValue: 0, maxValue: 1, incrementStep: 0.1, decimalPlaces: 1, enabled: false, change: "changeSplineTension",
        });
        function changeSplineTension(e) {
            var chart = $("#container").ejChart("instance");
            var count = chart.model.series.length;
            for (var i = 0; i < count; i++) {
                chart.model.series[i].cardinalSplineTension = parseFloat(tension.value);
            }
            chart.redraw();
        }

        $("#sampleProperties").ejPropertiesPanel();
    </script>
}


