@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Spline Range Area-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render spline range area series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
<div>
    @(Html.EJ().Chart("container")
        .ChartArea(cr => cr.Border(b => b.Color("transparent")))
        .PrimaryXAxis(pr => pr.AxisLine(ax => ax.Visible(false)).MajorGridLines(mr => mr.Visible(false))
        .MajorTickLines(mt => mt.Visible(false)).Title(tl => tl.Text("Month")))
        .PrimaryYAxis(pr => pr.AxisLine(ax => ax.Visible(false)).MajorTickLines(mt => mt.Visible(false))
        .Title(tl => tl.Text("Temperature(Farenheit)")))
        .CommonSeriesOptions(cr => cr.Type(SeriesType.SplineRangeArea).EnableAnimation(true).Border(st => st.Width(2)))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("Jan").High(28).Low(8).Add();
                        pt.X("Feb").High(35).Low(15).Add();
                        pt.X("Mar").High(42).Low(22).Add();
                        pt.X("Apr").High(45).Low(25).Add();
                        pt.X("May").High(42).Low(22).Add();
                        pt.X("Jun").High(35).Low(15).Add();
                        pt.X("Jul").High(30).Low(10).Add();
                        pt.X("Aug").High(33).Low(13).Add();
                        pt.X("Sep").High(40).Low(20).Add();
                        pt.X("Oct").High(45).Low(25).Add();
                        pt.X("Nov").High(40).Low(20).Add();
                        pt.X("Dec").High(33).Low(13).Add();
                    }).Name("India").Border(st => st.Color("transparent")).Opacity(0.5).Add();

                sr.Points(pt =>
                {
                    pt.X("Jan").High(58).Low(38).Add();
                    pt.X("Feb").High(65).Low(45).Add();
                    pt.X("Mar").High(72).Low(52).Add();
                    pt.X("Apr").High(75).Low(55).Add();
                    pt.X("May").High(72).Low(52).Add();
                    pt.X("Jun").High(65).Low(45).Add();
                    pt.X("Jul").High(60).Low(40).Add();
                    pt.X("Aug").High(63).Low(43).Add();
                    pt.X("Sep").High(70).Low(50).Add();
                    pt.X("Oct").High(75).Low(55).Add();
                    pt.X("Nov").High(70).Low(50).Add();
                    pt.X("Dec").High(63).Low(43).Add();
                }).Name("Russia").Border(st => st.Color("transparent")).Opacity(0.5).Add();
            })
        .IsResponsive(true)
        .Title(title => title.Text("Monthly Temperature Range"))
        .Size(sz => sz.Height("600"))
        .Load("loadTheme")
        .Legend(lg => { lg.Visible(true); })
    )
    <script>
            $("#controlarea").css("visibility", "visible");
    </script>
</div>
}
