@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-SQL Binding-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to bind sql data using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
        @(Html.EJ().Chart("container")
       .CommonSeriesOptions(cs => cs.Type(SeriesType.Bar).Tooltip(tl => tl.Visible(true)))
            .Series(sr =>
            {
                sr.XName("ProductName").YName("UnitPrice").Name("UnitPrice").DataSource(ViewBag.dataSource).Add();
                sr.XName("ProductName").YName("UnitsInStock").Name("UnitsInStock").DataSource(ViewBag.dataSource).Add();
            })
        .Title(tlt => tlt.Text("Product Details"))
        .IsResponsive(true)
        .Load("loadTheme")
        .Size(sz => sz.Height("600"))

        )
    </div>
}


