@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-100% Stacked Area-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render 100% stacked area series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
  @(Html.EJ().Chart("container")
        .PrimaryXAxis(pr => pr.AxisLine(ax => ax.Visible(false)).MajorGridLines(mr => mr.Visible(false))
        .MajorTickLines(mt => mt.Visible(false)).Title(tl => tl.Text("Year")).Range(ra => ra.Min(2006).Max(2014).Interval(1)))
        .PrimaryYAxis(pr => pr.Title(tl => tl.Text("Temperature(%)")))
        .CommonSeriesOptions(cr => cr.Type(SeriesType.StackingArea100).EnableAnimation(true))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("2006").Y(34).Add();
                        pt.X("2007").Y(20).Add();
                        pt.X("2008").Y(40).Add();
                        pt.X("2009").Y(51).Add();
                        pt.X("2010").Y(26).Add();
                        pt.X("2011").Y(37).Add();
                        pt.X("2012").Y(54).Add();
                        pt.X("2013").Y(44).Add();
                        pt.X("2014").Y(48).Add();
                    }).Name("USA").Border(st => st.Color("transparent")).Opacity(0.5).Fill("#C4C24A").Add();
                sr.Points(pt =>
                {
                    pt.X("2006").Y(51).Add();
                    pt.X("2007").Y(26).Add();
                    pt.X("2008").Y(37).Add();
                    pt.X("2009").Y(51).Add();
                    pt.X("2010").Y(26).Add();
                    pt.X("2011").Y(37).Add();
                    pt.X("2012").Y(43).Add();
                    pt.X("2013").Y(23).Add();
                    pt.X("2014").Y(55).Add();
                }).Name("India").Border(st => st.Color("transparent")).Opacity(0.5).Fill("#69D2E7").Add();
                sr.Points(pt =>
                {
                    pt.X("2006").Y(14).Add();
                    pt.X("2007").Y(34).Add();
                    pt.X("2008").Y(73).Add();
                    pt.X("2009").Y(51).Add();
                    pt.X("2010").Y(26).Add();
                    pt.X("2011").Y(37).Add();
                    pt.X("2012").Y(12).Add();
                    pt.X("2013").Y(16).Add();
                    pt.X("2014").Y(34).Add();
                }).Name("Canada").Border(st => st.Color("transparent")).Opacity(0.5).Fill("#6A4B82").Add();

                sr.Points(pt =>
                {
                    pt.X("2006").Y(37).Add();
                    pt.X("2007").Y(16).Add();
                    pt.X("2008").Y(53).Add();
                    pt.X("2009").Y(51).Add();
                    pt.X("2010").Y(26).Add();
                    pt.X("2011").Y(37).Add();
                    pt.X("2012").Y(54).Add();
                    pt.X("2013").Y(44).Add();
                    pt.X("2014").Y(23).Add();
                }).Name("China").Border(st => st.Color("transparent")).Opacity(0.5).Fill("#E7B0B2").Add();
            })
        .IsResponsive(true)
        .Load("loadTheme")
        .Title(title => title.Text("Annual Temperature Comparison"))
        .Size(sz => sz.Height("600"))
        .Legend(lg => { lg.Visible(true); })
        )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}

