@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Stacked Bar-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render 3D stacked bar series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
        @(Html.EJ().Chart("container")
              .PrimaryXAxis(pr => pr.Range(rg => rg.Min(2008).Max(2015).Interval(1)).AxisLine(ax => ax.Visible(false))
              .MajorGridLines(mgl => mgl.Visible(true).Color("#a9a9a9").Opacity(0.12)))
              .PrimaryYAxis(pr => pr.Range(rg => rg.Min(0).Max(20).Interval(2)).Title(tl => tl.Text("Digital Ad Sales in Billion"))
              .LabelFormat("${value}").MajorGridLines(mgl => mgl.Visible(true).Color("#a9a9a9").Opacity(0.12)))
              .CommonSeriesOptions(cr => cr.Type(SeriesType.StackingBar).Tooltip(tt => tt.Visible(true)
              .Format(" #series.name#  <br/> Year #point.x# : #point.y# Billions")))
              .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("2009").Y(2.9).Add();
                        pt.X("2010").Y(3.8).Add();
                        pt.X("2011").Y(4.9).Add();
                        pt.X("2012").Y(6.5).Add();
                        pt.X("2013").Y(7.1).Add();
                        pt.X("2014").Y(7.5).Add();
                    }).Name("Desktop Display").Add();
                sr.Points(pt =>
                {
                    pt.X("2009").Y(0.1).Add();
                    pt.X("2010").Y(0.5).Add();
                    pt.X("2011").Y(1.4).Add();
                    pt.X("2012").Y(2.9).Add();
                    pt.X("2013").Y(4.9).Add();
                    pt.X("2014").Y(6.8).Add();
                }).Name("Mobile").Add();
                sr.Points(pt =>
                {
                    pt.X("2009").Y(0.1).Add();
                    pt.X("2010").Y(0.5).Add();
                    pt.X("2011").Y(1.1).Add();
                    pt.X("2012").Y(2.0).Add();
                    pt.X("2013").Y(3.1).Add();
                    pt.X("2014").Y(3.9).Add();
                }).Name("Video").Add();

            })
        .Load("onchartload")
        .Title(t => t.Text("Forecast:Real-Time Bidding Digital Ad Sales"))
        .Depth(100)
        .WallSize(2)
        .Tilt(0)
        .Rotation(34)
        .PerspectiveAngle(90)
        .SideBySideSeriesPlacement(true)
        .IsResponsive(true)
        .EnableRotation(true)
        .Enable3D(true)
        .Size(sz => sz.Height("600"))
         .Legend(lg => { lg.Visible(true); })
        )
    </div>
}
@section ScriptSection
{
    <script>
        function onchartload(sender) {
            loadTheme(sender);
            sender.model.primaryXAxis.majorGridLines.color = "#a9a9a9";
            sender.model.primaryXAxis.majorGridLines.opacity = 0.12;
            sender.model.primaryYAxis.majorGridLines.color = "#a9a9a9";
            sender.model.primaryYAxis.majorGridLines.opacity = 0.12;
        }
        $("#controlarea").css("visibility", "visible");
    </script>
}

