@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-100% Stacked Column-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render 100% stacked column series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
  @(Html.EJ().Chart("container")
        .PrimaryXAxis(pr => pr.Range(ra => ra.Max(2013).Min(2005).Interval(1))
        .Title(tl => tl.Text("Year")).MajorGridLines(mr => mr.Visible(false)))
        .PrimaryYAxis(pr => pr.Title(tl => tl.Text("GDP(%) Per Annum")))
        .CommonSeriesOptions(cr => cr.Type(SeriesType.StackingColumn100).EnableAnimation(true)
        .Tooltip(tt => tt.Visible(true).Format("#series.name#  <br/>X : #point.x# <br/> Y : #point.y# <br/>Growth Percentage : #point.percentage# %")))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {
                    pt.X("2006").Y(900).Add();
                    pt.X("2007").Y(544).Add();
                    pt.X("2008").Y(880).Add();
                    pt.X("2009").Y(675).Add();
                    pt.X("2010").Y(765).Add();
                    pt.X("2011").Y(679).Add();
                    pt.X("2012").Y(770).Add();
                    }).Name("USA").Add();
                sr.Points(pt =>
                {
                    pt.X("2006").Y(190).Add();
                    pt.X("2007").Y(226).Add();
                    pt.X("2008").Y(194).Add();
                    pt.X("2009").Y(250).Add();
                    pt.X("2010").Y(222).Add();
                    pt.X("2011").Y(181).Add();
                    pt.X("2012").Y(128).Add();
                }).Name("India").Add();
                sr.Points(pt =>
                {
                    pt.X("2006").Y(250).Add();
                    pt.X("2007").Y(145).Add();
                    pt.X("2008").Y(190).Add();
                    pt.X("2009").Y(220).Add();
                    pt.X("2010").Y(225).Add();
                    pt.X("2011").Y(135).Add();
                    pt.X("2012").Y(152).Add();
                }).Name("China").Add();
                sr.Points(pt =>
                {
                    pt.X("2006").Y(150).Add();
                    pt.X("2007").Y(120).Add();
                    pt.X("2008").Y(115).Add();
                    pt.X("2009").Y(125).Add();
                    pt.X("2010").Y(132).Add();
                    pt.X("2011").Y(137).Add();
                    pt.X("2012").Y(110).Add();
                }).Name("Canada").Add();
            })
        .IsResponsive(true)
        .Load("loadTheme")
        .Title(tt => tt.Text("Gross Domestic Product Growth"))
        .Size(sz => sz.Height("600"))
        .Legend(lg => { lg.Visible(true).Position(LegendPosition.Bottom); })
        )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}

