@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart / 3D Stacking Bar 100 Chart</span>}

@section ControlsSection{
    <div>
        @(Html.EJ().Chart("container")
              .PrimaryXAxis(pr => pr.Range(rg => rg.Min(2005).Max(2012).Interval(1)).AxisLine(ax => ax.Visible(false))
              .MajorGridLines(mgl => mgl.Visible(true).Color("#a9a9a9").Opacity(0.12)))
              .PrimaryYAxis(pr => pr.MajorGridLines(mgl => mgl.Visible(true).Color("#a9a9a9").Opacity(0.12)))
              .CommonSeriesOptions(cr => cr.Type(SeriesType.StackingBar100).Tooltip(tt => tt.Visible(true)
              .Format(" #series.name#  <br/> X : #point.x# <br/> Y : #point.y# <br/> Percentage : #point.percentage#%")))
              .Series(sr =>
               {
                   sr.Points(pt =>
                    {
                        pt.X("2006").Y(8000).Add();
                        pt.X("2007").Y(12000).Add();
                        pt.X("2008").Y(20000).Add();
                        pt.X("2009").Y(21000).Add();
                        pt.X("2010").Y(28000).Add();
                        pt.X("2011").Y(29000).Add();
                    }).Name("John").Add();
                   sr.Points(pt =>
                   {
                       pt.X("2006").Y(5000).Add();
                       pt.X("2007").Y(15000).Add();
                       pt.X("2008").Y(19000).Add();
                       pt.X("2009").Y(25000).Add();
                       pt.X("2010").Y(26000).Add();
                       pt.X("2011").Y(30000).Add();
                   }).Name("Andrew").Add();
                   sr.Points(pt =>
                   {
                       pt.X("2006").Y(1400).Add();
                       pt.X("2007").Y(1350).Add();
                       pt.X("2008").Y(12000).Add();
                       pt.X("2009").Y(14000).Add();
                       pt.X("2010").Y(11000).Add();
                       pt.X("2011").Y(20000).Add();
                   }).Name("Thomas").Add();
                   sr.Points(pt =>
                   {
                       pt.X("2006").Y(1700).Add();
                       pt.X("2007").Y(1600).Add();
                       pt.X("2008").Y(9000).Add();
                       pt.X("2009").Y(12000).Add();
                       pt.X("2010").Y(14000).Add();
                       pt.X("2011").Y(19000).Add();
                   }).Name("Hendry").Add();

               })
            .Load("onchartload")
            .Title(t => t.Text("Money savings by year"))
            .Depth(100)
            .WallSize(2)
            .Tilt(0)
            .Rotation(34)
            .PerspectiveAngle(90)
            .SideBySideSeriesPlacement(true)
            .IsResponsive(true)
            .EnableRotation(true)
            .Enable3D(true)
            .Size(sz => sz.Height("600"))
            .Legend(lg => { lg.Visible(true); })
        )
    </div>
}
@section ScriptSection
{
    <script>
        function onchartload(sender) {
            loadTheme(sender);
            sender.model.primaryXAxis.majorGridLines.color = "#a9a9a9";
            sender.model.primaryXAxis.majorGridLines.opacity = 0.12;
            sender.model.primaryYAxis.majorGridLines.color = "#a9a9a9";
            sender.model.primaryYAxis.majorGridLines.opacity = 0.12;
        }
        $("#controlarea").css("visibility", "visible");
    </script>
}