@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Stacked Column-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render stacked column series using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
    <div>
  @(Html.EJ().Chart("container")
        .PrimaryXAxis(pr => pr.Title(tl => tl.Text("Month")).MajorGridLines(mr => mr.Visible(false)))
        .PrimaryYAxis(pr => pr.Range(ra => ra.Max(1800).Min(0).Interval(200)).Title(tl => tl.Text("Number of visitors in Millions")))
        .CommonSeriesOptions(cr => cr.Type(SeriesType.StackingColumn).EnableAnimation(true).Tooltip(tt => tt.Visible(true)
        .Format("#series.name#  <br/> #point.x# : #point.y# Million Visitors")))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("Jan").Y(900).Add();
                        pt.X("Feb").Y(820).Add();
                        pt.X("Mar").Y(880).Add();
                        pt.X("Apr").Y(725).Add();
                        pt.X("May").Y(765).Add();
                        pt.X("June").Y(679).Add();
                        pt.X("July").Y(770).Add();
                        pt.X("Aug").Y(825).Add();
                        pt.X("Sep").Y(704).Add();
                        pt.X("Oct").Y(781).Add();
                        pt.X("Nov").Y(799).Add();
                        pt.X("Dec").Y(882).Add();
                    }).Name("Google").Add();
                sr.Points(pt =>
                {
                    pt.X("Jan").Y(190).Add();
                    pt.X("Feb").Y(226).Add();
                    pt.X("Mar").Y(194).Add();
                    pt.X("Apr").Y(250).Add();
                    pt.X("May").Y(222).Add();
                    pt.X("June").Y(181).Add();
                    pt.X("July").Y(128).Add();
                    pt.X("Aug").Y(239).Add();
                    pt.X("Sep").Y(268).Add();
                    pt.X("Oct").Y(236).Add();
                    pt.X("Nov").Y(285).Add();
                    pt.X("Dec").Y(199).Add();
                }).Name("Bing").Add();
                sr.Points(pt =>
                {
                    pt.X("Jan").Y(250).Add();
                    pt.X("Feb").Y(145).Add();
                    pt.X("Mar").Y(190).Add();
                    pt.X("Apr").Y(220).Add();
                    pt.X("May").Y(225).Add();
                    pt.X("June").Y(135).Add();
                    pt.X("July").Y(152).Add();
                    pt.X("Aug").Y(216).Add();
                    pt.X("Sep").Y(137).Add();
                    pt.X("Oct").Y(147).Add();
                    pt.X("Nov").Y(242).Add();
                    pt.X("Dec").Y(230).Add();
                }).Name("Yahoo").Add();
                sr.Points(pt =>
                {
                    pt.X("Jan").Y(150).Add();
                    pt.X("Feb").Y(120).Add();
                    pt.X("Mar").Y(115).Add();
                    pt.X("Apr").Y(125).Add();
                    pt.X("May").Y(132).Add();
                    pt.X("June").Y(137).Add();
                    pt.X("July").Y(110).Add();
                    pt.X("Aug").Y(126).Add();
                    pt.X("Sep").Y(97).Add();
                    pt.X("Oct").Y(122).Add();
                    pt.X("Nov").Y(85).Add();
                    pt.X("Dec").Y(120).Add();
                }).Name("Ask").Add();
            })
        .IsResponsive(true)
        .Load("loadTheme")
        .Title(tt => tt.Text("Most Popular Search Engines"))
        .Size(sz => sz.Height("600"))
        .Legend(lg => { lg.Visible(true).Position(LegendPosition.Bottom); })
        )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}

