@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-Title-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render and customize title using Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
      @(Html.EJ().Chart("container")
            .PrimaryXAxis(pr => pr.Title(tl => tl.Text("List of countries which are using solar power in the year 2014")
            .EnableTrim(true).MaximumTitleWidth(60)))
            .PrimaryYAxis(pr => pr.Range(ra => ra.Min(0).Max(40).Interval(5))
            .Title(tl => tl.Text("Measurements of Solar power used in different countries in the year 2014( in GW)")
            .EnableTrim(true).MaximumTitleWidth(110)).LabelFormat("{value}GW"))
            .CommonSeriesOptions(cm => cm.EnableAnimation(false).Type(SeriesType.Column).Tooltip(tooltip => tooltip.Visible(true)))
            .Series(sr =>
                {
                    sr.Points(pt =>
                        {
                            pt.X("Germany").Y(35.5).Add();
                            pt.X("China").Y(18.3).Add();
                            pt.X("Italy").Y(17.6).Add();
                            pt.X("Japan").Y(13.6).Add();
                            pt.X("US").Y(12).Add();
                            pt.X("Spain").Y(5.6).Add();
                            pt.X("France").Y(4.6).Add();
                            pt.X("Australia").Y(3.3).Add();
                            pt.X("Belgium").Y(3).Add();
                            pt.X("UK").Y(2.9).Add();
                        }).Name("Countries Using Solar Power").Add();
                })
            .Title(title => title.Text("Top 10 Countries Using Solar Power"))
            .IsResponsive(true)
            .Load("loadTheme")
            .Size(sz => sz.Height("600"))
            .Legend(lg => { lg.Visible(true); })
            )


}
@section PropertiesSection

{
    <div id="sampleProperties" style="float: left;">
        <div class="prop-grid">
            <div class="row">
                <div class="col-md-3">
                    Select Axis
                </div>
                <div class="col-md-3">
                    <select name="axis" onchange="titlePadding()" id="axis">
                        <option value="primaryXAxis">XAxis</option>
                        <option value="primaryYAxis">YAxis</option>
                    </select>
                </div>


                <div class="col-md-3">
                    Maximum Title Width
                </div>
                <div class="col-md-3">
                    <input type="text" onchange="titlePadding()" id="xmaxTitleWidth" name="xmaxTitleWidth" style="width:104px" value="60"> <br>
                </div>
                <br><br><br>
                <div class="col-md-3">
                    Enable Trim
                </div>
                <div class="col-md-3">
                    <select name="enabletrim" onchange="titlePadding()" id="enabletrim">
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </select>
                </div>

                <div class="col-md-3">
                    Alignment
                </div>
                <div class="col-md-3">
                    <select name="ytruncateaction" onchange="titlePadding()" id="alignment">
                        <option value="Center">Center</option>
                        <option value="Near">Near</option>
                        <option value="Far">Far</option>
                    </select>
                </div>

                <div class="col-md-3">
                    Position
                </div>
                <div class="col-md-3">
                    <select name="ytruncateaction" onchange="titlePadding()" id="position">
                        <option value="Outside">Outside</option>
                        <option value="Inside">Inside</option>
                    </select>
                </div>

                <div class="col-md-3">
                    Offset
                </div>
                <div class="col-md-3">
                    <input type="text" id="offset" name="offset" onchange="titlePadding()" value="0" style="width:104px"> <br>

                </div>	
            </div>                        
        </div>
    </div>
}
@section ScriptSection
{
    <script type="text/javascript" language="javascript">
        function titlePadding() {
            var chartobj = $("#container").ejChart("instance");
            if ($("#axis")[0].value == "primaryXAxis") {
                if ($("#enabletrim")[0].value == "True") {
                    chartobj.model.primaryXAxis.title.enableTrim = true;
                }
                else {
                    chartobj.model.primaryXAxis.title.enableTrim = false;
                }
                chartobj.model.primaryXAxis.title.maximumTitleWidth = parseInt(xmaxTitleWidth.value);
                chartobj.model.primaryXAxis.title.alignment = ($("#alignment")[0].value);
                chartobj.model.primaryXAxis.title.position = ($("#position")[0].value);
                chartobj.model.primaryXAxis.title.offset = parseInt(offset.value);
            }
            else if ($("#axis")[0].value == "primaryYAxis") {
                if ($("#enabletrim")[0].value == "True") {
                    chartobj.model.primaryYAxis.title.enableTrim = true;
                }
                else {
                    chartobj.model.primaryYAxis.title.enableTrim = false;
                }
                chartobj.model.primaryYAxis.title.maximumTitleWidth = parseInt(xmaxTitleWidth.value);
                chartobj.model.primaryYAxis.title.alignment = ($("#alignment")[0].value);
                chartobj.model.primaryYAxis.title.position = ($("#position")[0].value);
                chartobj.model.primaryYAxis.title.offset = parseInt(offset.value);
            }

            $("#container").ejChart("redraw");
        }
        $("#sampleProperties").ejPropertiesPanel();
    </script>

}

@section StyleSection
{<style class="cssStyles">
     .tooltipDiv table, table th, table tr, table td {
         border: 0px none;
         margin: 0 auto;
     }

     .tooltipDiv {
         border: 2px transparent;
         color: white;
     }

     #Tooltip td {
         color: white;
     }
 </style>
}




