@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart-TrackBall-ASP.NET MVC-SYNCFUSION</span>}

@section MetaTags{
    <meta name="description" content="This sample demonstrates how to render trackball in Syncfusion ASP.NET MVC Chart Control">
}

@section ControlsSection{
<div id="Tooltip" style="display: none;">
    <div id="icon">
        <div id="sales"></div>
    </div>
    <div id="value">
        <div>
            <div id="efpercentage">#point.x#</div>
            <div id="ef">#point.y#</div>
        </div>
    </div>
</div>
    <div>
              @(Html.EJ().Chart("container")
                    .PrimaryXAxis(xaxis => xaxis.ValueType(AxisValueType.Datetime).IntervalType(ChartIntervalType.Years)
                    .Range(rn => rn.Min(new DateTime(2000, 1, 1)).Max(new DateTime(2006, 2, 11)).Interval(1))
                    .AxisLine(ax => ax.Visible(false)).MajorGridLines(mj => mj.Visible(false)).Title(tit => tit.Text("Year")))
                    .PrimaryYAxis(yaxis => yaxis.LabelFormat("{value}K").Range(rn => rn.Min(20).Max(120).Interval(20))
                    .Title(tit => tit.Text("Revenue")).AxisLine(ax => ax.Visible(false)).MajorGridLines(mj => mj.Visible(false)))
                    .CommonSeriesOptions(cm => cm.Type(SeriesType.Line).EnableAnimation(true).Border(sy => sy.Width(3))
                    .Marker(mr => mr.Shape(ChartShape.Circle).Size(sz => sz.Height(6).Width(6)).Visible(true)
                    .Border(st => st.Color("White").Width(3))))
                    .Series(sr =>
                                {
                                    sr.Points(pt =>
                                                  {
                                                      pt.X("2000/02/11").Y(30).Add();
                                                      pt.X("2000/ 09/ 14").Y(35).Add();
                                                      pt.X("2001/ 02/ 11").Y(40).Add();
                                                      pt.X("2001/ 09/ 16").Y(36).Add();
                                                      pt.X("2002/ 02/ 07").Y(28).Add();
                                                      pt.X("2002/ 09/ 07").Y(33).Add();
                                                      pt.X("2003/ 02/ 11").Y(39).Add();
                                                      pt.X("2003/ 09/ 14").Y(38).Add();
                                                      pt.X("2004/ 02/ 06").Y(34).Add();
                                                      pt.X("2004/ 09/ 06").Y(46).Add();
                                                      pt.X("2005/ 02/ 11").Y(54).Add();
                                                      pt.X("2005/ 09/ 11").Y(65).Add();
                                                      pt.X("2006/ 02/ 11").Y(39).Add();}).Name("John").Tooltip(to => to.Visible(false).Format("#point.x# : #point.y#")).Add();

                                    sr.Points(pt =>
                                                  {
                                                      pt.X("2000/ 02/ 11").Y(54).Add();
                                                      pt.X("2000/ 09/ 14").Y(45).Add();
                                                      pt.X("2001/ 02/ 11").Y(43).Add();
                                                      pt.X("2001/ 09/ 16").Y(50).Add();
                                                      pt.X("2002/ 02/ 07").Y(54).Add();
                                                      pt.X("2002/ 09/ 07").Y(56).Add();
                                                      pt.X("2003/ 02/ 11").Y(60).Add();
                                                      pt.X("2003/ 09/ 14").Y(63).Add();
                                                      pt.X("2004/ 02/ 06").Y(69).Add();
                                                      pt.X("2004/ 09/ 06").Y(70).Add();
                                                      pt.X("2005/ 02/ 11").Y(72).Add();
                                                      pt.X("2005/ 09/ 11").Y(75).Add();
                                                      pt.X("2006/ 02/ 11").Y(75).Add();}).Name("Andrew").Tooltip(to => to.Visible(true).Format("#point.x# : #point.y#")).Add();
                                    sr.Points(pt =>
                                                  {
                                                      pt.X("2000/ 02/ 11").Y(76).Add();
                                                      pt.X("2000/ 09/ 14").Y(70).Add();
                                                      pt.X("2001/ 02/ 11").Y(63).Add();
                                                      pt.X("2001/ 09/ 16").Y(72).Add();
                                                      pt.X("2002/ 02/ 07").Y(77).Add();
                                                      pt.X("2002/ 09/ 07").Y(79).Add();
                                                      pt.X("2003/ 02/ 11").Y(72).Add();
                                                      pt.X("2003/ 09/ 14").Y(68).Add();
                                                      pt.X("2004/ 02/ 06").Y(78).Add();
                                                      pt.X("2004/ 09/ 06").Y(65).Add();
                                                      pt.X("2005/ 02/ 11").Y(81).Add();
                                                      pt.X("2005/ 09/ 11").Y(80).Add();
                                                      pt.X("2006/ 02/ 11").Y(94).Add();}).Name("Thomas").Tooltip(to => to.Visible(true).Format("#point.x# : #point.y#")).Add();
                                    sr.Points(pt =>
                                                  {
                                                      pt.X("2000/ 02/ 11").Y(98).Add();
                                                      pt.X("2000/ 09/ 14").Y(90).Add();
                                                      pt.X("2001/ 02/ 11").Y(83).Add();
                                                      pt.X("2001/ 09/ 16").Y(90).Add();
                                                      pt.X("2002/ 02/ 07").Y(86).Add();
                                                      pt.X("2002/ 09/ 07").Y(84).Add();
                                                      pt.X("2003/ 02/ 11").Y(106).Add();
                                                      pt.X("2003/ 09/ 14").Y(99).Add();
                                                      pt.X("2004/ 02/ 06").Y(110).Add();
                                                      pt.X("2004/ 09/ 06").Y(102).Add();
                                                      pt.X("2005/ 02/ 11").Y(90).Add();
                                                      pt.X("2005/ 09/ 11").Y(85).Add();
                                                      pt.X("2006/ 02/ 11").Y(110).Add();}).Name("Hendry").Tooltip(tooltip => tooltip.Visible(true)
                                                    .Format("#point.x# : #point.y#")).Add();
                                    sr.Points(pt =>
                                    {
                                        pt.X("2000/02/11").Y(116).Add();
                                        pt.X("2000/ 09/ 14").Y(110).Add();
                                        pt.X("2001/ 02/ 11").Y(100).Add();
                                        pt.X("2001/ 09/ 16").Y(102).Add();
                                        pt.X("2002/ 02/ 07").Y(97).Add();
                                        pt.X("2002/ 09/ 07").Y(89).Add();
                                        pt.X("2003/ 02/ 11").Y(88).Add();
                                        pt.X("2003/ 09/ 14").Y(90).Add();
                                        pt.X("2004/ 02/ 06").Y(88).Add();
                                        pt.X("2004/ 09/ 06").Y(75).Add();
                                        pt.X("2005/ 02/ 11").Y(63).Add();
                                        pt.X("2005/ 09/ 11").Y(70).Add();
                                        pt.X("2006/ 02/ 11").Y(55).Add();}).Name("William").Tooltip(to => to.Visible(false).Format("#point.x# : #point.y#")).Add();

                                    
                                })
                    .Crosshair(cr => cr.Visible(true).Type(CrosshairType.Trackball).TrackballTooltipSettings(tl=>tl.Mode(TrackballDisplayMode.Grouping)))
                    .IsResponsive(true)
                    .Load("loadTheme")
                    .Title(title => title.Text("Average sales per person"))
                    .Size(sz => sz.Height("600"))
                    .Legend(lg => lg.Visible(true).Shape(ChartShape.Circle).Position(LegendPosition.Top)
                    .ItemStyle(im => im.Width(10).Height(10)))
                    )
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}
@section ScriptSection{
    <script>
    function modeChange(x) {
        var chartObj = $("#container").ejChart("instance");
        chartObj.model.crosshair.trackballTooltipSettings.mode = x.value;
        if (x.value == "float") {
            chartObj.model.crosshair.trackballTooltipSettings.tooltipTemplate = "Tooltip";
        } else {
            chartObj.model.crosshair.trackballTooltipSettings.tooltipTemplate = null;
        }
         chartObj.redraw();
    }
    $("#sampleProperties").ejPropertiesPanel();
    </script>
}
@section PropertiesSection{
<div id="sampleProperties">
    <div class="prop-grid">
        <div class="row" style="margin: 10px 0;">
            <div class="col-md-3">
                Trackball Tooltip Mode
            </div>
            <div class="col-md-3 aligntop">
                <select id="trackballmode" onchange="modeChange(this)">
                    <option value="grouping">Grouping</option>
                    <option value="float">Float</option>
                </select>
            </div>
        </div>
    </div>
</div>
}
@section StyleSection
{
    <style class="cssStyles">
        .tooltipDivcontainer {
             background-color:#C1272D !important;        
            color: white;
			width:50px;
        }
        #Tooltip >div:first-child {
            float: left;
        }
        #Tooltip #value {
            float: right;
            height: 38px;
            width: 60px;
        }
        #Tooltip #value >div {
            margin: 3px 5px 5px 5px;
             border-radius: 7px;   
        }
        #Tooltip #efpercentage {
            font-size: 10px;
            font-family: segoe ui;
            color: white;
			font-weight: bold;
        }
         #Tooltip #ef {
             font-size: 10px;
             font-family: segoe ui;
			 font-weight: bold;
             color: white;
             
        }
         #sales {
            background-image: url("../images/chart/buisnessman.png");
            height: 32px;
            width: 32px;
            background-repeat: no-repeat;
        }   
</style>
}

