@section SampleHeading{
	<span class="sampleName">PDF-Booklet-ASP.NET MVC-SYNCFUSION</span>}
	
@section ControlsSection{
@{Html.BeginForm("Booklet", "Pdf", FormMethod.Post);
  { 
    <div class="Common">
	 <div style = "font-size: 17px;font-weight: 400;">
			          This sample demonstrates how to create a booklet from the existing PDF document. 

	</div>
        <label>
            @ViewData["Error"]</label>
        <b>Page Settings</b>
        <div class="tablediv">
            <div style="border: solid 1px #EDEDED; padding: 5px 7px 5px 7px;">
                <table width="100%">
                    <tr>
                        <td align="left" width="40%">
                            <label>
                                Page Width : &nbsp</label>
                            <input id="pagewidth" type="text" class="TextBox" value="595" name="PageWidth" />
                        </td>
                        <td align="center" width="30%">
                            <label class="LabelRight">
                                Page Height : &nbsp</label>
                            <input id="pageheight" type="text" name="PageHeight" class="TextBox" value="550" />
                        </td>
                        <td align="right" width="30%">
                            <input id="doubleside" type="checkbox" name="CheckBoxDoubleSide" value="DoubleSide" />
                            Double Side
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="LineSpace">
        </div>
        <div class="tablediv">
            <div style = "font-size: 17px;font-weight: 400;">
			        This sample demonstrates how to create a booklet from the existing PDF document.

	</div>
	<br/>
        </div>
        <div class="LineSpace">
        </div>
        <div class="tablediv">
            <div class="rowdiv">
                <div class="celldiv">
                    <div style="border: solid 1px #EDEDED; padding: 5px 7px 5px 7px;">
                        <table width="100%">
                            <tr>
                                <td align="left" width="100%">
                                    <input type="checkbox" name="InsideBrowser" value="Browser" id="InsideBrowser" />
                                    <label>
                                        Open Document inside Browser</label>
                                </td>
                                <td align="right">
                                    <input type="submit" class="Button" value="Create PDF" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
		<br/>
			<div style = "font-size: 17px;font-weight: 400;">
		
				
	This feature can be used to print the PDF document in book format.
           </div>
    </div>
      Html.EndForm();
  }}}
@section MetaTags{
   <meta name="description" content="Example [C#] to create a booklet from the existing PDF document in ASP.NET MVC using Syncfusion .NET PDF library.">
}

