@section SampleHeading{
	<span class="sampleName">Drawing Text / Complex Script Sample</span>
	}


    @section ControlsSection{
    @{Html.BeginForm("ComplexScript", "Pdf", FormMethod.Post);
      { 
    <div class="Common">
        <div style = "font-size: 17px;font-weight: 400;">
			        This sample demonstrates drawing complex script language text in the PDF document. It is possible to draw complex languages such as Thai, Hindi, Tamil, Kannada and more.


	</div>	
	<br>
    <div style="font-size: 17px;font-weight: 400;">
    <b>Note:</b> In this sample, we have used the Tahoma font from the system to draw Thai characters. So please make sure to install the font for it to work properly.
    </div>
	<br/>
        <div class="tablediv">
        <div class="rowdiv">
            <div class="celldiv">
             <div style="border: solid 1px #EDEDED; padding: 5px 7px 5px 7px;">
             <table width="100%">
                        <tr>
                            <td align="left" width="100%">
                                 <input id="Checkbox1" type="checkbox" name="InsideBrowser" value="Browser" />
                <label for="Opentype">
                    Open Document inside Browser</label>
                            </td>
                            <td align="right">
                                  
                <input type="submit" class="Button" value="Create PDF" />
                            </td>
                        </tr>
                    </table>
               </div>
                
            </div>
        </div>
        </div>
		<br/>
			<div style = "font-size: 17px;font-weight: 400;">
					
		It is also possible to draw <a href="https://help.syncfusion.com/file-formats/pdf/working-with-text#embedding-fonts-and-working-with-unicode-text">Unicode</a> text.
More information about drawing text can be found in this documentation <a href="https://help.syncfusion.com/file-formats/pdf/working-with-text">section.</a>

           </div>
    </div>
    Html.EndForm();
      }}}


