

@section SampleHeading{
	<span class="sampleName">PDF-Digital Signature-ASP.NET MVC-SYNCFUSION</span>}
	


    @section ControlsSection{
    @{Html.BeginForm("DigitalSignature", "Pdf", FormMethod.Post,new { enctype = "multipart/form-data" });
      { 
    <div class="Common">
       <div style = "font-size: 17px;font-weight: 400;">
			       This sample demonstrates how to digitally sign the PDF document with the PFX certificate file. It is possible to digitally sign with X509 certificates such as .pfx files with private keys and support for Hardware Security Module (HSM), Online Certificate Status Protocol (OCSP), Certificate Revocation List (CRL), and Windows Certificate Store to offer authenticity and integrity. 
<br/>

	</div>
	<br/>
        <div id="errorlabel" value="error">
            <p style="color: #FF0000;">
                @Html.Label("", (string)ViewBag.lab)
        </div>                
        <div class="tablediv">
            <div class="rowdiv">
                <div class="celldiv">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td align="left">
                                    <span style="font-weight: bold;" id="label8">Sign new PDF document</span><br>
                                    <div style="border: solid 1px #788DB3; line-height: 23px; padding: 10px; background-color: #EDF0F7;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td valign="middle" style="padding-left: 0px; width: 100%;">
                                                        <span id="label4">Standard Type: </span>                                                     
                                                            <span style="margin-left: 10px">
                                                                <input type="radio" checked="checked" value="Standard" name="RadioButtonList2" id="RadioButtonList1"><label for="RadioButtonList2_0">Standard</label>
                                                            </span>
                                                        <span style="margin-left: 20px">
                                                            <input type="radio" value="Author"
                                                                          name="RadioButtonList2" id="RadioButtonList2_1"><label for="RadioButtonList2">Author</label>
                                                        </span>
                                                    </td>
                                                    <td align="right">
                                                        <input type="submit" id="submit" name="submit" value="Create PDF" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>                  

                </div>
            </div>
            <div class="rowdiv">
                <div class="celldiv">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td align="left">
                                    <br />
                                    <span style="font-weight: bold;" id="label8">Sign existing PDF document</span><br>
                                    <div style="border: solid 1px #788DB3; line-height: 23px; padding: 10px; background-color: #EDF0F7;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td align="left" width="30%">
                                                        <div>
                                                            <br />
                                                            <label for="page index">Source</label>
                                                        </div>
                                                    </td>
                                                    <td class="rightcell">
                                                        <br />
                                                        <input type="file" id="pdfdocument" name="pdfdocument" accept="application/pdf" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" width="30%">
                                                        <br />
                                                        <label>Certificate</label>
                                                    </td>
                                                    <td class="rightcell">
                                                        <br />
                                                        <input type="file" id="certificate" name="certificate" accept="application/pfx" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" width="30%">
                                                        <br />
                                                        <div>
                                                            <label>Password</label>
                                                        </div>
                                                    </td>
                                                    <td class="rightcell">
                                                        <br />
                                                        <label>
                                                            <input type="password" style="width: 100%" id="password" value="" textmode="Password"
                                                                   name="password">
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" width="30%">
                                                        <br />
                                                        <span style="font-weight: bold; vertical-align: middle" id="label1" class="signaturelabel">Signature</span>
                                                        </td>
                                                    <td class="rightcell">
                                                        <br />
                                                        <label style="width: 70%">
                                                            @Html.EJ().Signature("mysign").Height("200px").Width("340px").StrokeWidth(3).IsResponsive(true).StrokeColor("#000000")
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="submit" id="createsignpdf" name="createsignpdf" value="Create Sign PDF" style="visibility: hidden" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        <input type="button" style="float: left;" id="btnSave" name="btnSave" value="Create Sign PDF" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>                               
        </div>
		<br/>
			<div style = "font-size: 17px;font-weight: 400;">
			It is also possible to digitally sign with <a href="https://help.syncfusion.com/file-formats/pdf/working-with-digitalsignature#adding-a-timestamp-in-digital-signature">timestamp.</a>
More information about the digital signature and timestamp can be found in this documentation <a href="https://help.syncfusion.com/file-formats/pdf/working-with-digitalsignature">section.</a>
                @Html.Hidden("mySignature","");
           </div>
    </div>
    Html.EndForm();
      }}}
@section ScriptSection{
    <script type="text/javascript" class="jsScript">
        $(function () {

            // function on button click to convert the image to Base64 string value and then passing it to the server side

            $("#btnSave").click(function () {
                var div = $("#mysign");
                var canvas = div["children"]()[0];
                image = canvas.toDataURL("image/png");
                $('#mySignature').val(image);
                $('#createsignpdf').click();

            });
        });
    </script>
    <style type="text/css" class="cssStyles">
        .rightcell {
            align-items: initial;
            width: 70%;
                
        }
    </style>
}
@section MetaTags{
   <meta name="description" content="Example [C#] to digitally sign the PDF document in ASP.NET MVC using Syncfusion .NET PDF library.">
}

