

@section SampleHeading{
	<span class="sampleName">Import and Export / ExportasImage Sample</span>
	}


    @section ControlsSection{
    @{Html.BeginForm("ExportasImage", "Pdf", FormMethod.Post);
      { 
    <div class="Common">
       <div style = "font-size: 17px;font-weight: 400;">
			       	This sample demonstrates how to export as images from the PDF document or PDF to image. The exported images can be saved into any raster image format.


	</div>
	<br/>
        <div class="tablediv">           
            <div class="rowdiv">
                <div class="celldiv">
                 <div style="border: solid 1px #EDEDED; padding: 5px 7px 5px 7px;">
                    <table width="100%">
                        <tr>
                            <td>
                                <input id="viewtemplate" type="submit" name="submit1" value="View Template" />
                            </td>
                        </tr>
                        <tr>
                            <td align="left" width="100%">
                                <input id="Checkbox1" type="checkbox" name="Browser" value="Browser" />
                                <label for="Opentype">Open Document inside Browser</label> 
                            </td>
                            <td align="right">
                                 <label><input id="submit" type="submit" value="Convert to Image" /></label> 
                            </td>
                        </tr>
                    </table>
               </div>
                                       
                </div>
            </div>
        </div>
		<br/>
			<div style = "font-size: 17px;font-weight: 400;">
		 This feature will be used to convert PDF to rasterized images to reduce the file size, prevent editing capability, prevent text extraction, and view document content without PDF viewing software.
More information about export as image can be found in this documentation <a href="https://help.syncfusion.com/file-formats/pdf/working-with-document-conversions#converting-pdf-to-image">section.</a>
           </div>
    </div>
    Html.EndForm();
      }}}


