@section SampleHeading{
    <span class="sampleName">Radial Slider / Default Functionalities</span>}
@section ControlsSection{
@Html.EJ().RadialSlider("radialSlider").InnerCircleImageUrl("../Images/radialslider/chevron-right.png")
    }
<style>
    .row [class*="cols-"] {
        overflow-x: auto;
        overflow-y: hidden;
    }
</style>