@section SampleHeading{
    <span class="sampleName">RadialSlider-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to select a value or range of values in a circular interface using the Syncfusion ASP.NET MVC Radial slider component.">
}
@section ActionDescription{
    <div class="action-description">
    <p>
        This sample demonstrates rendering RadialSlider control that provides an optimized interface for selecting a numeric value using touch interface.
        This allows the user to select a value or range of values in a circular motion.
    </p>
    </div>
}
@section ControlsSection{
@Html.EJ().RadialSlider("radialSlider").InnerCircleImageUrl("../Images/radialslider/chevron-right.png")
    }
<style>
    .row [class*="cols-"] {
        overflow-x: auto;
        overflow-y: hidden;
    }
</style>

