@using Syncfusion.JavaScript.DataVisualization


@section SampleHeading{<span class="sampleName">XlsIO / FindAndExtract</span>}

 @section ControlsSection{                                
	      @{
    ViewBag.Title = " Essential XlsIO (Excel) : FindAndExtract : Syncfusion";
}

@{Html.BeginForm("FindAndExtract", "XlsIO", FormMethod.Post);
{
    <div class="Common">
        <div class="tablediv">
            <div class="rowdiv">
                This sample demonstrates some of the rich APIs of Essential XlsIO.
                <br />
                <br /><b> Features:</b>
                <br />
                <br />
                <ul>
                    <li>Find numbers, text, or dates</li>
                    <li>Read or extract display text and values in a cell</li>
                </ul>
            </div>
            <br />
            <div class="rowdiv">
                <label>
                    Select any item from the below listbox and click the Extract Data button to extract
                    the data from the spreasheet using Essential XlsIO.
                </label>
            </div>
            <br />
            <div class="rowdiv">
                <div class="celldiv">
                    @Html.DropDownList("selectoption")                   
                </div>                
            </div>
            <br/>
            <div class="rowdiv">
                <div class="celldiv">
                    <table width="400" >
                        <colgroup>
                            <col style="width: 40%" />
                            <col style="width: 60%" />                            
                        </colgroup>
                        <tr>
                            <td id="displaytext" align="left">
                                <strong>
                                 Display Text
                                </strong>
                            </td>
                            <td align="left">
                                @Html.ViewData["displayText"]
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td id="valuetext" align="left">
                                <strong>
                                    Value in the Cell
                                </strong>
                            </td>
                            <td align="left">
                                @Html.ViewData["valueText"]
                                <br/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br/>
            <div class="rowdiv">
                <div class="celldiv">
                    <input type="submit" id="extract" value="Extract Data" style=" width:200px;" />
                </div>
            </div>
        </div>
    </div>   
}
}               
              }
