@using Syncfusion.JavaScript.DataVisualization


@section SampleHeading{<span class="sampleName">XlsIO / Print</span>}

 @section ControlsSection{                                
	      @{ViewBag.Title = "    Essential XlsIO (Excel) :Print : Syncfusion";}

@{ Html.BeginForm("Print", "XlsIO", FormMethod.Post);
 {
    <div class="Common">
        <div class="tablediv">
            <div class="rowdiv">
                Essential XlsIO allows to print the Excel document without dependency of Microsoft Excel. A simple <b>print()</b> method ExcelToPdfConverter class prints the document with valid printer settings.
                <br />
                <br /><b>Features:</b>
                <br />
                <br />
                <ul>
                    <li>Supports printer settings</li>	
                    <li>Installation of Essential PDF and ExcelChartToImageConverter is necessary to run this sample</li>
                </ul>
            </div>
            <br />
            <div class="rowdiv">
                <label>
                    Essential XlsIO allows to print the Excel document in printer. Use the Print
                    method of ExcelToPDFConverter class to convert the Excel document to PDF and then print the converted PDF document in printer.
                    This enabling user easily print the Excel document.
                </label>
            </div>
            <br />
            <div class="rowdiv">
                <label>
                    Print Options
                </label>
            </div>
            <div class="rowdiv">
                <div class="celldiv">
                    <input type="radio" id="defaultPrintBtn" name="Group1" value="DefaultPrint" checked="checked" />
                    <label for="defaultPrintBtn">
                        DefaultPrint
                    </label>
                    <br />
                    <input type="radio" id="printWithConverterBtn" name="Group1" value="PrintWithConverterSettings" />
                    <label for="printWithConverterBtn">
                        PrintWithConverterSettings
                    </label>
                    <br />
                    <input type="radio" id="printWithPrinterBtn" name="Group1" value="PrintWithPrinterSettings" />
                    <label for="printWithPrinterBtn">
                        PrintWithPrinterSettings
                    </label>
                    <br />
                    <input type="radio" id="printWithConverterAndPrinterBtn" name="Group1" value="PrintWithConverterAndPrinterSettings" />
                    <label for="printWithConverterAndPrinterBtn">
                        PrintWithConverterAndPrinterSettings
                    </label>
                </div>
            </div>
            <br/>
            <div class="rowdiv">
                
            </div>
            <div class="rowdiv">
                <div class="celldiv" name ="Converter Settings" id="converterSettings">
                    <label>
                    Converter Settings
					</label>
					<table>
                        <tr>
                            <td>
                                <input type="radio" id="noScaleRadioBtn" name="Group2" value="NoScaling" checked="checked" />
                                <label for="noScaleRadioBtn">
                                    NoScaling
                                </label>
                            </td>
                            <td style="width:10px;">
                                &nbsp;&nbsp;&nbsp;
                            </td>
                            <td>
                                <input type="radio" id="allRowsRadioBtn" name="Group2" value="FitAllRowsOnOnePage" />
                                <label for="allRowsRadioBtn">
                                    FitAllRowsOnOnePage
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="allColumnRadioBtn" name="Group2" value="FitAllColumnsOnOnePage" />
                                <label for="allColumnRadioBtn">
                                    FitAllColumnsOnOnePage
                                </label>
                            </td>
                            <td style="width:10px;">
                                &nbsp;&nbsp;&nbsp;
                            </td>
                            <td>
                                <input type="radio" id="fitSheetRadioBtn" name="Group2" value="FitSheetOnOnePage" />
                                <label for="fitSheetRadioBtn">
                                    FitSheetOnOnePage
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br/>
            <div class="rowdiv">
                <div class="celldiv">
                    <table>
                        <tr>
                            <td>
                                <input id="viewtemplate" class="buttonStyle" type="submit" value="Input Template" name="button" style="width:100px;" />
                            </td>
                            <td style="width:10px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td>
                                <input id="Print" class="buttonStyle" type="submit" value="Print" name="button" style="width:100px;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#converterSettings").hide();
            $("input[name='Group1']").click(function () {
                if ($("#defaultPrintBtn").is(":checked") || $("#printWithPrinterBtn").is(":checked")) {
                    $("#converterSettings").hide();
                } else if ($("#printWithConverterBtn").is(":checked") || $("#printWithConverterAndPrinterBtn").is(":checked")) {
                    $("#converterSettings").show();
                }
            });
        });
    </script>
        Html.EndForm();
    } }               
              }
