@using Syncfusion.JavaScript.DataVisualization


@section SampleHeading{<span class="sampleName">XlsIO / WorksheetToImage</span>}

 @section ControlsSection{                                
	     @{ViewBag.Title = "    Essential XlsIO (Excel) : Worksheet To Image : Syncfusion";}

@{Html.BeginForm("WorksheetToImage", "XlsIO", FormMethod.Post);
{
    <div class="Common">
        <div class="tablediv">
            <div class="rowdiv">
                A worksheet can be converted to an image that is subject to few limitations. The image can be of any format, and it can also be saved as a memory stream.
                <br />
                <br />
                <b>Features:</b>
                <br />
                <br />
                <ul>
                    <li>Worksheet to image conversion</li>
                    <li>Saving workbooks as images of Bitmaps and metafiles</li>
                </ul>
            </div>
            <br />
            <div class="rowdiv">
                <label>
                    Click the button below to convert the Excel worksheet to image using Essential XlsIO.
                </label>
            </div>
            <br />
            <div class="rowdiv">
                <div class="celldiv">
                    <label>
                        <strong>Convert to:</strong>
                    </label>
                    <input type="radio" id="rdButtonPng" name="Group1" value="PNG" checked="checked" />
                    <label for="rdButtonPng">
                        PNG
                    </label>
                    <input type="radio" id="rdButtonJpeg" name="Group1" value="JPEG" />
                    <label for="rdButtonJpeg">
                        JPEG
                    </label>
                    <input type="radio" id="rdButtonBmp" name="Group1" value="BMP" />
                    <label for="rdButtonBmp">
                        BMP
                    </label>
                    <input type="radio" id="rdButtonEmf" name="Group1" value="EMF" />
                    <label for="rdButtonEmf">
                        EMF
                    </label>
                </div>
                <br />

                <div class="celldiv">
                    <input class="buttonStyle" type="submit" value="Convert To Image" style="width:200px;" />
                    <input id="viewtemplate" class="buttonStyle" type="submit" name="button" value="Input Template" style="width:200px;"/>
                </div>
            </div>
        </div>
    </div>
    Html.EndForm();
} }               
              }
