@section MetaTags{
   <meta name="description" content="This example demonstrates multiple items selection using checkbox in ASP.NET MVC DropDownList control."  >
}

@section SampleHeading{
    <span class="sampleName">Dropdownlist-Checkbox-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DropDownList("skillsets").Datasource((IEnumerable<Languages>)ViewBag.datasource).DropDownListFields(f => f.Text("text")).ShowCheckbox(true).WatermarkText("Select your skill").Width("100%")
        </div>
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-12">
            @Html.EJ().ToggleButton("btnchkunchk").DefaultText("Check All").ActiveText("Uncheck All").ClientSideEvents(e => e.Change("onCheckUncheckAll"))
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        var target;
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        function onCheckUncheckAll(args) {
            target = $('#skillsets').data("ejDropDownList");
            if (args.isChecked)
                target.checkAll();
            else
                target.unCheckAll();
        }
    </script>
}

