@section SampleHeading{
    <span class="sampleName">Dropdownlist-Local Data-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DropDownList("bikeList").Datasource((IEnumerable<Bikes>)ViewBag.datasource).DropDownListFields(df => df.ID("empid").Text("text").Value("text")).WatermarkText("Select a bike").Width("100%")
        </div>
    </div>
}


