@section SampleHeading{
    <span class="sampleName">Dropdownlist / Default Functionalities</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DropDownList("selectCar").TargetID("carsList").Width("100%").WatermarkText("Select a Car")
            <div id="carsList">
                <ul>
                    <li>Audi A4</li>
                    <li>Audi A5</li>
                    <li>Audi A6</li>
                    <li>Audi A7</li>
                    <li>Audi A8</li>
                </ul>
            </div>
        </div>
    </div>
}
