@section MetaTags{
   <meta name="description" content="This example demonstrates how to group drop down items based on categories in ASP.NET MVC DropDownList control." >
}

@section SampleHeading{
    <span class="sampleName">Dropdownlist-Grouping-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DropDownList("vegetable").Width("100%").WatermarkText("Select a vegetable").Datasource((IEnumerable)ViewData["dataSource"]).DropDownListFields(f=>f.Text("Veg").GroupBy("Group"))
        </div>
    </div>
    
}

