@section MetaTags{
   <meta name="description" content="This example demonstrates how the DropDownList control supports the keyboard navigation(keyboard shortcuts) in a ASP.NET MVC." >
}

@section SampleHeading{
    <span class="sampleName">Dropdownlist-Keyboard Navigation-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DropDownList("fontnames").Datasource((IEnumerable<Fonts>)ViewBag.datasource).DropDownListFields(df => df.Text("font").Value("font")).WatermarkText("Select a font ").Width("100%")
        </div>
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Alt + j
        </div>
        <div class="col-md-3">
            Focuses the control
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            UP
        </div>
        <div class="col-md-3">
            Navigates upwards
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Down
        </div>
        <div class="col-md-3">
            Navigates downwards
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Left
        </div>
        <div class="col-md-3">
            Navigates upwards
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Right
        </div>
        <div class="col-md-3">
            Navigates downwards
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Home
        </div>
        <div class="col-md-3">
            Navigates to the starting item
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            End
        </div>
        <div class="col-md-3">
            Navigates to the ending item
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Enter
        </div>
        <div class="col-md-3">
            Selects the focused item
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Alt + Up
        </div>
        <div class="col-md-3">
            Closes the popup window
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Alt + Down
        </div>
        <div class="col-md-3">
            Opens the popup window
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Esc
        </div>
        <div class="col-md-3">
            Closes the popup window
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        var target;
        $(function () {
            //Control focus key
            $(document).on("keydown", function (e) {
                if (e.altKey && e.keyCode === 74) { // j- key code.
                    $("#fontnames_wrapper").focus();
                }
            });
            $("#sampleProperties").ejPropertiesPanel();
        });
    </script>
}


