@section SampleHeading{
    <span class="sampleName">Dropdownlist / Rtl</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DropDownList("skillsets").Datasource((IEnumerable<Languages>)ViewBag.datasource).DropDownListFields(f => f.Text("skill")).EnableRTL(true).WatermarkText("Select a language").Width("150").Width("100%")
        </div>
    </div>
}

