@section SampleHeading{
    <span class="sampleName">Dropdownlist / Template</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DropDownList("DropDownList").Width("100%").Datasource((IEnumerable<EmployeeSpecialists>)ViewBag.datasource).Width("200").Template("<img class='eimg' src='../images/Employee/${eimg}.png' alt='employee' height='50px' width='50px'/><div class='ename'> ${text} </div><div class='desig'> ${desig} </div><div class='cont'> ${country} </div>").WatermarkText("Select an item")
        </div>
    </div>
}
@section StyleSection{
    <style type="text/css">
        .eimg {
            margin: 0;
            border: 0 none;
            width: 60px;
            height: 60px;
            float: left;
        }

        .ename {
            font-weight: bold;
            padding: 3px 3px 1px 3px;
        }

        .desig, .cont {
            font-size: smaller;
            padding: 3px 3px -1px 0px;
        }
    </style>
}