@section MetaTags{
   <meta name="description" content="This example demonstrates a simple, mobile-friendly and responsive ASP.NET MVC DatePicker to select a date.">
}
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}
@section SampleHeading{<span class="sampleName">DatePicker-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}
@section ActionDescription{
    <div class="action-description">
    <p>
        This sample demonstrates rendering DatePicker component which provides the support for displaying calendar in web page and allows the user to pick or directly enter the date value. 
        DatePicker provides an options to configure all its properties and to get its value and also DatePicker value can be assigned during initialization or at run time.
    </p>
    </div>
}
@section ControlsSection{
    <div class="frame ">
        <div class="control">
            @Html.EJ().DatePicker("DatePick").EnablePersistence(true).Value(ViewBag.datevalue).Width("100%")

        </div>
    </div>
}

