
@section MetaTags{
   <meta name="description" content="This example demonstrates the various events like created, selected, open and close in a ASP.NET MVC DatePicker">
}
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}
@section SampleHeading{<span class="sampleName">DatePicker-Events-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DatePicker("DatePick").ClientSideEvents(s => s.Create("onCreate").Select("onSelected").Open("onOpen").Close("onClose")).Width("100%")
        </div>
    </div>
}
<div id="target">
    <ul>
        <li>create</li>
        <li>select</li>
        <li>open</li>
        <li>close</li>
    </ul>
</div>
@section EventsDropdown{
    @Html.EJ().DropDownList("selectControls_input").TargetID("target").CssClass("metroblue").ShowCheckbox(true).CheckAll(true).ClientSideEvents(s => s.Change("evtpropscheckedevent"))

}
@section ScriptSection{
    <script type="text/javascript">
        // Client side Events
        function onCreate(args) {
            jQuery.addEventLog("DatePicker has been <span class='eventTitle'>created.</span>");
        }
        function onSelected(args) {
            jQuery.addEventLog(args.value + " was <span class='eventTitle'>selected.</span>");
        }
        function onOpen(args) {
            jQuery.addEventLog("DatePicker popup has been <span class='eventTitle'>opened.</span>");
        }
        function onClose(args) {
            jQuery.addEventLog("DatePicker popup has been <span class='eventTitle'>closed.</span>");
        }

        function onClear() {
            jQuery.clearEventLog();
        }
        function evtpropscheckedevent(args) {
            var dpObj = $("#DatePick").data("ejDatePicker");
            if (args.isChecked) {
                switch (args.selectedText) {
                    case "select": dpObj.option(args.selectedText, "onSelected"); break;
                    case "open": dpObj.option(args.selectedText, "onOpen"); break;
                    case "close": dpObj.option(args.selectedText, "onClose"); break
                    case "create": dpObj.option(args.selectedText, "onCreate"); break;
                }
            }
            else {
                dpObj.option(args.selectedText, null);
            }
        }
    </script>
}

