@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}
@section SampleHeading{<span class="sampleName">DatePicker / Rtl</span> }
@section ControlsSection{
    <div class="frame ">
        <div class="control">
            @Html.EJ().DatePicker("DatePick").EnableRTL(true).Width("100%")

        </div>
    </div>
}
