<div class="row headerone">
    <div class="col-md-10">
        <a id="histback" href="javascript:history.back();">
            <div class="leftarrow"></div>
            <span>Back</span></a>
    </div>
</div>
<div class="headerone">
    <div class="row">
        <div class="col-md-10">
            <span class="errortype">Common Error</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">@ViewBag.Msg</div>
    </div>
</div>
<div class="headerone">
    <div class="row">
        <div class="col-md-10">
            <div class="stack">Stack Trace </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div>
                <div class="stackhead">
                    <div id="scrollcontent">
                        <div>
                            <div class="stackmessage">
                                @ViewBag.Trace
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{Html.EJ().Scroller("scrollcontent").Height(450).Width(875).Render();}
