<div class="row headerone">
    <div class="col-md-10">
        <a id="histback" href="javascript:history.back();">
            <div class="leftarrow"></div>
            <span>Back</span></a>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <span class="errortype">Page not found</span>
    </div>
</div>
<div style="font-size: 15px; margin-top: 15px">
    <div class="row">
        <div class="col-md-10">The page you are looking for is not found</div>
    </div>
    <div class="row" style="margin-top: 2px">
        <div class="col-md-10"><a href="#">@ViewBag.Msg</a></div>
    </div>
</div>
