@section SampleHeading{<span class="sampleName"> TreeGrid/AdaptiveTreegrid</span>}
@section ControlsSection{
    <div id="resMode" class="emulatortap">
        <div class="sample-container">
            <iframe id="sample" frameborder="0" tabindex="1" style="height: 364px;width: 616px" src='../TreeGrid/AdaptiveTreegrid'></iframe>
        </div>
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Responsive TreeGrid
        </div>
        <div class="col-md-3">
            <select id="columnName" class="e-ddl" data-bind="value: field">
                <option value="320x494">Mobile Mode</option>
                <option value="614x364" selected="selected">Tablet Mode</option>
            </select>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            var browser = ej.TreeGrid.prototype.getBrowserDetails();
            $("#sampleProperties").ejPropertiesPanel();
            var dropDownSlectedValue = $("#columnName option:selected").text();
            $("#columnName").ejDropDownList({ width: "120", change: "dropdownChange", text: dropDownSlectedValue });
        });
        window.loadTreeGridFrameTheme = function () {
            var iframe = document.getElementById('sample');
            iframe.contentWindow.postMessage("theme_" + window.theme, iframe.src);
        }
        function dropdownChange(args) {
            var str = args.selectedValue;
            if (args.text == "Mobile Mode") {
                $("#allowCheck").ejCheckBox({ checked: false })
                var iframe = document.getElementById('sample');
                iframe.contentDocument.location.reload();
                $("#sample").parents().find("#resMode").removeClass("emulatortap").addClass("emulatordesk");
                $("#sample").css("width", str.split("x")[0]).css("height", str.split("x")[1]).css("margin-left", "");
                $(".cols-prop-area").css("width", "").css("min-height", "").css("margin-left", "");
                $("#sample").contents().find("#Grid .e-gridcontent").addClass("e-widget");
                $(".cols-sample-area").css("width", "72.956%");

            }

            else if (args.text == "Tablet Mode") {
                var browser = ej.browserInfo();
                document.getElementById("sample").contentDocument.location.reload();
                $("#sample").parents().find("#resMode").removeClass("emulatordesk").addClass("emulatortap");
                $("#sample").css("width", str.split("x")[0]).css("height", str.split("x")[1]);
                $(".cols-prop-area").css("width", "").css("min-height", "").css("margin-left", "");
                    $(".cols-sample-area").css("width", "100%");
            }
        }
    </script>
}

