@section MetaTags{
   <meta name="description" content="This example illustrates sorting columns in either ascending or descending order in the Syncfusion tree grid control.">
}
@section SampleHeading{<span class="sampleName">TreeGrid-Sorting-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{

    <style>

    </style>

    @(Html.EJ().TreeGrid("TreeGridContainer")
             .AllowSorting(true)
             .ChildMapping("Children")
             .SizeSettings(ss => ss.Height("350px").Width("100%"))
             .IsResponsive(true)
             .TreeColumnIndex(1)
             .Columns(co =>
             {
                 co.Field("TaskId").HeaderText("Task Id").Width(45).Add();
                 co.Field("TaskName").HeaderText("Task Name").Add();
                 co.Field("StartDate").HeaderText("Start Date").Add();
                 co.Field("EndDate").HeaderText("End Date").Add();
                 co.Field("Duration").HeaderText("Duration").Add();
                 co.Field("Progress").HeaderText("Progress").Add();
             }
             )
             .Datasource(ViewBag.datasource)
    )
}

