@section SampleHeading{<span class="sampleName"> TreeGrid/Performance</span>}
@section ControlsSection{


    @(Html.EJ().TreeGrid("TreeGridContainer")
             .ChildMapping("Children")
             .EnableVirtualization(true)
             .TreeColumnIndex(1)
             .IsResponsive(true)
             .Columns(co =>
               {
                   co.Field("Id").HeaderText("Task Id").Width(45).Add();
                   co.Field("Name").HeaderText("Task Name").Add();
                   co.Field("StartDate").HeaderText("Start Date").Add();
                   co.Field("Duration").HeaderText("Duration").Add();
                   co.Field("PercentDone").HeaderText("Progress").Add();
               }
             )
             .SizeSettings(ss => ss.Width("100%").Height("450px"))
             .Datasource(ViewBag.datasource)
    )
}