@section SampleHeading{<span class="sampleName"> TreeGrid/Row Template</span>}
@section ControlsSection{

    <style>
        .border {
            border-color: #BDBDBD;
            border-width: 1px;
            border-style: solid;
        }
    </style>

    <script id="rowTemplateScript" type="text/x-jsrender">

        <tr>
            <td class="border" style='height:99px;'>
                <div>{{:#data['EmployeeID']}}</div>
            </td>
            <td class="border" style='height:99px;'>
                <div style="font-size:14px;">
                    {{:#data['Name']}}
                    <p style="font-size:8px;">{{:#data['Designation']}}</p>
                </div>
            </td>
            <td class="border" style='height:99px;'>
                <div>
                    <div style="position:relative;top:-25px;display:inline-block;">
                        <img src="../Images/treegrid/{{:#data['FullName']}}.png" />
                    </div>
                    <div style="display:inline-block;">
                        <div style="padding:5px;">{{:#data['Address']}}</div>
                        <div style="padding:5px;">{{:#data['Country']}}</div>
                        <div style="padding:5px;font-size:12px;">{{:#data['Contact']}}</div>
                    </div>
                </div>
            </td>
            <td class="border" style='height:99px;'>
                <div>{{:#data['DOB']}}</div>
            </td>

        </tr>
    </script>

    <script id="altRowTemplateScript" type="text/x-jsrender">

        <tr>
            <td class="border" style='height:99px;'>
                <div>{{:#data['EmployeeID']}}</div>
            </td>
            <td class="border" style='height:99px;'>
                <div style="font-size:14px;">
                    {{:#data['Name']}}
                    <p style="font-size:8px;">{{:#data['Designation']}}</p>
                </div>
            </td>
            <td class="border" style='height:99px;'>
                <div>
                    <div style="position:relative;top:-25px;display:inline-block;">
                        <img src="../Images/treegrid/{{:#data['FullName']}}.png" />
                    </div>
                    <div style="display:inline-block;">
                        <div style="padding:5px;">{{:#data['Address']}}</div>
                        <div style="padding:5px;">{{:#data['Country']}}</div>
                        <div style="padding:5px;font-size:12px;">{{:#data['Contact']}}</div>
                    </div>
                </div>
            </td>
            <td class="border" style='height:99px;'>
                <div>{{:#data['DOB']}}</div>
            </td>
        </tr>

    </script>


    @(Html.EJ().TreeGrid("TreeGridContainer")
          .ChildMapping("Children")
          .AltRowTemplateId("altRowTemplateScript")
          .RowTemplateId("rowTemplateScript")
          .RowHeight(99)
          .IsResponsive(true)
          .Columns(co =>
              {
                  co.Field("EmployeeID").HeaderText("Employee ID").Add();
                  co.Field("Name").HeaderText("Employee Name").Add();
                  co.Field("Address").HeaderText("Employee Details").Add();
                  co.Field("DOB").HeaderText("DOB").EditType(TreeGridEditingType.Datepicker).Add();
              }
          )
          .SizeSettings(ss => ss.Width("100%").Height("350px"))
          .Datasource(ViewBag.datasource)

    )
}