@section MetaTags{
   <meta name="description" content="This example illustrates exporting hierarchical data in Excel and PDF formats.">
}
@section SampleHeading{<span class="sampleName">TreeGrid-Exporting TreeGrid-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{


    <style>
        .cols-sample-area {
            height: 440px;
        }
    </style>

    @(Html.EJ().TreeGrid("TreeGridContainer")
              .ChildMapping("Children")
              .TreeColumnIndex(1)
              .Columns(co =>
              {
                  co.Field("TaskId").HeaderText("Task Id").Width(80).Add();
                  co.Field("TaskName").HeaderText("Task Name").Add();
                  co.Field("StartDate").HeaderText("Start Date").Add();
                  co.Field("EndDate").HeaderText("End Date").Add();
                  co.Field("Duration").HeaderText("Duration").Add();
              })
              .EditSettings(es => es.AllowDeleting(false))
              .SizeSettings(ss => ss.Width("100%").Height("350px"))
              .IsResponsive(true)
              .ToolbarSettings(tool =>
               {
                 tool.ShowToolbar(true);
                 tool.ToolbarItems(new List<TreeGridToolBarItems>()
                 {
                      TreeGridToolBarItems.PdfExport,
					  TreeGridToolBarItems.ExcelExport,
                 });
               })
             .Datasource(ViewBag.datasource)
             
    )
}

