@section MetaTags{
   <meta name="description" content="This example illustrates how to export records from multiple tree grids as a combined file.">
}
@section SampleHeading{<span class="sampleName">TreeGrid-Multiple Exporting-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{


    <style>
        .label1 {
            font-size: 19px;
            margin: 20px 0 10px;
        }
    </style>
<div class="label1">
    Planning Phase
</div>
    @(Html.EJ().TreeGrid("TreeGridContainer")
              .ChildMapping("Children")
              .TreeColumnIndex(1)
              .AllowMultipleExporting(true)
              .Columns(co =>
              {
                  co.Field("TaskId").HeaderText("Task Id").Width(80).Add();
                  co.Field("TaskName").HeaderText("Task Name").Add();
                  co.Field("StartDate").HeaderText("Start Date").Add();
                  co.Field("EndDate").HeaderText("End Date").Add();
                  co.Field("Duration").HeaderText("Duration").Add();
              })
              .EditSettings(es=>es.AllowDeleting(false))
              .Mappers(map => map.ExportToPdfAction("MultipleExportToPdf").ExportToExcelAction("MultipleExportToExcel"))
              .SizeSettings(ss => ss.Width("100%").Height("250px"))
              .IsResponsive(true)
              .ToolbarSettings(tool =>
               {
                   tool.ShowToolbar(true);
                   tool.ToolbarItems(new List<TreeGridToolBarItems>()
                 {
                      TreeGridToolBarItems.PdfExport,
                      TreeGridToolBarItems.ExcelExport
                 });
               })
             .Datasource(ViewBag.datasource1)
    )
<div class="label1">
    Design Phase
</div>
      @(Html.EJ().TreeGrid("TreeGridContainer1")
              .ChildMapping("Children")
              .TreeColumnIndex(1)
              .AllowMultipleExporting(true)
              .Columns(co =>
              {
                  co.Field("TaskId").HeaderText("Task Id").Width(80).Add();
                  co.Field("TaskName").HeaderText("Task Name").Add();
                  co.Field("StartDate").HeaderText("Start Date").Add();
                  co.Field("EndDate").HeaderText("End Date").Add();
                  co.Field("Duration").HeaderText("Duration").Add();
              })
              .SizeSettings(ss => ss.Width("100%").Height("250px"))
              .EnableResize(true)
             .Datasource(ViewBag.datasource2)
)
<div class="label1">
    Implementation Phase
</div>
@(Html.EJ().TreeGrid("TreeGridContainer2")
              .ChildMapping("Children")
              .TreeColumnIndex(1)
              .AllowMultipleExporting(true)
              .Columns(co =>
              {
                  co.Field("TaskId").HeaderText("Task Id").Width(80).Add();
                  co.Field("TaskName").HeaderText("Task Name").Add();
                  co.Field("StartDate").HeaderText("Start Date").Add();
                  co.Field("EndDate").HeaderText("End Date").Add();
                  co.Field("Duration").HeaderText("Duration").Add();
              })
              .SizeSettings(ss => ss.Width("100%").Height("250px"))
              .EnableResize(true)
             .Datasource(ViewBag.datasource3)
)
}

