@section SampleHeading{<span class="sampleName"> TreeGrid/Default</span>}
@section ControlsSection{


    <style>
    </style>

    @(Html.EJ().TreeGrid("TreeGridContainer")
          .ChildMapping("Children")
          .TreeColumnIndex(1)
          .Columns(co =>
              {
                  co.Field("TaskId").HeaderText("Task Id").EditType(TreeGridEditingType.Numeric).Width(60).Add();
                  co.Field("TaskName").HeaderText("Task Name").EditType(TreeGridEditingType.String).Add();
                  co.Field("StartDate").HeaderText("Start Date").IsFrozen(true).EditType(TreeGridEditingType.Datepicker).Add();
                  co.Field("EndDate").HeaderText("End Date").EditType(TreeGridEditingType.Datepicker).Add();
                  co.Field("Duration").HeaderText("Duration").EditType(TreeGridEditingType.Numeric).Add();
                  co.Field("Progress").HeaderText("Progress").EditType(TreeGridEditingType.Numeric).Add();
              }
          )
          .SizeSettings(ss => ss.Width("100%").Height("350px"))
          .IsResponsive(true)
          .AllowSorting(true)
          .ContextMenuSettings(cms => cms.ShowContextMenu(true)
                               .ContextMenuItems(new List<TreeGridContextMenuItems>() {
              TreeGridContextMenuItems.Add,TreeGridContextMenuItems.Edit,TreeGridContextMenuItems.Delete
          }))
          .EditSettings(edit =>
          {
              edit.AllowEditing(true);
              edit.EditMode(TreeGridEditMode.RowEditing);
          })
          .Datasource(ViewBag.datasource)
    )
}