@section SampleHeading{<span class="sampleName"> TreeGrid/Load on Demand</span>}
@section ControlsSection{


    @(Html.EJ().TreeGrid("TreeGridContainer")
             .IdMapping("TaskID")
             .ParentIdMapping("ParentID")
             .TreeColumnIndex(1)
             .IsResponsive(true)
             .HasChildMapping("isParent")
             .EnableVirtualization(true)
			 .EnableLoadOnDemand(true)
             .Columns(co =>
               {
                   co.Field("TaskID").HeaderText("Task Id").Width(45).Add();
                   co.Field("TaskName").HeaderText("Task Name").Add();
                   co.Field("StartDate").HeaderText("Start Date").Add();
                   co.Field("EndDate").HeaderText("End Date").Add();                 
                   co.Field("Progress").HeaderText("Progress").Add();
               }
             )
             .SizeSettings(ss => ss.Width("100%").Height("350px"))
                     .Datasource(ds => ds.URL("//js.syncfusion.com/demos/ejServices/Wcf/TreeGridGantt/TreeGantt.svc/SelfReferenceDatas").CrossDomain(true))
    )
}