@section MetaTags{
   <meta name="description" content="This example illustrates customizable command buttons to perform actions over records in the Syncfusion tree grid control.">
}
@section SampleHeading{<span class="sampleName">TreeGrid-Command Column-ASP.NET MVC-SYNCFUSION</span>}
@using Syncfusion.JavaScript.Models;
@section ControlsSection{
    @(Html.EJ().TreeGrid("TreeGridContainer")
              .ChildMapping("Children")
              .TreeColumnIndex(1)
              .Columns(co =>
              {
                  co.Field("TaskId").HeaderText("Task Id").EditType(TreeGridEditingType.Numeric).Width(45).Add();
                  co.Field("TaskName").HeaderText("Task Name").EditType(TreeGridEditingType.String).Add();
                  co.Field("StartDate").HeaderText("Start Date").EditType(TreeGridEditingType.Datepicker).Add();
                  co.Field("Duration").HeaderText("Duration").EditType(TreeGridEditingType.Numeric).Add();                 
                  co.HeaderText("Manage Records").Commands(command =>
                      {
                          command.Type(TreeGridUnboundType.Edit)
                              .ButtonOptions(new ButtonProperties()
                              {
                                  Text = "Edit", 
                                  Width="58"
                              }).Add();
                          command.Type(TreeGridUnboundType.Delete)
                              .ButtonOptions(new ButtonProperties()
                              {
                                  Text = "Delete",
                                  Width = "58"
                              }).Add();
                          command.Type(TreeGridUnboundType.Save)
                              .ButtonOptions(new ButtonProperties()
                              {
                                  Text = "Save",
                                  Width = "58"
                              }).Add();
                          command.Type(TreeGridUnboundType.Cancel)
                              .ButtonOptions(new ButtonProperties()
                              {
                                  Text = "Cancel",
                                  Width = "58"
                              }).Add();
                      }).Add();
              })
              .SizeSettings(ss => ss.Width("100%").Height("350px"))
              .IsResponsive(true)
              .EditSettings(edit =>
              {
                  edit.AllowEditing(true);
                  edit.AllowDeleting(true);
                  edit.EditMode(TreeGridEditMode.RowEditing);
              })

       .Datasource(ViewBag.datasource)
    )
}

