@section SampleHeading{<span class="sampleName"> TreeGrid/Text Wrap</span>}
@using Syncfusion.JavaScript.Models;
@section ControlsSection{


    <style>
        .cols-sample-area {
            height: 440px;
        }
    </style>

    @(Html.EJ().TreeGrid("TreeGridContainer")
              .ChildMapping("Children")
              .TreeColumnIndex(1)
              .Columns(co =>
              {
                  co.Field("TaskId").HeaderText("Task Id").EditType(TreeGridEditingType.Numeric).Width(45).Add();
                  co.Field("TaskName").HeaderText("Task Name").EditType(TreeGridEditingType.String).Add();
                  co.Field("StartDate").HeaderText("Start Date").EditType(TreeGridEditingType.Datepicker).Add();
                  co.Field("EndDate").HeaderText("End Date").EditType(TreeGridEditingType.Datepicker).DropDownEditOptions(new DropDownListProperties() { DropDownListFields = new DropDownListFields() { Text = "" } }).Add();
                  co.Field("Duration").HeaderText("Duration").EditType(TreeGridEditingType.Numeric).Add();
                  co.Field("Progress").HeaderText("Progress").EditType(TreeGridEditingType.Numeric).Add();
              }
       )
              .SizeSettings(ss => ss.Width("100%").Height("350px"))
              .EnableVirtualization(true)
              .AllowTextWrap(true)
              .IsResponsive(true)
              .HeaderTextOverflow(TreeGridHeaderTextOverflow.Wrap)
              .EditSettings(edit =>
              {
                  edit.AllowEditing(true);
                  edit.AllowAdding(true);
                  edit.AllowDeleting(true);
                  edit.EditMode(TreeGridEditMode.CellEditing);
                  edit.RowPosition(TreeGridRowPosition.AboveSelectedRow);
              })
             .ToolbarSettings(tool =>
             {
                 tool.ShowToolbar(true);
                 tool.ToolbarItems(new List<TreeGridToolBarItems>()
                {
                                     TreeGridToolBarItems.Add,
                                     TreeGridToolBarItems.Edit,
                                     TreeGridToolBarItems.Delete,
                                     TreeGridToolBarItems.Update,
                                     TreeGridToolBarItems.Cancel,
                                     TreeGridToolBarItems.ExpandAll,
                                     TreeGridToolBarItems.CollapseAll,
                                  });
             })
       .Datasource(ViewBag.datasource)
    )
}
