@section SampleHeading{<span class="sampleName"> TreeGrid/Stacked Header</span>}
@section ControlsSection{


    @(Html.EJ().TreeGrid("TreeGridContainer")
             .ChildMapping("Children")
             .TreeColumnIndex(1)
             .IsResponsive(true)
             .Columns(co =>
               {
                   co.Field("ID").HeaderText("S.No").Width(45).Add();
                   co.Field("Name").HeaderText("Shipment Name").Add();
                   co.Field("Category").HeaderText("Category").Add();
                   co.Field("Units").HeaderText("Units").Add();
                   co.Field("UnitPrice").HeaderText("Unit Price($)").Add();
                   co.Field("Price").HeaderText("Price($)").Add();
               }
             )
             .ShowStackedHeader(true)
            .StackedHeaderRows(st => {
                st.StackedHeaderColumns(sc =>
                {
                    sc.TextAlign(TextAlign.Center).HeaderText("Shipment Details").Column(col =>
                    {
                        col.Add("ID");
                        col.Add("Name");
                        col.Add("Category");
                        col.Add("Units");
                    }).Add();
                    sc.TextAlign(TextAlign.Center).HeaderText("Price Details").Column(col =>
                    {
                        col.Add("UnitPrice");
                        col.Add("Price");
                    }).Add();
                }).Add();
            })
             .SizeSettings(ss => ss.Width("100%").Height("350px"))
             .Datasource(ViewBag.datasource)
    )
}