@section MetaTags{
   <meta name="description" content="This example illustrates binding self-referential flat data with parent ID to a Syncfusion tree grid.">
}
@section SampleHeading{<span class="sampleName">TreeGrid-Self Reference-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    @(Html.EJ().TreeGrid("TreeGridContainer")
          .TreeColumnIndex(1)
          .AllowColumnResize(true)
          .IsResponsive(true)
          .IdMapping("TaskId")
          .ParentIdMapping("ParentId")
          .Columns(co =>
              {
                  co.Field("TaskId").HeaderText("Task Id").EditType(TreeGridEditingType.Numeric).Add();
                  co.Field("TaskName").HeaderText("Task Name").EditType(TreeGridEditingType.String).Add();
                  co.Field("StartDate").HeaderText("Start Date").EditType(TreeGridEditingType.Datepicker).Add();
                  co.Field("Duration").HeaderText("Duration").EditType(TreeGridEditingType.Numeric).Add();
                  co.Field("Progress").HeaderText("Progress").EditType(TreeGridEditingType.Numeric).Add();
              }
          )
          .SizeSettings(ss => ss.Width("100%").Height("450px"))
          .Datasource(ViewBag.datasource)
    )
}

