@using Syncfusion.JavaScript.Models
@section MetaTags{
   <meta name="description" content="This example illustrates options to customize column headers with custom templates in the tree grid control.">
}

@section SampleHeading{<span class="sampleName">TreeGrid-Header Template-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{


    <style>
        .cols-sample-area {
            height: 440px;
        }
    </style>

    <script type="text/x-jsrender" id="resource">
    <div>
        <div>
            <img src="../images/treegrid/icon-03.png" width="20" height="20" /> 
        </div>
        <div style="position:relative; top:3px;">
            Resources
        </div>
    </div>
</script>
    <script type="text/x-jsrender" id="progressTemplate">
    <div>
        <div>
            <img src="../images/treegrid/icon-05.png" width="20" height="20" />            
        </div>
        <div style="position:relative; top:3px;">
            Progress
        </div>
    </div>
</script>
    <script type="text/x-jsrender" id="projectName">
    <div>
        <div>
            <img src="../images/treegrid/icon-01.png" width="20" height="20" />   
        </div>
        <div style="position:relative; top:3px;">
            Task Name
        </div>
    </div>
</script>
    <script type="text/x-jsrender" id="dateTemplate">
    <div>
        <div>
            <img src="../images/treegrid/icon-04.png" width="20" height="20" />            
        </div>
        <div style="position:relative; top:3px;">
            Start Date
        </div>
    </div>
</script>
    <script type="text/x-jsrender" id="durationTemplate">
    <div>
        <div>
            <img src="../images/treegrid/icon-02.png" width="20" height="20" />            
        </div>
        <div style="position:relative; top:2px;">
            Duration
        </div>
    </div>
</script>

    @(Html.EJ().TreeGrid("TreeGridContainer")
          .ChildMapping("Children")
          .TreeColumnIndex(0)         
          .Columns(co =>
              {
                  co.Field("Name").EditType(TreeGridEditingType.String).HeaderTemplateID("#projectName").Add();
                  co.Field("StartDate").EditType(TreeGridEditingType.Datepicker).HeaderTemplateID("#dateTemplate").Add();
                  co.Field("Resources").EditType(TreeGridEditingType.Dropdown).HeaderTemplateID("#resource").DropDownData((IEnumerable<object>)ViewBag.resources).DropDownEditOptions(new DropDownListProperties() {DropDownListFields = new DropDownListFields(){Text="Name", Value="Id"} }).Add();                  
                  co.Field("Duration").EditType(TreeGridEditingType.Numeric).HeaderTemplateID("#durationTemplate").Add();
                  co.Field("PercentDone").EditType(TreeGridEditingType.Numeric).HeaderTemplateID("#progressTemplate").Add();
              }
          )
          .SizeSettings(ss => ss.Width("100%").Height("350px"))
          .IsResponsive(true)
          .Datasource(ViewBag.datasource)
    )
}

