@section SampleHeading{<span class="sampleName">Gantt/BaseLines </span>}

@section ControlsSection{
    <div id="ganttsample1" style="width: 100%; height: 450px">
        @(Html.EJ().Gantt("ganttsample1")
                   .TaskIdMapping("Id")
                   .TaskNameMapping("Name")
                   .StartDateMapping("StartDate")
                   .DurationMapping("Duration")
                   .ProgressMapping("PercentDone")
                   .ScheduleStartDate("10/27/2017")
                   .ScheduleEndDate("11/30/2017")
                   .DateFormat("MM/dd/yyyy")
                   .HighlightWeekends(true)
                   .ChildMapping("Children")
                   .AllowSelection(true)
                   .AllowGanttChartEditing(false)
                   .AllowColumnResize(true)
                   .BaselineStartDateMapping("BaselineStartDate")
                   .BaselineEndDateMapping("BaselineEndDate")
                   .RenderBaseline(true)
                   .PredecessorMapping("Predecessor")
                   .IsResponsive(true)
                   .EditSettings(es=>es.AllowEditing(true).EditMode("cellEditing"))
                   .ClientSideEvents(cs=>cs.Load("load"))
                   .SplitterSettings(ss=>ss.Index(2))
                   .Datasource(ViewBag.datasource)
        )
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        function load(args) {
            var columns = this.getColumns(),
                splicedColumns = columns.splice(6, 2);
            columns.splice(1, 0, splicedColumns[0], splicedColumns[1]);
            columns[0].width = 100;
        }
    </script>
}
