@section SampleHeading{<span class="sampleName">Gantt/Critical Path </span>}
@section ControlsSection{

    @(Html.EJ().Gantt("ganttsample")
    .TaskIdMapping("CriticalTaskID")
    .TaskNameMapping("CriticalTaskName")
    .StartDateMapping("CriticalStartDate")
    .EndDateMapping("CriticalEndDate")
    .DurationMapping("CriticalDuration")
    .ProgressMapping("CriticalProgress")
    .ScheduleStartDate("02/01/2017")
    .ScheduleEndDate("03/14/2017")
    .DateFormat("MM/dd/yyyy")
    .HighlightWeekends(true)
    .TreeColumnIndex(1)
    .ShowGridCellTooltip(true)
    .ShowProgressStatus(true)
    .ChildMapping("CriticalSubTasks")
    .AllowSelection(true)
    .PredecessorMapping("CriticalPredecessors")
    .IsResponsive(true)
    .ToolbarSettings(toolbar =>
                    {
                               toolbar.ShowToolbar(true);
                               toolbar.ToolbarItems(new List<GanttToolBarItems>()
                       {
                           GanttToolBarItems.CriticalPath,
                       });
                    })
    .EditSettings(edit =>
                   {
                       edit.AllowEditing(true);
                       edit.AllowAdding(true);
                       edit.AllowDeleting(true);
                       edit.AllowIndent(true);
                       edit.EditMode("cellEditing");
                   })
                           .ClientSideEvents(eve =>
                              {
                                  eve.Create("create");
                                  eve.Load("load");
                              })
    .EnableVirtualization(false)
    .SizeSettings(ss => ss.Width("100%").Height("450px"))
    .ShowGridCellTooltip(true)
    .AllowGanttChartEditing(true)
    .Datasource(ViewBag.datasource)
    )
}
@section ScriptSection{

    <script>
        function create(args) {
            this.showCriticalPath(true);
        }
        function load(args) {
            var columns = { field: "isCritical", headerText: "Critical", allowEditing: false };
            var column = this.getColumns();
            column.splice(2, 0, columns);
            column[0].width = 60;
        }
    </script>
}
