@section MetaTags{
   <meta name="description" content="This example illustrates how to define a unique numbering system for the tasks based on hiearchy in the Syncfusion Gantt chart control.">
}

@section SampleHeading{<span class="sampleName">Gantt-Work Breakdown Structure-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{
    <div id="ganttsample3" style="width: 100%; height: 450px;">
        @(Html.EJ().Gantt("ganttsample3")
                   .TaskIdMapping("Id")
                   .TaskNameMapping("Name")
                   .StartDateMapping("StartDate")
                   .DurationMapping("Duration")
                   .ProgressMapping("PercentDone")
                   .ScheduleStartDate("02/23/2017")
                   .ScheduleEndDate("03/30/2017")
                   .HighlightWeekends(true)
                   .ChildMapping("Children")
                   .AllowGanttChartEditing(true)
                   .PredecessorMapping("Predecessor")
                   .EnableWBS(true)
                   .EnableWBSPredecessor(true)
                   .AllowSelection(true)
                   .EnableWBS(true)
                   .AllowColumnResize(true)
                   .TreeColumnIndex(6)
                   .EnableResize(true)
                   .ToolbarSettings(toolbar =>
                   {
                       toolbar.ShowToolbar(true);
                       toolbar.ToolbarItems(new List<GanttToolBarItems>()
                       {
                           GanttToolBarItems.Add,
                           GanttToolBarItems.Edit,
                           GanttToolBarItems.Delete,
                           GanttToolBarItems.Update,
                           GanttToolBarItems.Cancel,
                           GanttToolBarItems.Indent,
                           GanttToolBarItems.Outdent,
                           GanttToolBarItems.ExpandAll,
                           GanttToolBarItems.CollapseAll,
                                  });
                   })
                   .ClientSideEvents(ce => { ce.Load("Load"); })
                   .EditSettings(edit =>
                   {
                       edit.AllowEditing(true);
                       edit.AllowAdding(true);
                       edit.AllowDeleting(true);
                       edit.AllowIndent(true);
                       edit.EditMode("cellEditing");

                   })
                   .Datasource(ViewBag.datasource)
        )
    </div>
    <script type="text/javascript">
        function Load() {
            var columns = this.getColumns();
            //Hide all(first 5) the columns except WBS and WBS predecessor
            for (var i = 0; i <= 5; i++)
                columns[i].visible = false;
        }
    </script>
}

