@section SampleHeading{<span class="sampleName">Gantt/ScheduleModes</span>}

@section ScriptReferenceSection
{
    <script src="~/Scripts/Gantt/GanttData.js"></script>
}


@section ControlsSection{
    <div id="ganttsample10" style="width: 100%; height: 450px;">
        @(Html.EJ().Gantt("ganttsample10")
                   .TaskIdMapping("TaskID")
                   .TaskNameMapping("TaskName")
                   .StartDateMapping("StartDate")
                   .EndDateMapping("EndDate")
                   .ProgressMapping("Progress")
                   .ScheduleStartDate("02/23/2017")
                   .ScheduleEndDate("03/25/2017")
                   .HighlightWeekends(true)
                   .TreeColumnIndex(1)
                   .ChildMapping("Children")
                   .AllowGanttChartEditing(false)
                   .IsResponsive(true)
                   .WorkingTimeScale(GanttWorkingTimeScale.TimeScale24Hours)
                   .ClientSideEvents(cs => cs.Load("load"))
                   .ScheduleHeaderSettings(sh => sh.ScheduleHeaderType(GanttScheduleHeaderType.Week))
                   .DurationUnit(GanttDurationUnit.Day)
                   .Datasource(ViewBag.datasource)
        )
    </div>
}
@section PropertiesSection{
    <div class="prop-grid">
        <div class="row">
            <div class="col-md-3">
                Schedule Mode
            </div>
            <div class="col-md-3">
                <div id="ddlist">
                    <ul>
                        <li>Hour</li>
                        <li>Day</li>
                        <li>Week</li>
                        <li>Month</li>
                        <li>Year</li>
                    </ul>
                </div>
                <div style="float:right;padding-bottom:5px; padding-left:1px;">
                    @(Html.EJ().DropDownList("language")
                   .TargetID("ddlist")
                   .SelectedItemIndex(2)
                   .Value("Week")
                   .Text("Week")
                   .ClientSideEvents(eve => eve.Change("onChange"))
                   .Width("120px")
                    )
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Mintues Interval
            </div>
            <div class="col-md-3">
                <div id="mintues">
                    <ul>
                        <li>Auto</li>
                        <li>One minute</li>
                        <li>Five minutes</li>
                        <li>Fifteen minutes</li>
                        <li>Thirty minutes</li>
                    </ul>
                </div>
                <div style="float:right;padding-bottom:5px; padding-left:1px;">
                    @(Html.EJ().DropDownList("interval")
                    .TargetID("mintues")
                    .Value("Five minutes")
                    .ClientSideEvents(eve => eve.Change("onIntervalChange"))
                    .Width("120px")
                    .Enabled(false)
                    )
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                Week Start Day
            </div>
            <div class="col-md-3">
                <div style="float:right;padding-bottom:5px; padding-left:1px;">
                    @(Html.EJ().DropDownList("startDay")
                    .SelectedIndex(0)
                    .ClientSideEvents(eve => eve.Change("onStartDayChange"))
                    .Width("120px")
                    .Enabled(true)
                    .Datasource(ViewBag.startDayDataSource)
                    )
                </div>
            </div>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        function onChange(args) {
            var ganttObject = $("#ganttsample10").data("ejGantt");
            ganttObject.model.columns = null;
            if (args.itemId == 0) {
                ganttObject.model.scheduleEndDate = "02/27/2017 04:00:00 AM",
                ganttObject.model.scheduleStartDate = "02/27/2017 00:00:00 AM",
                ganttObject.model.dateFormat = "M/d/yyyy hh:mm:ss tt";
                ganttObject.model.durationMapping = "duration";
                ganttObject.model.endDateMapping = "";
                ganttObject.model.durationUnit = ej.Gantt.DurationUnit.Minute;
                ganttObject.model.scheduleHeaderSettings.minutesPerInterval = "fiveMinutes";
                ganttObject.model.scheduleHeaderSettings.scheduleHeaderType = ej.Gantt.ScheduleHeaderType.Hour;
                ganttObject.model.dataSource = hourData;
                ganttObject.reRenderChart(ej.Gantt.ScheduleHeaderType.Hour);
                $("#interval").ejDropDownList({ enabled: true, value: "Five minutes" });
                $("#startDay").ejDropDownList({ enabled: false });
            }
            if (args.itemId == 1) {
                ganttObject.model.scheduleStartDate = "02/27/2017",
                ganttObject.model.scheduleEndDate = "03/01/2017",
                ganttObject.model.endDateMapping = "";
                ganttObject.model.dateFormat = "M/d/yyyy hh:mm:ss tt";
                ganttObject.model.durationMapping = "duration";
                ganttObject.model.durationUnit = ej.Gantt.DurationUnit.Hour;
                ganttObject.model.scheduleHeaderSettings.scheduleHeaderType = ej.Gantt.ScheduleHeaderType.Day;
                ganttObject.model.dataSource = dayData;
                ganttObject.reRenderChart(ej.Gantt.ScheduleHeaderType.Day);
                $("#interval").ejDropDownList({ enabled: false });
                $("#startDay").ejDropDownList({ enabled: false });
            }
            else if (args.itemId == 2) {
               ganttObject.model.scheduleEndDate = "03/25/2017";
                ganttObject.model.scheduleStartDate = "02/20/2017";
                ganttObject.model.endDateMapping = "EndDate";
                ganttObject.model.dateFormat = "M/d/yyyy";
                ganttObject.model.durationUnit = ej.Gantt.DurationUnit.Day;
                ganttObject.model.durationMapping = "";
                ganttObject.model.scheduleHeaderSettings.weekHeaderFormat = "MMM dd , yyyy";
                ganttObject.model.scheduleHeaderSettings.dayHeaderFormat = "";
                ganttObject.model.scheduleHeaderSettings.scheduleHeaderType = ej.Gantt.ScheduleHeaderType.Week;
                ganttObject.model.dataSource = weekData;
                $("#startDay").ejDropDownList({ enabled: true, selectedItemIndex: ganttObject.model.scheduleHeaderSettings.weekStartDay });
                ganttObject.reRenderChart(ej.Gantt.ScheduleHeaderType.Week);
                $("#interval").ejDropDownList({ enabled: false });
            }
            else if (args.itemId == 3) {
               ganttObject.model.scheduleStartDate = "02/20/2017",
                ganttObject.model.scheduleEndDate = "07/20/2017",
                ganttObject.model.endDateMapping = "EndDate";
                ganttObject.model.durationMapping = "";
                ganttObject.model.dateFormat = "M/d/yyyy";
                ganttObject.model.scheduleHeaderSettings.monthHeaderFormat = "MMM yyyy";
                ganttObject.model.scheduleHeaderSettings.weekHeaderFormat = "M/dd";
                ganttObject.model.durationUnit = ej.Gantt.DurationUnit.Day;
                ganttObject.model.scheduleHeaderSettings.scheduleHeaderType = ej.Gantt.ScheduleHeaderType.Month;
                ganttObject.model.dataSource = monthData;
                ganttObject.reRenderChart(ej.Gantt.ScheduleHeaderType.Month);
                $("#interval").ejDropDownList({ enabled: false });
                $("#startDay").ejDropDownList({ enabled: false });
            }
            else if (args.itemId == 4) {
                ganttObject.model.scheduleEndDate = "05/20/2017",
                ganttObject.model.scheduleStartDate = "02/20/2017",
                ganttObject.model.endDateMapping = "EndDate";
                ganttObject.model.dateFormat = "M/d/yyyy";
				ganttObject.model.scheduleHeaderSettings.yearHeaderFormat = "MMM/yyyy";
                ganttObject.model.durationMapping = "";
                ganttObject.model.durationUnit = ej.Gantt.DurationUnit.Day;
                ganttObject.model.scheduleHeaderSettings.scheduleHeaderType = ej.Gantt.ScheduleHeaderType.Year;
                ganttObject.model.dataSource = monthData;
                ganttObject.reRenderChart(ej.Gantt.ScheduleHeaderType.Year);
                $("#interval").ejDropDownList({ enabled: false });
                $("#startDay").ejDropDownList({ enabled: false });
            }
        }
        function onIntervalChange(args) {
            var ganttObject = $("#ganttsample10").data("ejGantt");
            switch (args.text) {
                case "Auto":
                    ganttObject.model.scheduleStartDate = "02/27/2017 00:00:00 AM";
                    ganttObject.model.scheduleEndDate = "02/27/2017 03:00:00 AM";
                    ganttObject.model.scheduleHeaderSettings.minutesPerInterval = "auto";
                    break;
                case "One minute":
                    ganttObject.model.scheduleStartDate = "02/27/2017 00:00:00 AM";
                    ganttObject.model.scheduleEndDate = "02/27/2017 03:00:00 AM";
                    ganttObject.model.scheduleHeaderSettings.minutesPerInterval = "oneMinute";
                    break;
                case "Five minutes":
                    ganttObject.model.scheduleStartDate = "02/27/2017 00:00:00 AM";
                    ganttObject.model.scheduleEndDate = "02/27/2017 04:00:00 AM";
                    ganttObject.model.scheduleHeaderSettings.minutesPerInterval = "fiveMinutes";
                    break;
                case "Fifteen minutes":
                    ganttObject.model.scheduleStartDate = "02/26/2017 10:00:00 PM",
                    ganttObject.model.scheduleEndDate = "02/27/2017 06:00:00 AM";
                    ganttObject.model.scheduleHeaderSettings.minutesPerInterval = "fifteenMinutes";
                    break;
                case "Thirty minutes":
                    ganttObject.model.scheduleStartDate = "02/26/2017 10:00:00 PM";
                    ganttObject.model.scheduleEndDate = "02/28/2017";
                    ganttObject.model.scheduleHeaderSettings.minutesPerInterval = "thirtyMinutes";
                    break;
            }
            ganttObject.reRenderChart(ej.Gantt.ScheduleHeaderType.Hour);
        }
        function onStartDayChange(args) {
            var ganttObject = $("#ganttsample10").ejGantt("instance");
            ganttObject.model.scheduleHeaderSettings.weekStartDay = args.selectedValue;
            ganttObject.reRenderChart(ganttObject.model.scheduleHeaderSettings.scheduleHeaderType);
        }
        function load() {
            this.getColumns()[0].width = 60;
        }
    </script>
}
