@section SampleHeading{<span class="sampleName">Gantt/Sorting</span>}

@section ControlsSection{
    <div id="ganttsample9" style="width: 100%; height: 450px;">
        @(Html.EJ().Gantt("ganttsample9")
              .TaskIdMapping("Id")
              .TaskNameMapping("Name")
              .StartDateMapping("StartDate")
              .DurationMapping("Duration")
              .ProgressMapping("PercentDone")
              .ScheduleStartDate("02/23/2017")
              .ScheduleEndDate("03/30/2017")
              .HighlightWeekends(true)
              .AllowColumnResize(true)
              .TreeColumnIndex(1)
              .AllowSorting(true)
              .ChildMapping("Children")
              .ClientSideEvents(cs => cs.Load("load"))
              .AllowSelection(true)
              .AllowGanttChartEditing(false)
              .IsResponsive(true)
              .Datasource(ViewBag.datasource)
        )
    </div>
}
@section ScriptSection{
    <script>
        function load(args) {
            var columns = this.getColumns();
            columns[0].width = 60;
        }
    </script>
}
