@section MetaTags{
   <meta name="description" content="This example illustrates how to mark and view important events in a project  in the Syncfusion Gantt chart control.">
}

@section SampleHeading{<span class="sampleName">Gantt-Striplines-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{
    @(Html.EJ().Gantt("ganttsample")
    .TaskIdMapping("TaskID")
    .TaskNameMapping("TaskName")
    .StartDateMapping("StartDate")
    .EndDateMapping("EndDate")
    .DurationMapping("Duration")
    .ProgressMapping("Progress")
    .ScheduleStartDate("02/01/2017")
    .ScheduleEndDate("03/14/2017")
    .DateFormat("MM/dd/yyyy")
    .HighlightWeekends(true)
    .TreeColumnIndex(1)
    .ShowGridCellTooltip(true)
    .ChildMapping("SubTasks")
    .AllowSelection(true)
    .PredecessorMapping("Predecessors")
    .IncludeWeekend(false)
    .IsResponsive(true)
    .EnableVirtualization(false)
    .SizeSettings(ss => ss.Width("100%").Height("450px"))
    .ShowGridCellTooltip(true)
    .AllowGanttChartEditing(false)
    .ClientSideEvents(cs => cs.Load("load"))
    .StripLines(sl =>
        {
            sl.Day("02/06/2017").Label("Project Start").LineStyle("dotted").LineColor("Darkblue").LineWidth(2).Add();
            sl.Day("02/11/2017").Label("Planning Complete").LineStyle("dotted").LineColor("Darkblue").LineWidth(2).Add();
            sl.Day("02/18/2017").Label("Design Complete").LineStyle("dotted").LineColor("Darkblue").LineWidth(2).Add();
            sl.Day("03/03/2017").Label("Implementation Complete").LineStyle("dotted").LineColor("Darkblue").LineWidth(2).Add();
            sl.Day("03/09/2017").Label("Final Delivery").LineStyle("dotted").LineColor("Darkblue").LineWidth(2).Add();
        })
    .Datasource(ViewBag.datasource)
    )
}
@section ScriptSection{
    <script type="text/javascript">
        function load(args) {
            var columns = this.getColumns();
            columns[0].width = 60;
        }
    </script>
}

