@section SampleHeading{<span class="sampleName"> Gantt/Exporting</span>}
@section ControlsSection{


   @(Html.EJ().Gantt("GanttContainer")
             .ChildMapping("Children")
             .TreeColumnIndex(1)
             .TaskIdMapping("TaskId")
             .TaskNameMapping("TaskName")
             .StartDateMapping("StartDate")
             .EndDateMapping("EndDate")
             .ProgressMapping("Progress")
              .EditSettings(es => es.AllowDeleting(false))
              .SizeSettings(ss => ss.Width("100%").Height("450px"))
              .IsResponsive(true)
              .TaskSchedulingMode(GanttTaskSchedulingMode.Custom)
              .TaskSchedulingModeMapping("IsManual")
              .ClientSideEvents(cs => cs.Load("load").ToolbarClick("toolbarClick"))
              .ToolbarSettings(tool =>
              {
                 tool.ShowToolbar(true);
                 tool.ToolbarItems(new List<GanttToolBarItems>()
                 {                      
					  GanttToolBarItems.ExcelExport,
                      GanttToolBarItems.PdfExport
                 });
               })
             .Datasource(ViewBag.datasource)             
    )
}
@section PropertiesSection{
    <div class="prop-grid">
        <div class="row">
            <div class="col-md-3">
                Fit timeline to one page in PDF
            </div>
            <div class="col-md-3">
                <div style="padding-left:10px;">
                    @(Html.EJ().CheckBox("enablePageBreak")
                   .Checked(false)
                    )
                </div>
            </div>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        function toolbarClick(args)
        {
            var id = $(args.currentTarget).attr("id");
            this.model["exportData"] = JSON.stringify(this.dataSource());
            this.exportGrid = this["export"];
            if (id == "GanttContainer_pdfExport") {
                var isChecked = $("#enablePageBreak").ejCheckBox("isChecked");
                if (isChecked)
                    this.exportGrid("FitToPagePdfExport", "", false);
                else
                    this.exportGrid("ExportToPdf", "", false);
                args.cancel = true;
            }
        }
        function load(args) {
            var columns = this.getColumns();
            columns[0].width = 60;
        }
    </script>
}