@section MetaTags{
   <meta name="description" content="This example illustrates how to export tasks from multiple Gantt projects as a combined file.">
}
@section SampleHeading{<span class="sampleName">Gantt-Multiple Exporting-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{


    <style>
        .label1 {
            font-size: 19px;
            margin: 20px 0 10px;
        }
    </style>
<div class="label1">
    Planning Phase
</div>
    @(Html.EJ().Gantt("GanttContainer")
             .ChildMapping("Children")
             .TreeColumnIndex(1)
             .AllowMultipleExporting(true)
             .TaskIdMapping("TaskId")
             .TaskNameMapping("TaskName")
             .StartDateMapping("StartDate")
             .EndDateMapping("EndDate")
             .ProgressMapping("Progress") 
             .ScheduleStartDate("02/01/2017")
             .ScheduleEndDate("02/28/2017")
             .ClientSideEvents(cs => cs.Load("load"))
             .EditSettings(es => es.AllowDeleting(false))
             .SizeSettings(ss => ss.Width("100%").Height("350px"))
             .IsResponsive(true)
             .ToolbarSettings(tool =>
              {
                 tool.ShowToolbar(true);
                 tool.ToolbarItems(new List<GanttToolBarItems>()
                 {                      
					  GanttToolBarItems.ExcelExport,
                      GanttToolBarItems.PdfExport
                 });
               })
              .Mappers(map => map.ExportToExcelAction("MultipleExportToExcel").ExportToPdfAction("MultipleExportToPdf"))
             
             .Datasource(ViewBag.datasource1)
    )
<div class="label1">
    Design Phase
</div>
      @(Html.EJ().Gantt("GanttContainer1")
              .ChildMapping("Children")
              .TreeColumnIndex(1)
              .AllowMultipleExporting(true)
              .ClientSideEvents(cs => cs.Load("load"))
              .TaskIdMapping("TaskId")
             .TaskNameMapping("TaskName")
             .StartDateMapping("StartDate")
             .EndDateMapping("EndDate")
             .DurationMapping("Duration")
             .ProgressMapping("Progress") 
             .ScheduleStartDate("02/02/2017")
             .ScheduleEndDate("02/28/2017")
              .EditSettings(es => es.AllowDeleting(false))
              .SizeSettings(ss => ss.Width("100%").Height("350px"))
              .IsResponsive(true)             
             .Datasource(ViewBag.datasource2)
)
<div class="label1">
    Implementation Phase
</div>
@(Html.EJ().Gantt("GanttContainer2")
              .ChildMapping("Children")
              .TreeColumnIndex(1)
              .AllowMultipleExporting(true)
              .TaskIdMapping("TaskId")
             .TaskNameMapping("TaskName")
             .StartDateMapping("StartDate")
             .EndDateMapping("EndDate")
             .DurationMapping("Duration")
             .ProgressMapping("Progress")
             .ClientSideEvents(cs => cs.Load("load"))
             .ScheduleStartDate("02/01/2017")
             .ScheduleEndDate("03/02/2017")
              .EditSettings(es => es.AllowDeleting(false))
              .SizeSettings(ss => ss.Width("100%").Height("450px"))
              .IsResponsive(true)             
             .Datasource(ViewBag.datasource3)
)
}
@section ScriptSection{
    <script type="text/javascript">
        function load(args) {
            var columns = this.getColumns();
            columns[0].width = 60;
        }
    </script>
}

