@section MetaTags{
   <meta name="description" content="This example illustrates how to display templates for task labels in the Syncfusion Gantt chart control.">
}
@section SampleHeading{<span class="sampleName">Gantt-Task Label Template-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{
    <script>
        function _getSeparator(length, idx) {
            if (idx < length - 1) {
                return ","
            }
        }
        var helpers = {};
        helpers["_getSeparator"] = _getSeparator;
        $.views.helpers(helpers);
    </script>

    <script id="rightlableTemplate" type="text/x-jsrender">
        {{if #data['resourceNames']}}
        <div>
            {{for resourceInfo}}
            <img src="../images/gantt/{{:ResourceName}}.png" height="30px" />
            <span style="margin-left:5px;">{{:ResourceName}}</span>
            {{:~_getSeparator(#get("array").data.length,#index)}}
            {{/for}}
        </div>
        {{/if}}
    </script>

    <script id="leftlableTemplate" type="text/x-jsrender">
        <div style="padding-top:5px;">
            <span>{{:#data['taskName']}}  [{{:status}}%]</span>
        </div>

    </script>

    @(Html.EJ().Gantt("ganttsample")
    .TaskIdMapping("TaskID")
    .TaskNameMapping("TaskName")
    .StartDateMapping("StartDate")
    .EndDateMapping("EndDate")
    .DurationMapping("Duration")
    .ProgressMapping("Progress")
    .ScheduleStartDate("02/01/2017")
    .ScheduleEndDate("03/14/2017")
    .DateFormat("MM/dd/yyyy")
    .HighlightWeekends(true)
    .TreeColumnIndex(1)
    .ShowGridCellTooltip(true)
    .ShowProgressStatus(false)
    .ChildMapping("SubTasks")
    .AllowSelection(true)
    .PredecessorMapping("Predecessors")
    .AllowColumnResize(true)
    .IncludeWeekend(false)
    .ResourceInfoMapping("ResourceID")
    .ResourceNameMapping("ResourceName")
    .ResourceIdMapping("ResourceID")
    .ShowResourceNames(true)
    .IsResponsive(true)
    .EnableVirtualization(false)
    .SizeSettings(ss => ss.Width("100%").Height("450px"))
    .ShowGridCellTooltip(true)
    .AllowGanttChartEditing(false)
    .RowHeight(40)
    .TaskbarHeight(30)
    .ClientSideEvents(cs => cs.Load("load"))
    .RightTaskLabelTemplate("#rightlableTemplate")
    .LeftTaskLabelTemplate("#leftlableTemplate")
    .Resources(ViewBag.datasource1)
    .Datasource(ViewBag.datasource)
    )
}
@section ScriptSection{

    <script>
        function load(args) {
            var columns = this.getColumns();
            columns[0].width = 60;
        }
    </script>
}

