@section MetaTags{
   <meta name="description" content="This example illustrates the taskbar, cell, and dialog editing options available in the Syncfusion Gantt chart control.">
}
@section SampleHeading{<span class="sampleName">Gantt-Editing-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{
    <div id="ganttsample3" style="width: 100%; height: 450px;">
    @(Html.EJ().Gantt("ganttsample3")
                   .TaskIdMapping("TaskID")
                   .TaskNameMapping("TaskName")
                   .StartDateMapping("StartDate")
                   .DurationMapping("Duration")
                   .ProgressMapping("Progress")
                   .ScheduleStartDate("02/01/2017")
                   .ScheduleEndDate("03/14/2017")
                   .HighlightWeekends(true)
                   .ChildMapping("SubTasks")
                   .AllowGanttChartEditing(true)
                   .PredecessorMapping("Predecessors")
                   .AllowSelection(true)
                   .ClientSideEvents(cs => cs.Load("load"))
                   .AllowColumnResize(true)
                   .TreeColumnIndex(1)
                   .IsResponsive(true)
                   .NotesMapping("notes")
                   .ToolbarSettings(toolbar =>
                   {
                       toolbar.ShowToolbar(true);
                       toolbar.ToolbarItems(new List<GanttToolBarItems>()
                       {
                           GanttToolBarItems.Add,
                           GanttToolBarItems.Edit,
                           GanttToolBarItems.Delete,
                           GanttToolBarItems.Update,
                           GanttToolBarItems.Cancel,
                           GanttToolBarItems.Indent,
                           GanttToolBarItems.Outdent,
                           GanttToolBarItems.ExpandAll,
                           GanttToolBarItems.CollapseAll,
                                  });
                   })
                   .EditSettings(edit =>
                   {
                       edit.AllowEditing(true);
                       edit.AllowAdding(true);
                       edit.AllowDeleting(true);
                       edit.AllowIndent(true);
                       edit.EditMode("cellEditing");
                       edit.ShowDeleteConfirmDialog(true);
                   })
                   .Datasource(ViewBag.datasource)
    )
</div>
}
@section PropertiesSection{
    <div class="prop-grid">
        <div class="row">
            <div class="col-md-3">
                Edit Mode
            </div>
            <div class="col-md-3">
                <div id="editMode">
                    <ul>
                        <li>CellEditing</li>
                        <li>Normal</li>
                    </ul>
                </div>
                <div style="float:right;padding-bottom:5px; padding-left:1px;">
                    @(Html.EJ().DropDownList("editing")
                        .TargetID("editMode")
                        .SelectedItemIndex(0)
                        .Value("CellEditing")
                        .Text("CellEditing")
                        .ClientSideEvents(eve => eve.Change("onModeChange"))
                   .Width("120px")
                    )
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Begin Edit Action
            </div>
            <div class="col-md-3">
                <div id="editAction">
                    <ul>
                        <li>Double Click</li>
                        <li>Click</li>
                    </ul>
                </div>
                <div style="float:right;padding-bottom:5px; padding-left:1px;">
                    @(Html.EJ().DropDownList("actionClick")
                        .TargetID("editAction")
                        .Value("Double Click")
                        .ClientSideEvents(eve => eve.Change("onActionChange"))
                        .Width("120px")
                    )
                </div>
            </div>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        function onActionChange(args) {
            var ganttObject = $("#ganttsample3").data("ejGantt");
            var value = args.text == "Double Click" ? ej.Gantt.BeginEditAction.DblClick : ej.Gantt.BeginEditAction.Click;
            var setting = {
                beginEditAction: value
            }
            ganttObject.option("editSettings", setting);
            ganttObject.reRenderChart(ej.Gantt.ScheduleHeaderType.Week);
        }
        function onModeChange(args) {
            var ganttObject = $("#ganttsample3").data("ejGantt");
            var value = args.text == "CellEditing" ? "cellEditing" : "normal";
            var setting = {
                editMode: value
            }
            ganttObject.option("editSettings", setting);
            ganttObject.reRenderChart(ej.Gantt.ScheduleHeaderType.Week);
        }
        function load(args) {
            var columns = this.getColumns();
            columns[0].width = 60;
        }
    </script>
}

