
@section SampleHeading{<span class="sampleName">Gantt/Duration Units</span>}
@section ControlsSection{
        @(Html.EJ().Gantt("ganttdurtionunits")
                   .TaskIdMapping("TaskID")
                   .TaskNameMapping("TaskName")
                   .StartDateMapping("StartDate")
                   .DurationMapping("Duration")
                   .DurationUnitMapping("DurationUnit")
                   .ProgressMapping("Progress")
                   .ScheduleStartDate("02/23/2017")
                   .ScheduleEndDate("04/10/2017")
                   .HighlightWeekends(true)
                   .TreeColumnIndex(1)
                   .ChildMapping("Children")
                   .EditSettings(es=>es.AllowEditing(true).EditMode("cellEditing"))
                   .SizeSettings(ss=>ss.Width("100%").Height("450px"))
                   .ClientSideEvents(ce => ce.Load("load"))
                   .Datasource(ViewBag.DataSource)
        )
}
@section ScriptSection{
    <script>
        function load() {
            var columns = this.getColumns();
            columns[2].visible = false;
            columns[4].visible = false;
            columns[0].visible = false;
        }
    </script> 
}
