@section SampleHeading{<span class="sampleName">TimeOptions</span>}

@section ScriptReferenceSection
{
    <script src="~/Scripts/Gantt/GanttData.js"></script>
}

@section ControlsSection{
    <div id="ddlist" style="float:right;padding-bottom:5px;">
        <ul>
            <li>24 Hour Timescale</li>
            <li>8 Hour Timescale</li>
        </ul>
    </div>
    <div style="float:right;padding-bottom:5px; padding-left:1px;">
        @(Html.EJ().DropDownList("language")
                          .TargetID("ddlist")
                          .SelectedItemIndex(0)
                          .Value("24 Hour Timescale")
                          .Text("24 Hour Timescale")
                          .ClientSideEvents(eve => eve.Change("onChange"))
                          .Width("120px")
        )
    </div>
    @(Html.EJ().Gantt("ganttsample11")
                  .TaskIdMapping("TaskID")
                  .TaskNameMapping("TaskName")
                  .StartDateMapping("StartDate")
                  .DurationMapping("duration")
                  .ProgressMapping("Progress")
                  .ScheduleStartDate("02/23/2017 12:00:00 AM")
                  .ScheduleEndDate("02/28/2017 23:59:59")
                  .DateFormat("M/d/yyyy hh:mm:ss tt")
                  .TreeColumnIndex(1)
                  .ChildMapping("Children")
                  .WorkingTimeScale(GanttWorkingTimeScale.TimeScale24Hours)
                  .ScheduleHeaderSettings(sh => sh.ScheduleHeaderType(GanttScheduleHeaderType.Day))
                  .DurationUnit(GanttDurationUnit.Hour)
                  .IsResponsive(true)
                  .AllowGanttChartEditing(false)
                  .SizeSettings(ss => ss.Height("450px").Width("100%"))
                  .Datasource(ViewBag.datasource)
    )
}
@section ScriptSection{
    <script type="text/javascript">
        function onChange(args) {
            var ganttObject = $("#ganttsample11").data("ejGantt");
            if (args.text === "24 Hour Timescale") {
                ganttObject.model.workingTimeScale = ej.Gantt.workingTimeScale.TimeScale24Hours;
                ganttObject.setModel({ dayWorkingTime: [{ from: "12:00 AM", to: "12:00 AM" }] });
            }
            if (args.text === "8 Hour Timescale") {
                ganttObject.model.workingTimeScale = ej.Gantt.workingTimeScale.TimeScale8Hours;
                ganttObject.setModel({ dayWorkingTime: [{ from: "08:00 AM", to: "12:00 PM" }, { from: "01:00 PM", to: "05:00 PM" }] });
            }
        }
    </script>
}


