@section SampleHeading{<span class="sampleName">Gantt/Performance</span>}

@section ControlsSection{
    <div id="ganttsample8" style="width: 100%; height: 450px;">
        @(Html.EJ().Gantt("ganttsample8")
                              .TaskIdMapping("Id")
                              .TaskNameMapping("Name")
                              .StartDateMapping("StartDate")
                              .DurationMapping("Duration")
                              .ProgressMapping("PercentDone")
                              .ScheduleStartDate("01/14/2017")
                              .ScheduleEndDate("02/17/2017")
                              .HighlightWeekends(true)
                              .TreeColumnIndex(1)
                              .ChildMapping("Children")
                              .AllowGanttChartEditing(false)
                              .AllowSelection(true)
                              .AllowColumnResize(true)
                              .EnableVirtualization(true)
                              .IsResponsive(true)
                              .ClientSideEvents(eve =>
                              {
                                  eve.Load("load");
                              })
                              .Datasource(ViewBag.datasource)
        )
    </div>
}

@section ScriptSection{
    <script type="text/javascript">
        function load() {
            this.getColumns()[0].width = 60;
        }
    </script>
}