@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/excanvas.min.js")"></script>
    }
@section SampleHeading{
	<span class="sampleName">Custom Labels</span>
	}


@section ControlsSection{

<div style="width:300px"  align="center">
@(Html.EJ().LinearGauge("ScaleGauge")
                    .LabelColor("#8c8c8c")
                    .Width(200)
                    .EnableAnimation(false)
                    .OuterCustomLabelPosition(OuterCustomLabelPosition.Right)
                    .ReadOnly(false)
                    .Tooltip(tip=>tip.ShowCustomLabelTooltip(true))
                    .ClientSideEvents(cli=>cli.Load("loadGaugeTheme"))
                    .Scales(s =>
                    {
                        s.Maximum(1000)
                         .MinorIntervalValue(20)
                         .MajorIntervalValue(100)
                         .Width(30)
                         .Type(ScaleType.Rectangle)
                         .BackgroundColor("transparent")
                         .Border(bor => bor.Color("#8c8c8c").Width(0))
                         .ShowBarPointers(true)
                         .ShowCustomLabels(true)
                         .ShowRanges(true)
                         .Length(310)
                         .Position(pos => { pos.X(107).Y(50); })
                         .MarkerPointers(mp => { mp.Value(700).Length(20).Width(30).MarkerBackgroundColor("#4D4D4D").Type(MarkerType.Diamond).Placement(PointerPlacement.Center).Add(); })
                         .Labels(lbl => { lbl.Font(fnt => { fnt.Size("11px").FontFamily("Segoe UI").FontStyle("bold"); }).DistanceFromScale(dfs => dfs.X(-26)).Add(); })
                         .BarPointers(barptr => { barptr.BarPointerValue(700).Width(28).BarPointerBackgroundColor("#66C1DC").Add(); })
                         .Ticks(tic =>
                         {
                             tic.Type(TickType.MajorInterval).Width(1).Color("#8c8c8c").DistanceFromScale(dfs => dfs.X(-13)).Add();
                             tic.Type(TickType.MinorInterval).Width(1).Height(4).Color("#8c8c8c").DistanceFromScale(dfs => dfs.X(-13)).Add();
                         })
                            .Ranges(rng =>
                            {
                                rng.EndValue(400).StartValue(0).DistanceFromScale(-22).RangeBackgroundColor("#E94649").Border(bor => bor.Color("#E94649")).StartWidth(4).EndWidth(4).Add();
                                rng.EndValue(700).StartValue(400).DistanceFromScale(-22).RangeBackgroundColor("#F6B53F").Border(bor => bor.Color("#F6B53F")).StartWidth(4).EndWidth(4).Add();
                                rng.EndValue(1000).StartValue(700).DistanceFromScale(-22).RangeBackgroundColor("Green").Border(bor => bor.Color("Green")).StartWidth(4).EndWidth(4).Add();
                            })
                            .CustomLabels(cl => {
                                cl.Value("Water Level in Liter").Color("#8c8c8c").Position(pos => pos.X(82).Y(100)).Font(fnt => fnt.Size("12px").FontStyle("Arial").FontFamily("Bold")).Add();
                                cl.Value("700-1000 L Sufficient").Color("#E94649").CustomLabelPositionType(CustomLabelPositionType.Outer).Font(fnt => fnt.Size("12px").FontStyle("Arial").FontFamily("Bold")).Add();
                                cl.Value("400-700 L Managable").Color("#F6B53F").CustomLabelPositionType(CustomLabelPositionType.Outer).Font(fnt => fnt.Size("12px").FontStyle("Arial").FontFamily("Bold")).Add();
                                cl.Value("0-400 L Inadiquate").Color("Green").CustomLabelPositionType(CustomLabelPositionType.Outer).Font(fnt => fnt.Size("12px").FontStyle("Arial").FontFamily("Bold")).Add();
                            })
                         .Add();
                    }))
    <div>
        <h5>Hold and Drag the bar pointer to interact with it and hover the mouse on label text</h5>
    </div>
</div>

}





