@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/excanvas.min.js")"></script>
    }
@section SampleHeading{
	<span class="sampleName">Default Functionalities</span>
	}


@section ControlsSection{

<div id="linearframe" align="center">
                  @(Html.EJ().LinearGauge("CoreLinearGauge").LabelColor("#8c8c8c").Width(500)
                          .IsResponsive(true)
                    .ClientSideEvents(cli=>cli.Load("loadGaugeTheme"))
                    .Scales(s =>
                    {
                        s.Width(4)
                         .Border(bor=>bor.Color("transparent").Width(0))
                         .ShowBarPointers(false)
                         .ShowRanges(true)
                         .Length(310)
                         .Position(pos => { pos.X(53).Y(50); })
                         .MarkerPointers(mp => { mp.Value(50).Length(10).Width(10).MarkerBackgroundColor("#4D4D4D").Border(bor=>bor.Color("4D4D4D")).Add(); })
                         .Labels(lbl => { lbl.UnitText("F").Font(fnt => { fnt.Size("11px").FontFamily("Segoe UI").FontStyle("bold"); }).DistanceFromScale(dfs=>dfs.X(-13)).Add(); })
                         .Ticks(tic => { tic.Type(TickType.MajorInterval).Width(1).Color("#8c8c8c").Add(); })
                            .Ranges(rng =>
                            {
                                rng.EndValue(60).StartValue(0).RangeBackgroundColor("#F6B53F").Border(bor=>bor.Color("#F6B53F")).StartWidth(4).EndWidth(4).Add();
                                rng.EndValue(100).StartValue(60).RangeBackgroundColor("#E94649").Border(bor=>bor.Color("#E94649")).StartWidth(4).EndWidth(4).Add();
                            })
                         .Add();
                    }))
</div>

}





