@section MetaTags{
   <meta name="description" content="This sample demonstrates enable/disable nodes by integerating menu with ASP.NET MVC TreeView." >
}

@section SampleHeading{<span class="sampleName">TreeView-Context Menu-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div style="width: 250px">
        @(Html.EJ().TreeView("treeView").Items(items =>
                        {
                            items.Add().Text("ASP.NET MVC Team").Expanded(true).Children(child =>
                            {
                                child.Add().Text("Smith");
                                child.Add().Text("Johnson");
                                child.Add().Text("Anderson");

                            });
                            items.Add().Text("Windows Team").Children(child =>
                            {
                                child.Add().Text("Clark");
                                child.Add().Text("Wright");
                                child.Add().Text("Lopez");

                            });
                            items.Add().Text("Web Team").Children(child =>
                            {
                                child.Add().Text("Joshua");
                                child.Add().Text("Matthew");
                                child.Add().Text("David");

                            });
                            items.Add().Text("Build Team").Children(child =>
                          {
                              child.Add().Text("Ryan");
                              child.Add().Text("Justin");
                              child.Add().Text("Robert");

                          });
                            items.Add().Text("WPF Team").Children(child =>
                           {
                               child.Add().Text("Brown");
                               child.Add().Text("Johnson");
                               child.Add().Text("Miller");
                           });
                        }))

    </div>
    <div>

        @(Html.EJ().Menu("treeviewMenu").Items(items =>
                        {
                            items.Add().Text("Add New Item");
                            items.Add().Text("Remove Item");
                            items.Add().Text("Disable Item");
                            items.Add().Text("Enable Item");
                        }).OpenOnClick(false).MenuType(MenuType.ContextMenu).ShowSubLevelArrows(true).ContextMenuTarget("#treeView")
                          .ClientSideEvents(s => s.Click("menuclick").BeforeOpen("beforeOpen")))

    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        var tabIndex = 1, treeviewObj, contextMenuObj, childMenu, selectedNode;
        function beforeOpen(args) {
            var treeviewObj = $("#treeView").data("ejTreeView");
            contextMenuObj = $("#treeviewMenu").data("ejMenu");
            childMenu = contextMenuObj.element.children();
            if ($(args.target).hasClass('e-node-hover')) {
                $(childMenu).removeClass('e-disable-item');
                $(childMenu[3]).addClass('e-disable-item');
            }
            else if ($(args.target).hasClass('e-node-disable')) {
                $(childMenu).addClass('e-disable-item');
                $(childMenu[3]).removeClass('e-disable-item');
            }
            if (!$(args.target).hasClass("e-text"))
                args.cancel = true;
            else {
                selectedNode = $(args.target).closest('.e-item');
                if (!$(args.target).hasClass('e-node-disable'))
                    treeviewObj.selectNode(selectedNode);
            }
        }
        function menuclick(args) {
            var treeviewObj = $("#treeView").data("ejTreeView");
            if (args.events.text == "Add New Item") {
                treeviewObj.addNode("Item" + tabIndex, selectedNode);
                tabIndex++;
            }
            else if (args.events.text == "Remove Item") {
                treeviewObj.removeNode(selectedNode);
            }
            else if (args.events.text == "Disable Item") {
                treeviewObj.disableNode(selectedNode)
            }
            else if (args.events.text == "Enable Item") {
                treeviewObj.enableNode(selectedNode)
            }
        }
    </script>
}

