@section SampleHeading{<span class="sampleName">TreeView / Dragdrop</span> }
@section ControlsSection{
    <div style="display:table">
        <div style="float:left">
            <span class="treeCaption">TREEVIEW - 1</span>
            @(Html.EJ().TreeView("drag").Items(items =>
            {
                items.Add().Text("ASP.NET MVC Team").Expanded(true).Children(child =>
                {
                    child.Add().Text("Smith");
                    child.Add().Text("Johnson");
                    child.Add().Text("Anderson");

                });
                items.Add().Text("Windows Team").Children(child =>
                {
                    child.Add().Text("Clark");
                    child.Add().Text("Wright");
                    child.Add().Text("Lopez");

                });
                items.Add().Text("Web Team").Children(child =>
                {
                    child.Add().Text("Joshua");
                    child.Add().Text("Matthew");
                    child.Add().Text("David");

                });
                items.Add().Text("Build Team").Children(child =>
                {
                    child.Add().Text("Ryan");
                    child.Add().Text("Justin");
                    child.Add().Text("Robert");

                });
                items.Add().Text("WPF Team").Children(child =>
                {
                    child.Add().Text("Brown");
                    child.Add().Text("Johnson");
                    child.Add().Text("Miller");
                });
            }).AllowDragAndDrop(true).AllowDropChild(true).AllowDropSibling(true).AllowDragAndDropAcrossControl(true)
              .Width("200px"))
        </div>
        <div style="float:left">
            <span class="treeCaption">TREEVIEW - 2</span>
            @(Html.EJ().TreeView("drop").Items(items =>
            {
                items.Add().Text("WinRT Team").Expanded(true).Children(child =>
                {
                    child.Add().Text("Valentina");
                    child.Add().Text("Williams");
                    child.Add().Text("Jones");

                });
                items.Add().Text("Website Team").Children(child =>
                {
                    child.Add().Text("Thomas");
                    child.Add().Text("Rodriguez");
                    child.Add().Text("Michael");

                });
                items.Add().Text("Support Team").Children(child =>
                {
                    child.Add().Text("Christopher");
                    child.Add().Text("Williams Smith");
                    child.Add().Text("Jack");
                });
            }).AllowDragAndDrop(true).AllowDropChild(true).AllowDropSibling(true).AllowDragAndDropAcrossControl(true)
              .Width("200px"))
        </div>
    </div>
}
@section StyleSection{
    <style>
        .treeCaption {
            padding: 5px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
        }
        .e-treeview-wrap {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
}
