@section SampleHeading{<span class="sampleName">TreeView / Full-Row-Select </span>}
@section ControlsSection{
    <div style="width: 250px">
        @Html.EJ().TreeView("fullrowtree").TreeViewFields(field => 
            field.Datasource((IEnumerable<loadondemand>)ViewBag.datasource)
            .Id("id").ParentId("pid").Text("name")
            .HasChild("hasChild").Expanded("expanded")
        ).FullRowSelect(true)
    </div>
}
