@section MetaTags{
   <meta name="description" content="This demo explains how to bind the local data as a datasource to the Syncfusion ASP.NET MVC Treeview control." >
}

@section SampleHeading{<span class="sampleName">TreeView-Local Data-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div style="width: 250px">
        @(Html.EJ().TreeView("tree").TreeViewFields(s => s.Datasource((IEnumerable<loadondemand>)ViewBag.datasource).Id("id").ParentId("pid")
                   .Text("name").HasChild("hasChild").Expanded("expanded")))

    </div>
}

