@section MetaTags{
   <meta name="description" content="This sample demonstrates inline node editing in ASP.NET MVC TreeView." >
}

@section SampleHeading{<span class="sampleName">TreeView-Node Editing-Cut-Paste-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div style="width: 250px">
        @(Html.EJ().TreeView("tree").Items(items =>
                {
                    items.Add().Text("Laptops").Expanded(true).Children(child =>
                    {
                        child.Add().Text("Lenovo");
                        child.Add().Text("Dell");
                        child.Add().Text("Sony");
                    });
                    items.Add().Text("Desktop").Expanded(true).Children(child =>
                    {
                        child.Add().Text("All in one Desktops");
                        child.Add().Text("Monitors");
                        child.Add().Text("RAM");
                        child.Add().Text("Graphic card");

                    });
                    items.Add().Text("Pen drives").Children(child =>
                    {
                        child.Add().Text("8 GB");
                        child.Add().Text("16 GB");
                        child.Add().Text("32 GB");
                        child.Add().Text("64 GB");
                    });

                }).AllowEditing(true).AllowDragAndDrop(true).AllowDropChild(true).AllowDropSibling(true))

    </div>
}

