@section MetaTags{
   <meta name="description" content="This example demonstrates how to enable the rtl property in a ASP.NET MVC TreeView." >
}

@section SampleHeading{<span class="sampleName">TreeView-RTL-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div style="width: 250px">
        @Html.EJ().TreeView("tree").Items(items =>
                {
                    items.Add().Text("كتب").Children(child =>
                    {
                        child.Add().Text("الإصدارات الجديدة");
                        child.Add().Text("جديد إصدارات الكتب السمعية");
                        child.Add().Text("أكثر الكتب مبيعا");
                        child.Add().Text("قادمة");
                        child.Add().Text("مجموعات مربع");
                    });
                    items.Add().Text("الألعاب").Children(child =>
                    {
                        child.Add().Text("اكس بوكس");
                        child.Add().Text("لوحات المفاتيح");
                    });
                    items.Add().Text("متنقل").Children(child =>
                    {
                        child.Add().Text("القادمون الجدد");
                        child.Add().Text("منخفض السعر");
                        child.Add().Text("القادمون الجدد");
                        child.Add().Text("أقراص");
                    });

                }).EnableRTL(true).Width("250px")


    </div>
}

