@section MetaTags{
   <meta name="description" content="This demo explains how to persist the state of the treeview even when the page is refreshed in Syncfusion ASP.NET MVC TreeView control." >
}

@section SampleHeading{<span class="sampleName">TreeView-State Maintenance-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div style="width: 250px">
        @Html.EJ().TreeView("tree").Items(items =>
                {
                    items.Add().Text("Books").Children(child =>
                    {
                        child.Add().Text("New releases");
                        child.Add().Text("New releases audio books");
                        child.Add().Text("Best sellers");
                        child.Add().Text("Upcoming");
                        child.Add().Text("Box Sets");

                    });
                    items.Add().Text("Gaming").Children(child =>
                    {
                        child.Add().Text("Upcoming");
                        child.Add().Text("PC");
                        child.Add().Text("PS Vita");
                        child.Add().Text("PS3");
                        child.Add().Text("XBox");
                        child.Add().Text("Consoles");
                    });
                    items.Add().Text("Mobiles").Children(child =>
                    {
                        child.Add().Text("New Arrivals");
                        child.Add().Text("Best Sellers");
                        child.Add().Text("Low Price");
                        child.Add().Text("Tablets");
                    });
                    items.Add().Text("Cameras").Children(child =>
                   {
                       child.Add().Text("Point & Shoot");
                       child.Add().Text("Digital SLR");
                       child.Add().Text("Camcorders");
                       child.Add().Text("Best Sellers");
                   });
                }).EnablePersistence(true).Width("250px")

    </div>
}

