@section SampleHeading{<span class="sampleName">TreeView / Template </span>}
@section ControlsSection{

    <div style="width: 320px">
        @(Html.EJ().TreeView("treeview").TreeViewFields(s => s.Datasource((IEnumerable<template>)ViewBag.datasource).Id("id")
                   .ParentId("pid").Text("name").HasChild("hasChild").Expanded("expanded")).Template("#treeTemplate")
                   .ClientSideEvents(e => e.Create("oncreate")))
    </div>
    <script id="treeTemplate" type="text/x-jsrender">

        {{if hasChild}}
        <div class="{{>name}}-style">{{>name}}</div>
        {{else}}
        <div class="cont-list">
            <img class="con-img" src="../images/treeview/template-image-{{>imgId}}.png" />
            <div class="cont-del"></div>
            <div class="cont-details">
                <b>{{>name}}</b><br />
                <span>{{>city}}</span>
                <br />
                <span>{{>phone}}</span>
            </div>
            <div class="treeFooter"></div>
        </div>
        {{/if}}

    </script>
    <script type="text/javascript">
        function oncreate(evt) {
            var treeObj = $("#treeview").data("ejTreeView");
            $("#treeview").find(".cont-del").bind("click", function (e) {
                treeObj.removeNode($(e.target).parents("li").first());
            });
        }
    </script>
}

@section StyleSection{
    <link href="@Url.Content("~/Content/Samples/TreeViewTemplate.css")" rel="stylesheet" />
}