@section SampleHeading{<span class="sampleName">Grid-Adaptive-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div id="resMode" class="emulatortap">
        <div class="sample-container">
            <iframe id="sample" frameborder="0" tabindex="1" style="height: 364px;width: 616px" src='../Grid/AdaptiveGrid'></iframe>
        </div>
    </div>
}
@section MetaTags{
    <meta name="description" content="This demo shows the responsive behavior of Syncfusion ASP.NET MVC DataGrid control with respect to different client browser’s width and height.">
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Responsive Grid
        </div>
        <div class="col-md-3">
            <select id="columnName" class="e-ddl" data-bind="value: field">
                <option value="320x494">Mobile Mode</option>
                <option value="614x364" selected="selected">Tablet Mode</option>
                <option value="1000x364">Desktop Mode</option>
            </select>
        </div>
        <div id="mobilview" style="display: none">
            <div class="col-md-3">
                DetailsView
            </div>
            <div class="col-md-3">
                <input type="checkbox" id="allowCheck" />
            </div>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            var browser = ej.Grid.prototype.getBrowserDetails();
            $("#sampleProperties").ejPropertiesPanel();
            $("#allowCheck").ejCheckBox({
                "change": function (args) {
                    if (args.isInteraction) {
                        if (browser.browser == "msie" && parseInt(browser.version, 10) <= 9) {
                            alert("Details view not support in IE" + parseInt(browser.version, 10));
                            $("#allowCheck").ejCheckBox({ checked: false });
                        }
                        else {
                            var iframe = document.getElementById('sample');
                            iframe.contentWindow.postMessage(args.isChecked, iframe.src);
                            $(iframe).contents().find(".e-responsesearch").css("display", "none");
                        }
                    }
                }
            });
            var dropDownSlectedValue = $("#columnName option:selected").text();
            $("#columnName").ejDropDownList({ width: "120", change: "dropdownChange", text: dropDownSlectedValue });
        });
        window.loadGridFrameTheme = function () {
            var iframe = document.getElementById('sample');
            iframe.contentWindow.postMessage("theme_" + window.theme, iframe.src);
        }
        function dropdownChange(args) {
            var str = args.selectedValue;
            if (args.text == "Mobile Mode") {
                $("#allowCheck").ejCheckBox({checked:false})
                var iframe = document.getElementById('sample');
                iframe.contentWindow.postMessage("mobile", iframe.src);
                $("#sample").parents().find("#resMode").removeClass("emulatortap").addClass("emulatordesk");
                $("#sample").css("width", str.split("x")[0]).css("height", str.split("x")[1]).css("margin-left", "");
                $(".cols-prop-area").css("width", "").css("min-height", "").css("margin-left", "");
                var grid = $("#sample").contents().find("#Grid .e-gridcontent").addClass("e-widget");
                $(".cols-sample-area").css("width", "72.956%");
                $('#mobilview').css("display", "block");
                
            }

            else if (args.text == "Tablet Mode") {
                var browser = ej.browserInfo();
                document.getElementById("sample").contentDocument.location.reload();
                $("#sample").parents().find("#resMode").removeClass("emulatordesk").addClass("emulatortap");
                $("#sample").css("width", str.split("x")[0]).css("height", str.split("x")[1]);
                $(".cols-prop-area").css("width", "").css("min-height", "").css("margin-left", "");
                if (browser.name == "msie")
                    $(".cols-sample-area").css("width", "100%");
                else
                    $(".cols-sample-area").css("width", "72.956%");
                $('#mobilview').css('display', "none");
            }
            else {
                var iframe = document.getElementById('sample');
                iframe.contentWindow.postMessage("desktop", iframe.src);
                $("#sample").parents().find("#resMode").removeClass("emulatortap").removeClass("emulatordesk");
                $("#sample").css("width", "100%").css("height", str.split("x")[1]);
                $(".cols-prop-area").css("width", "99%").css("min-height", "200px").css("margin-left", "0px");
                $(".cols-sample-area").css("width", "99%");
                $('#mobilview').css("display", "none");
            }
        }
    </script>
}

