@section SampleHeading{<span class="sampleName"> Grid/Summary/Caption Summary</span>}
@section ControlsSection{
    @(Html.EJ().Grid<EditableOrder>("Summary")
          .Datasource((IEnumerable<object>)ViewBag.datasource)
          .ShowSummary()
          .AllowPaging()
          .AllowGrouping()
          .PageSettings(page => { page.PageSize(10); })
          .SummaryRow(row =>
          {
              row.ShowCaptionSummary(true)
                 .ShowTotalSummary(false)
                 .SummaryColumns(col =>
                 {
                     col.SummaryType(SummaryType.Average)
                        .DisplayColumn("Freight")
                        .DataMember("Freight")
                        .Format("{0:C}")
                        .Prefix("Average = ")
                        .Add();
                 }).Add();
          })
          .GroupSettings(group => { group.GroupedColumns(col => { col.Add("CustomerID"); }); })
          .Columns(col =>
          {
              col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(80).Add();
              col.Field("CustomerID").HeaderText("Customer ID").Width(80).Add();
              col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(75).Add();
              col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(120).Format("{0:C}").Add();
              col.Field("Verified").HeaderText("Verified").Width(75).Add();
          })
          )
}
