@using Syncfusion.JavaScript.Models

@section SampleHeading{<span class="sampleName">Grid-Column Chooser-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo explains how to render the column chooser button that is used to show or hide columns in Syncfusion ASP.NET MVC DataGrid control.">
}
@section ControlsSection{
	<div style="margin-top:10px;">
    @(Html.EJ().Grid<OrdersView>("ColumnChooser")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .ShowColumnChooser()
        .AllowPaging()
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(90).ValidationRules(v => v.AddRule("required", true).AddRule("number", true)).Add();
            col.Field("CustomerID").HeaderText("Customer ID").Visible(false).Width(90).ValidationRules(v => v.AddRule("required", true).AddRule("minlength", 3)).Add();
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).EditType(EditingType.DropdownEdit).Width(80).Add();
            col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(80).EditType(EditingType.NumericEdit).Format("{0:C}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).ValidationRules(v => v.AddRule("range", "[0,1000]")).ValidationRules(v => v.AddRule("required", true).AddRule("range", "[0,1000]")).Add();
            col.Field("ShipName").HeaderText("ShipName").Width(150).ValidationRules(v => v.AddRule("required", true)).Add();
            col.Field("ShipCountry").HeaderText("ShipCountry").Width(90).EditType(EditingType.DropdownEdit).Add();
        }))
		</div>

}



