<style>
    table {
        width: 100%;
    }
</style>
@section SampleHeading{<span class="sampleName"> Grid/Columns/Column Formatting</span>}
@section ControlsSection{
    <div>
        <table>
            <tr>
                <td style="width: 33.3%">
                    @(Html.EJ().DropDownList("Number")
                        .TargetID("ddl1")
                        .SelectedItemIndex(0)
                        .ClientSideEvents(eve => { eve.Change("onChange").Create("onComplete"); })
                        )
                </td>
                <td style="width: 33.3%">
                    @(Html.EJ().DropDownList("Currency")
                        .TargetID("ddl2")
                        .SelectedItemIndex(0)
                        .ClientSideEvents(eve => { eve.Change("onChange").Create("onComplete"); })
                        )
                </td>
                <td style="width: 33.3%">
                    @(Html.EJ().DropDownList("Date")
                        .TargetID("ddl3")
                        .SelectedItemIndex(0)
                        .ClientSideEvents(eve => { eve.Change("onChange").Create("onComplete"); })
                        )
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    @(Html.EJ().Grid<OrdersView>("Formatting")
                        .Datasource((IEnumerable<object>)ViewBag.datasource)
                        .Columns(col =>
                        {
                            col.Field("Number").Format("{0:n2}").TextAlign(TextAlign.Right).Width(110).Add();
                            col.Field("Currency").Format("{0:c2}").TextAlign(TextAlign.Right).Width(110).Add();
                            col.Field("Date").Format("{0:MM/dd/yyyy}").TextAlign(TextAlign.Right).Width(110).Add();
                        })
                        )
                </td>
            </tr>
        </table>
    </div>
    <div id="ddl1">
        <ul>
            <li>Rounding - n2</li>
            <li>Rounding - n3</li>
            <li>Rounding - n5</li>
        </ul>
    </div>
    <div id="ddl2">
        <ul>
            <li>Rounding - c2</li>
            <li>Rounding - c3</li>
            <li>Rounding - c5</li>
        </ul>
    </div>
    <div id="ddl3">
        <ul>
            <li>MM/dd/yyyy</li>
            <li>dd/MM/yyyy</li>
            <li>dd/MM/yy</li>
        </ul>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        function onChange(args) {
            var grid = $("#Formatting").data("ejGrid");
            if (grid != undefined) {
                var column = grid.getColumnByField(this.element.attr("id"));
                column.format = "{0:" + args.text.replace("Rounding - ", "") + "}";
                grid.refreshContent(true);
            }
        }
        function onComplete() {
            setTimeout(function () {
                $("#Number").ejDropDownList("option", { width: ($("#Number").parents("td").width() + "px") });
                $("#Currency").ejDropDownList("option", { width: ($("#Currency").parents("td").width() + "px") });
                $("#Date").ejDropDownList("option", { width: ($("#Date").parents("td").width() + "px") });
            }, 100);
        }
    </script>
}
