@section SampleHeading{<span class="sampleName">Grid-Column Template-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo explains how to render HTML elements in the cells of datagrid columns using Syncfusion ASP.NET MVC DataGrid control.">
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .rowcell
        {
            font-size: 15px !important;
        }
    </style>
}
@section ControlsSection{
    <script type="text/x-jsrender" id="columnTemplate">
        <img style="width: 75px; height: 70px" src="../Content/images/Employees/{{:EmployeeID}}.png" alt="{{: EmployeeID }}" />
    </script>
    @(Html.EJ().Grid<EmployeeView>("ColumnTemplate")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .AllowPaging()
        .PageSettings(page => { page.PageSize(4); })
        .Columns(col =>
        {
            col.HeaderText("Employee Image").Template("#columnTemplate").TextAlign(TextAlign.Center).Width(110).Add();
            col.Field("EmployeeID").HeaderText("Employee ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("FirstName").HeaderText("First Name").Width(100).Add();
            col.Field("LastName").HeaderText("Last Name").Width(100).Add();
            col.Field("BirthDate").HeaderText("Birth Date").TextAlign(TextAlign.Right).Width(100).Format("{0:MM/dd/yyyy}").Add();
            col.Field("Country").Width(100).HeaderText("Country").Add();
        })
        )
}

