
@section SampleHeading{<span class="sampleName">Grid-ColumnTemplate Exporting-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo explains how to include the template column while exporting data to Excel, Word, and PDF using Syncfusion ASP.NET MVC DataGrid control.">
}
@section ControlsSection{
    <script type="text/x-jsrender" id="columnTemplate">
        <a href="https://www.syncfusion.com">{{:FirstName}}</a>
    </script>
    @(Html.EJ().Grid<EmployeeView>("ColumnTemplate")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .AllowPaging()
        .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
         {
           items.AddTool(ToolBarItems.ExcelExport);
           items.AddTool(ToolBarItems.WordExport);
           items.AddTool(ToolBarItems.PdfExport);
         }))
        .Mappers(map => map.ExportToExcelAction("ColumnTemplateExportToExcel").ExportToPdfAction("ColumnTemplateExportToPdf").ExportToWordAction("ColumnTemplateToWord"))
        .Columns(col =>
        {
            col.HeaderText("First Name").Template("#columnTemplate").TextAlign(TextAlign.Center).Width(80).Add();
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("LastName").HeaderText("Last Name").Width(100).Add();
            col.Field("BirthDate").HeaderText("Birth Date").TextAlign(TextAlign.Right).Width(100).Format("{0:MM/dd/yyyy}").Add();
            col.Field("Country").Width(100).HeaderText("Country").Add();
        })
    )
}


