

@section SampleHeading{<span class="sampleName">
        Grid/Angular Support/Remote Binding
    </span>}

@section ControlsSection{
    <div ng-app="employeeView">
        <div ng-controller="GridCtrl">
            <div id="grid" ej-grid e-datasource="data" e-toolbarsettings-showtoolbar='true' e-toolbarsettings-toolbaritems='toolbar' e-editsettings-allowdeleting=' true' e-editsettings-allowediting='true' e-editsettings-allowadding='true' e-allowgrouping="true" e-allowfiltering="true" e-allowsorting="true" e-allowpaging="true">
                <div e-columns>
                    <div e-column e-field="OrderID" e-headertext="OrderID" e-isprimarykey="true" e-textalign="right" e-width="90" e-validationrules-required="true"></div>
                    <div e-column e-field="CustomerID" e-headertext="CustomerID" e-textalign="right" e-width="90" e-validationrules-required="true"></div>
                    <div e-column e-field="ShipCity" e-headertext="ShipCity" e-textalign="right" e-width="90"></div>
                    <div e-column e-field="ShipCountry" e-headertext="ShipCountry" e-textalign="right" e-width="90"></div>
                </div>

            </div>
        </div>
            
    </div>
}

@section ScriptSection{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ej.widget.angular.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script>
     
        angular.module('employeeView', ['ejangular'])
        .controller('GridCtrl', function ($scope) {

            $scope.data = ej.DataManager({ url: "DataSource", adaptor: "UrlAdaptor", insertUrl: "AngularInsert", updateUrl: "AngularUpdate", removeUrl: "AngularRemove" });
            $scope.toolbar = ["add", "edit", "delete", "update", "cancel"]

        });
    </script>

}
