@section SampleHeading{<span class="sampleName"> Grid/Conditional Formatting</span>}
@section ControlsSection{
    @(Html.EJ().Grid<StockDataContext.StockDetails>("Formatting")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .AllowSelection(false)
        .EnableRowHover(false)
        .Columns(col =>
        {
            col.Field("Symbol").HeaderText("Order ID").IsPrimaryKey(true).Width(60).Add();
            col.Field("Open").TextAlign(TextAlign.Right).Width(50).Width(80).Add();
            col.Field("High").TextAlign(TextAlign.Right).Width(50).Add();
            col.Field("Low").TextAlign(TextAlign.Right).Width(50).Add();
            col.Field("Close").HeaderText("Change").TextAlign(TextAlign.Right).Width(50).Add();
            col.Field("WeekHigh").HeaderText("52W H").TextAlign(TextAlign.Right).Width(55).Add();
            col.Field("WeekLow").HeaderText("52W L").TextAlign(TextAlign.Right).Width(55).Add();
            col.Field("yearChange").HeaderText("365 Days % Chg").TextAlign(TextAlign.Right).Width(75).Width(100).Add();
            col.Field("monthChange").HeaderText("30 Days % Chg").TextAlign(TextAlign.Right).Width(75).Width(100).Add();
        })
        .ClientSideEvents(eve => { eve.QueryCellInfo("formatingCell"); })
        )
}
@section ScriptSection{
    <script type="text/javascript">
        function formatingCell(args) {
            var a = 3;
            var value = args.text.replace(",", "");
            var $element = $(args.cell);
            switch (args.column.headerText) {
                case "52W H":
                    if (parseFloat(value) > 500 && parseFloat(value) < 1000)
                        $element.css("background-color", "#336c12").css("color", "white");
                    else if (parseFloat(value) > 1000 && parseFloat(value) < 2000)
                        $element.css("background-color", "#7b2b1d").css("color", "white");
                    else if (parseFloat(value) > 2000 && parseFloat(value) < 3000)
                        $element.css("background-color", "#205239").css("color", "white");
                    break;
                case "52W L":
                    if (parseFloat(value) > 500 && parseFloat(value) < 1000)
                        $element.css("background-color", "#745a17").css("color", "white");
                    else if (parseFloat(value) > 1000 && parseFloat(value) < 2000)
                        $element.css("background-color", "#09576b").css("color", "white");
                    else if (parseFloat(value) > 2000 && parseFloat(value) < 3000)
                        $element.css("background-color", "#397218").css("color", "white");
                    break;
                case "Change":
                    $element.css("color", "#E84649");
                    break;
                case "365 Days % Chg":
                case "30 Days % Chg":
                    if (parseFloat(value) < 0)
                        $element.css("color", "red").prepend("<img src='../Content/images/down.png' height='15px' width='13px' style='padding-left:10px; float:right;' ></img> ");
                    else
                        $element.css("color", "green").prepend("<img src='../Content/images/up.png' height='15px' width='13px' style='padding-left:10px; float:right;' ></img>");
                    break;
            }
        }
    </script>
}
