@section SampleHeading{<span class="sampleName"> Grid/Columns/Custom Command</span>}
@section ControlsSection{
    <div style="position:relative">
    @(Html.EJ().Grid<EmployeeView>("CustomGrid")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .EnableRowHover(false)
        .AllowSelection(false)
        .Columns(col =>
        {
            col.Field("EmployeeID").HeaderText("Employee ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("FirstName").HeaderText("First Name").Width(100).Add();
            col.Field("LastName").HeaderText("Last Name").Width(100).Add();
            col.Field("HireDate").HeaderText("Hire Date").TextAlign(TextAlign.Right).Width(100).Format("{0:MM/dd/yyyy}").Add();
            col.Field("Country").Width(100).HeaderText("Country").Add();
            col.HeaderText("Employee Details").Commands(command =>
            {
                command.Type("detail")
                       .ButtonOptions(new Syncfusion.JavaScript.Models.ButtonProperties()
                       {
                           Text = "Details",
                           Width = "100px",
                           Click = "onClick"
                       }).Add();
            })
            .IsUnbound(true)
            .TextAlign(TextAlign.Left)
            .Width(150)
            .Add();
        })
    )
</div>
    @(Html.EJ().Dialog("commanddialog")
        .Width(450)
        .Title("Details of employee")
        .ShowOnInit(false)
        .EnableResize(false)
        .Target("#CustomGrid")
        )
}
@section ScriptSection{
    <script id="templateData" type="text/x-jsrender">
        <table>
            <tr>
                <td style="text-align: center">
                    <img class="emp-img" src="../Content/images/Employees/{{:EmployeeID}}.png" alt="{{: EmployeeID }}" />
                </td>
                <td>
                    <table class="CardTable" cellpadding="3" cellspacing="2">
                        <tr>
                            <td>Name</td>
                            <td>: {{:TitleOfCourtesy}} {{:FirstName}} {{:LastName}}</td>
                        </tr>
                        <tr>
                            <td>Birth Date</td>
                            <td>: {{:BirthDate}} </td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>: {{:Title}} </td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>: {{:City}} </td>
                        </tr>
                        <tr>
                            <td>Code</td>
                            <td>: {{:PostalCode}} </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </script>
    <script type="text/javascript">
        function onClick(args) {
            var grid = $("#CustomGrid").ejGrid("instance");
            var index = this.element.closest("tr").index();
            var record = grid.getCurrentViewData()[index];
            record["BirthDate"] = ej.globalize.format(record["BirthDate"], "MM/dd/yyyy");
            $("#commanddialog").html($("#templateData").render(record))
                .ejDialog("option", { position: { X: this.element.position().left - 761, Y: this.element.position().top - 156 } })
                .ejDialog("open");
            if (navigator.userAgent.indexOf("MSIE 8.0") != -1)
                $("#commanddialog").find("img").width(150);
        }
    </script>
}
