@section SampleHeading{<span class="sampleName"> Grid/Data Caching</span>}
@section ControlsSection{
    @(Html.EJ().DataManager("FlatData").URL("//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc/Orders/").EnableCaching().CachingPageSize(10).TimeTillExpiration(120000))
    @(Html.EJ().Grid<OrdersView>("DataCaching")
        .DataManagerID("FlatData")
        .AllowPaging()
        .PageSettings(page => { page.PageSize(9); })
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).IsIdentity(true).TextAlign(TextAlign.Right).Width(75).Add();
            col.Field("CustomerID").HeaderText("Customer ID").Width(90).Add();
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(80).Add();
            col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(75).Format("{0:C}").Add();
            col.Field("ShipCity").HeaderText("Ship City").Width(100).Add();
            col.Field("OrderDate").Format("{0:MM/dd/yyyy}").Width(100).TextAlign(TextAlign.Right).Add();
            col.Field("ShipCountry").HeaderText("Ship Country").Width(100).Add();
        })
    )
}

