@section SampleHeading{<span class="sampleName"> Grid/Row/Detail Template</span>}
@section StyleSection{
    <style type="text/css">
        .e-grid .detailcell {
            padding: 0px;
        }
    </style>
}
@section ControlsSection{
    @(Html.EJ().Grid<EmployeeView>("DetailTemplate")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .Columns(col =>
        {
            col.Field("EmployeeID").HeaderText("Employee ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(75).Add();
            col.Field("FirstName").HeaderText("First Name").Width(100).Add();
            col.Field("Title").Width(120).Add();
            col.Field("City").Width(100).Add();
            col.Field("Country").Width(100).Add();
        })
        .DetailsTemplate("#tabGridContents")
        .ClientSideEvents(eve => { eve.DetailsDataBound("detailGridData"); })
    )
}
@section ScriptSection{
    <script src="~/Scripts/jsondata.min.js"></script>
    <script id="tabGridContents" type="text/x-jsrender">
        <div class="tabcontrol" id="Test">
            <ul>
                <li><a href="#detailChart{{:EmployeeID}}">Stock Chart</a></li>
                <li><a href="#gridTab{{:EmployeeID}}">Stock Grid</a></li>
            </ul>
            <div id="detailChart{{:EmployeeID}}">
            </div>
            <div id="gridTab{{:EmployeeID}}">
                <div id="detailGrid">
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        function detailGridData(e) {
            var filteredData = e.data["EmployeeID"];
            // the datasource "window.ordersView" is referred from jsondata.min.js
            var data = ej.DataManager(window.ordersView).executeLocal(ej.Query().where("EmployeeID", "equal", parseInt(filteredData), true));
            e.detailsElement.find("#detailGrid").ejGrid({
                dataSource: data,
                allowSelection: false,
                columns: [
                        { field: "OrderID", key: true, headerText: "Order ID", width: 80, textAlign: ej.TextAlign.Right },
                        { field: "CustomerID", headerText: 'Customer ID', width: 80, textAlign: ej.TextAlign.Left },
                        { field: "CompanyName", headerText: 'Company Name', width: 120, textAlign: ej.TextAlign.Left },
                        { field: "ShipCity", headerText: 'City', width: 120, textAlign: ej.TextAlign.Left }
                ]
            });
            e.detailsElement.css("display", "");
            e.detailsElement.find("#detailChart" + filteredData).ejChart({
                chartArea: {
                    border: { width: 1 }
                },
                primaryXAxis:
                {
                    rangePadding: 'Additional',
                    labelRotation: 45,
                    title: { text: "City" }
                },

                primaryYAxis:
                 {
                     title: { text: "Sales in Millions" }
                 },

                series: [{
                    name: 'Country', type: 'column',
                    enableAnimation: true,
                    dataSource: data,
                    xName: "ShipCity",
                    yName: "Freight",
                    fill: "#69D2E7",
                    tooltip: { visible: true, format: "#point.x# : #point.y# millions <br/>" }

                }
                ],
                load: "loadTheme",
                title: { text: 'Sales Report Analysis ' },
                canResize: true,
                size: { height: "435", width: "860" },
                legend: { visible: false }
            });
            e.detailsElement.find(".tabcontrol").ejTab({ selectedItemIndex: 1 });
        }
    </script>
}
