@section SampleHeading{<span class="sampleName"> Grid/Default</span>}
@section StyleSection{
    <link href="~/Content/ejthemes/responsive-css/ejgrid.responsive.css" rel="stylesheet" />
}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("FlatGrid")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
                .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
                {
                    items.AddTool(ToolBarItems.ExcelExport);
                    items.AddTool(ToolBarItems.WordExport);
                    items.AddTool(ToolBarItems.PdfExport);
                }))
        .AllowPaging()
        .AllowFiltering()
        .AllowGrouping()
        .AllowReordering()
        .AllowSorting()
        .ShowSummary()
        .SummaryRow(row =>
        {
         row.SummaryColumns(col => { col.SummaryType(SummaryType.Sum).Format("{0:C}").DisplayColumn("Freight").Prefix("Sum = ").DataMember("Freight").Add(); }).ShowGroupSummary(false).Add();
        })
        .ShowStackedHeader()
        .StackedHeaderRows(row =>
        {
            row.StackedHeaderColumns(column =>
            {
                column.HeaderText("OrderDetails").Column(col =>
                {
                    col.Add("OrderID");
                    col.Add("OrderDate");
                    col.Add("Freight");
                }).Add();
                column.HeaderText("Ship Details").Column(col =>
                {
                    col.Add("ShipName");
                    col.Add("ShipCity");
                    col.Add("ShipCountry");
                }).Add();
            }).Add();
        })
        .IsResponsive()
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(75).Add();
            col.Field("OrderDate").HeaderText("Order Date").Width(80).TextAlign(TextAlign.Right).Priority(4).Format("{0:MM/dd/yyyy}").Add();
            col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Priority(3).Width(75).Format("{0:C}").Add();
            col.Field("ShipName").HeaderText("Ship Name").Width(110).Add();
            col.Field("ShipCity").HeaderText("Ship City").Width(90).Priority(2).Add();
            col.Field("ShipCountry").HeaderText("Ship Country").Width(90).Add();
        }))

}