@section SampleHeading{<span class="sampleName">Grid-Filtering Menu-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo explains how to filter the content using menu and excel filter types of Syncfusion ASP.NET MVC DataGrid control.">
}
@section StyleSection{
    <style type="text/css">
		.e-grid .e-excelfilter .e-btncontainer input{
			padding: .2em .4em .3em;
		}
		::-ms-clear {
            display: none;
        }
	</style>
}
@section ControlsSection{
<div style="position:relative">
    @(Html.EJ().Grid<EditableOrder>("Filtering")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .AllowFiltering()
        .AllowPaging()
        .EnableHeaderHover()
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(80).Add();
            col.Field("CustomerID").HeaderText("Customer ID").Width(100).Add();
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(110).Add();
            col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(80).Format("{0:C2}").Add();
            col.Field("ShipCountry").HeaderText("Ship Country").Width(100).Add();
            col.Field("Verified").HeaderText("Verified").Width(90).Add();
        })
    )
    </div>
}
@section PropertiesSection{
    <div id="ddl1">
        <ul>
            <li>Excel</li>
            <li>Menu</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-3">
            Filter Menu Type
        </div>
        <div class="col-md-3">
            @(Html.EJ().DropDownList("filterType")
                .TargetID("ddl1")
                .Width("120px")
                .SelectedItemIndex(0)
                .ClientSideEvents(eve => { eve.Change("selectChange"); })
            )
        </div>
    </div>
}
@section ScriptSection{
<script type="text/javascript">
    $(function () {
        $("#sampleProperties").ejPropertiesPanel();
    });
    function selectChange(args) {
        var gridObj = $("#Filtering").data("ejGrid");       
            if (args.itemId == 0)
                $("#Filtering").ejGrid("option", { filterSettings:{ filterType:"excel" } });
            else
                $("#Filtering").ejGrid("option", { filterSettings:{ filterType:"menu" } });
        }    
 </script>
    }

