@section SampleHeading{<span class="sampleName"> Grid/ GridLines</span>}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("FlatGrid")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .AllowSorting()
        .AllowPaging()
        .GridLines(GridLines.Both)
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(75).Add();
            col.Field("CustomerID").HeaderText("Customer ID").Width(80).Add();
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(75).Add();
            col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(75).Format("{0:C}").Add();
            col.Field("OrderDate").HeaderText("Order Date").TextAlign(TextAlign.Right).Width(80).Format("{0:MM/dd/yyyy}").Add();
            col.Field("ShipCity").HeaderText("Ship City").Width(110).Add();
        }))
    
}
@section PropertiesSection{
     <div id="RowPosition">
         <ul>
             <li value="both"> Both </li>
             <li value="vertical"> Vertical </li>
             <li value="horizontal"> Horizontal </li>
             <li value="none"> None </li>
         </ul>
     </div>
           <div class="row">
               <div class="col-md-3">
                  GridLines
               </div>
               <div class="col-md-3">
                   @(Html.EJ().DropDownList("editMode")
                     .TargetID("RowPosition")
                     .Width("120px")
                     .SelectedItemIndex(0)
                     .ClientSideEvents(eve => { eve.Change("selectChange"); })
                     )
               </div>
           </div>
    }
<script type="text/javascript">
    $(function () {
        $("#sampleProperties").ejPropertiesPanel();
    });
    function selectChange(args) {
	    $("#FlatGrid").ejGrid("model.gridLines", args.selectedValue);
    }
	
</script>