@section SampleHeading{<span class="sampleName"> Grid/Summary/Group Summary</span>}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("Summary")
          .Datasource((IEnumerable<object>)ViewBag.datasource)
          .ShowSummary()
          .AllowPaging()
          .AllowGrouping()
          .PageSettings(page => { page.PageSize(10); })
          .SummaryRow(row =>
          {
              row.ShowTotalSummary(false)
                 .SummaryColumns(col =>
                 {
                     col.SummaryType(SummaryType.Average)
                        .DisplayColumn("Freight")
                        .DataMember("Freight")
                        .Prefix("Average = ")
                        .Format("{0:C}")
                        .Add();
                     col.SummaryType(SummaryType.Sum)
                        .DisplayColumn("EmployeeID")
                        .DataMember("EmployeeID")
                        .Prefix("Sum = ")
                        .Add();
                 }).Add();
          })
          .GroupSettings(group => { group.GroupedColumns(col => { col.Add("EmployeeID"); }); })
          .Columns(col =>
          {
              col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(80).Add();
              col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(80).Add();
              col.Field("ShipCity").HeaderText("Ship City").Width(90).Add();
              col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(80).Format("{0:C}").Add();
          })
          )
}
