@section SampleHeading{
    <span class="sampleName">Grid-Hide Grouped Columns-ASP.NET MVC-SYNCFUSION</span>}
}
@section MetaTags{
    <meta name="description" content="This demo explains how to show or hide the grouped column from the list of columns displayed in Syncfusion ASP.NET MVC DataGrid control.">
}
@section ControlsSection{
    
       @(Html.EJ().Grid<OrdersView>("Grouping")
            .Datasource((IEnumerable<object>) ViewBag.datasource)
            .AllowGrouping()
            .AllowPaging()
            .GroupSettings(group => { group.ShowGroupedColumn(false).EnableDropAreaAnimation(false).GroupedColumns(col => { col.Add("EmployeeID"); }); })
            .ClientSideEvents(eve => { eve.ColumnDragStart("dragHeader"); })
            .Columns(col =>
                {
                    col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(75).AllowGrouping(false).Add();
                    col.Field("CustomerID").HeaderText("Customer ID").Width(90).Add();
                    col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(90).Add();
                    col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(75).Add();
                    col.Field("ShipName").HeaderText("Ship Name").Width(110).Add();
                }))
}
@(Html.EJ().Dialog("alertDialog")
        .Title("Alert")
        .ContentTemplate(@<div>
                                                 Grouping is disabled for this column
                                                 <br />
                                                <input id="ok" type="button" class="e-btnok" value="OK" />
                                             </div>)
        .ShowOnInit(false))
<style>
    .e-btnok {
        position: relative;
        left: 168px;
    }
</style>


@section ScriptSection{
    <script type="text/javascript">
        function dragHeader(args) {
            if (args.draggableType == "headercell" && $(args.target).text() == "Order ID") {
                $("#alertDialog").ejDialog("open");
                $("#ok").ejButton({ click: "close" });
            }
        }
        function close() {
            $("#alertDialog").ejDialog("close");
        }
    </script>
}

