@section SampleHeading{<span class="sampleName">Grid-Hierarchy Grid Export-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo explains how to export hierarchy data to Word, PDF, and Excel documents using the Syncfusion ASP.NET MVC DataGrid control.">
}
@section ControlsSection{
    @(Html.EJ().Grid<EmployeeView>("HierarchyGrid")
        .Datasource((IEnumerable<object>)ViewBag.parentData)
        .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
                {
                    items.AddTool(ToolBarItems.ExcelExport);
                    items.AddTool(ToolBarItems.WordExport);
                    items.AddTool(ToolBarItems.PdfExport);
                }))
        .Mappers(map => {
            map.ExportToExcelAction("ExportHierarchyToExcel");
            map.ExportToPdfAction("ExportHierarchyToPdf");
            map.ExportToWordAction("ExportHierarchyToWord");
        })
        .Columns(col =>
        {
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(75).Add();
            col.Field("FirstName").HeaderText("First Name").Width(100).Add();
            col.Field("Title").Width(120).Add();
            col.Field("City").Width(100).Add();
            col.Field("Country").Width(100).Add();
        })
                 .ChildGrid(child =>
                 {
                     child.Datasource((IEnumerable<object>)ViewBag.childData)
                        .QueryString("EmployeeID")
                        .AllowPaging()
                        .Columns(col =>
                        {
                            col.Field("OrderID").HeaderText("Order ID").TextAlign(TextAlign.Right).Width(75).Add();
                            col.Field("ShipCity").HeaderText("Ship City").Width(100).Add();
                            col.Field("Freight").TextAlign(TextAlign.Right).Format("{0:C2}").Width(120).Add();
                            col.Field("ShipName").HeaderText("Ship Name").Width(100).Add();
                        });
                 })

    )
}


