@section SampleHeading{<span class="sampleName"> Grid/Keyboard Interaction</span>}
@section StyleSection{
    <style>
        .cols-prop-area [class^="span"]
        {
            margin-bottom: 5px;
            margin-top: 5px;
        }
        
        .propertiesdiv
        {
            height: 626px;
        }
        
        .propertypanelcontent
        {
            height: 585px;
        }
        *.colwidth {
            width: 32.9%;
        }
    </style>
}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("KeyboardInteraction")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .AllowSorting()
        .AllowPaging()
        .AllowGrouping()
        .EditSettings(edit => { edit.AllowEditing().AllowAdding().AllowDeleting(); })
        .GroupSettings(group => { group.GroupedColumns(col => { col.Add("EmployeeID"); }); })
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("CustomerID").HeaderText("Customer ID").Width(120).Add();
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(80).EditType(EditingType.DropdownEdit).Add();
            col.Field("ShipCity").HeaderText("Ship City").Width(110).Add();
        })
        )
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3 colwidth">
            <b>Keys</b>
        </div>
        <div class="col-md-3 colwidth">
            <b>Description</b>
        </div>
        <div class="col-md-3 colwidth">
            <b>Alt + j </b>
        </div>
        <div class="col-md-3 colwidth">
            Focus
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 colwidth">
            <b>Ctrl + Home</b>
        </div>
        <div class="col-md-3 colwidth">
            <p>
                First Row Selection</p>
        </div>
        <div class="col-md-3 colwidth">
            <b>Ctrl+End</b>
        </div>
        <div class="col-md-3 colwidth">
            Last Row Selection
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 colwidth">
            <b>PgDn</b>
        </div>
        <div class="col-md-3 colwidth">
            Next page
        </div>
        <div class="col-md-3 colwidth">
            <b>PgUp</b>
        </div>
        <div class="col-md-3 colwidth">
            Previous page
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 colwidth">
            <b>F2</b>
        </div>
        <div class="col-md-3 colwidth">
            Edit
        </div>
        <div class="col-md-3 colwidth">
            <b>Enter</b>
        </div>
        <div class="col-md-3 colwidth">
            Save request
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 colwidth">
            <b>Ctrl + Down Arrow</b>
        </div>
        <div class="col-md-3 colwidth">
            Expand All
        </div>
        <div class="col-md-3 colwidth">
            <b>Ctrl + Up Arrow</b>
        </div>
        <div class="col-md-3 colwidth">
            Collapse All
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        $(document).on("keydown", function (e) {
            if (e.altKey && e.keyCode === 74) { // j- key code.
                $("#KeyboardInteraction").focus();
            }
        });
    </script>
}
