

@section SampleHeading{<span class="sampleName">
        Grid/KnockOut Support/Remote Binding        
    </span>}

@section ControlsSection{
    <div id="Grid" data-bind="ejGrid: { dataSource: dataSource, columns: column, toolbarSettings: {showToolbar: true,toolbarItems: tool}, editSettings: {allowEditing: true,allowAdding: true,allowDeleting: true}, allowGrouping: true, allowSorting: true, allowPaging: true, allowFiltering: true }"></div>
}


@section ScriptSection{
    <script src="../scripts/jquery.validate.min.js"></script>
    <script src="../scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/knockout-min.js"></script>
    <script src="~/Scripts/ej.widget.ko.min.js"></script>
    <script>     
        $(function () {            
            window.employeeView = {
                dataSource: ej.DataManager({ url: "KODataSource", adaptor: "UrlAdaptor", insertUrl: "Insert", updateUrl: "Update", removeUrl: "Remove" }),
                column: [{ "field": "OrderID", "isPrimaryKey": true, "headerText": "OrderID", "textAlign": "right", "validationRules": { "required": true, "number": true }, "width": 90 },
                          { "field": "CustomerID", "headerText": "CustomerID", "textAlign": "right", "validationRules": { "required": true, "minlength": 3 }, "width": 90 },
                          { "field": "ShipCity", "headerText": "ShipCity", "textAlign": "right", "width": 90 },
                          { "field": "ShipCountry", "headerText": "ShipCountry", "textAlign": "right", "width": 90 }],
                tool:['add','edit','delete','update','cancel']
            };
            ko.applyBindings(employeeView);
        });        
    </script>

}
