@section SampleHeading{<span class="sampleName">Grid-Master-Details-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo explains how to display master and detail grids in which the data of detail grid is changed based on the record selected in the master grid.">
}
@section StyleSection{
<link href="~/Content/ejthemes/responsive-css/ejgrid.responsive.css" rel="stylesheet" />
    <style type="text/css" class="cssStyles">
        .label1 {
            font-size: 19px;
            margin: 20px 0 10px;
        }
    </style>
}
@section ControlsSection{
    <div class="label1">
        Master Grid
    </div>
    @(Html.EJ().Grid<EmployeeView>("MasterGrid")
        .Datasource((IEnumerable<object>)ViewBag.datasource1)
        .IsResponsive()
        .SelectedRowIndex(0)      
        .Columns(col =>
        {
            col.Field("EmployeeID").HeaderText("Employee ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("FirstName").HeaderText("First Name").Width(100).Add();
            col.Field("LastName").HeaderText("Last Name").Width(100).Priority(2).Add();
            col.Field("Title").HeaderText("Title").Width(90).Priority(3).Add();
            col.Field("BirthDate").HeaderText("Birth Date").TextAlign(TextAlign.Right).Width(100).Format("{0:MM/dd/yyyy}").Priority(5).Add();
            col.Field("Country").Width(100).HeaderText("Country").Priority(4).Add();

        })
        .ClientSideEvents(eve => { eve.RowSelected("rowSelected"); })
        )
    <div class="label1">
        Detail Grid</div>
    @(Html.EJ().Grid<OrdersView>("DetailGrid")
        .Datasource((IEnumerable<object>)ViewBag.datasource2)       
        .AllowPaging(false)
        .IsResponsive()
        .Columns(col =>
        {
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(125).Add();
            col.Field("CustomerID").HeaderText("Customer ID").Width(100).Add();
            col.Field("Freight").Width(100).Format("{0:C}").TextAlign(TextAlign.Right).Priority(2).Add();
            col.Field("ShipCity").HeaderText("Ship City").Width(150).Priority(3).Add();
            col.Field("OrderDate").HeaderText("Order Date").TextAlign(TextAlign.Right).Width(100).Format("{0:MM/dd/yyyy}").Priority(4).Add();
            col.Field("ShipCountry").Width(100).HeaderText("Ship Country").Priority(4).Add();

        })
        )
}
@section ScriptSection{
    <script src="~/Scripts/jsondata.min.js"></script>
    <script type="text/javascript">
        $(function () {           
            window.rowSelected = function (args) {
                var employeeID = args.data.EmployeeID;
                var detaildata = ej.DataManager(window.gridData).executeLocal(ej.Query().where("EmployeeID", ej.FilterOperators.equal, employeeID, false).take(10));
                var gridObj = $("#DetailGrid").ejGrid("instance");
                gridObj.dataSource(ej.DataManager(detaildata.slice(0, 5)));
            }
        });
    </script>
}

