@section SampleHeading{<span class="sampleName">Grid-Multiple Exporting-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo explains how to export the content of multiple datagrids to a single file using Syncfusion ASP.NET MVC DataGrid control.">
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .label1 {
            font-size: 19px;
            margin: 20px 0 10px;
        }
    </style>
}
@section ControlsSection{
    <div class="label1">
        Employee Grid
    </div>
    @(Html.EJ().Grid<EmployeeView>("MasterGrid")
        .Datasource((IEnumerable<object>)ViewBag.datasource1)
        .SelectedRowIndex(0)
        .AllowMultipleExporting()
                 .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
                        {
                            items.AddTool(ToolBarItems.ExcelExport);
                            items.AddTool(ToolBarItems.WordExport);
                            items.AddTool(ToolBarItems.PdfExport);
                        }))
						.Mappers(map => map.ExportToExcelAction("MultipleExportToExcel").ExportToPdfAction("MultipleExportToPdf").ExportToWordAction("MultipleExportToWord"))
        .Columns(col =>
        {
            col.Field("EmployeeID").HeaderText("Employee ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("FirstName").HeaderText("First Name").Width(100).Add();
            col.Field("LastName").HeaderText("Last Name").Width(100).Add();
            col.Field("Title").HeaderText("Title").Width(90).Add();
            col.Field("BirthDate").HeaderText("Birth Date").TextAlign(TextAlign.Right).Width(100).Format("{0:MM/dd/yyyy}").Add();
            col.Field("Country").Width(120).HeaderText("Country").Add();

        })
    )
    <div class="label1">
        Orders Grid
    </div>
    @(Html.EJ().Grid<OrdersView>("DetailGrid")
        .Datasource((IEnumerable<object>)ViewBag.datasource2)
        .AllowPaging(false)
        .Columns(col =>
        {
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(125).Add();
            col.Field("CustomerID").HeaderText("Customer ID").Width(100).Add();
            col.Field("Freight").Width(100).Format("{0:C}").TextAlign(TextAlign.Right).Add();
            col.Field("ShipCity").HeaderText("Ship City").Width(150).Add();
            col.Field("OrderDate").HeaderText("Order Date").TextAlign(TextAlign.Right).Width(100).Format("{0:MM/dd/yyyy}").Add();
            col.Field("ShipCountry").Width(100).HeaderText("Ship Country").Add();

        })
    )
}
@section ScriptSection{
    <script src="~/Scripts/jsondata.min.js"></script>
}

