@section SampleHeading{<span class="sampleName"> Grid/Data Binding/OData Binding</span>}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("ODataBinding")
        .Datasource(ds => ds.URL("//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc/Orders").CrossDomain(true))
        .Query("ej.Query().where(ej.Predicate('OrderID', ej.FilterOperators.lessThan, 10448, true).and('ShipCountry', 'notequal', 'null', true))")
        .AllowPaging()
        .PageSettings(page => { page.PageSize(10); })
        .AllowSorting()
        .AllowFiltering()
        .FilterSettings(filter => { filter.FilterType(FilterType.Menu); })
        .AllowGrouping()
        .GroupSettings(group => { group.GroupedColumns(col => { col.Add("ShipCountry"); }).EnableDropAreaAnimation(false); })
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(75).Add();
            col.Field("OrderDate").HeaderText("Order Date").Format("{0:dd/MM/yyyy}").Type("date").Width(90).Add();
            col.Field("ShipName").HeaderText("Ship Name").Width(90).Add();
            col.Field("ShipCity").HeaderText("Ship City").Width(80).Add();
            col.Field("ShipCountry").HeaderText("Ship Country").Width(100).Add();
        })
    )
}

   
@section RESTful{
    
}
@section ScriptSection{
    
    <script type="text/javascript">
        $(document).ajaxSend(function (event, jqxhr, settings) {
            jQuery.addEventLog("<span class='eventTitle' id='url'> " + settings.url.split("?")[1] + " </span>");
        });

        function onClear() {
            $("#EventLog").html("");
        }
    </script>
}