@section SampleHeading{<span class="sampleName">Grid-Reorder-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo explains how to reorder the columns of datagrid by simple drag and drop of columns using Syncfusion ASP.NET MVC DataGrid control.">
}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("Reorder")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .AllowPaging()
        .EnableHeaderHover(false)
        .AllowReordering()
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(90).Add();
            col.Field("CustomerID").HeaderText("Customer ID").Width(90).Add();
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(75).Add();
            col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(75).Format("{0:C}").Add();
            col.Field("OrderDate").HeaderText("Order Date").TextAlign(TextAlign.Right).Width(80).Format("{0:MM/dd/yyyy}").Add();
        })
        )
}
@section PropertiesSection{
    <div id="ddl1" style="width: 100px">
        <ul>
            <li>Order ID</li>
            <li>Customer ID</li>
            <li>Employee ID</li>
            <li>Freight</li>
            <li>Order Date</li>
        </ul>
    </div>
    <div id="ddl2" style="width: 100px">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-3">
            Column
        </div>
        <div class="col-md-3">
            @(Html.EJ().DropDownList("columnname")
                .TargetID("ddl1")
                .Width("120px")
                .SelectedItemIndex(0)
                        .ClientSideEvents(eve => { eve.Select("onValueChange"); })
                )
        </div>
        <div class="col-md-3">
            Column Index
        </div>
        <div class="col-md-3">
            @(Html.EJ().DropDownList("columnalignment")
                .TargetID("ddl2")
                .SelectedItemIndex(0)
                .Width("120px")
                        .ClientSideEvents(eve => { eve.Select("onValueChange"); })
                )
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        var columnname = "OrderID";
        function onValueChange(args) {
            if (this.element.attr("id") == "columnname") {                
                columnname = args.text.replace(/\s*/g, '');
                var gridObj = $("#Reorder").data("ejGrid");
                var dropObj = $("#columnalignment").ejDropDownList("instance");
                var columnIndex = gridObj.getColumnIndexByField(columnname) + 1;                
                dropObj.setSelectedValue(columnIndex);
            }
            else {
                var gridObj = $("#Reorder").data("ejGrid");
                if (gridObj != undefined)
                    gridObj.reorderColumns(columnname, gridObj.getColumnByIndex(parseInt(args.text, 10) - 1).field);
            }
        }
    </script>
}

