@section SampleHeading{<span class="sampleName"> Grid/Rows/Row Template</span>}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .photo img
        {
            width: 130px;
			height: 115px;
        }
        
        .photo, .details
        {
            border-color: #c4c4c4;
            border-style: solid;
        }
        
        .photo
        {
            border-width: 1px 0px 0px 0px;
        }
        
        .details
        {
            border-width: 1px 0px 0px 1px;
        }
        
        .details > table
        {
            width: 100%;
        }
        
        .CardHeader
        {
            font-weight: bolder;
        }
		td
		{
			padding: 2px 2px 3px 2px;
		}
    </style>
}
@section ScriptSection{
    <script id="templateData" type="text/x-jsrender">
        <tr>
            <td class="photo">
                <img src="../Content/images/Employees/{{:EmployeeID}}.png" alt="{{:EmployeeID}}" />
            </td>
            <td class="details">
                <table class="CardTable" cellpadding="3" cellspacing="2">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="CardHeader">First Name </td>
                            <td>{{:FirstName}} </td>
                        </tr>
                        <tr>
                            <td class="CardHeader">Last Name</td>
                            <td>{{:LastName}} </td>
                        </tr>
                        <tr>
                            <td class="CardHeader">Title
                            </td>

                            <td>{{:Title}}
                            </td>
                        </tr>
                        <tr>
                            <td class="CardHeader">Birth Date
                            </td>
                            <td>{{:BirthDate.toLocaleDateString()}}
                            </td>
                        </tr>
                        <tr>
                            <td class="CardHeader">Hire Date
                            </td>
                            <td>{{:HireDate.toLocaleDateString()}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </script>
}
@section ControlsSection{  
    @(Html.EJ().Grid<EmployeeView>("RowTemplate")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .AllowScrolling()
        .ScrollSettings(scroll => { scroll.Height(380).Width(500); })
        .RowTemplate("#templateData")
        .Columns(col =>
        {
            col.HeaderText("Photo").Width(30).Add();
            col.HeaderText("Employee Details").Width(70).Add();
        })
        )
}
