@section SampleHeading{<span class="sampleName">Grid-State Maintenance-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo explains how to persist the state of the datagrid actions even when the page is refreshed in Syncfusion ASP.NET MVC DataGrid.">
}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("StateMaintenance")
        .Datasource((IEnumerable<object>)ViewBag.datasource1)
        .AllowSorting()
        .AllowGrouping()        
        .AllowPaging()
        .EnablePersistence(true)
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(65).Add();
            col.Field("CustomerID").HeaderText("Customer ID").Width(90).Add();
            col.Field("ShipCity").HeaderText("Ship City").Width(90).Add();
            col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(90).Format("{0:C}").Add();
            col.Field("ShipCountry").HeaderText("Ship Country").Width(90).Add();
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(90).Add();
        })
        )
}

