@section SampleHeading{<span class="sampleName"> Grid/Data Adaptors/URL Adaptor</span>}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("Grid")
                    .Datasource(ds => ds.URL("UrlDataSource").UpdateURL("UrlUpdate").InsertURL("UrlInsert").RemoveURL("UrlDelete")
                    .Adaptor(AdaptorType.UrlAdaptor))
                    .AllowPaging()
                    .AllowFiltering()
                    .AllowGrouping()
                    .AllowSorting()
                    .AllowSearching()
                    .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing(); })
                    .ToolbarSettings(toolbar =>
                    {
                        toolbar.ShowToolbar().ToolbarItems(items =>
                        {
                            items.AddTool(ToolBarItems.Add);
                            items.AddTool(ToolBarItems.Edit);
                            items.AddTool(ToolBarItems.Delete);
                            items.AddTool(ToolBarItems.Update);
                            items.AddTool(ToolBarItems.Cancel);
                            items.AddTool(ToolBarItems.Search);
                        });

                    })
                    .SummaryRow(row =>
                    {
                        row.Title("Sum").SummaryColumns(col => { col.SummaryType(SummaryType.Sum).Format("{0:C}").DisplayColumn("Freight").DataMember("Freight").Add(); }).ShowGroupSummary(false).Add();
                    })
                    .Columns(col =>
                    {
                        col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(75).Add();
                        col.Field("CustomerID").HeaderText("Customer ID").Width(90).Add();
                        col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(90).Add();
                        col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).EditType(EditingType.NumericEdit).Width(75).Format("{0:C}").Add();
                        col.Field("ShipCity").HeaderText("Ship City").Width(80).Add();
                        col.Field("OrderDate").Format("{0:MM/dd/yyyy}").Width(80).TextAlign(TextAlign.Right).Add();
                        col.Field("ShipCountry").HeaderText("Ship Country").Width(100).Add();
                    })
    )
}
