@section StyleSection{
    <style type="text/css">
    .e-gridcontent .e-table {
        width: 100% !important;
    }

    .e-gridheader .e-table {
        width: 100% !important;
    }
</style>

}
@section SampleHeading{<span class="sampleName">Grid-Virtual Scrolling-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo explains how to load data on-demand basis without buffering huge database initially in Syncfusion ASP.NET MVC DataGrid control.">
}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("VirtualScrolling")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .AllowScrolling()
        .AllowSorting()       
        .ScrollSettings(scroll => { scroll.Height(300).Width("auto").VirtualScrollMode(VirtualScrollMode.Normal).EnableVirtualization(true); })
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(80).Add();
            col.Field("CustomerID").HeaderText("Customer ID").Add();
            col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(80).Format("{0:C}").Add();
            col.Field("ShipCity").HeaderText("Ship City").Add();
            col.Field("ShipName").HeaderText("Ship Name").Width(250).Add();
        })
        )


}
@section PropertiesSection{
    <div id="ddl1">
        <ul>
            <li>Normal</li>
            <li>Continuous</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-3">
            VirtualScroll mode
        </div>
        <div class="col-md-3">
            @(Html.EJ().DropDownList("scrollMode")
                .TargetID("ddl1")
                .Width("120px")
                .SelectedItemIndex(0)
                .ClientSideEvents(eve => { eve.Change("selectChange"); })
            )
        </div>
    </div>    
}
@section ScriptSection{
 <script type="text/javascript">
     window.onresize = function () {
         if ($("#VirtualScrolling .e-gridcontent").data("ejScroller"))
            $("#VirtualScrolling .e-gridcontent").ejScroller("refresh");
     };
     function selectChange(args) {
         var gridObj = $("#VirtualScrolling").data("ejGrid");
         if (gridObj != undefined) {
             if (args.itemId == 1)
                 $("#VirtualScrolling").ejGrid("option", { "scrollSettings": { "enableVirtualization": false, "allowVirtualScrolling": true, "virtualScrollMode": "continuous" } });
             else
                 $("#VirtualScrolling").ejGrid("option", { "scrollSettings": { "enableVirtualization": true, "virtualScrollMode": "normal" } });
         }
     }

  
    $("#sampleProperties").ejPropertiesPanel();
    </script>
    }

