@section SampleHeading{<span class="sampleName"> Grid/Paging/Remote Paging</span>}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("Paging")
        .Datasource(ds => {
            ds.URL("VirtualDataSource");
            ds.Adaptor(AdaptorType.UrlAdaptor);
        })
        .AllowPaging()
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").TextAlign(TextAlign.Right).Add();
            col.Field("CustomerID").HeaderText("Customer ID").Add();
            col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Format("{0:C}").Add();
            col.Field("ShipCity").HeaderText("Ship City").Add();
            col.Field("ShipName").HeaderText("Ship Name").Add();
        })
    )
}