@section MetaTags{
   <meta name="description" content="This demo explains how to bind the local data as a datasource to the Syncfusion ASP.NET MVC ComboBox contol.">
}

@section SampleHeading{
    <span class="sampleName">ComboBox-Databinding - Local Data-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @{
                Html.EJ()
                    .ComboBox("selectState")
                    .Width("100%")
                    .Datasource((IEnumerable<States>)ViewBag.datasource)
                    .ComboBoxFields(f => f.Text("countryName").Value("index"))
                    .Placeholder("Select a state")
                    .Render();
            }
        </div>
    </div>
}

