@section MetaTags{
   <meta name="description" content="This example demonstrates how to group drop down items based on categories in ASP.NET MVC ComboBox control.">
}

@section SampleHeading{
    <span class="sampleName">ComboBox / Grouping</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @{
                Html.EJ()
                    .ComboBox("groupingCountry")
                    .Datasource((IEnumerable<Countries>)ViewBag.datasource)
                    .Width("100%")
                    .ComboBoxFields(fields => fields.GroupBy("category").Text("text"))
                    .Placeholder("Select a country")
                    .Render();
            }
        </div>
    </div>
}
