@section MetaTags{
   <meta name="description" content="This sample demonstrates how to add icons for the items in ASP.NET MVC ComboBox control." >
}

@section SampleHeading{
    <span class="sampleName">ComboBox-Icons-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().ComboBox("selectmailtools").Datasource((IEnumerable<IconCss>)ViewBag.datasource).ComboBoxFields(f => f.Text("Name").IconCss("IconClass")).Placeholder("Select a icon").Width("100%")
        </div>
    </div>
}
@section StyleSection{
    <link href="@Url.Content("~/Content/Samples/DrpDwnIcon.css")" rel="stylesheet" />
}

