@section SampleHeading{
    <span class="sampleName">ComboBox-RTL-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @{
                Html.EJ()
                    .ComboBox("selectCar")
                    .Width("100%")
                    .Datasource((IEnumerable<CarsList>)ViewBag.datasource)
                    .ComboBoxFields(f=>f.Text("text"))
                    .EnableRTL(true)
                    .Placeholder("Select a car")
                    .Render();
            }
        </div>
    </div>
}

