@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ
@using Syncfusion.JavaScript.DataVisualization
@using Syncfusion.JavaScript.DataVisualization.Models

@section SampleHeading{
	<span class="sampleName">TreeMap-DrillDown-ASP.NET MVC-SYNCFUSION</span>
	}
@section ControlsSection{
    @{
        var datasource = ViewData["drillDownData"];
		
     }
    
    <div id="treemap2" style="height: 405px;">
    @(Html.EJ().TreeMap("treemap1")
                .DataSource(datasource)
                .EnableDrillDown(true)
				.DrillDownSelectionColor("#199DAF")
                .WeightValuePath("Population")
                .Levels(lv =>
                {
                    lv.GroupPath("Continent")                                    
                                    .HeaderHeight(25)
                                    .ShowHeader(false)
									.GroupGap(5)
									.LabelPosition(DockPosition.TopLeft)
                                    .ShowLabels(true).Add();
                    lv.GroupPath("Country")                                    
                                    .HeaderHeight(25)
                                    .ShowHeader(false)
									.GroupGap(0)
									.LabelPosition(DockPosition.TopLeft)
                                    .ShowLabels(true).Add();
                    lv.GroupPath("Name")                                   
                                    .HeaderHeight(25)
                                    .ShowHeader(false)
									.GroupGap(0)
									.LabelPosition(DockPosition.TopLeft)
                                    .ShowLabels(true).Add();
                })
                .HeaderTemplateRendering("loadTemplate")

    )
    </div>
                          
    }

    @section MetaTags{
   <meta name="description" content="This sample demonstrates drill down feature based on the countries in the continent in the Syncfusion ASP.NET Web Forms Treemap control.">
}

    <script>
        function loadTemplate(sender) {
            if (sender.headerItem.drilldownHeaders) {
                var length = sender.childItems.length;
                population = 0;
                for (var i = 0; i < length; i++) {
                    population = population + sender.childItems[i].Population;
                }
                for (var j = 0; j < sender.headerItem.drilldownHeaders.length; j++) {
                    if (j == sender.headerItem.drilldownHeaders.length - 1)
                        sender.headerItem.drilldownHeaders[j] = sender.headerItem.originalHeaders[j] + " - Population : " + population.toLocaleString();
                    else
                        sender.headerItem.drilldownHeaders[j] = sender.headerItem.originalHeaders[j];
                }
            }
        }
    </script>

