@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ
@using Syncfusion.JavaScript.DataVisualization
@using Syncfusion.JavaScript.DataVisualization.Models

@section SampleHeading{
	<span class="sampleName">Maps-Data Markers-ASP.NET MVC-SYNCFUSION</span>
	}
@section ControlsSection{
    @{
            var datasource = ViewData["datasource"];
            var mapData = ViewData["mapdata"];
     }
	<div style="background-color: #FAFAF9;border-color: lightgray;border-width: 2px;margin-left:0px;opacity: 0.7;height: 50px;width:290px;" >
		<label style="color:Black;font-size:22px;margin:15px;margin-top:10px;margin-left:15px;margin-right:20px;height:25px;font-weight:Normal;">Top Population Countries</label>   
    </div>	
    <div style="min-height:435px;">
        @(Html.EJ().Map("container")
           
             .NavigationControl(nc =>
                 {
                     nc.EnableNavigation(true)
                     .Orientation(Orientation.Vertical)
                     .AbsolutePosition(new ShapePoint(5,10))
                     .DockPosition(DockPosition.None);
                 })
           .Background("white")
           .EnableAnimation(true)
           .Layers(lr =>
                    {
                        lr.LayerType(LayerType.Geometry)
                        .EnableSelection(false)
                        .EnableAnimation(true)
                        .EnableMouseHover(false)
                        .Markers(datasource)
                        .ShowMapItems(false)
                        .MarkerTemplate("template")
                        .ShapeSettings(sp =>
                            {
                                sp.Fill("#626171")
                                .StrokeThickness(1)
                                .Stroke("#6F6F79")
                                .AutoFill(false)
                                .HighlightStroke("#6F6F79")
                                .ValuePath("name")
                                .HighlightColor("gray");
                            })
                        .ShapeData(mapData).Add();
                    })
           )        
   </div>   
	<script  id="template" type="application/jsrender">
    
         <div  >
             <div style="background-image:url(../Images/map/pin.png);margin-top:-38px;margin-left:-11px;height:40px;width:26px;background-repeat:no-repeat;">
             
              </div>
				 <div  style="background-image:url(../Images/map/mappath.png);margin-left:5px;height:25px;width:90px;margin-top:-15px;">
				 	</div>
                 <div style="margin-left:10px;height:45px;width:120px;margin-top:-25px;">					
				 <label class="label1" style="color:white;margin-left:15px;font-weight:normal">{{:Name}}</label>
				 <p/>				 
				 </div>
				 
           </div>    
           
    </script>  
}
@section ScriptSection{
 <script>
   
  

</script>
}
@section StyleSection
{
     <style type="text/css">	 
	.panButton{		
		border-radius: 5px;		
	}	
	.e-map{
	position:static;
	}
	.panButton,.incrementButton{
	     -moz-user-select     : none;
		-khtml-user-select   : none;
		-webkit-user-select  : none;
		-o-user-select       : none;
		user-select          : none;
		width:18px;
		height:18px;
		border:1px solid white;
		background-color:gray;
	}
	.panButton:hover,.incrementButton:hover {
        cursor:pointer;
		background-color:#676868;
	}
	</style>
}
@section MetaTags{
   <meta name="description" content="This sample indicates the top five population countries in the Syncfusion ASP.NET Web Forms Maps control.">
}

