
@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ
@using Syncfusion.JavaScript.DataVisualization
@using Syncfusion.JavaScript.DataVisualization.Models
@section SampleHeading{
	<span class="sampleName">Maps-Zooming-ASP.NET MVC-SYNCFUSION</span>
	}
@{
   
}

@section ControlsSection{
         @{
            var mapData = ViewData["mapdata"];
            var latLongPoints = ViewData["latLongPoints"];
            
         }
   <div style="background-color: white;border-color: lightgray;border-width: 2px;opacity: 0.7;height: 60px;margin-left:80%;" >
		<select size="1" style="margin: 10px;width: 180px;margin-top: 15px; border-width: 1px;border-color: lightgray;margin-left: 15px;height: 30px" id="countriesCombo"
			onchange="buttonClick(this)">
        </select>
   </div>
   <div style="min-height:435px;">   
    @(Html.EJ().Map("map")        
         .ClientSideEvents(eve =>
          {
             eve.OnRenderComplete("onLoad");
          }) 
          .EnableAnimation(true)        
          .NavigationControl(nc =>
                 {
                     nc.EnableNavigation(true)
                     .Orientation(Orientation.Vertical)
                     .AbsolutePosition(new ShapePoint(5,10))
                     .DockPosition(DockPosition.None);
                 })
        .ZoomSettings(zm=>
            {
                zm.EnableZoomOnSelection(true);
            })         
        .Layers(lr=>
        {
                    lr.ShowTooltip(false)
                    .EnableSelection(true)
                    .LayerType(LayerType.Geometry)
                    .EnableMouseHover(true)
                    .ShapeDataPath("Name")
                    .ShowMapItems(false)
                    .ShapePropertyPath("name")
                    .ShapeSettings(sp =>
                    {
                        sp.Fill("Grey")
                        .StrokeThickness(0.5)
                        .Stroke("White")
                        .HighlightColor("#F7CD1C")
                        .HighlightStroke("white")
                        .HighlightBorderWidth(1)
                        .ValuePath("Name")
                        .SelectionColor("#F96C0D")
                        .SelectionStroke("white")
                        .SelectionStrokeWidth(2)
                        .AutoFill(true);
                      
                    })
                    .DataSource(latLongPoints)
                    .ShapeData(mapData).Add();
        })

        )
       </div>                   
     
}
  @section ScriptSection{   
    <script src="@Url.Content("~/Scripts/Country_LatLongPoints.js")"></script>
   <script>
       $(window).on('load', function () {
           if (!window.SVGSVGElement) {
               $("#map").css("min-height", "470px");
               $("#map").ejMap("refresh");
           }
       });
    
	
     function onLoad() {
         
         var htmlSelect = document.getElementById("countriesCombo");
         for (var i = 0; i < latLongPoints.length; i++) {
             var item = latLongPoints[i];
             var selectBoxOption = document.createElement("option");
             selectBoxOption.value = item.name;
             selectBoxOption.text = item.name;
             htmlSelect.add(selectBoxOption, null);
			     }  
         }
     
     function buttonClick() {

         var combo = $("#countriesCombo");
         var index = combo[0].selectedIndex;
         var lat = latLongPoints[index].latitude;
         var lon = latLongPoints[index].longitude;
         var level = 4;
         $("#map").ejMap("navigateTo", lat, lon, level);
         $("#map").ejMap("selectShape", latLongPoints[index].name, null, false);
     }

</script>
}
@section MetaTags{
   <meta name="description" content="This sample demonstrates the zooming functionality in the Syncfusion ASP.NET Web Forms Maps control.">
}

