@section SampleHeading{
    <span class="sampleName">Tooltip / Default Functionalities</span>}
@section ControlsSection{

        <div class="cols-sample-area">
            <div class="frame">
                <div class="control">
                    JavaScript is a high-level, dynamic, untyped, and interpreted programming language. It has been standardized in the <a id="link1"><u> ECMAScript </u> </a>language specification. Alongside HTML and CSS, it is one of the three essential technologies of <a id="link2"><u> World&nbsp;Wide&nbsp;Web </u> </a>content production; the majority of websites employ it and it is supported by all modern Web browsers without plug-ins. JavaScript is prototype-based with first-class functions, making it a multi-paradigm language, supporting <a id="link3"> <u>object&nbsp;-&nbsp;oriented </u> </a>, imperative, and functional programming styles.
                </div>
            </div>
        </div>

@Html.EJ().Tooltip("link1").Content("ECMAScript (or ES) is a trademarked scripting-language specification standardized by Ecma International in ECMA-262 and ISO/IEC 16262.")
@Html.EJ().Tooltip("link2").Content("The World Wide Web (WWW) is an information space where documents and other web resources are identified by URLs, interlinked by hypertext links, and can be accessed via the Internet.").Position(pos => pos.Stem(stem => stem.Horizontal("left").Vertical("center")).Target(target => target.Horizontal("right").Vertical("center")))
@Html.EJ().Tooltip("link3").Content("Object-oriented programming (OOP) is a programming language model organized around objects rather than 'actions' and data rather than logic.").Position(pos => pos.Stem(stem => stem.Horizontal("right").Vertical("center")).Target(target => target.Horizontal("left").Vertical("center")))

	
}
@section StyleSection{
    <style>
    u {
        color: #00b8e6;
    }

    .frame {
        width: 100%;
        box-sizing: border-box;
        line-height: 28px;
        text-align: "justify", font-family: "Times New Roman", Times, serif;
    }
</style>
}
