@section MetaTags{
   <meta name="description" content="This example demonstrates a simple, mobile-friendly and responsive ASP.NET MVC DateTimePicker to select both date and time.">
}
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}
@section SampleHeading{<span class="sampleName">DateTimePicker-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DateTimePicker("DateTime").Value("05/28/2018 2:47 AM").Width("100%")

        </div>
    </div>
}
@section StyleSection{
    <style>
        .control {
            width: 210px;
        }

            .control .e-datetime-wrap {
                width: 175px;
            }
    </style>
}

