@section MetaTags{
   <meta name="description" content="This example demonstrates how the datetimepicker supports the keyboard navigation(keyboard shortcuts) in a ASP.NET MVC">
}

@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}
@section SampleHeading{<span class="sampleName">DateTimePicker-Keyboard Navigation-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DateTimePicker("DateTime").Value("05/28/2018 2:47 AM").Width("180px")

        </div>
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Alt + j 
        </div>
        <div class="col-md-3">
            Focuses the control
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Alt + Down
        </div>
        <div class="col-md-3">
            Opens/Hides the popup
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            After popup opened:
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            Alt + Left
        </div>
        <div class="col-md-3">
            Focus through out the popup container in forward direction
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            Alt + Right
        </div>
        <div class="col-md-3">
            Focus through out the popup container in backward direction
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            Enter
        </div>
        <div class="col-md-3">
            select the focused control/selects the focused element
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-3">
            Esc
        </div>
        <div class="col-md-3">
            Closes the popup
        </div>
    </div>
    <br />
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
            $(document).on("keydown", function (e) {
                if (e.altKey && e.keyCode === 74) { // j- key code.
                    $("#DateTime").focus();
                }
            });
        });
    </script>
}
@section StyleSection{
    <style>
        .control {
            width: 210px;
        }

            .control .e-datetime-wrap {
                width: 175px;
            }
    </style>
}

