@section SampleHeading{ <span class="sampleName">HeatMap-Legend-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div style="border-width: 2px; opacity: 0.7; width: 290px; text-align: center;">
        <label style="color: Black; font-size: 22px; height: 25px; font-weight: Normal;">Employee Rating in a Year</label>
    </div>
    <br />
    <div style="width: 100%; margin: 0 auto; text-align: center;">
        <div>
            @Html.EJ().HeatMap("heatmap", ViewData["HeatMapModel"] as Syncfusion.JavaScript.DataVisualization.Models.HeatMapProperties)
        </div>
        <div style="height: 15px; width: 100%;"></div>
        <div>
            @Html.EJ().HeatMapLegend("heatmapLegend", ViewData["HeatMapLegendModel"] as Syncfusion.JavaScript.DataVisualization.Models.HeatMapLegendProperties)
        </div>
    </div>
    <style>
        #heatmapLegend {
            margin-left: 100px;
        }
    </style>
}
@section PropertiesSection{
    <div id="Propertiespanel">
        <div class="prop-grid">
            <div class="row">
                <div class="col-md-2">
                    <b>Legend Type</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Gradient
                </div>
                <div class="col-md-3">
                    <input type="radio" id="check1" checked="checked" onclick="checkBoxChecked(this)" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    List
                </div>
                <div class="col-md-3">
                    <input type="radio" id="check2" onclick="checkBoxChecked(this)" />
                </div>
            </div>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $("#Propertiespanel").ejPropertiesPanel();

        function checkBoxChecked(args) {
            if (args && args.id) {
                if (args.id === "check2" && args.checked) {
                    $("#check1")[0].checked = false;
                    $("#heatmapLegend").ejHeatMapLegend({ legendMode: "list" });
                }
                if (args.id === "check1" && args.checked) {
                    $("#check2")[0].checked = false;
                    $("#heatmapLegend").ejHeatMapLegend({ legendMode: "gradient" });
                }
            }
        }
    </script>
}

