@section SampleHeading{ <span class="sampleName">HeatMap / Virtualization</span>}
@section ControlsSection{
    <div style="border-width: 2px; opacity: 0.7; width: 290px; text-align: center;">
        <label style="color: Black; font-size: 22px; height: 25px; font-weight: Normal;">Product Sales by Month</label><br />
        <label style="color: Black; font-size: 22px; margin-top: -2px; height: 25px; font-weight: Normal;">(In Percentage)</label>
    </div>
    <br />
    <div>
        @Html.EJ().HeatMap("heatmap", ViewData["HeatMapModel"] as Syncfusion.JavaScript.DataVisualization.Models.HeatMapProperties)
    </div>

}