@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Sunburst-Selection-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{
    @{
        var datasource = ViewData["selectionData"];
    }
    <div>
        @(Html.EJ().SunburstChart("container")
                    .ValueMemberPath("Population")
                     .DataSource(datasource)
                     .Levels(lv =>
                     {
                        lv.GroupMemberPath("Continent").Add();
                        lv.GroupMemberPath("Country").Add();
                        lv.GroupMemberPath("State").Add();
                      })             
                     .DataLabelSettings(dt => dt.Visible(true))
                     .StartAngle(90)
                     .InnerRadius(0.2)
                     .HighlightSettings(hl=>hl.Enable(true))
                     .SelectionSettings(sl=>sl.Enable(true))
                     .Size(sz => sz.Height("600"))
                     .Title(ti => ti.Text("Population Details"))
                     .Legend(lg => lg.Visible(true).Position(SunburstLegendPosition.Top))
					 .Load("loadSunBurstTheme")

        )
    </div>
}
@section PropertiesSection
{
    <div class="prop-grid">
    <div class="row">
        <div class="col-md-3">
            Enable Highlight
        </div>
        <div class="col-md-3 aligntop">
            <input type="checkbox" checked="checked" id="high" onchange="highLight()" />
        </div>
    </div>
    <div class="row" style="margin: 10px 0;">
        <div class="col-md-3">
            Hightlight Type
        </div>
        <div class="col-md-3 aligntop">
            <select name="selectIndex" autocomplete="off" id="highlightType" style="width:115px;">
                <option value="0" selected>Point</option>
                <option value="1">All</option>
                <option value="2">Child</option>
                <option value="3">Parent</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Enable Selection
        </div>
        <div class="col-md-3 aligntop">
            <input type="checkbox" checked="checked" id="select" onchange="selection()" />
        </div>
    </div>
    <div class="row" style="margin: 10px 0;">
        <div class="col-md-3">
            Selection Type
        </div>
        <div class="col-md-3 aligntop">
            <select name="selectIndex" autocomplete="off" id="selectionType" style="width:115px;">
                <option value="0" selected>Point</option>
                <option value="1">All</option>
                <option value="2">Child</option>
                <option value="3">Parent</option>
            </select>
        </div>
    </div>
</div>

}
@section ScriptSection
{
    <script type="text/javascript">
        function highLight() {
            var sunburst = $("#container").ejSunburstChart("instance");
            if ($("#high").is(":checked"))
                sunburst.model.highlightSettings.enable = true;
            else {
                sunburst.model.highlightSettings.enable = false;
            }
            sunburst.redraw();
        }

		function highlightModeChanged(sender){
			var option = sender.selectedText;
			var sunburst = $("#container").ejSunburstChart("instance");
			switch (option) {
				case 'Point':
					sunburst.model.highlightSettings.mode = 'point';
					break;
				case 'All':
					sunburst.model.highlightSettings.mode = 'all';
					break;
				case 'Child':
					sunburst.model.highlightSettings.mode = 'child';
					break;
				case 'Parent':
					sunburst.model.highlightSettings.mode = 'parent';
					break;
			}	
			sunburst.redraw();			
		}
	
		$("#highlightType").ejDropDownList({ "change": "highlightModeChanged", width: "100px",selectedItemIndex:0 });

        function selection() {
            var sunburst = $("#container").ejSunburstChart("instance");
            if ($("#select").is(":checked"))
                sunburst.model.selectionSettings.enable = true;
            else {
                sunburst.model.selectionSettings.enable= false;
            }
            sunburst.redraw();
        }

        function selectionModeChanged(sender)
		{
			var option = sender.selectedText;
			var sunburst = $("#container").ejSunburstChart("instance");
			switch (option) {
				case 'Point':
					sunburst.model.selectionSettings.mode = 'point';
					break;
				case 'All':
					sunburst.model.selectionSettings.mode = 'all';
					break;
				case 'Child':
					sunburst.model.selectionSettings.mode = 'child';
					break;
				case 'Parent':
					sunburst.model.selectionSettings.mode = 'parent';
					break;
			}	
			sunburst.redraw();			
		}
	
		$("#selectionType").ejDropDownList({ "change": "selectionModeChanged", width: "100px",selectedItemIndex:0 });
        $("#sampleProperties").ejPropertiesPanel();
    </script>
}
@section MetaTags{
   <meta name="description" content="This sample demonstrates the legend selection based on population details in the Syncfusion ASP.NET Web Forms Sunburst control.">
}

