@using MVCSampleBrowser.Areas.ShowCaseTab.Controllers
@using Syncfusion.MVC.EJ
@{
    Layout = "~/Areas/ShowCaseTab/Views/Shared/_Layout.cshtml";
    var data = "";
}

@{
    ViewBag.Title = "Essential Studio for ASP.NET MVC : ShowCase Samples";
}

<div class="cols-source sourcecodeTab">
    @(new HtmlString(Html.RenderShowCaseCodeTab("CodeViewTab1")))
</div>
