@section SampleHeading{
    <span class="sampleName">Radial Menu / API's</span>}
@section ControlsSection{
    <div id="contentDiv">
        <div id="radialtarget3" class="content-container-fluid">
            <div class="row">
                <div id="radTarget" class="cols-sample-area">
                    <textarea id="rteSample3" rows="10" cols="70" style="height: 440px">
<p>Model–view–controller (MVC) is a software architecture pattern which separates the representation of information from the user's interaction with it.
The model consists of application data, business rules, logic, and functions. A view can be any output representation of data, such as a chart or a diagram.
Multiple views of the same data are possible, such as a bar chart for management and a tabular view for accountants.
The controller mediates input, converting it to commands for the model or view.The central ideas behind MVC are code reusability and in addition to dividing the application into three kinds of components, the MVC design defines the interactions between them.</p>

<p>A controller can send commands to its associated view to change the view's presentation of the model (e.g., by scrolling through a document). It can also send commands to the model to update the model's state (e.g., editing a document).</p>

<p>A model notifies its associated views and controllers when there has been a change in its state. This notification allows the views to produce updated output, and the controllers to change the available set of commands. A passive implementation of MVC omits these notifications, because the application does not require them or the software platform does not support them.</p>

<p>A view requests from the model the information that it needs to generate an output representation to the user.</p>
                    </textarea>
                    @{
                        Html.EJ().RTE("rteSample3").Width("100%").MinWidth("10px").ShowContextMenu(false).ClientSideEvents(evt => evt.Create("rteCreate").Change("rteChange").Select("radialShow")).ShowToolbar(false).Render();
                    }
                </div>
            </div>
        </div>
        @{
            Html.EJ().RadialMenu("apiradialmenu").ImageClass("imageclass").BackImageClass("backimageclass").TargetElementId("radTarget").Items(items =>
{
    items.Add().Text("Copy").ImageURL(Url.Content("~/Images/RadialMenu/copy.png")).Click("copy");
    items.Add().Text("Bold").ImageURL(Url.Content("~/Images/RadialMenu/font.png")).Click("bold").Badge(badge => badge.Enabled(true).Value(10)).Children(children =>
    {
        children.Add().ImageURL(Url.Content("~/Images/RadialMenu/f1.png")).Text("Italic").Click("italic");
        children.Add().ImageURL(Url.Content("~/Images/RadialMenu/font.png")).Text("Bold").Click("bold");
    });
    items.Add().Text("List").ImageURL(Url.Content("~/Images/RadialMenu/list.png")).Click("unorderedList").Children(children =>
    {
        children.Add().ImageURL(Url.Content("~/Images/RadialMenu/list.png")).Text("Bullets").Click("unorderedList");
        children.Add().ImageURL(Url.Content("~/Images/RadialMenu/l5.png")).Text("Numbering").Click("orderedList");
    });
    items.Add().Text("Paste").ImageURL(Url.Content("~/Images/RadialMenu/paste.png")).Click("paste");
    items.Add().Text("Undo").ImageURL(Url.Content("~/Images/RadialMenu/undo.png")).Click("undo").Enabled(false).Children(children =>
    {
        children.Add().Text("Undo").ImageURL(Url.Content("~/Images/RadialMenu/undo.png")).Click("undo").Enabled(false);
        children.Add().Text("Redo").ImageURL(Url.Content("~/Images/RadialMenu/redo.png")).Click("redo").Enabled(false);
    });
    items.Add().Text("Alignment").ImageURL(Url.Content("~/Images/RadialMenu/align.png")).Click("center").Children(children =>
    {
        children.Add().Text("Left").ImageURL(Url.Content("~/Images/RadialMenu/a1.png")).Click("left");
        children.Add().Text("Right").ImageURL(Url.Content("~/Images/RadialMenu/a2.png")).Click("right");
    });
}).Render();   
        }
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Disable Item
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("disable").Width("120px").TargetID("disableList").ClientSideEvents(e => e.Change("onChange2")).WatermarkText("Select")
            <div id="disableList">
                <ul>
                    <li>Copy</li>
                    <li>Bold</li> 
                    <li>List</li>
                    <li>Paste</li>
                    <li>Undo</li>
                    <li>Alignment</li> 
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            Enable Item
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("enable").Width("120px").TargetID("enableList").ClientSideEvents(e => e.Change("onChange1")).WatermarkText("Select")
            <div id="enableList">
                <ul>
                    <li>Copy</li>
                    <li>Bold</li> 
                    <li>List</li>
                    <li>Paste</li>
                    <li>Undo</li>
                    <li>Alignment</li> 
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Badge
        </div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("radialcheck2").Width("120px").DefaultText("Hide").ActiveText("Show").ClientSideEvents(e => e.Change("onBadgeChange"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Update Badge Value
        </div>
        <div class="col-md-3">
            @Html.EJ().NumericTextbox("update").Width("120px").MinValue(0).MaxValue(72).Value("10").ClientSideEvents(evt => evt.Change("update"))
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        var radialObj, rteObj, rteEle = $("#rteSample3");
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
            radialObj = $('#apiradialmenu').data("ejRadialMenu");
            if (!(ej.browserInfo().name == "msie" && ej.browserInfo().version < 9)) {
                $("#radialtarget3").parent().css("position", "relative");
            }
            else {
                $("#contentDiv").html("Radial Menu is only supported from Internet Explorer Versioned 9 and above.").css({ "font-size": "20px", "color": "red" });
            }
			$(window).resize(function(){
				if(ej.isMobile() && ej.isPortrait())
				    $('#apiradialmenu').css({ "left": 25 })
			});
        });
        function rteCreate(e) {
            rteObj = this;
        }
        function radialShow(e) {
            var target = $("#radTarget"), radialRadius = 150, radialDiameter = 2 * radialRadius,
            // To get Iframe positions
                iframeY = e.event.clientY, iframeX = e.event.clientX,
            // To set Radial Menu position within target
                x = iframeX > target.width() - radialRadius ? target.width() - radialDiameter : (iframeX > radialRadius ? iframeX - radialRadius : 0),
                y = iframeY > target.height() - radialRadius ? target.height() - radialDiameter : (iframeY > radialRadius ? iframeY - radialRadius : 0);
            radialObj.setPosition(x, y);
			$('iframe').contents().find('body').blur();
        }
        function onChange1(args) {
            radialObj.enableItem(args.selectedText);
            $("#disable").ejDropDownList("clearText");
        }
        function onChange2(args) {
            radialObj.disableItem(args.selectedText);
            $("#enable").ejDropDownList("clearText");
        }
        function update(e) {
            radialObj.updateBadgeValue(1, e.value);
        }
        function onBadgeChange(args) {
            if (args.isChecked)
                radialObj.hideBadge(1);
            else radialObj.showBadge(1);
        }
        function rteChange(e) {
            radialObj.enableItem("Undo");
        }
        function copy(e) {
            rteObj.executeCommand("copy");
        }
        function paste(e) {
            if (ej.browserInfo().name == 'msie')
                rteObj.executeCommand("paste");
            else
                rteObj._openAlert("Your browser doesn't support direct access to the clipboard. Please use the Ctrl+V keyboard shortcut instead of paste opertion.");
        }
        function italic(e) {
            rteObj.executeCommand("italic");
        }
        function bold(e) {
            rteObj.executeCommand("bold");
        }
        function center(e) {
            rteObj.executeCommand("justifyCenter");
        }
        function left(e) {
            rteObj.executeCommand("justifyLeft");
        }
        function right(e) {
            rteObj.executeCommand("justifyRight");
        }
        function undo(e) {
            rteObj.executeCommand("undo");
            radialObj.disableItem("Undo");
            radialObj.enableItem("Redo");
        }
        function redo(e) {
            rteObj.executeCommand("redo");
            radialObj.disableItem("Redo");
            radialObj.enableItem("Undo");
        }
        function unorderedList(e) {
            rteObj.executeCommand("insertunorderedList");
        }
        function orderedList(e) {
            rteObj.executeCommand("insertorderedList");
        }
    </script>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .row .cols-prop-area
        {
            min-height: 574px;
        }
        
        #rteSample3, #radialtarget3 .row .cols-sample-area
        {
            width: 100%;
        }
        
        #update
        {
            font-size: 12px;
        }
        
        .input
        {
            width: 95px;
            opacity: 0.5;
        }
        
        .e-radialmenu .imageclass
        {
            background-image: url("../Images/RadialMenu/main.png");
        }
        
        .e-radialmenu .backimageclass
        {
            background-image: url("../Images/RadialMenu/Back_button.png");
        }
    </style>
}
