@section SampleHeading{ <span class="sampleName">PivotGrid-RTL-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo for Syncfusion Essential JS1 for ASP.NET MVC pivot grid control describes how to render the control from right to left (RTL).">
}
@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.Olap;
@section ScriptReferenceSection{
<script src="@Url.Content("~/Scripts/ej.web.all.min.js")" type="text/javascript"></script>
}
@section StyleSection{
    <style>
        .e-pivotgrid {
            width: 50% !important;
            height: 550px;
            display: inline-block;
            float: left;
            overflow: auto;
        }
        .e-pivotschemadesigner {
            display: inline-block;
            width: 40% !important;
            min-width: 230px;
            margin-left: 10px;
        }
        #CodeViewTab ul > li:first-child + li{
            display:none;
        }
    </style>
}
@section ScriptSection{
    <script type="text/javascript">
        function onLoad(args) {
            args.model.dataSource.data = pivot_dataset;
        }
        window.loadPivotGridFrameTheme = function () {
            window.setTimeout(function () {
                var pivotGridElement = $("#PivotGrid1").data("ejPivotGrid");
                if (pivotGridElement && pivotGridElement.model.enableGroupingBar && pivotGridElement.getJSONRecords() != null)
                    pivotGridElement.renderControlFromJSON();
            }, 2500);
        }
    </script>
}
@section ControlsSection{

    @Html.EJ().Pivot().PivotSchemaDesigner("PivotSchemaDesigner1").EnableRTL(true)
    @Html.EJ().Pivot().PivotGrid("PivotGrid1").ClientSideEvents(events => events.Load("onLoad")).EnableRTL(true).EnableGroupingBar(true).IsResponsive(true).DataSource(dataSource => dataSource.Rows(rows => { rows.FieldName("Country").FieldCaption("Country").Add(); rows.FieldName("State").FieldCaption("State").Add(); }).Columns(columns => { columns.FieldName("Product").FieldCaption("Product").Add(); }).Values(values => { values.FieldName("Amount").Add(); values.FieldName("Quantity").Add(); })).PivotTableFieldListID("PivotSchemaDesigner1")


}

